{% block internal_meta %}
    N/A
{% endblock %}

{% block ldap_meta %}
    {% import 'macros.twig' as macros %}

    <h4>LDAP host or server</h4>
    {{ macros.output_parameter(idp, 'ldap.host') }}

    <h4>Domain</h4>
    {{ macros.output_parameter(idp, 'ldap.domain') }}

    <h4>Base DN</h4>
    {{ macros.output_parameter(idp, 'ldap.base_dn') }}

    <h4>Primary ID attribute</h4>
    {{ macros.output_parameter(idp, 'ldap.attr.unique_id', 'sAMAccountName (default)') }}

{% endblock %}

{% block gh_meta %}
    {% import 'macros.twig' as macros %}

    <h4>Client ID</h4>
    {{ macros.output_parameter(idp, 'ghe.client_id') }}

    <h4>Client Secret</h4>
    {{ macros.output_parameter(idp, 'ghe.client_secret') }}

    <h4>API Domain</h4>
    {{ macros.output_parameter(idp, 'ghe.domain') }}
{% endblock %}

{% block ghe_meta %}
    {% import 'macros.twig' as macros %}

    <h4>Client ID</h4>
    {{ macros.output_parameter(idp, 'gh.client_id') }}

    <h4>Client Secret</h4>
    {{ macros.output_parameter(idp, 'gh.client_secret') }}

    <h4>Domain</h4>
    {{ macros.output_parameter(idp, 'gh.api_domain') }}

{% endblock %}
