{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Help' %}

{% set s_1 = 'Who should I contact for support or permission changes?' %}

{% set as_1 = 'How do I add my application to Hal?' %}
{% set as_2 = 'How do I deploy my application with Hal?' %}
{% set as_3 = 'How do I use a script to build or deploy my application?' %}
{% set as_4 = 'My application needs a specific library or software installed to build. What do I do?' %}
{% set as_5 = 'How do I set up continuous integration or deployment?' %}

{% set sf_1 = 'Does Hal support stages? What is the deployment workflow?' %}
{% set sf_2 = 'Does Hal support Windows and .NET applications?' %}
{% set sf_3 = 'Does Hal support AWS?' %}
{% set sf_4 = 'Does Hal support Blue/Green deployments?' %}
{% set sf_5 = 'Can Hal add extra protection to prevent accidental deployments to production?' %}
{% set sf_6 = 'Does Hal support Docker?' %}
{% set sf_7 = 'What type of configuration does Hal support? Can I encrypt it?' %}
{% set sf_8 = 'Does Hal support static sites?' %}
{% set sf_9 = 'Can Hal store metadata for builds or deployments?' %}

{% set o_1 = 'Does Hal have an API? Is there any documentation?' %}
{% set o_2 = 'When is Hal updated? When does maintenance occur?' %}
{% set o_3 = 'Release Notes' %}

{% block content %}
    <h1>Help &amp; FAQ</h1>

    <a class="btn" href="{{ uriFor('help.setup') }}">Application Setup Guide</a>
    <a class="btn" href="{{ uriFor('help.scripting') }}">Build and Deployment Scripting Guide</a>

    {{ block('table_of_contents') }}

    <h2 id="help-support">Support</h2>
    {% include 'help/partial.help.support.twig' %}

    <h2 id="help-setup">Application Setup</h2>
    {% include 'help/partial.help.application_setup.twig' %}

    <h2 id="help-features">Supported Features</h2>
    {% include 'help/partial.help.supported_features.twig' %}

    <h2 id="help-other">Other</h2>
    {% include 'help/partial.help.other.twig' %}

{% endblock %}

{% block table_of_contents %}
    <ul class="list--bare">
        <li class="trailer">
            <a href="#help-support"><h4>Support</h4></a>
            <ul class="list--bullet">
                <li><a href="#support-permission">{{ s_1 }}</a></li>
            </ul>
        </li>

        <li class="trailer">
            <a href="#help-setup"><h4>Application Setup</h4></a>
            <ul class="list--bullet">
                <li><a href="#setup-application">{{ as_1 }}</a></li>
                <li><a href="#setup-deploy">{{ as_2 }}</a></li>
                <li><a href="#setup-scripting">{{ as_3 }}</a></li>
                <li><a href="#setup-dependencies">{{ as_4 }}</a></li>
                <li><a href="#setup-cicd">{{ as_5 }}</a></li>
            </ul>
        </li>

        <li class="trailer">
            <a href="#help-features"><h4>Supported Features</h4></a>
            <ul class="list--bullet">
                <li><a href="#features-stages">{{ sf_1 }}</a></li>
                <li><a href="#features-dotnet">{{ sf_2 }}</a></li>
                <li><a href="#features-aws">{{ sf_3 }}</a></li>
                <li><a href="#features-bluegreen">{{ sf_4 }}</a></li>
                <li><a href="#features-production-protection">{{ sf_5 }}</a></li>
                <li><a href="#features-docker">{{ sf_6 }}</a></li>
                <li><a href="#features-configuration">{{ sf_7 }}</a></li>
                <li><a href="#features-static">{{ sf_8 }}</a></li>
                <li><a href="#features-metadata">{{ sf_9 }}</a></li>
            </ul>
        </li>

        <li>
            <a href="#help-other"><h4>Other</h4></a>
            <ul class="list--bullet">
                <li><a href="#other-api">{{ o_1 }}</a></li>
                <li><a href="#other-maintenance">{{ o_2 }}</a></li>
                <li><a href="#other-release-notes">{{ o_3 }}</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
