{% import 'macros.twig' as macros %}

<h3 id="setup-application">{{ macros.status_icon(as_1) }}</h3>
<p>tbd</p>

<h3 id="setup-deploy">{{ macros.status_icon(as_2) }}</h3>
<p>tbd</p>

<h3 id="setup-scripting">{{ macros.status_icon(as_3) }}</h3>
<p>tbd</p>

<h3 id="setup-dependencies">{{ macros.status_icon(as_4) }}</h3>
<p>tbd</p>

<h3 id="setup-cicd">{{ macros.status_icon(as_5) }}</h3>
<p>tbd</p>
