{% import 'macros.twig' as macros %}

<h3 id="features-stages">{{ macros.status_icon(sf_1) }}</h3>
<p>tbd</p>

<h3 id="features-dotnet">{{ macros.status_icon(sf_2) }}</h3>
<p>tbd</p>

<h3 id="features-aws">{{ macros.status_icon(sf_3) }}</h3>
<p>tbd</p>

<h3 id="features-bluegreen">{{ macros.status_icon(sf_4) }}</h3>
<p>tbd</p>

<h3 id="features-production-protection">{{ macros.status_icon(sf_5) }}</h3>
<p>tbd</p>

<h3 id="features-docker">{{ macros.status_icon(sf_6) }}</h3>
<p>tbd</p>

<h3 id="features-configuration">{{ macros.status_icon(sf_7) }}</h3>
<p>tbd</p>

<h3 id="features-static">{{ macros.status_icon(sf_8) }}</h3>
<p>tbd</p>

<h3 id="features-metadata">{{ macros.status_icon(sf_8) }}</h3>
<p>tbd</p>
