{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "Applications" %}

{% block content %}

    <h1>Applications</h1>

    {% if applications %}
        <table class="table--spacing-medium table--striped" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Core ID</th>
                    <th><span class="tablesaw-collapse">Core Website</span></th>
                    <th><span class="tablesaw-collapse">HAL 9000</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for app in applications %}
                    <tr>
                        <td>{{ app.name }}</td>
                        <td>
                            {{ app.coreId }}
                        </td>
                        <td>
                            <a href="http://core/app/{{ app.coreId }}">{{ macros.icon('spinner') }} Core Website</a>
                        </td>
                        <td>
                            {% if app.halApplication %}
                                <a href="{{ urlFor('repository.status', {id: app.halApplication.id})}}">{{ macros.icon('spinner-3') }} HAL 9000</a>
                            {% endif %}
                        </td>
                        <td class="tr">
                            <a class="btn btn--small" href="{{ urlFor('kraken.status', {application: app.id}) }}">Configuration</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no applications defined.</p>
    {% endif %}

    <p>
        <a class="btn btn--action" href="{{ urlFor('kraken.application.add') }}">Add Application</a>
        <a class="btn" href="{{ urlFor('kraken.environments') }}">Environments</a>
    </p>

{% endblock %}
