{% extends 'base.kraken.twig' %}
{% import "partials/macros.twig" as macros %}

{% set page_title = "Application" %}

{% block content %}

    <a href="{{ urlFor('kraken.applications') }}" class="btn" style="position:absolute; right:20px;top:20px !important;">back</a>
    <h2>Application</h2>

    <h4>ID</h4>
    <p>{{ application.id }}</p>

    <h4>Environments</h4>
    {% if assigned_environment %}
        <p><a href="{{ urlFor('kraken.status', {id: application.id}) }}">Configuration Status</a></p>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for encrypt in assigned_environment %}
                    <tr>
                        <td>{{ encrypt.environment.name }}</td>
                        <td>
                            <a href="{{ urlFor('kraken.application.environment', {id: application.id, environment: encrypt.environment.id})}}">Manage</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There are no environments linked to this application.</p>
    {% endif %}

    {% if environments %}
        <p><a href="{{ urlFor('kraken.application.add_environment', {id: application.id}) }}">Add Environment</a></p>
    {% endif %}

    <h4>Configuration Schema</h4>
    <p><a href="{{ urlFor('kraken.application.add_schema', {id: application.id}) }}">Add Property</a></p>
    {{ block('configuration_schema') }}

{% endblock %}

{% block configuration_schema %}

    {% if schema %}
        <table>
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for prop in schema %}
                    <tr>
                        <td><code>{{ prop.key }}</code></td>
                        <td>
                            {{ prop.isSecure ? macros.icon('locked') : '' }}
                            {{ prop|formatSchemaType }}
                        </td>
                        <td>{{ prop.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There is no schema defined for this application.</p>
    {% endif %}

{% endblock %}
