{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "Kraken Applications" %}

{% block content %}

    <h1>{{ page_title }}</h1>

    <p>
        <strong>Kraken</strong> is a system for storing <b>runtime</b> configuration. Runtime configuration consists of properties or settings
        that change depending on environments, or need to be changed without requiring a code deployment.
    </p>

    <p>See the <a href="{{ urlFor('kraken.help') }}">Help page</a> for more.</p>


    {% if applications %}
        <table class="table--spacing-medium table--striped" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Core ID</th>
                    <th><span class="tablesaw-collapse">Core Website</span></th>
                    <th><span class="tablesaw-collapse">HAL 9000</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                    <tr>
                        <td><a href="{{ urlFor('kraken.application', {application: application.id}) }}">{{ application.name }}</a></td>
                        <td>{{ application.coreId }}</td>
                        <td>
                            <a href="http://core/app/{{ application.coreId }}">{{ macros.icon('spinner') }} Core Website</a>
                        </td>
                        <td>
                            {% if application.halApplication %}
                                <a href="{{ urlFor('application.status', {id: application.halApplication.id})}}">{{ macros.icon('spinner-3') }} HAL 9000</a>
                            {% endif %}
                        </td>
                        <td class="tr">
                            <a class="btn btn--small" href="{{ urlFor('kraken.status', {application: application.id}) }}">Configuration Status</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no applications defined.</p>
    {% endif %}

    <ul class="button-list button-list--half">
        <li><a class="btn" href="{{ urlFor('kraken.environments') }}">Environments</a></li>
        <li><a class="btn btn--action" href="{{ urlFor('kraken.application.add') }}">Add Application</a></li>
    </ul>

{% endblock %}
