{% extends 'base.kraken.twig' %}

{% set page_title = "Applications" %}

{% block content %}

    <h1>Applications</h1>

    {% if applications %}
        <table class="table--spacing-medium">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Core ID</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for app in applications %}
                    <tr>
                        <td>{{ app.name }}</td>
                        <td>
                            {{ app.coreId }}
                        </td>
                        <td>
                            <a href="http://core/app/{{ app.coreId }}">Core Website</a>
                        </td>
                        <td>
                            {% if app.halRepository %}
                                <a href="{{ urlFor('repository.status', {id: app.halRepository.id})}}">HAL Status</a>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn" href="{{ urlFor('kraken.application', {application: app.id}) }}">Manage</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no applications defined.</p>
    {% endif %}

    <a class="btn" href="{{ urlFor('kraken.add_application') }}">Add Application</a>

{% endblock %}
