{% extends 'base.kraken.twig' %}
{% import "partials/macros.twig" as macros %}

{% set page_title = "Applications" %}

{% block content %}

    <h1>Applications</h1>

    {% if applications %}
        <table class="table--spacing-medium">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Core ID</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for app in applications %}
                    <tr>
                        <td>{{ app.name }}</td>
                        <td>
                            {{ app.coreId }}
                        </td>
                        <td>
                            <a href="http://core/app/{{ app.coreId }}">{{ macros.icon('spinner') }} Core Website</a>
                        </td>
                        <td>
                            {% if app.halRepository %}
                                <a href="{{ urlFor('repository.status', {id: app.halRepository.id})}}">{{ macros.icon('spinner-3') }} HAL Status</a>
                            {% endif %}
                        </td>
                        <td class="tr">
                            <a class="btn" href="{{ urlFor('kraken.status', {application: app.id}) }}">Status</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no applications defined.</p>
    {% endif %}

    <ul class="button-list">
        <li><a class="btn" href="{{ urlFor('kraken.environments') }}">Kraken Environments</a></li>

        {% if not admin %}
            <li><a class="btn btn--action" href="{{ urlFor('kraken.add_application') }}">Add Application</a></li>
        {% endif %}
    </ul>

{% endblock %}
