{% extends 'base.kraken.twig' %}
{% import "_partial-form/macros.twig" as form_macros %}

{% set page_title = "Add Environment" %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form action="" method="post">
            <ul class="form-fields">
                <li>
                    <label for="env-name">Name</label>
                    <small class="additional">The name of the environment such as <b>test</b> or <b>prod</b>.</small>

                    <input type="text" name="name" id="env-name" maxlength="40" required value="{{ form.name }}" class="text-input t50">
                </li>
                <li>
                    <label>Is this a production environment?</label>

                    <ul class="radio-grid--form">
                        <li>
                            {% set isSelected = form.is_prod is sameas('true') ? true : false %}
                            <input id="env-is_prod-1" type="radio" name="is_prod" value="true"{{ isSelected ? ' checked' : '' }}>
                            <label for="env-is_prod-1">Yes</label>
                        </li>

                        <li>
                            {% set isSelected = form.is_prod is sameas('false') ? true : false %}
                            <input id="env-is_prod-0"  type="radio" name="is_prod" value="false"{{ isSelected ? ' checked' : '' }}>
                            <label for="env-is_prod-0">No</label>
                        </li>
                    </ul>
                </li>

                <li>
                    <h2>Consul</h2>
                </li>
                <li>
                    <label for="env-service">
                        <span class="tooltipped tooltipped-e" aria-label="Consul service associated with this environment.">Service URL</span>
                    </label>

                    <input type="text" name="consul_service" id="env-service" maxlength="200" value="{{ form.consul_service }}" class="text-input">
                   <small class="additional">Must be the full URL and begin with <code>http://</code> or <code>https://</code>.</small>
                </li>
                <li>
                    <label for="env-token">
                        {{ macros.icon('locked') }}
                        <span class="tooltipped tooltipped-e" aria-label="Access token for Consul. Optional if not using ACL.">Access Token</span>
                    </label>

                    <input type="text" name="consul_token" id="env-token" maxlength="40" value="{{ form.consul_token }}" class="text-input" autocomplete="off">
                </li>

                <li>
                    <h2>QKS</h2>
                </li>
                <li>
                    <label for="env-qks_service">
                        <span class="tooltipped tooltipped-e" aria-label="QKS service associated with this environment.">Service URL</span>
                    </label>

                    <input type="text" name="qks_service" id="env-qks_service" maxlength="200" value="{{ form.qks_service }}" class="text-input">
                    <small class="additional">Must be the full URL and begin with <code>http://</code> or <code>https://</code>.</small>
                </li>
                <li>
                    <label for="env-qks_key">
                        <span class="tooltipped tooltipped-e" aria-label="QKS Encryption Key used as sending key.">Encryption Key</span>
                    </label>

                    <input type="text" name="qks_key" id="env-qks_key" maxlength="6" value="{{ form.qks_key }}" class="text-input t30">
                </li>

                <li>
                    <label for="env-qks_client">
                        <span class="tooltipped tooltipped-e" aria-label="Application Client ID from API Gateway.">Client ID</span>
                    </label>

                    <input type="text" name="qks_client" id="env-qks_client" maxlength="100" value="{{ form.qks_client }}" class="text-input">
                </li>
                <li>
                    <label for="env-qks_secret">
                        {{ macros.icon('locked') }}
                        <span class="tooltipped tooltipped-e" aria-label="Application Client ID from API Gateway.">Client Secret</span>
                    </label>

                    <input type="text" name="qks_secret" id="env-qks_secret" maxlength="40" value="{{ form.qks_secret }}" class="text-input" autocomplete="off">
                </li>
            </ul>

            <ul class="button-list">
                <li><input class="btn btn--action" type="submit" value="Add Environment"></li>
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('kraken.environments') }}">Cancel</a></li>
            </ul>

        </form>
    </div>
{% endblock %}
