{% extends 'base.kraken.twig' %}

{% set page_title = "Environments" %}

{% block content %}
    <h1>Environments</h1>

    {% if environments %}
        <table class="table--spacing-medium">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Consul Server</th>
                    {# <th>Consul Token</th> #}
                </tr>
            </thead>
            <tbody>
                {% for environment in environments %}
                    <tr>
                        <td>{{ environment.id[:7] }}</td>
                        <td>{{ environment.name }}</td>
                        <td><code>{{ environment.consulServer }}</code></td>
                        {# <td><code>{{ environment.consulToken }}</code></td> #}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no configuration environments defined.</p>
    {% endif %}

    <ul class="button-list">
        <li><a class="btn" href="{{ urlFor('kraken.applications') }}">Kraken Applications</a></li>

        {% if not admin %}
            <li><a class="btn btn--action" href="{{ urlFor('kraken.add_environment') }}">Add Environment</a></li>
        {% endif %}
    </ul>
{% endblock %}

