{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "Environments" %}
{% set isAdmin = isUserSuper(currentUser) %}

{% block content %}
    <h1>Environments</h1>

    {% if environments %}
        <table class="table--spacing-medium" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Consul Server</th>
                    {% if isAdmin %}
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for environment in environments %}
                    <tr>
                        <td>{{ environment.id[:7] }}</td>
                        <td>
                            {% if environment.isProduction %}
                                {{ macros.status(environment.name, 'info', 'key') }}
                            {% else %}
                                {{ environment.name }}
                            {% endif %}
                        </td>
                        <td><code>{{ environment.consulServer|trim('/') }}</code></td>

                        {% if isAdmin %}
                            <td class="tr">
                                <a href="{{ urlFor('kraken.environment.edit', {environment: environment.id}) }}">
                                    Edit <span class="tablesaw-collapse">Configuration</span>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no environments defined.</p>
    {% endif %}

    <p>
        {% if isAdmin %}
            <a class="btn btn--action" href="{{ urlFor('kraken.environment.add') }}">Add Environment</a>
        {% endif %}

        <a class="btn" href="{{ urlFor('kraken.applications') }}">Applications</a>
    </p>
{% endblock %}

