{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "Environments" %}
{% set isAdmin = isUserSuper(getCurrentUser()) %}

{% block content %}
    <h1>{{ page_title }}</h1>

    {% if environments %}
        <table class="table--spacing-medium" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Consul Service</th>
                    <th>QKS Service</th>
                </tr>
            </thead>
            <tbody>
                {% for environment in environments %}
                    <tr>
                        <td>
                            <a href="{{ urlFor('kraken.environment', {environment: environment.id}) }}">{{ environment.id[:7] }}</a>
                        </td>
                        <td>
                            {% if environment.isProduction %}
                                {{ macros.status(environment.name, 'info', 'key') }}
                            {% else %}
                                {{ environment.name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if environment.consulServiceURL %}
                                <code>{{ environment.consulServiceURL|trim('/') }}</code>
                            {% else %}
                                Not Configured
                            {% endif %}
                        </td>
                        <td>
                            {% if environment.qksServiceURL %}
                                <code>{{ environment.qksServiceURL|trim('/') }}</code>
                            {% else %}
                                Not Configured
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no environments defined.</p>
    {% endif %}

    <ul class="button-list button-list--half">
        <li><a class="btn" href="{{ urlFor('kraken.applications') }}">Applications</a></li>

        {% if isAdmin %}
            <li><a class="btn btn--action" href="{{ urlFor('kraken.environment.add') }}">Add Environment</a></li>
        {% endif %}
    </ul>
{% endblock %}

