{% extends 'base.kraken.twig' %}

{% set page_title = 'Help' %}

{% block content %}

    <h1>{{ page_title }}</h1>

    {{ block('table_of_contents') }}

    <h2 id="kraken-usage">Using Kraken</h2>
    {{ block('kraken_usage') }}

    <h2 id="application-usage">Loading Configuration (For application developers)</h2>
    {{ block('application_usage') }}

    <h2 id="technical">Technical</h2>
    {{ block('technical_questions') }}

{% endblock %}

{% block table_of_contents %}

    <ul class="list--bare">
        <li class="trailer">
            <a href="#kraken-usage"><b>Using Kraken</b></a>
            <ul class="list--bullet">
                <li><a href="#add-application">How do I add my application to Kraken?</a></li>
                <li><a href="#rollbacks">Are rollbacks possible?</a></li>
                <li><a href="#configuration-schema">What type of configuration is supported?</a></li>
                <li><a href="#environment-promotion">How are changes promoted through environments?</a></li>
            </ul>
        </li>

        <li class="trailer">
            <a href="#application-usage"><b>Loading Configuration (For application developers)</b></a>
            <ul class="list--bullet">
                <li><a href="#sanity-checking">How do applications define what values they are expecting, and their type?</a></li>
                <li><a href="#system-requirements">What is required to load configuration into my application?</a></li>
            </ul>
        </li>

        <li class="trailer">
            <a href="#technical"><b>Technical Questions</b></a>
            <ul class="list--bullet">
                <li><a href="#whats-your-stack-bro">What form does the data take at rest?</a></li>
            </ul>
        </li>
    </ul>

{% endblock %}

{% block kraken_usage %}
    <h4 id="add-application">How do I add my application to Kraken?</h4>
    <p>tbd</p>

    <h4 id="rollbacks">Are rollbacks possible?</h4>
    <p>tbd</p>

    <h4 id="configuration-schema">What type of configuration is supported?</h4>
    <p>tbd</p>


    <h4 id="environment-promotion">How are changes promoted through environments?</h4>
    <p>tbd</p>

{% endblock %}

{% block application_usage %}

    <h4 id="#sanity-checking">How do applications define what values they are expecting, and their type?</h4>
    <p>tbd</p>

    <h4 id="#system-requirements">What is required to load configuration into my application?</h4>
    <p>tbd</p>

{% endblock %}

{% block technical_questions %}
    <h4 id="whats-your-stack-bro">What form does the data take at rest?</h4>
    <p>tbd</p>

{% endblock %}
