{% extends 'base.kraken.twig' %}
{% import "partials/macros.twig" as macros %}

{% set page_title = "View Configuration Property" %}

{% block content %}

    <p><a class="btn btn--small btn--back" href="{{ urlFor('kraken.application.target', {application: application.id, environment: environment.id}) }}">Back to Configuration</a></p>

    <h1>Configuration Property for <strong>{{ application.name }}</strong></h1>

    <h4>Environment</h4>
    <p>{{ environment.name }}</p>

    <h2>Schema</h2>

    <h4>Type</h4>
    <p>{{ property.schema|formatSchemaType }}</p>

    <h4>Description</h4>
    <p>{{ property.schema.description ?: 'None' }}</p>

    <h2>Property</h2>

    <h4>Key</h4>
    <p><code>{{ property.schema.key }}</code></p>

    <h4>Value</h4>
    <div class="pre-wrapper">
        <pre>{{ property|formatPropertyValue(0) }}</pre>
    </div>

{% endblock %}
