{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}
{% import "kraken/_partial/macros.twig" as kraken_macros %}

{% set page_title = "Compare Configurations" %}

{% block content %}

    <h1>{{ page_title }}</h1>

    <h4>Application</h4>
    <p>{{ application.name }}</p>

    <h4>Environment</h4>
    <p>{{ configuration.environment.name }}</p>

    <h4>Configuration ID</h4>
    <p>{{ configuration.id }}</p>

    <ul class="button-list">
        <li><a class="btn" href="{{ urlFor('kraken.status', {application: application.id}) }}">Configuration Status</a></li>
        <li><a class="btn" href="{{ urlFor('kraken.configuration', {configuration: configuration.id}) }}">Configuration {{ configuration.id[:7] }}</a></li>

        <li><a class="btn" href="{{ urlFor('kraken.configuration.latest', {application: application.id, environment: configuration.environment.id}) }}">Latest Configuration</a></li>

        <li><a class="btn btn--secondary" href="{{ urlFor('kraken.configuration.history.page1', {application: application.id}) }}">Configuration History</a></li>
    </ul>

    {% include 'kraken/_partial/configuration.status.twig' %}

    <h2>Configuration Comparison</h2>
    {% if target %}
        {% include 'kraken/_partial/configuration.comparison.twig' %}
    {% else %}
        <p>There is no active environment set up for this application.</p>
    {% endif %}

{% endblock %}
