{% extends 'base.kraken.twig' %}
{% import "partials/macros.twig" as macros %}
{% import "kraken/partial/macros.twig" as kraken_macros %}

{% set page_title = "Compare Configuration" %}

{% block content %}

    <p><a class="btn btn--small btn--back" href="{{ urlFor('kraken.status', {application: application.id}) }}">Back to Application Configuration</a></p>

    <h1>Compare Latest to {{ is_deployed ? 'Deployed Configuration' : 'Previous Configuration' }}</h1>

    <h4>Application</h4>
    <p>{{ application.name }}</p>

    <h4>Environment</h4>
    <p>{{ configuration.environment.name }}</p>

    <h4>Status</h4>
    <p>
        {% if is_deployed %}
            {{ macros.status('Currently Deployed', 'success', 'tick') }}
        {% else %}
            Not Active
        {% endif %}
    </p>

    <h4>Time Deployed</h4>
    <p>{{ configuration.created|html5date }}</p>

    <h2>Configuration Comparison</h2>
    {% if target %}
        {{ block('comparison') }}
    {% else %}
        <p>There is no active environment set up for this application.</p>
    {% endif %}

{% endblock %}


{% block comparison %}

    {% if diffs %}
        <table class="table--spacing-medium table--top-aligned trailer" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Property</th>
                    <th class="t40">Deployed</th>
                    <th class="t40">Latest</th>
                </tr>
            </thead>
            <tbody>
                {% for diff in diffs %}
                    <tr>
                        <td>
                            {% if diff.schema %}
                                <code>{{ diff.schema.key }}</code>
                            {% elseif diff.configuration %}
                                <code>{{ diff.configuration.key }}</code>
                            {% endif %}
                        </td>

                        <td>
                            {% if diff.configuration %}
                                {{ kraken_macros.renderProperty(diff.configuration) }}
                            {% else %}
                                {{ macros.status('Missing', 'error', 'spam-2') }}
                            {% endif %}
                        </td>

                        <td>
                            {% if not diff.isChanged %}
                                No change

                            {% elseif diff.property %}
                                {{ kraken_macros.renderProperty(diff.property) }}

                            {% else %}
                                {{ macros.status('Missing', 'error', 'spam-2') }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There is no schema defined for this application.</p>
    {% endif %}

{% endblock %}
