{% extends 'base.kraken.twig' %}
{% import "partials/macros.twig" as macros %}

{% set is_deployed = target.configuration.id == configuration.id %}
{% set page_title = is_deployed ? 'Deployed Configuration' : 'Configuration' %}

{% block content %}

    <h1>{{ is_deployed ? 'Deployed Configuration' : 'Previous Configuration' }} for <strong>{{ configuration.environment.name }}</strong></h1>

    <h4>Application</h4>
    <p>{{ application.name }}</p>

    <h4>Environment</h4>
    <p>{{ configuration.environment.name }}</p>

    <h4>Status</h4>
    <p>
        {% if is_deployed %}
            {{ macros.status('Currently Deployed', 'success', 'tick') }}
        {% else %}
            Not Active
        {% endif %}
    </p>

    <h2>Configuration</h2>
    {% include 'kraken/partial/configuration.twig' with {'properties': properties} %}

    <ul class="button-list">
        <li><a class="btn" href="{{ urlFor('kraken.status', {application: application.id}) }}">Application Status</a></li>

        <li><a class="btn btn--secondary" href="{{ urlFor('kraken.configuration.compare', {application: application.id, configuration: configuration.id}) }}">Compare to latest configuration</a></li>
    </ul>

{% endblock %}
