{% extends 'base.kraken.twig' %}
{% import "partials/macros.twig" as macros %}

{% set page_title = "View Configuration" %}

{% block content %}

    <h1>Deployed Configuration</h1>

    <h4>Application</h4>
    <p>{{ application.name }}</p>

    <h4>Environment</h4>
    <p>{{ target.environment.name }}</p>

    <h4>Status</h4>
    <p>
        {% if target.configuration.id == configuration.id %}
            {{ macros.status('Currently Deployed', 'success', 'tick') }}
        {% else %}
            Not Active
        {% endif %}
    </p>

    <h2>Configuration</h2>
    {% include 'kraken/partial/configuration.twig' with {'properties': properties} %}

    <div>
        <a class="btn" href="{{ urlFor('kraken.status', {application: application.id}) }}">Application Status</a>

        <a href="{{ urlFor('kraken.configuration.compare', {application: application.id}) }}">Compare to latest configuration</a>
    </div>

{% endblock %}
