{% extends 'base.kraken.twig' %}
{% import "partials/macros.twig" as macros %}
{% import "kraken/partial/macros.twig" as kraken_macros %}

{% set page_title = "Deploy Configuration" %}

{% block content %}

    <h1>{{ page_title }}</h1>

    <h4>Application</h4>
    <p>{{ application.name }}</p>

    <h4>Environment</h4>
    <p>{{ environment.name }}</p>

    <h2>Verify Deployment</h2>
    {{ block('deploy_comparison') }}

{% endblock %}

{% block deploy_comparison %}

    {% if diffs %}
        <table class="table--spacing-medium table--striped table--top-aligned trailer" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Property</th>
                    <th class="t40">Deployed</th>
                    <th class="t40">Latest</th>
                </tr>
            </thead>
            <tbody>
                {% for diff in diffs %}
                    <tr>
                        <td>
                            {% if diff.schema %}
                                <code class="code_clear">{{ diff.schema.key }}</code>
                            {% elseif diff.configuration %}
                                <code class="code_clear">{{ diff.configuration.key }}</code>
                            {% endif %}
                        </td>

                        <td>
                            {% if diff.configuration %}
                                {{ kraken_macros.renderProperty(diff.configuration) }}
                            {% else %}
                                {{ macros.status('Missing', 'error', 'spam-2') }}
                            {% endif %}
                        </td>

                        <td>
                            {% if not diff.isChanged %}
                                No change

                            {% elseif diff.property %}
                                {{ kraken_macros.renderProperty(diff.property) }}

                            {% else %}
                                {{ macros.status('Missing', 'error', 'spam-2') }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There is no schema defined for this application. An empty configuration will be deployed.</p>
    {% endif %}

    <form method="post">
        <ul class="button-list">
            <li><input type="submit" class="btn btn--action" value="Deploy Configuration"></li>
            <li class="button-list"><a class="btn btn--secondary" href="{{ urlFor('kraken.status', {application: application.id}) }}">Cancel</a></li>
        </ul>
    </form>

{% endblock %}
