{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}
{% import "kraken/_partial/macros.twig" as kraken_macros %}

{% set page_title = "Deploy Configuration" %}

{% set isBusinessTime = isSeriousBusinessMode() %}

{% block content %}

    <h1>{{ page_title }}</h1>

    <h4>Application</h4>
    <p>{{ application.name }}</p>

    <h4>Environment</h4>
    <p>{{ environment.name }}</p>

    <h2>Verify Deployment</h2>
    {{ block('deploy_comparison') }}

    {{ block('release_the_kraken') }}
{% endblock %}

{% block deploy_comparison %}

    {% if diffs %}
        <table class="table--spacing-medium table--striped table--top-aligned trailer" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Property</th>
                    <th class="t40">Deployed</th>
                    <th class="t40">Latest</th>
                </tr>
            </thead>
            <tbody>
                {% for diff in diffs %}
                    <tr>
                        <td>
                            {% if diff.schema %}
                                <code class="code_clear">{{ diff.schema.key }}</code>
                            {% elseif diff.snapshot %}
                                <code class="code_clear">{{ diff.snapshot.key }}</code>
                            {% endif %}
                        </td>

                        <td>
                            {% if diff.snapshot %}
                                {{ kraken_macros.renderProperty(diff.snapshot) }}
                            {% else %}
                                {{ macros.status('Missing', 'error', 'spam-2') }}
                            {% endif %}
                        </td>

                        <td>
                            {% if not diff.isChanged %}
                                No change

                            {% elseif diff.property %}
                                {{ kraken_macros.renderProperty(diff.property) }}

                            {% else %}
                                {{ macros.status('Missing', 'error', 'spam-2') }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There is no schema defined for this application. An empty configuration will be deployed.</p>
    {% endif %}
{% endblock %}

{% block release_the_kraken %}

    {% if errors %}

        {{ macros.alert('error', 'Cannot rollback configuration!', 'Consul or QKS may not be configured correctly. Contact an Administrator immediately.') }}

        <p>Kraken found the following errors:</p>
        <ul class="list--bullet">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>

        <ul class="button-list button-list--half">
            <li><a class="btn" href="{{ urlFor('kraken.application', {application: application.id}) }}">Application</a></li>
            <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('kraken.status', {application: application.id}) }}">Cancel</a></li>
        </ul>

    {% else %}

        {% set deploy_label = isBusinessTime ? 'Deploy Configuration' : 'Release the kraken' %}

        <form method="post" class="form-wrapper">
            <ul class="button-list">
                <li><input type="submit" class="btn btn--action" value="{{ deploy_label }}"></li>
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('kraken.status', {application: application.id}) }}">Cancel</a></li>
            </ul>
        </form>

    {% endif %}

{% endblock %}
