{% extends 'base.kraken.twig' %}
{% import "partials/macros.twig" as macros %}
{% import "kraken/partial/macros.twig" as kraken_macros %}

{% set page_title = "Deploy Configuration" %}

{% block content %}

    <h1>Deploy Configuration</h1>

    <h4>Application</h4>
    <p>{{ application.name }}</p>

    <h4>Environment</h4>
    <p>{{ environment.name }}</p>

    <h2>Verify Deployment</h2>
    {{ block('deploy_comparison') }}

{% endblock %}

{% block deploy_comparison %}

    {% if configuration %}
        <table class="table--spacing-medium table--top-aligned trailer" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Property</th>
                    <th class="t40">Deployed</th>
                    <th class="t40">Latest</th>
                </tr>
            </thead>
            <tbody>
                {% for config in configuration %}
                    <tr>
                        <td>
                            {% if config.schema %}
                                <code>{{ config.schema.key }}</code>
                            {% elseif config.deployed %}
                                <code>{{ config.deployed.key }}</code>
                            {% endif %}
                        </td>

                        <td>
                            {% if config.deployed %}
                                {{ kraken_macros.renderProperty(config.deployed) }}
                            {% else %}
                                {{ macros.status('Missing', 'error', 'spam-2') }}
                            {% endif %}
                        </td>

                        <td>
                            {% if not config.changed %}
                                No change

                            {% elseif config.property %}
                                {{ kraken_macros.renderProperty(config.property) }}

                            {% else %}
                                {{ macros.status('Missing', 'error', 'spam-2') }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There is no schema defined for this application. An empty configuration will be deployed.</p>
    {% endif %}

    <div class="leader">
        <form method="post">
            <input type="submit" class="btn btn--action" href="{{ urlFor('kraken.deploy', {target: target.id}) }}" value="Deploy Configuration">

            <p class="leader">
                <a href="{{ urlFor('kraken.status', {application: application.id}) }}">Cancel</a>
            <p>
        </form>
    </div>

{% endblock %}
