{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}
{% import "kraken/_partial/macros.twig" as kraken_macros %}

{% set page_title = "Rollback Configuration" %}

{% block content %}

    <h1>{{ page_title }}</h1>

    <h4>Application</h4>
    <p>{{ application.name }}</p>

    <h4>Environment</h4>
    <p>{{ environment.name }}</p>

    {% include 'kraken/_partial/configuration.status.twig' %}

    <h2>Verify Rollback</h2>
    {% include 'kraken/_partial/configuration.comparison.twig' with {diff_left: 'Active', diff_right: 'Rollback'} %}

    {{ block('lets_do_this') }}
{% endblock %}

{% block lets_do_this %}

    {% if errors %}

        {{ macros.alert('error', 'Cannot deploy configuration!', 'Consul or QKS may not be configured correctly. Contact an Administrator immediately.') }}

        <p>Kraken found the following errors:</p>
        <ul class="list--bullet">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>

        <ul class="button-list button-list--half">
            <li><a class="btn" href="{{ urlFor('kraken.application', {application: application.id}) }}">Application</a></li>
            <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('kraken.status', {application: application.id}) }}">Cancel</a></li>
        </ul>

    {% else %}

        <form class="form-wrapper" method="post">
            <ul class="button-list">
                <li><input type="submit" class="btn btn--action" value="Rollback Configuration"></li>
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('kraken.configuration', {configuration: configuration.id}) }}">Cancel</a></li>
            </ul>
        </form>

    {% endif %}

{% endblock %}
