{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}
{% import "kraken/_partial/macros.twig" as kraken_macros %}

{% set page_title = "Rollback Configuration" %}

{% block content %}

    <h1>{{ page_title }}</h1>

    <h4>Application</h4>
    <p>{{ application.name }}</p>

    <h4>Environment</h4>
    <p>{{ environment.name }}</p>

    {% include 'kraken/_partial/configuration.status.twig' %}

    <h2>Verify Rollback</h2>
    {% include 'kraken/_partial/configuration.comparison.twig' with({diff_left: 'Active', diff_right: 'Previous Snapshot'}) %}

    {{ block('lets_do_this') }}
{% endblock %}

{% block lets_do_this %}

    <form method="post">
        <ul class="button-list">
            <li><input type="submit" class="btn btn--action" value="Rollback Configuration"></li>
            <li><a class="btn" href="{{ urlFor('kraken.configuration', {application: application.id}) }}">Application Configuration</a></li>
            <li><a class="btn btn--secondary" href="{{ urlFor('kraken.configuration', {application: application.id}) }}">Cancel</a></li>
        </ul>
    </form>

{% endblock %}
