{% extends 'base.kraken.twig' %}
{% import "partials/macros.twig" as macros %}

{% set page_title = is_deployed ? 'Deployed Snapshot' : 'Snapshot' %}

{% block content %}

    <h1>{{ page_title }} for <strong>{{ configuration.environment.name }}</strong></h1>

    <h4>Application</h4>
    <p>{{ application.name }}</p>

    <h4>Environment</h4>
    <p>{{ configuration.environment.name }}</p>

    <h4>Configuration ID</h4>
    <p>{{ configuration.id }}</p>

    <ul class="button-list">
        <li><a class="btn" href="{{ urlFor('kraken.status', {application: application.id}) }}">Application Configuration</a></li>
        <li><a class="btn" href="{{ urlFor('kraken.configuration.compare', {application: application.id, configuration: configuration.id}) }}">Compare to latest configuration</a></li>
        <li><a class="btn btn--secondary" href="{{ urlFor('kraken.configuration.history.page1', {application: application.id}) }}">Configuration History</a></li>
    </ul>

    {% include 'kraken/partial/configuration.status.twig' %}

    <h2>Configuration</h2>
    {% include 'kraken/partial/configuration.twig' with {'properties': properties} %}

{% endblock %}
