{% extends 'base.html.twig' %}
{% import "_partial-form/macros.twig" as form_macros %}

{% set page_title = 'Edit Deployment : ' ~ deployment.application.name %}

{% block content %}
    <h1>Edit Deployment - <strong>{{ deployment.application.name }}</strong></h1>

    <div class="details-box">
        <dl class="split">
            <dt class="split__title">Application</dt>
            <dd>
                <a href="{{ urlFor('application', {'application': deployment.application.id}) }}">{{ deployment.application.name }}</a>
            </dd>

            <dt class="split__title">Server</dt>
            <dd><a href="{{ urlFor('server', {'server': deployment.server.id}) }}">{{ deployment.server|formatServer }}</a></dd>

            <dt class="split__title">Environment</dt>
            <dd>
                {{ deployment.server.environment.name }}
            </dd>
        </dl>
    </div>

    <h4>Type</h4>
    <p>{{ deployment.server|formatServerType }}</p>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form method="post">
            <ul class="form-fields">

                <li>
                    <label for="name">Name</label>
                    <input class="text-input" type="text" name="name" id="name" maxlength="80" value="{{ form.name }}" pattern="^[^\n\t]+">
                    <small class="additional">
                        Optionally, give a deployment a unique name for easy reference or to avoid confusion with multiple deployments to the same server.
                    </small>
                </li>

                <li>
                    <label for="url">URL</label>
                    <input class="text-input" type="url" name="url" id="url" maxlength="200" value="{{ form.url }}" required>
                    <small class="additional">
                        A URL is required to help users find where the code is deployed.
                        Must be the full URL and begin with <code>http://</code> or <code>https://</code>.
                    </small>
                </li>

                {#
                    RSYNC
                #}
                <li>
                    {% set isDisabled = (deployment.server.type in ['rsync', 'ec2']) ? '' : ' disabled' %}
                    <label for="path">
                        File path
                        <small class="additional">
                            <strong>Rsync and EC2 servers only</strong><br>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="path" id="path" maxlength="200" value="{{ form.path }}" pattern="^\/[^\n\t]+"{{ isDisabled }}>
                    <small class="additional">
                        The absolute path to the file directory on the server.
                        Paths must begin with a forward slash (/).
                    </small>
                </li>

                {#
                    CodeDeploy
                #}
                <li>
                    {% set isDisabled = (deployment.server.type == 'cd') ? '' : ' disabled' %}
                    <label for="cd_name">
                        CodeDeploy Application Name
                        <small class="additional">
                            <strong>CD servers only</strong>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="cd_name" id="cd_name" maxlength="100" value="{{ form.cd_name }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                </li>

                <li>
                    {% set isDisabled = (deployment.server.type == 'cd') ? '' : ' disabled' %}
                    <label for="cd_group">
                        CodeDeploy Deployment Group
                        <small class="additional">
                            <strong>CD servers only</strong>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="cd_group" id="cd_group" maxlength="100" value="{{ form.cd_group }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                </li>

                <li>
                    {% set isDisabled = (deployment.server.type == 'cd') ? '' : ' disabled' %}
                    <label for="cd_config">
                        CodeDeploy Configuration
                        <small class="additional">
                            <strong>CD servers only</strong>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="cd_config" id="cd_config" maxlength="100" value="{{ form.cd_config }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                </li>

                {#
                    Elastic Beanstalk
                #}
                <li>
                    {% set isDisabled = (deployment.server.type == 'eb') ? '' : ' disabled' %}
                    <label for="eb_name">
                        Elastic Beanstalk Application Name
                        <small class="additional">
                            <strong>EB servers only</strong>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="eb_name" id="eb_name" maxlength="100" value="{{ form.eb_name }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                </li>

                <li>
                    {% set isDisabled = (deployment.server.type == 'eb') ? '' : ' disabled' %}
                    <label for="eb_environment">
                        Elastic Beanstalk Environment ID
                        <small class="additional">
                            <strong>EB servers only</strong>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="eb_environment" id="eb_environment" maxlength="100" value="{{ form.eb_environment }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                </li>

                {#
                    EC2
                #}
                <li>
                    {% set isDisabled = (deployment.server.type == 'ec2') ? '' : ' disabled' %}
                    <label for="ec2_pool">
                        EC2 Pool
                        <small class="additional">
                            <strong>EC2 servers only</strong>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="ec2_pool" id="ec2_pool" maxlength="100" value="{{ form.ec2_pool }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                </li>

                {#
                    S3
                #}
                {% set isDisabled = (deployment.server.type in ['s3', 'eb', 'cd']) ? '' : ' disabled' %}
                <li>
                    <label for="s3_bucket">
                        S3 Bucket
                        <small class="additional">
                            <strong>S3, CD and EB servers only</strong>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="s3_bucket" id="s3_bucket" maxlength="100" value="{{ form.s3_bucket }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                </li>

                {% set isDisabled = (deployment.server.type in ['s3', 'eb', 'cd']) ? '' : ' disabled' %}
                <li>
                    <label for="s3_file">
                        S3 File
                        <small class="additional">
                            <strong>S3, CD and EB servers only</strong>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="s3_file" id="s3_file" maxlength="100" value="{{ form.s3_file }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                    <small class="additional">
                        Available placeholders:
                        <ul class="inline-list--comma">
                            <li><code>$APPID</code></li>
                            <li><code>$APPNAME</code></li>
                            <li><code>$BUILDID</code></li>
                            <li><code>$PUSHID</code></li>
                            <li><code>$DATE</code> (YYYYMMDD)</li>
                            <li><code>$TIME</code> (HHMMSS)</li>
                        </ul>
                        <br>Leave blank to use <code>$PUSHID.tar.gz</code> (S3) or <code>$APPID/$PUSHID.(zip|tar.gz)</code> (EB, CD).
                    </small>
                </li>

                {#
                    S3, EB, CD, EC2
                #}
                <li>
                    <label for="credential">Credentials</label>
                    <select class="select-input" name="credential" id="credential">
                        <option></option>
                        {% for credential in credentials %}
                            {% set isSelected = (credential.id == form.credential) %}

                            {% if credential.type == 'aws' %}
                                {% set type = 'AWS' %}
                            {% else %}
                                {% set type = 'Private Key' %}
                            {% endif %}

                            <option value="{{ credential.id }}"{{ isSelected ? ' selected' : '' }}>{{ credential.name }} ({{ type }})</option>
                        {% endfor %}
                    </select>
                    <small class="additional">
                        Credentials must be assigned for AWS-based deployments.
                    </small>
                </li>

            </ul>

            <ul class="button-list">
                <li><input class="btn btn--action" type="submit" value="Save Changes"></li>
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('deployment', {application: deployment.application.id, deployment: deployment.id}) }}">Cancel</a></li>
            </ul>
        </form>
    </div>

{% endblock %}
