{% extends 'base.html.twig' %}
{% set js_components = ["deployment.add"] %}

{% set page_title = 'Deployments : ' ~ application.name %}

{% block content %}
    <h1>Deployment Targets - <strong>{{ application.name }}</strong> </h1>

    <p><a class="btn btn--small btn--back" href="{{ urlFor('application', {'application': application.id}) }}">Back to Application</a></p>

    <p>
        Deployment targets define what servers your application can be deployed to and where on that server the code will be uploaded.
    </p>

    {% set canEdit = isUserAdminOrSuper(currentUser) or isUserLeadOf(currentUser, application) %}

    {% if deployment_by_env %}

        {% for name, deployments in deployment_by_env %}

            {% set environment = environments[name] %}

            <h2 class="mbn">{{ name }}</h2>
            <p>
                <a href="{{ urlFor('pools', {'application': application.id, 'environment': environment.id}) }}">Manage deployment pools</a>
            </p>

            <table class="table--spacing-medium table--striped" data-tablesaw-mode="stack">
                <thead>
                    <tr>
                        <th class="t15">Hostname</th>
                        <th class="t40">Path</th>
                        <th>URL</th>
                        <th class="t10"></th>
                    </tr>
                </thead>
                <tbody class="js-add-deployment--{{ environment.name }}">
                    {% for deployment in deployments %}

                        <tr>
                            <td>{{ deployment|formatDeploymentServer }}</td>
                            <td>
                                <code class="code_clear">{{ deployment|formatDeploymentDetails }}</code>
                            </td>
                            <td>
                                {% if deployment.url %}
                                    <a href="{{ deployment.url }}">{{ deployment.url }}</a>
                                {% endif %}
                            </td>
                            <td class="tr">
                                <a class="btn btn--tiny" href="{{ urlFor('deployment', {application: deployment.application.id, deployment: deployment.id}) }}">View</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="js-add-deployment__empty">
                            <td colspan="4">No deployments found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endfor %}

        {% if canEdit %}

            <div class="form-wrapper js-add-deployment__form">
                <h2>Add Deployment</b></h2>

                {% include '_partial-form/add-deployment.twig' with {'servers_by_env': servers_by_env, 'form': {}, 'application': application, rsync_only: true} %}
            </div>

            <div class="js-add-deployment__button">
                {# primary action #}
                <a class="btn" href="{{ urlFor('deployments.add', {application: application.id}) }}">Add Deployment</a>
            </div>
        {% endif %}

    {% else %}
        <p>
            There are no environments.
            {% if isUserSuper(currentUser) %}
                <br><a href="{{ urlFor('environment.add') }}">Add an environment</a>
            {% endif %}
        </p>
    {% endif %}

{% endblock %}
