{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = 'Deployment : ' ~ deployment.application.name %}

{% set canEdit = isUserAdminOrSuper(getCurrentUser()) or isUserLeadOf(getCurrentUser(), deployment.application) %}

{% block content %}
    <h1>Deployment - <strong>{{ deployment.application.name }}</strong></h1>

    <div class="details-box">
        <dl class="split">
            <dt class="split__title">Application</dt>
            <dd>
                <a href="{{ urlFor('application', {'application': deployment.application.id}) }}">{{ deployment.application.name }}</a>
            </dd>

            <dt class="split__title">Server</dt>
            <dd><a href="{{ urlFor('server', {'server': deployment.server.id}) }}">{{ deployment.server.formatPretty }}</a></dd>

            <dt class="split__title">Environment</dt>
            <dd>
                {{ deployment.server.environment.name }}
            </dd>
        </dl>
    </div>

    <h4>Name</h4>
    <p>{{ deployment.name ?: 'None' }}</p>

    <h4>Type</h4>
    <p>{{ deployment.server.formatHumanType }}</p>

    {% if deployment.server.type != 'rsync' %}

        <h4>Credentials</h4>
        <p>
            {% if deployment.credential %}
                {{ deployment.credential.name }}
                {% if deployment.credential.type == 'aws' %}
                    (AWS)
                {% elseif deployment.credential.type == 'privatekey' %}
                    (Private Key)
                {% endif %}

            {% else %}
                {{ macros.status('None', 'error', 'spam-2') }}
            {% endif %}
        </p>
    {% endif %}

    {% if deployment.server.type == 'rsync' %}

        <h4>File path</h4>
        <p><code>{{ deployment.path }}</code></p>

    {% elseif deployment.server.type == 'eb' %}

        <h4>Elastic Beanstalk Application Name</h4>
        <p><code>{{ deployment.ebName }}</code></p>

        <h4>Elastic Beanstalk Environment ID</h4>
        <p><code>{{ deployment.ebEnvironment }}</code></p>

        <h4>S3 Bucket</h4>
        <p><code>{{ deployment.s3bucket }}</code></p>

        <h4>S3 File</h4>
        <p><code>{{ deployment.s3file ?: '$APPID/$PUSHID.zip' }}</code></p>

    {% elseif deployment.server.type == 's3' %}

        <h4>S3 Bucket</h4>
        <p><code>{{ deployment.s3bucket }}</code></p>

        <h4>S3 File</h4>
        <p><code>{{ deployment.s3file ?: '$PUSHID.tar.gz' }}</code></p>

    {% elseif deployment.server.type == 'cd' %}

        <h4>CodeDeploy Application Name</h4>
        <p><code>{{ deployment.cdName }}</code></p>

        <h4>CodeDeploy Deployment Group</h4>
        <p><code>{{ deployment.cdGroup }}</code></p>

        <h4>CodeDeploy Configuration</h4>
        <p><code>{{ deployment.cdConfiguration }}</code></p>

        <h4>S3 Bucket</h4>
        <p><code>{{ deployment.s3bucket }}</code></p>

        <h4>S3 File</h4>
        <p><code>{{ deployment.s3file ?: '$APPID/$PUSHID.tar.gz' }}</code></p>

    {% endif %}

    <h4>URL</h4>
    <p>
        {% if deployment.url %}
            <a href="{{ deployment.url }}">{{ deployment.url }}</a>
        {% else %}
            None
        {% endif %}
    </p>

    <ul class="button-list">
        <li><a class="btn" href="{{ urlFor('deployments', {application: deployment.application.id}) }}">Deployment Targets</a></li>
        {% if canEdit %}
            <li><a class="btn btn--action" href="{{ urlFor('deployment.edit', {application: deployment.application.id, deployment: deployment.id}) }}">Edit Deployment</a></li>
            <li><a class="btn btn--destructive" href="{{ urlFor('deployment.remove', {application: deployment.application.id, deployment: deployment.id}) }}">Remove Deployment</a></li>
        {% endif %}
    </ul>

{% endblock %}
