{% extends 'base.twig' %}
{% import 'macros.form.twig' as form_macros %}

{% set page_title = 'Add Organization' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('applications') }}">Applications</a></li>
{% endblock %}

{% block content %}
    {{ form_macros.formErrors(errors) }}

    <form method="post">
        <ul class="form-fields form-wrapper">
            <li>
                {% set has_error = form_macros.hasError(errors, 'name') %}
                <label for="name">Name</label>
                <input type="text" class="text-input{{ has_error ? ' is-error' : '' }}" name="name" id="name" value="{{ form.name }}" maxlength="100" required>
                <small>
                    Display description for this organization such as
                    <span>"MyTeam"</span> or <span>"My Secret Projects"</span>.
                </small>
            </li>
        </ul>

        <p>
            <button class="btn btn--action" type="submit">Add Organization</button>
            <a href="{{ uriFor('applications') }}">Cancel</a>
        </p>
    </form>
{% endblock %}
