{% extends 'base.twig' %}
{% import 'macros.form.twig' as form_macros %}

{% set page_title = 'Edit Organization' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('applications') }}">Applications</a></li>
    <li><a href="{{ uriFor('organization', {'organization': organization.id}) }}">{{ organization.name }}</a></li>
{% endblock %}

{% block content %}
    {{ form_macros.formErrors(errors) }}

    <form method="post">
        <ul class="form-fields form-wrapper">
            <li>
                <label>ID</label>
                {{ organization.id|short_guid }}
            </li>

            <li>
                {% set has_error = form_macros.hasError(errors, 'name') %}
                <label for="name">Name</label>
                <input type="text" class="text-input{{ has_error ? ' is-error' : '' }}" name="name" id="name" maxlength="100" value="{{ form.name }}" required>
                <small>
                    Display description for this organization such as
                    <span>"MyTeam"</span> or <span>"My Secret Projects"</span>.
                </small>
            </li>
        </ul>

        <p>
            <button class="btn btn--action" type="submit">Save Changes</button>
            <a href="{{ uriFor('organization', {'organization': organization.id}) }}">Cancel</a>
        </p>
    </form>
{% endblock %}
