{% extends 'base.twig' %}
{% import 'macros.form.twig' as form_macros %}

{% set page_title = 'Edit Organization' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('applications') }}">Applications</a></li>
    <li><a href="{{ uriFor('organization', {'organization': organization.id}) }}">{{ organization.name }}</a></li>
{% endblock %}

{% block content %}
    {{ form_macros.form_errors(errors, is_csrf_error) }}

    <form method="post">
        {{ form_macros.csrf_input('organization.edit') }}

        <ul class="form-fields form-wrapper">
            <li>
                <label>ID</label>
                {{ organization|short_guid }}
            </li>

            <li>
                {% set has_error = form_macros.has_error(errors, 'name') ? ' is-error' : '' %}
                <label for="name">Name</label>
                <input type="text" class="text-input{{ has_error }}" name="name" id="name" maxlength="100" value="{{ form.name }}" required>
                <small>
                    Display description for this organization such as
                    <span>"MyTeam"</span> or <span>"My Secret Projects"</span>.
                </small>
            </li>
        </ul>

        <p>
            <button type="submit" class="btn btn--action">Save Changes</button>
            <a href="{{ uriFor('organization', {'organization': organization.id}) }}">Cancel</a>
        </p>
    </form>
{% endblock %}
