{% extends 'base.twig' %}
{% import "macros.form.twig" as form_macros %}

{% set page_title = 'Edit Organization : ' ~ organization.name %}

{% block content %}
    <h1>Edit Organization - <b>{{ organization.name }}</b></h1>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form method="post">
            <ul class="form-fields">
                <li>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" maxlength="48" required value="{{ form.name }}" class="text-input">
                </li>

                <li>
                    <label for="identifier">Identifier</label>
                    <input type="text" name="identifier" id="identifier" maxlength="24" required value="{{ form.identifier }}" class="text-input t50">
                </li>
            </ul>

            <ul>
                <li><input class="btn btn--action" type="submit" value="Save Changes"></li>
                <li><a class="btn" href="{{ uriFor('organization', {'organization': organization.id}) }}">Cancel</a></li>
            </ul>

        </form>
    </div>
{% endblock %}
