{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.git.twig' as git_macros %}

{% set page_title = 'Organization' %}

{% set is_admin = current_authorizations.isSuper() %}
{% set is_removable = is_admin and not applications %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }}</h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('applications') }}">Back to Applications</a>
        </p>
    </div>

    <ul class="meta-box">
        <li>
            <h6>Name</h6>
            {{ organization.identifier }}
        </li>

        <li>
            <h6>Description</h6>
            {{ organization.name }}
        </li>
    </ul>

    <h2>Applications</h2>
    {{ block('app_table') }}

    {% if not is_removable %}
        <p><b>Note:</b> All associated applications must be removed or transferred to remove this organization.</p>
    {% endif %}

    {{ block('actions') }}

{% endblock %}

{% block actions %}
    <ul class="list--bare">
        <li><a class="btn" href="{{ uriFor('application.add') }}">Add Application</a></li>
        <li>
            {% if is_admin %}
                <a class="btn btn--action" href="{{ uriFor('organization.edit', {'organization': organization.id}) }}">Edit Organization</a>
            {% else %}
                {{ macros.disabled_button('Edit Organization') }}
            {% endif %}
        </li>
        <li>
            {% if is_removable %}
                <a class="btn btn--destructive" href="{{ uriFor('organization.remove', {'organization': organization.id}) }}">Remove Organization</a>
            {% else %}
                {{ macros.disabled_button('Remove Organization') }}
            {% endif %}
        </li>
    </ul>
{% endblock %}

{% block app_table %}

    {% if applications %}
        <table class="table--spacing-medium">
            <thead>
                <tr>
                    <th>Application</th>
                    <th class="t40">Source Code</th>
                    <th class="t15"></th>
                </tr>
            </thead>
            <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application.name }}</td>
                    <td>{{ git_macros.gitsource(application) }}</td>
                    <td>
                        <a href="{{ uriFor('application.dashboard', {'application': application.id}) }}">Dashboard</a>
                        <a href="{{ uriFor('application', {'application': application.id}) }}">Manage</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no applications in this organization.</p>
    {% endif %}

{% endblock %}
