{% extends 'base.twig' %}
{% import "macros.form.twig" as form_macros %}

{% set page_title = 'Add Organization' %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form method="post">
            <ul class="form-fields">
                <li>
                    {% set hasError = form_macros.hasError(errors, 'name') %}
                    <label for="name">Name</label>
                    <input type="text" class="text-input t50{{ hasError ? ' is-error' : '' }}" name="name" id="name" maxlength="30" value="{{ form.name }}" required>
                    <small>
                        Unique name such as <span>"myteam"</span> or <span>"my-projects"</span>.
                        <br>Alphanumeric, hyphen, and period characters only.
                    </small>
                </li>

                <li>
                    {% set hasError = form_macros.hasError(errors, 'description') %}
                    <label for="description">Description</label>
                    <input type="text" class="text-input{{ hasError ? ' is-error' : '' }}" name="description" id="description" maxlength="100" value="{{ form.description }}" required>
                    <small>
                        Display description for this organization such as
                        <span>"MyTeam"</span> or <span>"My Secret Projects"</span>.
                    </small>
                </li>
            </ul>

            <ul>
                <li><input type="submit" class="btn btn--action" value="Add Organization"></li>
                <li><a class="btn" href="{{ uriFor('applications') }}">Cancel</a></li>
            </ul>
        </form>
    </div>
{% endblock %}
