{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = 'Organization : ' ~ organization.name %}

{% set is_admin = isUserAdminOrSuper(current_user) %}

{% block content %}
    <div class="nav--page">
        <h1>Organization - <b>{{ organization.name }}</b></h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('applications') }}">Back to Applications</a>
        </p>
    </div>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Identifier</dt>
            <dd>{{ organization.key }}</dd>

            <dt class="split__title">Name</dt>
            <dd>{{ organization.name }}</dd>
        </dl>
    </div>

    <h4>Applications</h4>
    {% if applications %}

        <table class="table--spacing-medium table--striped" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Application</th>
                    <th>GitHub Source</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for application in applications %}
                <tr>
                    <td><a href="{{ uriFor('application.dashboard', {'application': application.id}) }}">{{ application.name }}</a></td>
                    <td>{{ macros.gitsource(application) }}</td>
                    <td class="tr">
                        <a href="{{ uriFor('application', {'application': application.id}) }}">Manage</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There are no applications associated with this group.</p>
    {% endif %}

    {% if is_admin and applications %}
        <p><b>Note:</b> All associated applications must be removed or transferred to remove this organization.</p>
    {% endif %}

    <ul class="button-list button-list--half">
        <li><a class="btn" href="{{ uriFor('application.add') }}">Add Application</a></li>
        {% if is_admin %}
            <li><a class="btn btn--action" href="{{ uriFor('organization.edit', {'organization': organization.id}) }}">Edit Organization</a></li>

            {% if not applications and is_admin %}
                <li><a class="btn btn--destructive" href="{{ uriFor('organization.remove', {'organization': organization.id}) }}">Remove Organization</a></li>
            {% endif %}
        {% endif %}
    </ul>

{% endblock %}
