{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = 'Organization - ' ~ organization.name %}

{% set is_admin = current_authorizations.isSuper() %}
{% set is_removable = is_admin and not applications %}

{% block content %}
    <div class="nav--page">
        <h1>Organization</h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('applications') }}">Back to Applications</a>
        </p>
    </div>

    <div class="details-box">
        <ul>
            <li>
                <h6>Name</h6>
                {{ organization.identifier }}
            </li>

            <li>
                <h6>Description</h6>
                {{ organization.name }}
            </li>
        </ul>
    </div>

    <h4>Applications</h4>
    {{ block('app_table') }}

    {% if not is_removable %}
        <p><b>Note:</b> All associated applications must be removed or transferred to remove this organization.</p>
    {% endif %}

    {{ block('actions') }}

{% endblock %}

{% block actions %}
    <ul>
        <li><a class="btn" href="{{ uriFor('application.add') }}">Add Application</a></li>
        <li>
            {% if is_admin %}
                <a class="btn btn--action" href="{{ uriFor('organization.edit', {'organization': organization.id}) }}">Edit Organization</a>
            {% else %}
                <button class="btn btn--action btn--disabled">Edit Organization</button>
            {% endif %}
        </li>
        <li>
            {% if is_removable %}
                <a class="btn btn--destructive" href="{{ uriFor('organization.remove', {'organization': organization.id}) }}">Remove Organization</a>
            {% else %}
                <button class="btn btn--destructive btn--disabled">Remove Organization</button>
            {% endif %}
        </li>
    </ul>
{% endblock %}

{% block app_table %}

    {% if applications %}
        <table class="table--spacing-medium table--striped">
            <thead>
                <tr>
                    <th>Application</th>
                    <th>GitHub Source</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for application in applications %}
                <tr>
                    <td><a href="{{ uriFor('application.dashboard', {'application': application.id}) }}">{{ application.name }}</a></td>
                    <td>{{ macros.gitsource(application) }}</td>
                    <td>
                        <a href="{{ uriFor('application', {'application': application.id}) }}">Manage</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no applications in this organization.</p>
    {% endif %}

{% endblock %}
