{% extends 'base.html.twig' %}
{% import "partials/macros.twig" as macros %}

{% set page_title = "Repositories" %}

{% block content %}
    <h2>Repositories</h2>

    <table data-tablesaw-mode="stack">
        <thead>
            <tr>
                <th>Repository</th>
                <th>Github Source</th>
                <th class="t5"></th>
            </tr>
        </thead>
        <tbody class="table-breathe">
        {% set hasRepos = false %}
        {% for group in groups %}
            <tr>
                <th colspan="4" class="table-mid-header">
                    {{ group.name }}
                    <a class="icon--link" href="{{ urlFor('group', {id: group.id}) }}">
                        {{ macros.icon('outgoing') }}
                    </a>
                </th>
            </tr>

            {% if repositories[group.id] %}
                {% set hasRepos = true %}
                {% for repo in repositories[group.id] %}
                    <tr>
                        <td><a href="{{ urlFor('repository.status', {'id': repo.id}) }}">{{ repo.name }}</a></td>
                        <td>
                            <a href="{{ githubRepo(repo.githubUser, repo.githubRepo) }}">{{ repo.githubUser }}/{{ repo.githubRepo }}</a>
                            {{ macros.icon('github') }}
                        </td>
                        <td>
                            <a href="{{ urlFor('repository', {'id': repo.id}) }}">Details</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No repositories found.</td>
                </tr>
            {% endif %}
        {% endfor %}

        {% if not hasRepos %}
            <tr>
                <td colspan="4">There are no groups.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <p>
        <a class="btn" href="{{ urlFor('repository.admin.add') }}">Add Repository</a>
        <a class="btn secondary-action" href="{{ urlFor('group.admin.add') }}">Add Group</a>
    </p>
{% endblock %}
