{% extends 'base.html.twig' %}
{% import "partials/macros.twig" as macros %}

{% set page_title = repository.name %}

{% set isRepoAdmin = isUserRepoAdmin(currentUser, repository.key) %}

{% block content %}
    <h2>Repository Information</h2>

    <div class="details-box">
        <dl class="split trailer">
            <dt class="split__title">Name</dt>
            <dd>{{ repository.name }}</dd>

            <dt class="split__title">Identifier</dt>
            <dd>{{ repository.key }}</dd>

            <dt class="split__title">Github Source</dt>
            <dd>
                <a href="{{ githubRepo(repository.githubUser, repository.githubRepo) }}">{{ repository.githubUser }}/{{ repository.githubRepo }}</a>
                {{ macros.icon('github') }}
            </dd>

            {% if repository.ebName %}
                <dt class="split__title">Elastic Beanstalk Name</dt>
                <dd>{{ repository.ebName }}</dd>
            {% else %}
                <dt class="split__title">Elastic Beanstalk</dt>
                <dd>Not Enabled</dd>
            {% endif %}
        </dl>

        <ul class="button-list">
            <li><a class="btn" href="{{ urlFor('repository.status', {id: repository.id}) }}">Repository status</a></li>
            <li><a class="btn" href="{{ urlFor('repository.encrypted', {repository: repository.id}) }}">Encrypted Properties</a></li>

            {% if isRepoAdmin %}
                <li><a class="btn" href="{{ urlFor('repository.deployments', {repository: repository.id}) }}">Manage Deployment Relationships</a></li>
                <li><a class="btn btn--action" href="{{ urlFor('repository.admin.edit', {repository: repository.id}) }}">Edit details</a></li>
            {% endif %}

            {% if isUserAdmin(currentUser) and not deployment_count %}
                <li><a class="btn btn--destructive" href="{{ urlFor('repository.admin.remove', {id: repository.id}) }}">Remove Repository</a></li>
            {% endif %}
        </ul>
    </div>

    <h3>Notifications</h3>
    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Email</dt>
            <dd>{{ repository.email ?: 'None' }}</dd>
        </dl>
    </div>

    {% if repository.buildCmd or repository.buildTransformCmd or repository.prePushCmd or repository.postPushCmd %}
        <h3>Commands</h3>
        <div class="details-box">
            <dl class="split trailer">
                {% if repository.buildCmd %}
                    <dt class="split__title">
                        {{ macros.icon('code', '', 'On build') }}
                        Build Command
                    </dt>
                    <dd>{{ repository.buildCmd }}</dd>
                {% endif %}

                {% if repository.buildTransformCmd %}
                    <dt class="split__title">
                        {{ macros.icon('swap-2', '', 'On push') }}
                        Build Transform Command
                    </dt>
                    <dd>{{ repository.buildTransformCmd }}</dd>
                {% endif %}

                {% if repository.prePushCmd %}
                    <dt class="split__title">
                        {{ macros.icon('swap-2', '', 'On push') }}
                        Pre-Push Command
                    </dt>
                    <dd>{{ repository.prePushCmd }}</dd>
                {% endif %}

                {% if repository.postPushCmd %}
                    <dt class="split__title">
                        {{ macros.icon('swap-2', '', 'On push') }}
                        Post-Push Command
                    </dt>
                    <dd>{{ repository.postPushCmd }}</dd>
                {% endif %}
            </dl>
            <p class="mbn">
                <strong>Repository commands cannot be changed, and are for legacy projects only.</strong><br>
                To add, change, or remove commands: a <code>.hal9000.yml</code> must be commited to the project repository.
            </p>
        </div>
    {% endif %}

    <h3>Permissions</h3>

    {% if permissions %}
        <p>The following users have permission to push <strong>{{ repository.name }}</strong> to the specified environment.</p>
        <table class="table--spacing-medium" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Environment</th>
                    <th>Users</th>
                </tr>
            </thead>
            <tbody>
            {% for env, permission in permissions %}
                <tr>
                    <td>{{ env }}</td>
                    <td>
                        <ul class="col-list">
                            {% for rule in permission %}
                                <li><a href="{{ urlFor('user', {'id': rule.user.id}) }}">{{ rule.user.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No users can push this repository.</p>
    {% endif %}

    <h3>Server Deployments</h3>
    {% if deployment_count %}
        <table class="table--spacing-medium" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Environment</th>
                    <th>Server</th>
                    <th>Path</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
            {% for env, deployments in deployment_environments %}
                {% if deployments %}
                    {% set isFirst = true %}
                    {% for deployment_pair in deployments %}
                        {% set deployment = deployment_pair.deployment %}
                        {% set eb_environment = deployment_pair.eb_environment %}

                        <tr>
                            {% if isFirst %}
                                {% set isFirst = false %}
                                <td>{{ env }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            <td>
                                <a href="{{ urlFor('server', {id: deployment.server.id}) }}">{{ deployment|formatDeploymentServer }}</a>
                                {% if eb_environment %}
                                    <small><br>{{ eb_environment|formatEBStatus }}
                                    {{ eb_environment|formatEBHealth }}
                                    </small>
                                {% endif %}

                            </td>
                            <td>
                                <code>{{ deployment|formatDeploymentDetails }}</code>
                            </td>
                            <td>
                                <a href="{{ deployment.url.asString()  }}">{{ deployment.url.asString()  }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no deployments associated with this repository.</p>
    {% endif %}

{% endblock %}
