{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}
{% import _self as page_macros %}
{% set js_components = ["status"] %}

{% set page_title = "Status: " ~ repo.name %}

{% block content %}
    <h1>Application Status - <strong>{{ repo.name }}</strong></h1>

    {# Only allow environment switching if has multiple env #}
    {% if environments|length > 1 %}
        <div class="trailer">
            <h4>Change environment</h4>
            {% for environment in environments %}
                {% set btnSelected = environment.id == selected_environment.id ? ' btn--action' : ' btn--not-selected' %}
                <a class="btn{{ btnSelected }}" href="{{ urlFor('repository.status', {id: repo.id}, {environment: environment.id}) }}">{{ environment.key }}</a>
            {% endfor %}
        </div>
    {% endif %}

    {% set hasPushes = false %}

    <h3 class="{{ (deployment_statuses) ? 'js-overloader-parent' : '' }}">
        Server Status for <strong>{{ selected_environment.key }}</strong>
    </h3>

    {# example display of servers by environment #}
    {% if deployment_statuses %}
        <ul class="list--bare cards cards--{{ selected_environment.key }}">
            {% for status in deployment_statuses %}

                {# Determine whether repo has been pushed so we can hide the all pushes button if there are no pushes #}
                {% if status.latest %}
                    {% set hasPushes = true %}
                {% endif %}

                <li>{{ page_macros.pushCard(repo, status.deploy, status.latest) }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>This repository has no deployment relationships for <strong>{{ selected_environment.key }}</strong> and cannot be pushed.</p>
    {% endif %}

    <h3>Recent Builds for <strong>{{ selected_environment.key }}</strong></h3>
    {% include '_partial-job/build-table.twig' with {'builds': builds} %}

    <ul class="button-list">
        {% if canUserBuild(currentUser, repo) %}
            <li><a class="btn btn--action" href="{{ urlFor('build.start', {'id': repo.id}) }}">Start New Build</a></li>
        {% endif %}

        {% if builds %}
            <li><a class="btn" href="{{ urlFor('build.history.page1', {'id': repo.id}) }}">All Builds</a></li>
        {% endif %}

        {% if hasPushes %}
            <li><a class="btn" href="{{ urlFor('push.history.page1', {'id': repo.id}) }}">All Pushes</a></li>
        {% endif %}

        <li><a class="btn btn--secondary" href="{{ urlFor('repository', {id: repo.id}) }}">Application</a></li>

        {% if kraken %}
            <li><a class="btn btn--secondary" href="{{ urlFor('kraken.status', {application: kraken.id}) }}">{{ macros.icon('asterisk') }} Kraken</a></li>
        {% endif %}
    </ul>

{% endblock %}

{% macro pushCard(repo, deployment, active) %}
    {% import '_partial/macros.twig' as macros %}

    <article class="card">
        <header class="card__header">
            <h4>
                <a href="{{ urlFor('server', {'id': deployment.server.id}) }}">{{ deployment|formatDeploymentServer }}</a>

                {% if deployment.url %}
                    <a class="icon--link" href="{{ deployment.url.asString }}">
                        {{ macros.icon('outgoing') }}
                    </a>
                {% endif %}

                {% if active %}
                    <a class="rollback icon--link" href="{{ urlFor('rollback.page1', {'id': repo.id, 'deployment': deployment.id}) }}" title="View push history or rollback to a successful build">
                        {{ macros.icon('revert') }}
                    </a>
                {% endif %}
            </h4>
        </header>

        <section class="card__details">
            <ul class="split">
                {# push details #}
                <li>
                    <span class="split__title">Last push:</span>
                    {% if active %}
                        {{ macros.job_status(active, true) }}
                        (<a href="{{ urlFor('push', {'push': active.id}) }}">{{ active.id|formatPushId }}</a>)
                    {% else %}
                        None
                    {% endif %}
                </li>
                <li>
                    <span class="split__title">Pushed on:</span>
                    {% if active.created %}
                        {{ active.created|html5date }}
                    {% else %}
                        Never
                    {% endif %}
                </li>

                {# build details #}
                <li class="js-data-overload">
                    <span class="split__title">Build:</span>
                    {% if active %}
                        <a href="{{ urlFor('build', {'repo': repo.id, 'build': active.build.id}) }}">{{ active.build.id|formatBuildId }}</a>
                    {% else %}
                        Unknown
                    {% endif %}
                </li>
                <li class="js-data-overload">
                    <span class="split__title">Reference:</span>
                    {% if active %}
                        {% set isCurrent = githubCommitIsCurrent(repo.githubUser, repo.githubRepo, active.build.branch, active.build.commit) %}
                        {{ macros.status_icon(macros.gitref(active.build, true), isCurrent ? 'success' : 'warning') }}

                    {% else %}
                        Unknown
                    {% endif %}
                </li>
                <li class="js-data-overload">
                    <span class="split__title">Commit:</span>
                    {% if active %}
                        {{ macros.gitcommit(active.build) }}
                    {% else %}
                        Unknown
                    {% endif %}
                </li>

                {# deployment details #}

                {% set deploymentDetails = deployment|formatDeploymentDetails %}

                <li class="js-data-overload">
                    <span class="split__title">{{ deployment|formatDeploymentDetailsLabel }}:</span>
                    <code title="{{ deploymentDetails }}">{{ deploymentDetails }}</code>
                </li>
            </ul>
        </section>
    </article>
{% endmacro %}
