{% import _self as nav_macros %}

<header role="banner">
    {% block banner %}
        <div class="hal">
            <a href="/" class="wrapper">

                <h1 class="hal-label">
                    <span class="hal-label__name">HAL</span>
                    <span class="hal-label__version">9000</span>
                </h1>

                <div class="hal-eye circular">
                    <div class="ring circular"></div>
                    <div class="oculus circular">
                        <div class="iris circular narrow"></div>
                        <div class="iris circular wide"></div>
                        <div class="highlight alpha"></div>
                        <div class="highlight"></div>
                        <div class="highlight beta"></div>
                    </div>
                </div>
            </a>
        </div>
    {% endblock %}

    {% block navigation %}
        {% if showNavigation %}
            <nav role="navigation">
                <ul class="nav--main mbn">
                    {% if currentUser %}
                        {{ nav_macros.optionalNavlink('Dashboard', 'dashboard', 'dashboard') }}
                        {{ nav_macros.optionalNavlink('Queue', 'queue', 'in') }}

                        {# todo, remove this. groups page is no longer supported. #}
                        {% if not isNavOn('repositories') %}
                            {{ nav_macros.optionalNavlink('Repositories', 'groups', 'list') }}
                        {% endif %}

                        {{ nav_macros.optionalNavlink('Repositories', 'repositories', 'list') }}

                        {{ nav_macros.optionalNavlink('Servers', 'servers', 'server') }}
                        {{ nav_macros.optionalNavlink('Environments', 'environments', 'leaf') }}
                        {{ nav_macros.optionalNavlink('Users', 'users', 'users') }}

                        {% if isUserAdmin(currentUser) %}
                            {{ nav_macros.optionalNavlink('Admin', 'admin', 'watch') }}
                        {% endif %}
                        {{ nav_macros.optionalNavlink('Help', 'help', 'question') }}

                        <li>{{ nav_macros.navlink('Settings', 'settings', 'settings') }}</li>
                        <li>{{ nav_macros.navlink('Logout', 'logout', 'sign-out') }}</li>

                    {% else %}
                        <li class="signed-out">{{ nav_macros.navlink('Help', 'help', 'question') }}</li>
                        <li class="signed-out">{{ nav_macros.navlink('Login', 'login', 'sign-in') }}</li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% endblock %}
</header>

{% macro navlink(title, key, icon) %}
    {% import "partials/macros.twig" as macros %}
    <a href="{{ urlFor(key) }}" title="{{ title }}">
        {{ macros.icon(icon) }}
        {{ title }}
    </a>
{% endmacro %}

{% macro optionalNavlink(title, key, icon) %}
    {% import _self as nav_macros %}
    {% if isNavOn(key) %}
        <li>{{ nav_macros.navlink(title, key, icon) }}</li>
    {% endif %}
{% endmacro %}
