{% import "partials/macros.twig" as macros %}

<table data-tablesaw-mode="stack">
    <thead>
        <tr>
            <th class="t20">Event</th>
            <th>Time</th>
            <th>Message</th>
            <th class="t10"></th>
        </tr>
    </thead>

    {% for log in logs %}
        <tbody>

            {% set rowColor = log.status == 'failure' ? 'event-log--error' : '' %}
            {% set blockColor = 'event-log__status--info' %}
            {% if log.status == 'success' %}
                {% set blockColor = 'event-log__status--success' %}
            {% elseif log.status == 'failure' %}
                {% set blockColor = 'event-log__status--error' %}
            {% endif %}

            <tr class="{{ rowColor }}">
                <td>
                    <span class="event-log__status {{ blockColor }}">
                        {% if log.status == 'success' %}
                            {{ macros.icon('tick') }}
                            {{ log.event|formatEvent }}

                        {% elseif log.status == 'failure' %}
                            {{ macros.icon('spam') }}
                            {{ log.event|formatEvent }}

                        {% else %}
                            {{ macros.icon('paragraph-justify-2') }}
                            {{ log.event|formatEvent }}
                        {% endif %}
                    </span>
                </td>
                <td>{{ log.created|html5date }}</td>
                <td>{{ log.message }}</td>
                <td class="tr">
                    {% if log.data %}
                        <a class="btn btn--tiny" data-expand-btn="{{ log.id }}">
                            {{ macros.icon('menu-pull-down') }}
                        </a>
                    {% endif %}
                </td>
            </tr>

            {% if log.data %}
                <tr data-expand-target="{{ log.id }}">
                    <td colspan="4" class="tl">
                        {% for key, data in log.data %}
                            <h4 class="mbn">{{ key }}</h4>
                            <div class="pre-wrapper pre-ansi">
                                <pre>{{ data|sanitizeToString|ansi_to_html }}</pre>
                            </div>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    {% else %}
        <tbody>
            <tr>
                <td colspan="4">No logs found.</td>
            </tr>
        </tbody>
    {% endfor %}
</table>

