
{% macro pagination(currentPage, lastPage, routeName, routeParameters, queryParameters) %}
    {% import "partials/macros.twig" as macros %}

    {% set queryParameters = queryParameters|default({}) %}

    <ol class="nav--pagination">
        <li class="nav--pagination__prev">
            {% if currentPage > 1 %}
                <a href="{{ urlFor(routeName, routeParameters|merge({'page': currentPage-1}), queryParameters) }}">
                    {{ macros.icon('caret-left') }}newer
                </a>
            {% else %}
                <span class="disabled">
                    {{ macros.icon('caret-left') }}newer
                </span>
            {% endif %}
        </li>
        <li>
            {% if lastPage > 1 %}
                <span class="pages">page {{ currentPage }} of {{ lastPage }}</span>
            {% endif %}
        </li>
        <li class="nav--pagination__next">
            {% if currentPage < lastPage %}
                <a href="{{ urlFor(routeName, routeParameters|merge({'page': currentPage+1}), queryParameters) }}">
                    older {{ macros.icon('caret-right') }}
                </a>
            {% else %}
                <span class="disabled">
                    older {{ macros.icon('caret-right') }}
                </span>
            {% endif %}
        </li>
    </ol>
{% endmacro %}

{% macro time_pagination(selectedDate, routeName, routeParameters, queryParameters) %}
    {% import "partials/macros.twig" as macros %}

    {% set routeParameters = routeParameters|default({}) %}
    {% set queryParameters = queryParameters|default({}) %}

    {% set prevday = selectedDate.modify('-1 day') %}
    {% set nextday = selectedDate.modify('+1 day') %}

    {% set nextdayFormatted = nextday|timepoint('Y-m-d') %}
    {% set now = timepoint() %}
    {% set nowFormatted = now|timepoint('Y-m-d') %}

    <ol class="nav--pagination">
        <li class="nav--pagination__prev">
            <a href="{{ urlFor(routeName, routeParameters|merge({'date': prevday|timepoint('Y-m-d')}), queryParameters) }}">
                {{ macros.icon('caret-left') }}older
            </a>
        </li>
        <li>
            <span class="pages">{{ selectedDate|timepoint('F j, Y') }}</span>
        </li>
        <li class="nav--pagination__next">
            {% if nextdayFormatted == nowFormatted or (nextdayFormatted != nowFormatted and nextday.compare(now) == -1) %}
                <a href="{{ urlFor(routeName, routeParameters|merge({'date': nextdayFormatted}), queryParameters) }}">
                    newer {{ macros.icon('caret-right', 'mls') }}
                </a>
            {% else %}
                <span class="disabled">
                    newer {{ macros.icon('caret-right', 'mls') }}
                </span>
            {% endif %}
        </li>
    </ol>
{% endmacro %}
