{% import "partials/macros.twig" as macros %}

<table id="js-queue" data-tablesaw-mode="stack">
    <thead>
        <th>Type</th>
        <th>Repository</th>
        <th>Status</th>
        <th>Env → Server</th>
        <th>Reference</th>
        <th>Initiator</th>
    </thead>
    <tbody>
        {% if pending %}
            {% for job in pending %}
                {% if job is build %}
                    <tr id="build-{{ job.id }}">
                        <td><a href="{{ urlFor('build', {build: job.id}) }}">Build</a></td>
                        <td><a href="{{ urlFor('repository.status', {id: job.repository.id}) }}">{{ job.repository.name }}</a></td>
                        <td>
                            {% if job.status == 'Success' %}
                                <span class="status-before--success">{{ job.status }}</span>
                            {% elseif job.status in ['Error', 'Removed'] %}
                                <span class="status-before--error">{{ job.status }}</span>
                            {% elseif job.status in ['Waiting', 'Building', 'Pushing'] %}
                                <span class="status-before--thinking" data-build="{{ job.id }}">{{ job.status }}</span>
                            {% else %}
                                <span class="status-before--other" data-build="{{ job.id }}">{{ job.status }}</span>
                            {% endif %}
                        </td>
                        <td>{{ job.environment.key }}
                        <td>
                            {{ macros.gitref(job, true) }}
                        </td>
                        <td>{{ job.user ? job.user.handle : 'Unknown' }}</td>
                    </tr>
                {% else %}
                    <tr id="push-{{ job.id }}">
                        <td><a href="{{ urlFor('push', {push: job.id}) }}">Push</a></td>
                        <td><a href="{{ urlFor('repository.status', {id: job.repository.id}) }}">{{ job.repository.name }}</a></td>
                        <td>
                            {% if job.status == 'Success' %}
                                <span class="status-before--success">{{ job.status }}</span>
                            {% elseif job.status in ['Error', 'Removed'] %}
                                <span class="status-before--error">{{ job.status }}</span>
                            {% elseif job.status in ['Waiting', 'Building', 'Pushing'] %}
                                <span class="status-before--thinking" data-push="{{ job.id }}">{{ job.status }}</span>
                            {% else %}
                                <span class="status-before--other" data-push="{{ job.id }}">{{ job.status }}</span>
                            {% endif %}
                        </td>
                        {% if job.deployment %}
                            <td>{{ job.build.environment.key }} → {{ job.deployment|formatDeploymentServer(true) }}</td>
                        {% else %}
                            <td>{{ job.build.environment.key }} → Unknown</td>
                        {% endif %}
                        <td>
                            Build <a href="{{ urlFor('build', {'build': job.build.id}) }}">{{ job.build.id|formatBuildId }}</a>
                        </td>
                        <td>{{ job.user ? job.user.handle : 'Unknown' }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr id="js-emptyQueue">
                <td colspan="6">There are no jobs queued.<br>You do not need to refresh the page. New jobs will be added to the queue as they are created.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
