{% extends 'base.kraken.twig' %}
{% import '_partial/pagination.twig' as pagination %}
{% import '_partial/macros.twig' as macros %}

{% set page_title = "Audit Log History" %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <p>Changes to Configuration Schema and Properties will be logged on this page.</p>

    {% if logs %}

        <table class="table--spacing-medium table--striped" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Time</th>
                    <th>User</th>
                    <th>Application</th>
                    <th>Action</th>
                    <th>Resource</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td><a href="{{ urlFor('kraken.admin.audit.log', {auditLog: log.id}) }}">{{ log.id[:7] }}</a></td>
                        <td>{{ log.created|html5date }}</td>
                        <td><a href="{{ urlFor('user', {'user': log.user.id}) }}">{{ log.user.handle }}</a></td>

                        <td>
                            {% if log.application %}
                                <a href="{{ urlFor('kraken.application', {'application': log.application.id}) }}">{{ log.application.name }}</a>
                            {% else %}
                                Unknown
                            {% endif %}
                        </td>
                        <td>
                            {% if log.action == 'CREATE' %}
                                {{ macros.status(log.action, 'success') }}
                            {% elseif log.action == 'DELETE' %}
                                {{ macros.status(log.action, 'error') }}
                            {% else %}
                                <b>{{ log.action }}</b>
                            {% endif %}

                        </td>
                        <td>{{ log.entity|replace({':': ' : '}) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No logs found.</p>
    {% endif %}

    {{ pagination.pagination(page, last, 'admin.audit.logs', {}) }}

{% endblock %}
