{% extends 'base.twig' %}
{% import 'macros.pagination.twig' as pagination %}
{% import 'macros.git.twig' as git %}
{% import 'macros.twig' as macros %}
{% set js_components = ['job_table_updater'] %}

{% set page_title = 'Build History' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('queue.history.page1') }}">Queue History</a></li>
{% endblock %}

{% block content %}
    {{ block('links') }}
    {{ pagination.pagination(page, last, 'builds.history') }}

    {{ block('builds') }}

    {{ pagination.pagination(page, last, 'builds.history') }}
    {{ block('links') }}
{% endblock %}

{% block links %}
    <p>
        <a class="btn" href="{{ uriFor('queue') }}">Current Job Queue</a>
        <a class="btn" href="{{ uriFor('releases.history.page1') }}">Release History</a>
    </p>
{% endblock %}

{% block builds %}
    <table class="table--spacing-medium">
        <thead>
            <tr>
                <th>Build</th>
                <th>Application</th>
                <th>Env</th>
                <th>Source Control</th>
                <th class="table-priority-55">Built On</th>
            </tr>
        </thead>
        <tbody>
            {% for build in builds %}
                <tr>
                    <td>{{ macros.job_status_prefix(build) }}</td>

                    <td>
                        <a href="{{ uriFor('application.dashboard', {application: build.application.id}) }}">{{ build.application.name }}</a>
                    </td>

                    <td>{{ build.environment ? build.environment.name : 'Any' }}</td>
                    <td>{{ git.gitref(build, true) }}</td>

                    <td class="table-priority-55">
                        {% if build.user %}
                            <a href="{{ uriFor('user', {'user': build.user.id}) }}">{{ build.user.username }}</a>
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>

                    <td class="table-priority-55">
                        {{ build.created|html5date }}
                        by
                        {{ macros.user_display_link(build.user) }}
                    </td>
                </tr>
            {% else %}
                <tr id="js-emptyQueue">
                    <td colspan="5">There are no builds available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
