{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.pagination.twig' as pagination %}

{% if is_today %}
    {% set js_components = ['job_queue'] %}
{% endif %}

{% set page_title = 'Queue History' %}

{% block content %}
    {{ block('links') }}
    {{ pagination.time_pagination(selected_date, 'queue.history') }}

    {% include 'partial.pending_job_table.twig' with {'pending': pending, 'history_view': true} only %}

    {{ pagination.time_pagination(selected_date, 'queue.history') }}
    {{ block('links') }}
{% endblock %}

{% block links %}
    <p>
        <a class="btn" href="{{ uriFor('queue') }}">Current Job Queue</a>
        <a class="btn" href="{{ uriFor('builds.history.page1') }}">Build History</a>
        <a class="btn" href="{{ uriFor('releases.history.page1') }}">Release History</a>
    </p>
{% endblock %}
