{% extends 'base.twig' %}

{% set js_components = ['job_queue'] %}
{% set page_title = 'Current Job Queue' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('queue.history.page1') }}">Queue History</a></li>
{% endblock %}

{% block content %}
    {{ block('links') }}
    {% include 'partial.pending_job_table.twig' with { 'pending': pending } only %}
    {{ block('links') }}
{% endblock %}

{% block links %}
    <p>
        <a class="btn" href="{{ uriFor('builds.history.page1') }}">Build History</a>
        <a class="btn" href="{{ uriFor('releases.history.page1') }}">Release History</a>
    </p>
{% endblock %}
