{% extends 'base.twig' %}
{% import 'macros.pagination.twig' as pagination %}
{% import 'macros.twig' as macros %}
{% set js_components = ['job_table_updater'] %}

{% set page_title = 'Release History' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('queue.history.page1') }}">Queue History</a></li>
{% endblock %}

{% block content %}
    {{ block('links') }}
    {{ pagination.pagination(page, last, 'releases.history') }}

    {{ block('releases') }}

    {{ pagination.pagination(page, last, 'releases.history') }}
    {{ block('links') }}
{% endblock %}

{% block links %}
    <p>
        <a class="btn" href="{{ uriFor('queue') }}">Current Job Queue</a>
        <a class="btn" href="{{ uriFor('builds.history.page1') }}">Build History</a>
    </p>
{% endblock %}

{% block releases %}
    <table class="table--spacing-medium">
        <thead>
            <tr>
                <th>Release</th>
                <th>Application</th>
                <th>Env → Server</th>
                <th>Build</th>
                <th>Deployed On</th>
            </tr>
        </thead>
        <tbody>
            {% for release in releases %}
                <tr>
                    <td>{{ macros.job_status_prefix(release, true) }}</td>

                    <td>
                        <a href="{{ uriFor('application.dashboard', {application: release.application.id}) }}">{{ release.application.name }}</a>
                    </td>

                    <td>
                        {% if release.target %}
                            {{ release.target.environment.name }} → {{ release.target.name }}
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>

                    <td>
                        Build <a href="{{ uriFor('build', {'build': release.build.id}) }}">{{ release.build.id|short_guid }}</a>
                    </td>

                    <td>
                        {{ release.created|html5date }}
                        by
                        {{ macros.user_display_link(release.user) }}
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="5">There are no releases available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

