{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = 'Deployment Pools : ' ~ application.name %}

{% set isAdmin = isUserAdminOrSuper(currentUser) or isUserLeadOf(currentUser, application) %}
{% set canEditShared = isAdmin or canUserBuild(currentUser, application) %}

{% block content %}
    <h1>Deployment Pools - <strong>{{ application.name }}</strong> </h1>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Application</dt>
            <dd>
                <a href="{{ urlFor('application', {application: application.id}) }}">{{ application.name }}</a>
            </dd>

            <dt class="split__title">Environment</dt>
            <dd>{{ environment.name }}</dd>
        </dl>
    </div>

    <p>
        <b>Deployment Pools</b> are used to organize servers or deployments. This is primarily useful on the status page when there are many
        servers assigned to an environment. <b>Pools</b> are assigned to <b>Deployment Views</b>. This allows multiple schemas to be created and shared.
    </p>

    <h6>Example Views</h6>
    <ul class="list--bullet">
        <li><b>Datacenter</b>: Detroit, Troy</li>
        <li><b>Push Phase</b>: Phase 1, Phase 2</li>
        <li><b>Team</b>: Squad 1, Squad 2, Squad 3, Squad 4</li>
    </ul>

    <h2>Views</h2>

    {% if views %}
        <ul class="list--bare cards--dual">
            {% for view in views %}
                <li>
                    <article class="card--baby">
                        <header class="card__header split">
                            <span class="split__title">
                                {% if selected_view == view.id %}
                                    {{ macros.icon('star-2') }}
                                {% endif %}
                                {{ view.name }}
                            </span>
                            <a href="{{ urlFor('deployment_view', {'view': view.id}) }}">Manage</a>
                        </header>

                        <section class="card__details card__details--divided">
                            {% if not view.pools.isEmpty %}
                                <ul class="list--bare mbn">
                                    {% for pool in view.pools %}
                                        <li class="pvs mvn">
                                            <h6 class="mvn"><b>{{ pool.name }}</b></h6>
                                            <ul class="list--bare">
                                                {% for deployment in deployment_pools[pool.id] %}
                                                    <li class="mbn">
                                                        {% if server_collisions[deployment.server.id] %}
                                                            <span class="tooltipped tooltipped-e" aria-label="{{ deployment|formatDeploymentDetails }}">
                                                                {{ deployment|formatDeploymentServer }}
                                                            </span>
                                                        {% else %}
                                                            {{ deployment|formatDeploymentServer }}
                                                        {% endif %}
                                                    </li>
                                                {% else %}
                                                    <li class="mbn">None</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No pools defined.</p>
                            {% endif %}
                        </section>
                    </article>
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <p>No views found for this application environment.</p>
    {% endif %}

    <ul class="button-list">
        {% if canEditShared %}
            <li><a class="btn btn--action" href="{{ urlFor('deployment_view.add', {'application': application.id, 'environment': environment.id}) }}">Add View</a></li>
        {% endif %}

        <li><a class="btn" href="{{ urlFor('deployments', {'application': application.id}) }}">Deployments</a></li>
        <li><a class="btn" href="{{ urlFor('application.status', {'application': application.id}) }}">Application Status</a></li>
    </ul>

{% endblock %}
