{% extends 'base.html.twig' %}
{% import "macros.form.twig" as form_macros %}

{% set page_title = 'Edit Deployment Pool : ' ~ pool.name %}

{% block content %}
    <h1>Edit Deployment Pool - <strong>{{ pool.name }}</strong> </h1>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Application</dt>
            <dd>
                <a href="{{ urlFor('application', {application: application.id}) }}">{{ application.name }}</a>
            </dd>

            <dt class="split__title">Environment</dt>
            <dd>{{ environment.name }}</dd>

            <dt class="split__title">Deployment View</dt>
            <dd><a href="{{ urlFor('deployment_view', {'view': view.id}) }}">{{ view.name }}</a></dd>
        </dl>
    </div>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form method="post">
            <ul class="form-fields">

                <li>
                    <h5 class="label">ID</h5>
                    {{ pool.id }}
                </li>

                <li>
                    <label for="name">Name</label>
                    <input name="name" id="name" maxlength="100" required value="{{ form.name }}" class="text-input">
                </li>
            </ul>

            <ul class="button-list">
                <li><input class="btn btn--action" type="submit" value="Save Changes"></li>
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('deployment_view', {'view': view.id}) }}">Cancel</a></li>
            </ul>
        </form>
    </div>

    <p class="leader--andre">Removing this pool will also remove any deployments attached to it.</p>
    <p>
        <a class="btn btn--destructive" href="{{ urlFor('pool.remove', {'view': view.id, 'pool': pool.id}) }}">Remove Pool</a>
    </p>

{% endblock %}
