{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.git.twig' as git_macros %}
{% set js_components = ['release_info'] %}

{% set page_title = 'Release ' ~ release.id|short_guid %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('applications') }}">Applications</a></li>
    <li><a href="{{ uriFor('application', {'application': release.application.id}) }}">{{ release.application.name }}</a></li>
    <li><a href="{{ uriFor('application.dashboard', {'application': release.application.id}) }}">Dashboard</a></li>
{% endblock %}

{% block content %}

    <h2>Release Details</h2>
    {{ block('meta') }}

    <h2>Build Details</h2>
    {{ block('meta_build') }}

    <h2>Deployment Status</h2>
    {{ block('deployment_status') }}

    <h2>Release Metadata</h2>
    <p><a href="{{ uriFor('help') }}#what-is-metadata">What is this?</a></p>
    {{ block('metas') }}

    <h2>Deployment Events</h2>
    {{ block('events') }}

{% endblock %}

{% block meta %}
    <ul class="meta-box">
        <li>
            <h6>ID</h6>
            {{ release.id|short_guid }}
        </li>

        <li>
            <h6>Application</h6>
            <a href="{{ uriFor('application', {'application': release.application.id}) }}">{{ release.application.name }}</a>
        </li>

        <li>
            <h6>Target</h6>
            {% if release.target %}
                {{ release.environment.name }} →
                <a href="{{ uriFor('target', {'application': release.application.id, 'target': release.target.id}) }}">{{ release.target.name }}</a>
            {% else %}
                Unknown
            {% endif %}
        </li>

        <li>
            <h6>Parameters</h6>
            <code>{{ release.target.formatParameters() }}</code>
        </li>

        {% if release.target and release.target.url %}
            <li>
                <h6>URL</h6>
                <a href="{{ release.target.url }}">{{ release.target.url }}</a>
            </li>
        {% endif %}

        <li>
            <h6>Started</h6>
            {{ release.created|html5date }}
            by
            {{ macros.user_display_link(release.user) }}
        </li>
    </ul>
{% endblock %}

{% block meta_build %}
    <ul class="meta-box">
        <li>
            <h6>ID</h6>
            {{ release.build.id|short_guid }}
        </li>

        <li>
            <h6>Version Control</h6>
            {{ git_macros.vcs_ref(release.build.application, release.build) }}
            {{ git_macros.vcs_commit(release.build.application, release.build) }}
        </li>

        <li>
            <h6>Started</h6>
            {{ release.build.created|html5date }}
            by
            {{ macros.user_display_link(release.build.user) }}
        </li>
    </ul>
{% endblock %}

{% block deployment_status %}
    <ul class="meta-box">
        <li>
            <h6>Status</h6>
            {{ macros.job_status(release, true) }}
        </li>

        <li>
            <h6>Duration</h6>
            <span class="js-release-duration">
                {% if release.start and release.end %}
                    {{ html5duration(release.start, release.end) }}
                {% else %}
                    N/A
                {% endif %}
            </span>
        </li>
    </ul>
{% endblock %}

{% block metas %}
    {% include 'partial.meta_table.twig' with { 'metadata': meta } only %}
{% endblock %}

{% block events %}
    {% include 'partial.event_table.twig' with { 'events': events, 'can_load': release.isFinished } only %}
{% endblock %}
