{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.git.twig' as git_macros %}
{% import 'macros.pagination.twig' as pagination %}

{% set page_title = "Release History : " ~ application.name %}

{% block content %}

    <div class="nav--page">
        <h1>Release History - <b>{{ application.name }}</b> to <b>{{ target.format(true) }}</b></h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('application.dashboard', {'application': application.id}) }}">Back to Application Dashboard</a>
        </p>
    </div>

    <h2>Target Details</h2>
    <div class="details-box">
        <ul class="mbn">
            <li>
                <h6>Environment</h6>
                <a href="{{ uriFor('environment', {'environment': target.group.environment.id}) }}">{{ target.group.environment.name }}</a>
            </li>

            <li>
                <h6>Target</h6>
                <a href="{{ uriFor('target', {'application': target.application.id, 'target': target.id}) }}">{{ target.format(true) }}</a>
            </li>

            <li>
                <h6>Parameters</h6>
                {{ target.formatParameters() }}
            </li>

            {% if target.url %}
                <li>
                    <h6>URL</h6>
                    <a href="{{ target.url }}">{{ target.url }}</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <p>
        This table shows the release history for this target.
        To rollback, simply choose a build, click <b>rollback</b>, and you'll be able to initate a new release.
    </p>

    {% set canRollback = current_authorizations.canDeploy(application, target.group.environment) %}

    <h2>Release History</h2>
    <table class="table--spacing-medium">
        <thead>
            <tr>
                <th>Build</th>
                <th>Release</th>
                <th class="table-priority-45">Reference</th>
                <th class="table-priority-50">Commit</th>
                <th>Released</th>
                <th>User</th>
                {% if canRollback %}
                    <th class="t10"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for release in releases %}
            <tr>
                <td><a href="{{ uriFor('build', {'build': release.build.id}) }}">{{ release.build.id|formatBuildId }}</a></td>
                <td>
                    {% set statusClass = 'status-icon--info' %}
                    {% if release.status == 'success' %}
                        {% set statusClass = 'status-icon--success' %}
                    {% elseif release.status == 'failure' %}
                        {% set statusClass = 'status-icon--error' %}
                    {% endif %}
                    <span class="{{ statusClass }}">
                        Release <a href="{{ uriFor('release', {'release': release.id}) }}">{{ release.id|formatPushId }}</a>
                    </span>
                </td>

                <td class="table-priority-45">
                    {{ git_macros.gitref(release.build, true) }}
                </td>
                <td class="table-priority-50">
                    {{ git_macros.gitcommit(release.build) }}
                </td>
                <td>{{ release.end|html5date }}</td>
                <td>
                    {% if release.user %}
                        <a href="{{ uriFor('user', {'user': release.user.id}) }}">{{ release.user.username }}</a>
                    {% else %}
                        Unknown
                    {% endif %}
                </td>

                {% if canRollback %}
                    <td class="tr">
                        {% if release.build.status == 'removed' %}
                            Removed
                        {% elseif release.status == 'success'%}
                            <a class="btn btn--tiny" href="{{ uriFor('release.start', {'build': release.build.id}, {'target': target.id}) }}">Rollback</a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
            {% else %}
            <tr>
                <td colspan="{{ canRollback ? 6 : 5 }}">
                    There is no release history for this target.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ pagination.pagination(page, last, 'rollback', {'application': application.id, 'target': target.id}) }}

{% endblock %}
