{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.git.twig' as git_macros %}

{% set page_title = 'Select Deployment Environment : ' ~ build.id %}

{% block content %}
    <div class="nav--page">
        <h1>Select Environment - <b>{{ build.application.name }}</b></h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('application.dashboard', {'application': build.application.id}) }}">Back to Application Dashboard</a>
        </p>
    </div>

    {{ block('meta_details') }}
{% endblock %}

{% block meta_details %}
    <div class="details-box">
        <ul class="mbn">
            <li>
                <h6>Application</h6>
                <a href="{{ uriFor('application', {'application': build.application.id}) }}">{{ build.application.name }}</a>
            </li>

            <li>
                <h6>Build ID</h6>
                <a href="{{ uriFor('build', {'build': build.id}) }}">{{ build.id|formatBuildId }}</a>
            </li>

        </dl>
    </div>

    <h2>Git Reference</h2>

    <div class="details-box">
        <ul class="mbn">
            <li>
                <h6>Reference</h6>
                {% set isCurrent = githubCommitIsCurrent(build.application.githubOwner, build.application.githubRepo, build.branch, build.commit) %}
                {{ git_macros.gitref(build, false, isCurrent) }}
            </li>

            <li>
                <h6>Commit</h6>
                {{ git_macros.gitcommit(build) }}
            </li>
        </dl>
    </div>

    <h2 class="mbn">Select An Environment</h2>
    <p><span>This is a global build. You must select an environment to deploy it.</span></p>

    {{ block('env_picker') }}
{% endblock %}

{% block env_picker %}
    {% set env_count = environments|length %}
    {# Only allow environment switching if has multiple env #}
    <ul class="list--bullet">
        {% for environment in environments %}
            <li>
                <a class="btn" href="{{ uriFor('release.start', {'build': build.id}, {'environment': environment.id}) }}">
                    {% if environment.isProduction %}
                        {{ macros.icon('key') }}
                    {% endif %}
                    {{ environment.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
