{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.git.twig' as git_macros %}
{% import 'macros.form.twig' as form_macros %}
{% import 'macros.start_deployment.twig' as deploy_macros %}

{% set js_components = ['start_deployment'] %}

{% set page_title = 'Start Deployment' %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }}</h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('application.dashboard', {'application': build.application.id}) }}">Back to Application Dashboard</a>
        </p>
    </div>

    {{ block('meta') }}

    {% if selected_environment %}
        {{ block('deploy_form') }}
    {% else %}
        <h2>Select An Environment</h2>
        {{ block('env_picker') }}
    {% endif %}

{% endblock %}

{% block meta %}
    <ul class="meta-box">
        <li>
            <h6>Application</h6>
            {{ build.application.name }}
        </li>

        <li>
            <h6>Environment</h6>
            {% if selected_environment %}
                {{ selected_environment.name }}
                {% if not build.environment %}
                    <small>(<a href="{{ uriFor('release.start', {build: build.id}) }}">Change environment</a>)</small>
                {% endif %}
            {% else %}
                Select an environment
            {% endif %}
        </li>
    </ul>

    <h2>Build to be Deployed</h2>
    <ul class="meta-box">
        <li>
            <h6>Build ID</h6>
            <a href="{{ uriFor('build', {'build': build.id}) }}">{{ build.id|shortGUID }}</a>
        </li>

        <li>
            <h6>Source Code</h6>
            {% set is_gitref_current = githubCommitIsCurrent(build.application.github.owner, build.application.github.repository, build.reference, build.commit) %}
            {{ git_macros.gitref(build, false, is_gitref_current) }}
            ({{ git_macros.gitcommit(build) }})
        </li>

        <li>
            <h6>Time</h6>
            {{ build.end|html5date ?: 'N/A' }}
        </li>
    </ul>
{% endblock %}

{% block env_picker %}
    <p>
        This build can be deployed to any environment. You must select an environment to deploy it.
    </p>

    <ul class="list--bare">
        {% for env in environments %}
            <li>
                <a class="btn" href="{{ uriFor('release.start', {'build': build.id}, {'environment': env.id}) }}">
                    {% if env.isProduction %}
                        {{ macros.icon('key') }}
                    {% endif %}
                    {{ env.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block deploy_form %}

    {% if statuses %}

        <p>
            This build can be released to the following targets for this environment.
            Please review the current state of each configured target below before selecting
            where you wish to deploy to.
        </p>

        {{ form_macros.formErrors(errors) }}

        {% set pushables = 0 %}
        {% set canUserPush = current_authorizations.canDeploy(build.application, selected_environment) %}

        {% for status in statuses %}
            {% set inProgress = status.latest.status in ['pending', 'running', 'deploying'] %}
            {% set needsCredentials = status.target.group.isAWS and not status.target.credential %}

            {% if canUserPush and not inProgress and not needsCredentials %}
                {% set pushables = pushables + 1 %}
            {% endif %}
        {% endfor %}


        <h2>Select Targets to be Deployed</h2>
        {{ block('push_form_table') }}

    {% else %}
        {{ macros.alert('error', 'This build cannot be deployed!', 'There are no deployments assigned to this environment.') }}

        <p>
            <a class="btn btn--secondary" href="{{ uriFor('application.dashboard', {'application': build.application.id}) }}">Cancel</a>
        </p>

    {% endif %}

{% endblock %}

{% block push_form_table %}
    <form method="post">
        <table class="table--spacing-medium">
            <thead>
                <tr>
                    <th>Target</th>
                    <th class="t30">Last Code Deployed</th>
                    <th class="t30">Last Deployed On</th>
                    <th class="t15"></th>
                </tr>
            </thead>

            <tbody>
                {% for status in statuses %}
                    {{ deploy_macros.render_deployment_row(status.target, status.release, selected, canUserPush, true) }}
                {% endfor %}
            </tbody>
        </table>

        <ul class="list--bare">
            <li>
                {% if pushables %}
                    <input class="btn btn--action" type="submit" value="Deploy this Build" name="submit">
                {% else %}
                    {{ macros.disabled_button('Deploy this Build') }}
                {% endif %}
            </li>
            <li>
                <a class="btn" href="{{ uriFor('application.dashboard', {'application': build.application.id}) }}">Cancel</a>
            </li>
        </ul>

    </form>
{% endblock %}
