{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.git.twig' as git_macros %}
{% import 'macros.form.twig' as form_macros %}
{% import 'release/macros.start_deploy.twig' as deploy_macros %}

{% set js_components = ['start_deployment'] %}

{% set page_title = 'Start Deployment' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('applications') }}">Applications</a></li>
    <li><a href="{{ uriFor('application', {'application': application.id}) }}">{{ application.name }}</a></li>
    <li><a href="{{ uriFor('application.dashboard', {'application': application.id}) }}">Dashboard</a></li>
{% endblock %}

{% block content %}
    {{ block('meta') }}

    {% if selected_environment %}
        {{ block('deploy_form') }}
    {% else %}
        <h2>Select An Environment</h2>
        {{ block('env_picker') }}
    {% endif %}

{% endblock %}

{% block meta %}
    <ul class="meta-box">
        <li>
            <h6>Application</h6>
            {{ build.application.name }}
        </li>

        <li>
            <h6>Environment</h6>
            {% if selected_environment %}
                {{ selected_environment.name }}
                {% if not build.environment %}
                    <small>(<a href="{{ uriFor('release.start', {build: build.id}) }}">Change environment</a>)</small>
                {% endif %}
            {% else %}
                Select an environment
            {% endif %}
        </li>
    </ul>

    <h2>Build to be Deployed</h2>
    <ul class="meta-box">
        <li>
            <h6>Build ID</h6>
            <a href="{{ uriFor('build', {'build': build.id}) }}">{{ build.id|short_guid }}</a>
        </li>

        {# todo #}
        {% set is_gitref_current = githubCommitIsCurrent(build.application, build.reference, build.commit) %}
        {# todo #}

        <li>
            <h6>Version Control</h6>
            {{ git_macros.vcs_ref(build.application, build) }}
            {{ git_macros.vcs_commit(build.application, build) }}
        </li>

        <li>
            <h6>Started</h6>
            {{ build.created|html5date }}
            by
            {{ macros.user_display_link(build.user) }}
        </li>
    </ul>
{% endblock %}

{% block env_picker %}
    <p>
        This build can be deployed to any environment. You must select an environment to deploy it.
    </p>

    <p>
        {% for env in environments %}
            <a class="btn" href="{{ uriFor('release.start', {'build': build.id}, {'environment': env.id}) }}">
                {% if env.isProduction %}
                    {{ macros.icon('key') }}
                {% endif %}
                {{ env.name }}
            </a>
        {% endfor %}
    </p>
{% endblock %}

{% block deploy_form %}

    {% if targets %}

        <p>
            This build can be released to the following targets for this environment.
            Please review the current state of each configured target below before selecting
            where you wish to deploy to.
        </p>

        {{ form_macros.form_errors(errors, is_csrf_error) }}

        {% set pushables = 0 %}
        {% set can_user_deploy = current_authorizations.canDeploy(build.application, selected_environment) %}

        {% for target in targets %}
            {% set needs_credentials = target.isAWS and not target.credential %}

            {% if can_user_deploy and not target.lastJob.inProgress() and not needs_credentials %}
                {% set pushables = pushables + 1 %}
            {% endif %}
        {% endfor %}

        <h2>Select Targets to be Deployed</h2>
        {{ block('select_deploy_targets') }}

    {% else %}
        {{ macros.alert('error', 'This build cannot be deployed!', 'There are no deployments assigned to this environment.') }}

        <p>
            <a href="{{ uriFor('application.dashboard', {'application': build.application.id}) }}">Return to application dashboard</a>
        </p>

    {% endif %}

{% endblock %}

{% block select_deploy_targets %}
    <form method="post">
        {{ form_macros.csrf_input('release.start') }}

        <table class="table--spacing-medium">
            <thead>
                <tr>
                    <th>Target</th>
                    <th class="t30">Last Code Deployed</th>
                    <th class="t30">Last Deployed On</th>
                    <th class="t15"></th>
                </tr>
            </thead>

            <tbody>
                {% for target in targets %}
                    {{ deploy_macros.render_deployment_row(target, target.lastJob, selected, can_user_deploy, true) }}
                {% endfor %}
            </tbody>
        </table>

        <p>
            {% if pushables %}
                <button class="btn btn--action" type="submit">Deploy this Build</button>
            {% else %}
                {{ macros.disabled_button('Deploy this Build') }}
            {% endif %}

            <a href="{{ uriFor('application.dashboard', {'application': build.application.id}) }}">Cancel</a>
        </p>

    </form>
{% endblock %}
