{% extends 'base.html.twig' %}
{% import 'partials/pagination.twig' as pagination %}

{% set page_title = repo.name ~ " Push History" %}

{% block content %}
    <p><a class="btn btn--small btn--back" href="{{ urlFor('repository.status', {'id': repo.id}) }}">Back to Repository Status</a></p>

    <h2>Push History for <strong>{{ repo.name }}</strong></h2>

    {{ block('search') }}

    {% include 'partials/push-table.twig' with {'pushes': pushes} %}

    {{ pagination.pagination(page, last, 'push.history', {'id': repo.id}, {search: search_filter}) }}

{% endblock %}

{% block search %}
    <h4>Search by reference:</h4>
    <form method="get" class="search-filter">
        <input
            class="text-input"
            type="text"
            name="search"
            autocomplete="off"
            value="{{ search_filter }}"
            placeholder="Valid search queries: Branch name, commit SHA, pull/#, tag/#">

        <input class="btn" type="submit" value="Filter">

        {% if search_filter %}
            <a class="btn btn--action" href="{{ urlFor('push.history.page1', {id: repo.id}) }}">Reset</a>
        {% endif %}
    </form>
{% endblock %}
