{% extends 'base.twig' %}
{% import '_partial/pagination.twig' as pagination %}
{% set js_components = ["job.updater"] %}

{% set page_title = "Push History : " ~ application.name %}

{% block content %}
    <p><a class="btn btn--small btn--back" href="{{ uriFor('application.status', {'application': application.id}) }}">Back to Application Status</a></p>

    <h1>Push History - <strong>{{ application.name }}</strong></h1>

    {{ block('search') }}

    {% include '_partial-job/push-table.twig' with {'pushes': pushes} only %}

    {{ pagination.pagination(page, last, 'push.history', {'application': application.id}, {search: search_filter}) }}

{% endblock %}

{% block search %}
    <h3>Search by reference:</h3>
    <form method="get" class="search-filter">
        <input
            class="text-input"
            type="text"
            name="search"
            autocomplete="off"
            value="{{ search_filter }}"
            placeholder="Examples: Branch name, commit SHA, pull/#, tag/# or env:$ENV_NAME">

        <input class="btn" type="submit" value="Filter">

        {% if search_filter %}
            <a class="btn btn--action" href="{{ uriFor('push.history.page1', {'application': application.id}) }}">Reset</a>
        {% endif %}
    </form>
{% endblock %}
