{% extends 'base.html.twig' %}
{% import '_partial/macros.twig' as macros %}
{% set js_components = ["push.info"] %}

{% set page_title = "Push Information" %}

{% block content %}

    <p><a class="btn btn--small btn--back" href="{{ urlFor('repository.status', {'id': push.repository.id}) }}">Back to Repository Status</a></p>

    <h2>Push Information</h2>

    <h4>Push Details</h4>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Id</dt>
            <dd>{{ push.id }}</dd>

            <dt class="split__title">Short Id</dt>
            <dd>{{ push.id|formatPushId }}</dd>

            <dt class="split__title">Server</dt>
            <dd>
                {% if push.deployment %}
                    <a href="{{ urlFor('server', {'id': push.deployment.server.id}) }}">{{ push.deployment|formatDeploymentServer }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </dd>

            <dt class="split__title">
                {{ push.deployment|formatDeploymentDetailsLabel }}
            </dt>
            <dd>
                <code>{{ push.deployment|formatDeploymentDetails }}</code>
            </dd>

            {% if push.deployment and push.deployment.url %}
                <dt class="split__title">URL</dt>
                <dd>
                    <a href="{{ push.deployment.url.asString }}">{{ push.deployment.url.asString }}</a>
                </dd>
            {% endif %}
        </dl>
    </div>

    <h4>Build Details</h4>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Build Id</dt>
            <dd>
                <a href="{{ urlFor('build', {'build': push.build.id}) }}">{{ push.build.id|formatBuildId }}</a>
                {% if (push.build.status == 'Removed') %}
                    (Removed)
                {% endif %}
            </dd>

            <dt class="split__title">Repository</dt>
            <dd>
                <a href="{{ urlFor('repository', {'id': push.repository.id}) }}">{{ push.repository.name }}</a>
            </dd>

            <dt class="split__title">Environment</dt>
            <dd>{{ push.build.environment.key }}</dd>

            <dt class="split__title">Reference</dt>
            <dd>
                {% if githubCommitIsCurrent(push.repository.githubUser, push.repository.githubRepo, push.build.branch, push.build.commit) %}
                    {{ macros.status_icon(macros.gitref(push.build) ~ ' (latest)', 'success') }}
                {% else %}
                    {{ macros.status_icon(macros.gitref(push.build) ~ ' (behind)', 'other') }}
                {% endif %}
            </dd>

            <dt class="split__title">Commit</dt>
            <dd>
                {{ macros.gitcommit(push.build) }}
            </dd>
        </dl>
    </div>

    <h4>Push Status</h4>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Status</dt>
            <dd>{{ macros.job_status(push, true) }}</dd>

            <dt class="split__title">Time</dt>
            <dd class="js-push-start">{{ push.start|html5date }}</dd>

            <dt class="split__title">Duration</dt>
            <dd class="js-push-duration">
                {% if push.start and push.end %}
                    {{ html5duration(push.start, push.end) }}
                {% endif %}
            </dd>

            <dt class="split__title">Initiator</dt>
            <dd>
                {% if push.user %}
                    <a href="{{ urlFor('user', {'id': push.user.id}) }}">{{ push.user.name }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </dd>
        </dl>
    </div>

    <h4>Event Log</h4>
    {% if push.logs.isEmpty %}
        <p>No push events found.</p>
    {% else %}
        {% include '_partial/log-table.twig' with {'logs': push.logs} %}
    {% endif %}

{% endblock %}
