{% extends 'base.html.twig' %}
{% import '_partial/macros.twig' as macros %}
{% set js_components = ["push.info"] %}

{% set page_title = "Push : " ~ push.application.name %}

{% block content %}

    <div class="nav--page">
        <h1>Push - <strong>{{ push.application.name }}</strong></h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ urlFor('application.status', {'application': push.application.id}) }}">Back to Application Status</a>
        </p>
    </div>

    <h2>Push Details</h2>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Id</dt>
            <dd>{{ push.id }}</dd>

            <dt class="split__title">Short Id</dt>
            <dd>{{ push.id|formatPushId }}</dd>

            <dt class="split__title">Server</dt>
            <dd>
                {% if push.deployment %}
                    <a href="{{ urlFor('server', {'server': push.deployment.server.id}) }}">{{ push.deployment.formatPretty }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </dd>

            <dt class="split__title">
                {{ push.deployment|formatDeploymentDetailsLabel }}
            </dt>
            <dd>
                <code>{{ push.deployment.formatMeta }}</code>
            </dd>

            {% if push.deployment and push.deployment.url %}
                <dt class="split__title">URL</dt>
                <dd>
                    <a href="{{ push.deployment.url }}">{{ push.deployment.url }}</a>
                </dd>
            {% endif %}
        </dl>
    </div>

    <h2>Build Details</h2>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Build Id</dt>
            <dd>
                <a href="{{ urlFor('build', {'build': push.build.id}) }}">{{ push.build.id|formatBuildId }}</a>
                {% if (push.build.status == 'Removed') %}
                    (Removed)
                {% endif %}
            </dd>

            <dt class="split__title">Application</dt>
            <dd>
                <a href="{{ urlFor('application', {'application': push.application.id}) }}">{{ push.application.name }}</a>
            </dd>

            <dt class="split__title">Environment</dt>
            <dd>{{ push.build.environment.name }}</dd>

            <dt class="split__title">Reference</dt>
            <dd>
                {% set isCurrent = githubCommitIsCurrent(push.application.githubOwner, push.application.githubRepo, push.build.branch, push.build.commit) %}
                {{ macros.gitref(push.build, false, isCurrent) }}
            </dd>

            <dt class="split__title">Commit</dt>
            <dd>
                {{ macros.gitcommit(push.build) }}
            </dd>
        </dl>
    </div>

    <h2>Push Status</h2>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Status</dt>
            <dd>{{ macros.job_status(push, true) }}</dd>

            <dt class="split__title">Time</dt>
            <dd class="js-push-start">{{ push.start|html5date }}</dd>

            <dt class="split__title">Duration</dt>
            <dd class="js-push-duration">
                {% if push.start and push.end %}
                    {{ html5duration(push.start, push.end) }}
                {% endif %}
            </dd>

            <dt class="split__title">User</dt>
            <dd>
                {% if push.user %}
                    <a href="{{ urlFor('user', {'user': push.user.id}) }}">{{ push.user.name }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </dd>
        </dl>
    </div>

    <h2>Event Log</h2>
    {% include '_partial/log-table.twig' with { logs: logs, canLoad: push.isFinished } %}

{% endblock %}
