{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% set js_components = ["push.info"] %}

{% set page_title = "Release : " ~ push.application.name %}

{% block content %}

    <div class="nav--page">
        <h1>Push - <b>{{ push.application.name }}</b></h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('application.dashboard', {'application': push.application.id}) }}">Back to Application Dashboard</a>
        </p>
    </div>

    <h2>Push Details</h2>

    <div class="details-box">
        <ul class="mbn">
            <li>Id</li>
            <li>{{ push.id }}</li>

            <li>Short Id</li>
            <li>{{ push.id|formatPushId }}</li>

            <li>Server</li>
            <li>
                {% if push.deployment %}
                    <a href="{{ uriFor('server', {'server': push.deployment.server.id}) }}">{{ push.deployment.formatPretty }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </li>

            <li>
                Parameters
            </li>
            <li>
                {{ push.deployment.formatParameters }}
            </li>

            {% if push.deployment and push.deployment.url %}
                <li>URL</li>
                <li>
                    <a href="{{ push.deployment.url }}">{{ push.deployment.url }}</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <h2>Build Details</h2>

    <div class="details-box">
        <ul class="mbn">
            <li>Build Id</li>
            <li>
                <a href="{{ uriFor('build', {'build': push.build.id}) }}">{{ push.build.id|formatBuildId }}</a>
                {% if (push.build.status == 'Removed') %}
                    (Removed)
                {% endif %}
            </li>

            <li>Application</li>
            <li>
                <a href="{{ uriFor('application', {'application': push.application.id}) }}">{{ push.application.name }}</a>
            </li>

            <li>Environment</li>
            <li>{{ push.build.environment.name }}</li>

            <li>Reference</li>
            <li>
                {% set isCurrent = githubCommitIsCurrent(push.application.githubOwner, push.application.githubRepo, push.build.branch, push.build.commit) %}
                {{ macros.gitref(push.build, false, isCurrent) }}
            </li>

            <li>Commit</li>
            <li>
                {{ macros.gitcommit(push.build) }}
            </li>
        </ul>
    </div>

    <h2>Push Status</h2>

    <div class="details-box">
        <ul class="mbn">
            <li>Status</li>
            <li>{{ macros.job_status(push, true) }}</li>

            <li>Time</li>
            <dd class="js-push-start">{{ push.start|html5date }}</li>

            <li>Duration</li>
            <dd class="js-push-duration">
                {% if push.start and push.end %}
                    {{ html5duration(push.start, push.end) }}
                {% endif %}
            </li>

            <li>User</li>
            <li>
                {% if push.user %}
                    <a href="{{ uriFor('user', {'user': push.user.id}) }}">{{ push.user.name }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </li>
        </ul>
    </div>

    <h2>Push Events</h2>
    {% include 'build/partial.event-table.twig' with {logs: logs, canLoad: push.isFinished } only %}

{% endblock %}
