{% extends 'base.html.twig' %}
{% import 'partials/pagination.twig' as pagination %}
{% import 'partials/macros.twig' as macros %}

{% set page_title = "Push history for " ~ repo.name %}

{% block content %}
    <p><a class="btn--small btn--back" href="{{ urlFor('repository.status', {'id': repo.id}) }}">Back to Repository Status</a></p>

    {% set server = deployment|formatDeploymentServer %}
    {% set deployment_details = deployment|formatDeploymentDetails %}
    {% set deployment_label = deployment|formatDeploymentDetailsLabel %}

    <h2>Push history for <strong>{{ repo.name }}</strong> to <strong>{{ server }}</strong></h2>

    <h3>Deployment Information</h3>
    <div class="details-box">
        <dl class="split--left mbn">

            <dt class="split--left__title">Environment</dt>
            <dd class="split--left__value">
                <a href="{{ urlFor('environment', {'id': deployment.server.environment.id}) }}">{{ deployment.server.environment.key }}</a>
            </dd>

            <dt class="split--left__title">Server</dt>
            <dd class="split--left__value">
                <a href="{{ urlFor('server', {'id': deployment.server.id}) }}">{{ server }}</a>
            </dd>

            <dt class="split--left__title">{{ deployment_label }}</dt>
            <dd class="split--left__value"><code>{{ deployment_details }}</code></dd>

            {% if deployment.url %}
                <dt class="split--left__title">URL</dt>
                <dd class="split--left__value">
                    <a href="{{ deployment.url.asString }}">{{ deployment.url.asString }}</a>
                </dd>
            {% endif %}
        </dl>
    </div>

    <p>
        This table shows the push history for this deployment.
        To rollback, simply choose a build, click <strong>rollback</strong>, and you'll be able to initate a new push.
    </p>

    {% set canRollback = canUserPush(currentUser, repo.key, deployment.server.environment.key) %}

    <h3>Push History</h3>
    <table data-tablesaw-mode="stack">
        <thead>
            <tr>
                <th>Build</th>
                <th>Push</th>
                <th class="table-priority-45">Reference</th>
                <th class="table-priority-50">Commit</th>
                <th>Pushed</th>
                <th>Initiator</th>
                {% if canRollback %}
                    <th class="t10"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for push in pushes %}
            <tr>
                <td><a href="{{ urlFor('build', {'build': push.build.id}) }}">{{ push.build.id|formatBuildId }}</a></td>
                <td>
                    {% set statusClass = 'status-before--other' %}
                    {% if push.status == 'Success' %}
                        {% set statusClass = 'status-before--success' %}
                    {% elseif push.status == 'Error' %}
                        {% set statusClass = 'status-before--error' %}
                    {% endif %}
                    <span class="{{ statusClass }}">
                        Push <a href="{{ urlFor('push', {'push': push.id}) }}">{{ push.id|formatPushId }}</a>
                    </span>
                </td>

                <td class="table-priority-45">
                    {{ macros.gitref(push.build, true) }}
                </td>
                <td class="table-priority-50">
                    {{ macros.gitcommit(push.build) }}
                </td>
                <td>{{ push.end|html5date }}</td>
                <td>
                    {% if push.user %}
                        <a href="{{ urlFor('user', {'id': push.user.id}) }}">{{ push.user.handle }}</a>
                    {% elseif push.consumer %}
                        {{ push.consumer.name|sliceString }}
                    {% else %}
                        Unknown
                    {% endif %}
                </td>

                {% if canRollback %}
                    <td>
                        {% if push.build.status == 'Removed' %}
                            Removed
                        {% elseif push.status == 'Success'%}
                            <a class="btn btn--tiny" href="{{ urlFor('push.start', {'build': push.build.id}, {deployment: deployment.id}) }}">Rollback</a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
            {% else %}
            <tr>
                <td colspan="{{ canRollback ? 6 : 5 }}">
                    There is no push history for this deployment.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ pagination.pagination(page, last, 'rollback', {'id': repo.id, 'deployment': deployment.id}) }}

{% endblock %}
