{% extends 'base.html.twig' %}
{% import '_partial/pagination.twig' as pagination %}
{% import '_partial/macros.twig' as macros %}

{% set page_title = "Push History : " ~ application.name %}

{% block content %}
    <p><a class="btn btn--small btn--back" href="{{ urlFor('application.status', {'application': application.id}) }}">Back to Application Status</a></p>

    {% set server = deployment|formatDeploymentServer %}
    {% set deployment_details = deployment|formatDeploymentDetails %}
    {% set deployment_label = deployment|formatDeploymentDetailsLabel %}

    <h1>Push History - <strong>{{ application.name }}</strong> to <strong>{{ server }}</strong></h1>

    <h2>Deployment Details</h2>
    <div class="details-box">
        <dl class="split mbn">

            <dt class="split__title">Environment</dt>
            <dd>
                <a href="{{ urlFor('environment', {'id': deployment.server.environment.id}) }}">{{ deployment.server.environment.name }}</a>
            </dd>

            <dt class="split__title">Server</dt>
            <dd>
                <a href="{{ urlFor('server', {'server': deployment.server.id}) }}">{{ server }}</a>
            </dd>

            <dt class="split__title">{{ deployment_label }}</dt>
            <dd><code>{{ deployment_details }}</code></dd>

            {% if deployment.url %}
                <dt class="split__title">URL</dt>
                <dd>
                    <a href="{{ deployment.url }}">{{ deployment.url }}</a>
                </dd>
            {% endif %}
        </dl>
    </div>

    <p>
        This table shows the push history for this deployment.
        To rollback, simply choose a build, click <strong>rollback</strong>, and you'll be able to initate a new push.
    </p>

    {% set canRollback = canUserPush(currentUser, application, deployment.server.environment) %}

    <h2>Push History</h2>
    <table class="table--spacing-medium" data-tablesaw-mode="stack">
        <thead>
            <tr>
                <th>Build</th>
                <th>Push</th>
                <th class="table-priority-45">Reference</th>
                <th class="table-priority-50">Commit</th>
                <th>Pushed</th>
                <th>User</th>
                {% if canRollback %}
                    <th class="t10"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for push in pushes %}
            <tr>
                <td><a href="{{ urlFor('build', {'build': push.build.id}) }}">{{ push.build.id|formatBuildId }}</a></td>
                <td>
                    {% set statusClass = 'status-icon--info' %}
                    {% if push.status == 'Success' %}
                        {% set statusClass = 'status-icon--success' %}
                    {% elseif push.status == 'Error' %}
                        {% set statusClass = 'status-icon--error' %}
                    {% endif %}
                    <span class="{{ statusClass }}">
                        Push <a href="{{ urlFor('push', {'push': push.id}) }}">{{ push.id|formatPushId }}</a>
                    </span>
                </td>

                <td class="table-priority-45">
                    {{ macros.gitref(push.build, true) }}
                </td>
                <td class="table-priority-50">
                    {{ macros.gitcommit(push.build) }}
                </td>
                <td>{{ push.end|html5date }}</td>
                <td>
                    {% if push.user %}
                        <a href="{{ urlFor('user', {'user': push.user.id}) }}">{{ push.user.handle }}</a>
                    {% else %}
                        Unknown
                    {% endif %}
                </td>

                {% if canRollback %}
                    <td class="tr">
                        {% if push.build.status == 'Removed' %}
                            Removed
                        {% elseif push.status == 'Success'%}
                            <a class="btn btn--tiny" href="{{ urlFor('push.start', {'build': push.build.id}, {deployment: deployment.id}) }}">Rollback</a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
            {% else %}
            <tr>
                <td colspan="{{ canRollback ? 6 : 5 }}">
                    There is no push history for this deployment.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ pagination.pagination(page, last, 'rollback', {'application': application.id, 'deployment': deployment.id}) }}

{% endblock %}
