{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.form.twig' as form_macros %}
{% import 'macros.start-deploy.twig' as deploy_macros %}

{% set js_components = ["push.start"] %}

{% set page_title = "Start Push : " ~ build.id %}

{% block content %}
    <div class="nav--page">
        <h1>Start Push - <b>{{ build.application.name }}</b></h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('application.dashboard', {'application': build.application.id}) }}">Back to Application Dashboard</a>
        </p>
    </div>

    {{ block('meta_details') }}

    {% if statuses %}

        <p>
            This build can be pushed to the following servers. Please review the current status of each server below
            before selecting which servers you wish to deploy to.
        </p>

        {{ form_macros.formErrors(errors) }}

        {% set pushables = 0 %}
        {% set canUserPush = canUserPush(current_user, build.application, build.environment) %}

        {% for status in statuses %}
            {% set inProgress = status.latest.status in ['Waiting', 'Pushing'] %}
            {% set needsCredentials = status.deployment.server.isAWS() and not status.deployment.credential %}

            {% if canUserPush and not inProgress and not needsCredentials %}
                {% set pushables = pushables + 1 %}
            {% endif %}
        {% endfor %}

        {{ block('push_form_table') }}

    {% else %}
        {{ macros.alert('error', 'This build cannot be deployed!', 'There are no deployments assigned to this environment.') }}

        <p>
            <a class="btn btn--secondary" href="{{ uriFor('application.dashboard', {'application': build.application.id}) }}">Cancel</a>
        </p>

    {% endif %}

{% endblock %}

{% block meta_details %}
    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Application</dt>
            <dd>
                <a href="{{ uriFor('application', {'application': build.application.id}) }}">{{ build.application.name }}</a>
            </dd>

            <dt class="split__title">Environment</dt>
            <dd>{{ build.environment.name }}</dd>
        </dl>
    </div>

    <h2>Build</h2>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Build Id</dt>
            <dd>
                <a href="{{ uriFor('build', {'build': build.id}) }}">{{ build.id|formatBuildId }}</a>
            </dd>

            <dt class="split__title">User</dt>
            <dd>
                {% if build.user %}
                    <a href="{{ uriFor('user', {'user': build.user.id}) }}">{{ build.user.name }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </dd>

            <dt class="split__title">Time</dt>
            <dd>{{ build.end|html5date }}</dd>
        </dl>
    </div>

    <h2>Git Reference</h2>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Reference</dt>
            <dd>
                {% set isCurrent = githubCommitIsCurrent(build.application.githubOwner, build.application.githubRepo, build.branch, build.commit) %}
                {{ macros.gitref(build, false, isCurrent) }}
            </dd>

            <dt class="split__title">Commit</dt>
            <dd>{{ macros.gitcommit(build) }}</dd>
        </dl>
    </div>
{% endblock %}

{% block push_form_table %}
    <form method="post">
        <table class="table--spacing-large table--striped" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Deployment</th>
                    <th>Code Reference</th>
                    <th>Last Pushed</th>
                    <th>
                        <p class="js-toggle-container mvn tr"></p>
                        <span class="tablesaw-collapse">Deploy?</span>
                    </th>
                </tr>
            </thead>

            <tbody class="table-breathe">
                {% for status in statuses %}
                    {{ deploy_macros.render_deployment_row(status.deployment, status.push, selected, canUserPush, true) }}
                {% endfor %}
            </tbody>
        </table>

        <ul class="button-list button-list--half">
            {% if pushables %}
                <li><input class="btn btn--action" type="submit" value="Push To Selected Servers" name="submit">
            {% endif %}
            <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ uriFor('application.dashboard', {'application': build.application.id}) }}">Cancel</a></li>
        </ul>

    </form>
{% endblock %}

