{% extends 'base.html.twig' %}
{% import '_partial/macros.twig' as macros %}
{% import '_partial-form/macros.twig' as form_macros %}
{% import _self as page_macros %}
{% set js_components = ["push.start"] %}

{% set page_title = "Start Push : " ~ build.id %}

{% block content %}
    <div class="nav--page">
        <h1>Start Push - <strong>{{ build.application.name }}</strong></h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ urlFor('application.status', {'application': build.application.id}) }}">Back to Application Status</a>
        </p>
    </div>

    {{ block('meta_details') }}

    {% if statuses %}

        <p>
            This build can be pushed to the following servers. Please review the current status of each server below
            before selecting which servers you wish to deploy to.
        </p>

        {{ form_macros.formErrors(errors) }}

        {% set pushables = 0 %}
        {% set canUserPush = canUserPush(currentUser, build.application, build.environment) %}

        {% for status in statuses %}
            {% set inProgress = status.latest.status in ['Waiting', 'Pushing'] %}
            {% set needsCredentials = status.deployment.server.type != 'rsync' and not status.deployment.credential %}

            {% if canUserPush and not inProgress and not needsCredentials %}
                {% set pushables = pushables + 1 %}
            {% endif %}
        {% endfor %}

        {{ block('push_form_table') }}

    {% else %}
        {{ macros.alert('error', 'This build cannot be deployed!', 'There are no deployments assigned to this environment.') }}

        <p>
            <a class="btn btn--secondary" href="{{ urlFor('application.status', {'application': build.application.id}) }}">Cancel</a>
        </p>

    {% endif %}

{% endblock %}

{% block meta_details %}
    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Application</dt>
            <dd>
                <a href="{{ urlFor('application', {application: build.application.id}) }}">{{ build.application.name }}</a>
            </dd>

            <dt class="split__title">Environment</dt>
            <dd>{{ build.environment.name }}</dd>
        </dl>
    </div>

    <h2>Build</h2>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Build Id</dt>
            <dd>
                <a href="{{ urlFor('build', {build: build.id}) }}">{{ build.id|formatBuildId }}</a>
            </dd>

            <dt class="split__title">User</dt>
            <dd>
                {% if build.user %}
                    <a href="{{ urlFor('user', {'user': build.user.id}) }}">{{ build.user.name }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </dd>

            <dt class="split__title">Time</dt>
            <dd>{{ build.end|html5date }}</dd>
        </dl>
    </div>

    <h2>Git Reference</h2>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Reference</dt>
            <dd>
                {% set isCurrent = githubCommitIsCurrent(build.application.githubOwner, build.application.githubRepo, build.branch, build.commit) %}
                {{ macros.gitref(build, false, isCurrent) }}
            </dd>

            <dt class="split__title">Commit</dt>
            <dd>{{ macros.gitcommit(build) }}</dd>
        </dl>
    </div>
{% endblock %}

{% block push_form_table %}
    <form method="post">
        <table class="table--spacing-large table--striped" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Deployment</th>
                    <th>Reference</th>
                    <th>Commit</th>
                    <th>Last Pushed</th>
                    <th>Pushed By</th>
                    <th>
                        <p class="js-toggle-container mvn tr"></p>
                        <span class="tablesaw-collapse">Deploy?</span>
                    </th>
                </tr>
            </thead>

            {% if selected_view and views[selected_view] %}
                {{ page_macros.pooled_statuses(views, selected_view, statuses, selected, canUserPush) }}
            {% else %}
                <tbody class="table-breathe">
                    {% for status in statuses %}
                        {{ page_macros.render_deployment_row(status.deployment, status.push, selected, canUserPush) }}
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>

        <ul class="button-list button-list--half">
            {% if pushables %}
                <li><input class="btn btn--action" type="submit" value="Push To Selected Servers" name="submit">
            {% endif %}
            <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('application.status', {'application': build.application.id}) }}">Cancel</a></li>
        </ul>

    </form>
{% endblock %}

{% macro pooled_statuses(views, selected_view, statuses, selected, canUserPush) %}
    {% import _self as macros %}

    {% set all_pooled = [] %}
    {% set unpooled = [] %}

    {# empty pools have already been removed by the backend #}
    {% for pool in views[selected_view].pools %}

        {% set pooled = [] %}
        {% for status in statuses if status.deployment.id in pool.deployments %}
            {% set pooled = pooled|merge([status]) %}
            {% set all_pooled = all_pooled|merge([status.deployment.id]) %}
        {% endfor %}

        {% if pooled %}

            <tbody class="table-breathe">
                <tr>
                    <th colspan="6" class="table-mid-header">{{ pool.name }}</th>
                </tr>

                {% for status in pooled %}
                    {{ macros.render_deployment_row(status.deployment, status.push, selected, canUserPush) }}
                {% endfor %}
            </tbody>

        {% endif %}

    {% endfor %}

    {# show unpooled grouping if some statuses didnt land in a pool #}
    {% for status in statuses %}
        {% if status.deployment.id not in all_pooled %}
            {% set unpooled = unpooled|merge([status]) %}
        {% endif %}
    {% endfor %}

    {% if unpooled %}
        <tbody class="table-breathe">
            <tr>
                <th colspan="6" class="table-mid-header">Unpooled</th>
            </tr>

            {% for status in unpooled %}
                {{ macros.render_deployment_row(status.deployment, status.push, selected, canUserPush) }}
            {% endfor %}
        </tbody>

    {% endif %}
{% endmacro %}

{% macro render_deployment_row(deployment, push, selected, canUserPush) %}
    {% import '_partial/macros.twig' as macros %}

    {% set isSelected = (deployment.id == selected) %}
    {% set inProgress = push.status in ['Waiting', 'Pushing'] %}
    {% set needsCredentials = deployment.server.type != 'rsync' and not deployment.credential %}

    <tr>
        <td>
            <span class="tooltipped tooltipped-e" aria-label="{{ deployment.server.formatHumanType }}: {{ deployment.formatMeta }}">
                <a href="{{ urlFor('server', {'server': deployment.server.id}) }}">{{ deployment.formatPretty(false) }}</a>
            </span>
        </td>
        {% if push %}
            {% set build = push.build %}

            <td>
                {% set isCurrent = githubCommitIsCurrent(build.application.githubOwner, build.application.githubRepo, build.branch, build.commit) %}
                {{ macros.gitref(build, true, isCurrent) }}
            </td>
            <td>
                {{ macros.gitcommit(build) }}
            </td>
            <td>
                {% if inProgress %}
                    Now
                {% else %}
                    {{ push.created|html5date }}
                {% endif %}
                (Push <a href="{{ urlFor('push', {'push': push.id}) }}">{{ push.id|formatPushId }}</a>)
            </td>
            <td>
                {% if push.user %}
                    <a href="{{ urlFor('user', {'user': push.user.id}) }}">{{ push.user.handle }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </td>
        {% else %}

            {# No successful pushes #}
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        {% endif %}

        <td class="tr">
            {% if inProgress %}
                {{ macros.status('Please Wait', 'info', 'clock') }}

            {% elseif needsCredentials %}
                {{ macros.status('No Credentials', 'error', 'spam-2') }}

            {% elseif canUserPush %}
                <label class="neatbox mrn" for="sel-{{ deployment.id }}">
                    <input
                        type="checkbox"
                        class="js-pushable-deployment"
                        name="deployments[]"
                        id="sel-{{ deployment.id }}"
                        value="{{ deployment.id }}"{{ isSelected ? ' checked' : '' }}>
                    <b class="neatbox__check"></b>Push Now
                </label>
            {% else %}
                No Access
            {% endif %}
        </td>
    </tr>
{% endmacro %}

