{% extends 'base.html.twig' %}
{% import '_partial/macros.twig' as macros %}
{% import '_partial-form/macros.twig' as form_macros %}
{% set js_components = ["push.start"] %}

{% set page_title = "Start Push : " ~ build.id %}

{% block content %}
    <h1>Start Push - <strong>{{ build.application.name }}</strong></h1>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Application</dt>
            <dd>
                <a href="{{ urlFor('application', {application: build.application.id}) }}">{{ build.application.name }}</a>
            </dd>

            <dt class="split__title">Environment</dt>
            <dd>{{ build.environment.name }}</dd>
        </dl>
    </div>

    <h2>Build</h2>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Build Id</dt>
            <dd>
                <a href="{{ urlFor('build', {build: build.id}) }}">{{ build.id|formatBuildId }}</a>
            </dd>

            <dt class="split__title">User</dt>
            <dd>
                {% if build.user %}
                    <a href="{{ urlFor('user', {'user': build.user.id}) }}">{{ build.user.name }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </dd>

            <dt class="split__title">Time</dt>
            <dd>{{ build.end|html5date }}</dd>
        </dl>
    </div>

    <h2>Git Reference</h2>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Reference</dt>
            <dd>
                {% set isCurrent = githubCommitIsCurrent(build.application.githubOwner, build.application.githubRepo, build.branch, build.commit) %}
                {{ macros.gitref(build, false, isCurrent) }}
            </dd>

            <dt class="split__title">Commit</dt>
            <dd>{{ macros.gitcommit(build) }}</dd>
        </dl>
    </div>

    {% if statuses %}

        <p>
            This build can be pushed to the following servers. Please review the current status of each server below
            before selecting which servers you wish to deploy to.
        </p>

        {{ form_macros.formErrors(errors) }}

        <form method="post">
            <table class="table--spacing-large table--striped" data-tablesaw-mode="stack">
                <thead>
                    <tr>
                        <th>Server</th>
                        <th>Reference</th>
                        <th>Commit</th>
                        <th>Last Pushed</th>
                        <th>Pushed By</th>
                        <th>
                            <p class="js-toggle-container mvn tr"></p>
                            <span class="tablesaw-collapse">Deploy to Server?</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% set allowSubmit = false %}
                {% set canUserPush = canUserPush(currentUser, build.application, build.environment) %}

                {% for status in statuses %}

                    {% set inProgress = status.latest.status in ['Waiting', 'Pushing'] %}
                    {% set isSelected = (status.deployment.id == selected) %}

                    {% set needsCredentials = (status.deployment.server.type != 'rsync') %}

                    <tr>
                        <td>
                            <span class="tooltipped tooltipped-e" aria-label="{{ status.deployment|formatDeploymentDetails }}">
                                <a href="{{ urlFor('server', {'server': status.deployment.server.id}) }}">{{ status.deployment|formatDeploymentServer }}</a>
                            </span>
                        </td>
                        {% if inProgress or status.success %}
                            {% set active = inProgress ? status.latest : status.success %}

                            <td>
                                {% set isCurrent = githubCommitIsCurrent(build.application.githubOwner, build.application.githubRepo, active.build.branch, active.build.commit) %}
                                {{ macros.gitref(active.build, true, isCurrent) }}
                            </td>
                            <td>
                                {{ macros.gitcommit(active.build) }}
                            </td>
                            <td>
                                {% if inProgress %}
                                    Now
                                {% else %}
                                    {{ active.created|html5date }} (Push <a href="{{ urlFor('push', {'push': active.id}) }}">{{ active.id|formatPushId }}</a>)
                                {% endif %}
                            </td>
                            <td>
                                {% if active.user %}
                                    <a href="{{ urlFor('user', {'user': active.user.id}) }}">{{ active.user.name }}</a>
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                        {% else %}
                            {# No successful pushes #}
                            <td colspan="4">No successful pushes found.</td>
                        {% endif %}

                        <td class="tr">
                            {% if inProgress %}
                                {{ macros.status('Please Wait', 'info', 'clock') }}

                            {% elseif needsCredentials and not status.deployment.credential %}
                                {{ macros.status('No Credentials', 'error', 'spam-2') }}

                            {% elseif canUserPush %}
                                <label>Push Now <input type="checkbox" class="js-pushable-deployment" name="deployments[]" id="sel-{{ status.deployment.id }}" value="{{ status.deployment.id }}"{{ isSelected ? ' checked' : '' }}></label>
                                {% set allowSubmit = true %}
                            {% else %}
                                No Access
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul class="button-list button-list--half">
                {% if allowSubmit %}
                    <li><input class="btn btn--action" type="submit" value="Push To Selected Servers" name="submit">
                {% endif %}
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('application.status', {'application': build.application.id}) }}">Cancel</a></li>
            </ul>
        </form>
    {% else %}
        {{ macros.alert('error', 'This build cannot be deployed!', 'There are no deployments assigned to this environment.') }}

        <p>
            <a class="btn btn--secondary" href="{{ urlFor('application.status', {'application': build.application.id}) }}">Cancel</a>
        </p>

    {% endif %}

{% endblock %}
