{% extends 'base.html.twig' %}
{% import 'partials/macros.twig' as macros %}

{% set page_title = "Start Push: " ~ build.id %}

{% block content %}
    <p><a class="btn btn--small btn--back" href="{{ urlFor('repository.status', {'id': build.repository.id}) }}">Back to Repository Status</a></p>

    <h2>Push a build for <strong>{{ build.repository.name }}</strong></h2>

    <p>Please review the below build details before pushing.</p>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Build Id</dt>
            <dd>
                <a href="{{ urlFor('build', {build: build.id}) }}">{{ build.id|formatBuildId }}</a>
            </dd>

            <dt class="split__title">Repository</dt>
            <dd>
                <a href="{{ urlFor('repository', {id: build.repository.id}) }}">{{ build.repository.name }}</a>
            </dd>

            <dt class="split__title">Environment</dt>
            <dd>{{ build.environment.key }}</dd>

            <dt class="split__title">Reference</dt>
            <dd>
                {% if githubCommitIsCurrent(build.repository.githubUser, build.repository.githubRepo, build.branch, build.commit) %}
                    {{ macros.status_icon(macros.gitref(build), 'success') }}
                {% else %}
                    {{ macros.status_icon(macros.gitref(build), 'other') }}
                {% endif %}
            </dd>

            <dt class="split__title">Commit</dt>
            <dd>{{ macros.gitcommit(build) }}</dd>

            <dt class="split__title">Initiator</dt>
            <dd>
                {% if build.user %}
                    <a href="{{ urlFor('user', {'id': build.user.id}) }}">{{ build.user.name }}</a>
                {% elseif build.consumer %}
                    {{ build.consumer.name[:20] }}
                {% else %}
                    Unknown
                {% endif %}
            </dd>

            <dt class="split__title">Completed</dt>
            <dd>{{ build.end|html5date }}</dd>

        </dl>
    </div>

    <p>
        This build can be pushed to the following servers. Please review the current status of each server below
        before selecting which servers you wish to deploy to.
    </p>

    {% if errors %}
        <ul class="error-list">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if statuses %}
        <form method="post">
            <table class="table--spacing-medium" data-tablesaw-mode="stack">
                <thead>
                    <tr>
                        <th>Server</th>
                        <th>Reference</th>
                        <th>Commit</th>
                        <th>Last Pushed</th>
                        <th>Pushed By</th>
                        <th class="js-toggle-container"></th>
                    </tr>
                </thead>
                <tbody>
                {% set allowSubmit = false %}
                {% for status in statuses %}

                    {% set inProgress = status.latest.status in ['Waiting', 'Pushing'] %}
                    {% set isSelected = (status.deployment.id == selected) %}

                    <tr>
                        <td>
                            <a href="{{ urlFor('server', {'id': status.deployment.server.id}) }}">{{ status.deployment|formatDeploymentServer(true) }}</a>
                        </td>
                        {% if inProgress or status.success %}
                            {% set active = inProgress ? status.latest : status.success %}

                            <td>
                                {% if githubCommitIsCurrent(build.repository.githubUser, build.repository.githubRepo, active.build.branch, active.build.commit) %}
                                    {{ macros.status_icon(macros.gitref(active.build, true), 'success') }}
                                {% else %}
                                    {{ macros.status_icon(macros.gitref(active.build, true), 'other') }}
                                {% endif %}
                            </td>
                            <td>
                                {{ macros.gitcommit(active.build) }}
                            </td>
                            <td>
                                {% if inProgress %}
                                    Now
                                {% else %}
                                    {{ active.created|html5date }} (Push <a href="{{ urlFor('push', {'push': active.id}) }}">{{ active.id|formatPushId }}</a>)
                                {% endif %}
                            </td>
                            <td>
                                {% if active.user %}
                                    <a href="{{ urlFor('user', {'id': active.user.id}) }}">{{ active.user.name }}</a>
                                {% elseif active.consumer %}
                                    {{ active.consumer.name[:20] }}
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                        {% else %}
                            {# No successful pushes #}
                            <td colspan="4">No successful pushes found.</td>
                        {% endif %}

                        <td>
                            {% if inProgress %}
                                Please Wait
                            {% elseif canUserPush(currentUser, status.deployment.repository.key, status.deployment.server.environment.key) %}
                                <label>Push Now <input type="checkbox" class="js-pushable-deployment" name="deployments[]" id="sel-{{ status.deployment.id }}" value="{{ status.deployment.id }}"{{ isSelected ? ' checked' : '' }}></label>
                                {% set allowSubmit = true %}
                            {% else %}
                                No Access
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if allowSubmit %}
                <input class="btn" type="submit" value="Push To Selected Servers" name="submit">
            {% endif %}
        </form>
    {% else %}
        <p>There are no servers to deploy to.</p>
    {% endif %}

{% endblock %}
