{% extends 'base.twig' %}
{% import 'macros.form.twig' as form_macros %}

{% set js_components = ['add_credential_form'] %}
{% set page_title = 'Add Credential' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
    <li><a href="{{ uriFor('credentials') }}">Credentials</a></li>
{% endblock %}

{% block content %}
    <h1>{{ page_title }}</h1>

    {{ form_macros.form_errors(errors, is_csrf_error) }}

    <form method="post" class="js-credential-form">
        {{ form_macros.csrf_input('credential.add') }}

        <ul class="form-fields form-wrapper">
            <li>
                <label>Credential Type</label>
                <ul>
                    {% set is_selected = form.type == '' ? ' checked' : '' %}
                    <li>
                        <label for="cred-noop">
                            <input type="radio" id="cred-noop" name="type" value="" data-credential-select data-credential-type=""{{ is_selected }}>
                            None
                        </label>
                    </li>

                    {% for credential_type in credential_options %}
                        <li>
                            {% set is_selected = form.type == credential_type ? ' checked' : '' %}
                            <label for="cred-{{ credential_type }}">
                                <input type="radio" id="cred-{{ credential_type }}" name="type" value="{{ credential_type }}" data-credential-select data-credential-type="{{ credential_type }}"{{ is_selected }}>
                                {{ credential_type|credential_type }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            <li>
                {% set has_error = form_macros.hasError(errors, 'name') %}
                <label for="name">Name</label>
                <input type="text" class="text-input{{ has_error ? ' is-error' : '' }}" name="name" id="name" value="{{ form.name }}"maxlength="100" required>
                <small>Description or label for these credentials.</small>
            </li>

            <li>
                <div class="label">Is this an <b>Internal Only</b> credential?</div>
                <label for="is_internal" class="checkbox-check">
                    {% set is_selected = form.is_internal ? ' checked' : '' %}
                    <input type="checkbox" name="is_internal" id="is_internal" value="1" {{ is_selected }}>
                    <b class="checkbox-check--tick"></b>Yes, this is for administrator use only
                </label>
            </li>
        </ul>

        <hr>

        {{ block('aws_static_fields') }}
        {{ block('aws_role_fields') }}
        {{ block('privatekey_fields') }}

        <p>
            <button type="submit" class="btn btn--action">Add Credential</button>
            <a href="{{ uriFor('credentials') }}">Cancel</a>
        </p>

    </form>

{% endblock %}

{% block aws_static_fields %}
    <ul class="form-fields form-wrapper">
        <li data-type-specific data-aws_static>
            <label for="aws_key">AWS Access Key</label>
            <input type="text" class="text-input" name="aws_key" id="aws_key" maxlength="100" value="{{ form.aws_key }}" autocomplete="off">
        </li>

        <li data-type-specific data-aws_static>
            <label for="aws_secret">AWS Secret</label>
            <input type="text" class="text-input" name="aws_secret" id="aws_secret" value="{{ form.aws_secret }}" autocomplete="off">
            <small>This will be encrypted once saved.</small>
        </li>
    </ul>
{% endblock %}

{% block aws_role_fields %}
    <ul class="form-fields form-wrapper">
        <li data-type-specific data-aws_role>
            <label for="aws_account">AWS Account ID</label>
            <input type="text" class="text-input t50" name="aws_account" id="aws_account" value="{{ form.aws_account }}" maxlength="25" autocomplete="off">
            <small>AWS Account ID of the account that owns the resources.</small>
        </li>

        <li data-type-specific data-aws_role>
            <label for="aws_role">AWS Role</label>
            <input type="text" class="text-input" name="aws_role" id="aws_role" value="{{ form.aws_role }}" maxlength="100" autocomplete="off">
            <small>Role for Hal to assume when modifying resources.</small>
        </li>
    </ul>
{% endblock %}

{% block privatekey_fields %}
    <ul class="form-fields form-wrapper">
        <li data-type-specific data-privatekey>
            <label for="privatekey_username">Private Key Username</label>
            <input type="text" class="text-input t50" name="privatekey_username" id="privatekey_username" value="{{ form.privatekey_username }}" maxlength="100" autocomplete="off">
            <small>User the private key belongs to.</small>
        </li>

        <li data-type-specific data-privatekey>
            <label for="privatekey_path">Private Key Path</label>
            <input type="text" class="text-input" name="privatekey_path" id="privatekey_path" value="{{ form.privatekey_path }}" maxlength="200" autocomplete="off">
            <small>
                Path to the key on the file system. Not required if <b>File</b> is used.
            </small>
        </li>

        <li data-type-specific data-privatekey>
            <label for="privatekey_file">Private Key File</label>
            <textarea type="text" class="text-input" name="privatekey_file" id="privatekey_file" rows="8">{{ form.privatekey_file }}</textarea>
            <small>
                Contents of the private key file. Not required if <b>Path</b> is used.
                This will be encrypted once saved.
            </small>
        </li>
    </ul>
{% endblock %}
