{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = 'Credential : ' ~ credential.name %}

{% set isSuper = isUserSuper(current_user) %}

{% block content %}

    {% if decryption_error %}
        {{ macros.alert('error', 'Unable to decrypt value! Encryption may be misconfigured.') }}
    {% endif %}

    <h1>Credentials - <b>{{ credential.name }}</b></h1>

    <div class="details-box">
        <ul class="mbn">
            <li>Name</li>
            <li>{{ credential.name }}</li>

            <li>Type</li>
            <li>
                {% if credential.type == 'aws' %}
                    AWS
                {% elseif credential.type == 'privatekey' %}
                    Private Key
                {% endif %}
            </li>
        </ul>
    </div>

    {% if credential.type == 'aws' %}

        <h3>AWS Access Key</h3>
        <p>{{ credential.aws.key }}</p>

        <h3>AWS Secret</h3>
        {% if decryption_error %}
            <p>Unable to decrypt value. Encryption may be misconfigured.</p>

        {% else %}
            <p>
                <code>{{ decrypted }}</code>
                <br><small>This value is only visible to administrators.</small>
            </p>
        {% endif %}

    {% elseif credential.type == 'privatekey' %}

        <h3>Username</h3>
        <p>{{ credential.privatekey.username }}</p>

        <h3>Private Key path</h3>
        <p>{{ credential.privatekey.path }}</p>

        <h3>Private Key file</h3>
        <p><code>secret</code></p>

    {% endif %}

    <h3>Application Deployments</h3>
    {% if targets %}
        <table class="table--spacing-medium table--striped">
            <thead>
                <tr>
                    <th>Application</th>
                    <th>Environment</th>
                    <th>Deployment</th>
                    <th class="t10"></th>
                </tr>
            </thead>
            <tbody>
            {% for target in targets %}

                <tr>
                    <td>
                        <a href="{{ uriFor('application', {'application': target.application.id}) }}">{{ target.application.name }}</a>
                    </td>
                    <td>
                        {{ target.server.environment.name }}
                    </td>
                    <td>
                        {{ target.formatPretty(true) }}
                    </td>
                    <td class="tr">
                        <a class="btn btn--tiny" href="{{ uriFor('target', {'application': target.application.id, 'target': target.id}) }}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no deployment targets associated with these credentials.</p>
    {% endif %}

    <ul>
        <li><a class="btn" href="{{ uriFor('admin.credentials') }}">All Credentials</a></li>

        {% if isSuper %}
                <li><a class="btn btn--destructive" href="{{ uriFor('admin.credential.remove', {'credential': credential.id}) }}">Remove Credentials</a></li>
        {% endif %}
    </ul>

{% endblock %}
