{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Credential' %}

{% set is_admin = current_authorizations.isSuper() %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
    <li><a href="{{ uriFor('credentials') }}">Credentials</a></li>
{% endblock %}

{% block content %}

    {% if decryption_error %}
        {{ macros.alert('error', 'Unable to decrypt value! Encryption may be misconfigured.') }}
    {% endif %}

    {{ block('meta_table') }}
    {{ block('credential_details') }}

    <h2>Applications</h2>
    {% if targets %}
        <table>
            <thead>
                <tr>
                    <th>Application</th>
                    <th>Environment</th>
                    <th class="t10"></th>
                </tr>
            </thead>
            <tbody>
                {% for target in targets %}

                    <tr>
                        <td>
                            <a href="{{ uriFor('application', {'application': target.application.id}) }}">{{ target.application.name }}</a>
                        </td>
                        <td>
                            {{ target.group.environment.name }}
                        </td>
                        <td class="tr">
                            <a class="btn btn--tiny" href="{{ uriFor('target', {application: target.application.id, target: target.id}) }}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no applications using these credentials.</p>
    {% endif %}

    <p>
        {% if is_admin %}
            <a class="btn btn--action" href="{{ uriFor('credential.edit', {'credential': credential.id}) }}">Edit Credential</a>
        {% else %}
            {{ macros.disabled_button('Edit Credential') }}
        {% endif %}

        {% if is_admin %}
            <a class="btn btn--destructive" href="{{ uriFor('credential.remove', {'credential': credential.id}) }}">Remove Credential</a>
        {% else %}
            {{ macros.disabled_button('Remove Credential') }}
        {% endif %}
    </p>

{% endblock %}

{% block meta_table %}
    <ul class="meta-box">
        <li>
            <h6>ID</h6>
            {{ credential.id|short_guid }}
        </li>

        <li>
            <h6>Name</h6>
            {{ credential.name }}
        </li>

        <li>
            <h6>Type</h6>
            {{ credential.formatType() }}
        </li>

        <li>
            <h6>Internal Credential?</h6>
            {% if credential.isInternal %}
                {{ macros.icon('locked') }}
                Yes, for Administrative use only
            {% else %}
                No
            {% endif %}
        </li>
        <li>
            <h6>Dated Added</h6>
            {{ credential.created|html5date }}
        </li>
    </ul>
{% endblock %}

{% block credential_details %}

    {% if credential.type == 'aws_static' %}

        <h3>AWS Access Key</h3>
        <p>{{ credential.details.key }}</p>

        <h3>AWS Secret</h3>
        <p>
            {% if is_decryption_error %}
                Unable to decrypt value. Encryption may be misconfigured.
            {% else %}
                <code>{{ decrypted }}</code>
                <br><small>This value is only visible to administrators.</small>
            {% endif %}
        </p>

    {% elseif credential.type == 'aws_role' %}

        <h3>AWS Account ID</h3>
        <p>{{ credential.details.account }}</p>

        <h3>AWS Role</h3>
        <p><code>{{ credential.details.role }}</code></p>

    {% elseif credential.type == 'privatekey' %}

        <h3>Username</h3>
        <p>{{ credential.details.username }}</p>

        <h3>Private Key Path</h3>
        <p>
            {% if credential.details.path %}
                <code>{{ credential.details.path }}</code>
            {% else %}
                N/A
            {% endif %}
        </p>

        <h3>Private Key File</h3>
        <p>
            {% if is_decryption_error %}
                Unable to decrypt value. Encryption may be misconfigured.
            {% elseif credential.details.file %}
                <pre>{{ decrypted }}</pre>
                <br><small>This value is only visible to administrators.</small>
            {% else %}
                N/A
            {% endif %}
        </p>

    {% endif %}

{% endblock %}
