{% extends 'base.twig' %}
{% import "macros.form.twig" as form_macros %}

{% set page_title = 'Add Credential' %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form method="post">
            <ul class="form-fields">
                <li>
                    <label>Type</label>
                    <ul class="radio-grid radio-grid--two">

                        {% set checked = form.type == 'aws' ? ' checked' : '' %}
                        <li>
                            <input id="type-aws" type="radio" name="type" value="aws"{{ checked }}>
                            <label for="type-aws">AWS</label>
                        </li>

                        {% set checked = form.type == 'privatekey' ? ' checked' : '' %}
                        <li>
                            <input id="type-privatekey" type="radio" name="type" value="privatekey"{{ checked }}>
                            <label for="type-privatekey">Private Key</label>
                        </li>
                    </ul>
                </li>

                <li>
                    <label for="name">Name</label>

                    <input type="text" name="name" id="name" maxlength="100" value="{{ form.name }}" class="text-input">
                    <small class="additional">Description or label for these credentials</small>
                </li>

                <li>
                    <label for="aws_key">AWS Access Key</label>
                    <input name="aws_key" id="aws_key" maxlength="100" required value="{{ form.aws_key }}" class="text-input" autocomplete="off">
                </li>

                <li>
                    <label for="aws_secret">AWS Secret</label>
                    <input name="aws_secret" id="aws_secret" required value="{{ form.aws_secret }}" class="text-input" autocomplete="off">
                    <small class="additional">This will be encrypted once saved, and only unencrypted during deployments.</small>
                </li>

            </ul>

            <ul class="button-list">
                <li><input class="btn btn--action" type="submit" value="Add Credential"></li>
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ uriFor('admin.credentials') }}">Cancel</a></li>
            </ul>

        </form>
    </div>
{% endblock %}
