{% extends 'base.twig' %}

{% set page_title = "Credentials" %}

{% set isSuper = isUserSuper(current_user) %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <p>
        Credentials can be stored and encrypted in the Hal database for use by deployments.
        <b>Currently, credentials can only be used by AWS-based deployments.</b>
    </p>

    <p>
        Eventually, ssh deployments will use these credentials, but today is not yet that day.
    </p>

    {% if credentials %}
        <table class="table--spacing-medium table--striped">
            <thead>
                <tr class="tl">
                    <th>ID</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for credential in credentials %}
                    <tr>
                        <td>
                            <a href="{{ uriFor('admin.credential', {'credential': credential.id }) }}">{{ credential.id[:7] }}</a></td>
                        <td>
                            {% if credential.type == 'aws' %}
                                AWS
                            {% elseif credential.type == 'privatekey' %}
                                Private Key
                            {% endif %}
                        </td>

                        <td>{{ credential.name }}</td>
                        <td>
                            {% if credential.type == 'aws' %}
                                Key: <code>{{ credential.aws.key }}</code>
                            {% elseif credential.type == 'privatekey' %}
                                Username: <code>{{ credential.privatekey.username }}</code>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no credentials stored.</p>
    {% endif %}

    {% if isSuper %}
        <ul>
            <li><a class="btn" href="{{ uriFor('admin.credential.add') }}">Add Credentials</a></li>
        </ul>
    {% endif %}

{% endblock %}
