{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Credentials' %}

{% set is_admin = current_authorizations.isSuper() %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <p>
        Credentials can be stored and encrypted in the Hal database for use by deployments.
    </p>

    {{ block('cred_table') }}

    <p>
        {% if is_admin %}
            <a class="btn" href="{{ uriFor('credential.add') }}">Add Credentials</a>
        {% else %}
            <button class="btn btn--disabled">Add Credentials</button>
        {% endif %}
    </p>

{% endblock %}

{% block cred_table %}
    {% if credentials %}
        <table class="table--spacing-medium table--striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for credential in credentials %}
                    <tr>
                        {% if is_admin %}
                            <td><a href="{{ uriFor('credential', {'credential': credential.id}) }}">{{ credential|shortGUID }}</a></td>
                        {% else %}
                            <td>{{ credential|shortGUID }}</td>
                        {% endif %}
                        <td>
                            {% if credential.isInternal %}
                                {{ macros.icon('locked') }}
                            {% endif %}

                            {% if credential.type == 'aws_static' %}
                                AWS Static Token
                            {% elseif credential.type == 'aws_role' %}
                                AWS STS Role
                            {% elseif credential.type == 'privatekey' %}
                                Private Key
                            {% endif %}
                        </td>

                        <td>{{ credential.name }}</td>
                        <td>
                            {% if credential.type == 'aws_static' %}
                                Key: <code>{{ credential.details.key }}</code>

                            {% elseif credential.type == 'aws_role' %}
                                Account: <code>{{ credential.details.account }}</code>

                            {% elseif credential.type == 'privatekey' %}
                                Username: <code>{{ credential.details.username }}</code>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ uriFor('credential', {'credential': credential.id}) }}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no credentials stored.</p>
    {% endif %}
{% endblock %}
