{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Credentials' %}

{% set is_admin = current_authorizations.isSuper() %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
{% endblock %}

{% block content %}
    <p>
        Credentials are secret passwords, API keys or other secret information that is used by to access other resources by
        Hal such as Artifacts, Deployments, Version Control, or Identity Providers.
    </p>

    {{ block('cred_table') }}

    <p>
        {% if is_admin %}
            <a class="btn" href="{{ uriFor('credential.add') }}">Add Credentials</a>
        {% else %}
            {{ macros.disabled_button('Add Credentials') }}
        {% endif %}
    </p>

{% endblock %}

{% block cred_table %}
    {% if credentials %}
        <table class="table--spacing-medium">
            <thead>
                <tr>
                    <th class="t15">ID</th>
                    <th class="t15">Type</th>
                    <th>Name</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for credential in credentials %}
                    <tr>
                        <td>
                            <a href="{{ uriFor('credential', {'credential': credential.id}) }}">{{ credential|short_guid }}</a>
                        </td>
                        <td>
                            {% if credential.isInternal %}
                                {{ macros.icon('locked') }}
                            {% endif %}

                            {{ credential|credential_type }}
                        </td>

                        <td>{{ credential.name }}</td>
                        <td>
                            {% if credential.type == 'aws_static' %}
                                Key: <code>{{ credential.details.key }}</code>

                            {% elseif credential.type == 'aws_role' %}
                                Account: <code>{{ credential.details.account }}</code>

                            {% elseif credential.type == 'privatekey' %}
                                Username: <code>{{ credential.details.username }}</code>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no credentials stored.</p>
    {% endif %}
{% endblock %}
