{% extends 'base.html.twig' %}

{% set page_title = 'Encrypted Properties : ' ~ repository.name %}

{% set isRepoAdmin = isUserRepoAdmin(currentUser, repository.key) %}

{% block content %}
    <h2>Encrypted Properties for <strong>{{ repository.name }}</strong></h2>

    <p><a class="btn--small btn--back" href="{{ urlFor('repository', {'id': repository.id}) }}">Back to Repository</a></p>

    {% if encrypted %}
        <table class="tablesaw tablesaw-stack" data-mode="stack">
            <thead>
                <tr>
                    <th>Property Name</th>
                    <th>Environment</th>
                    {% if isRepoAdmin %}
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for property in encrypted %}
                <tr>
                    <td>
                        <code>{{ property.name|upper }}</code>
                    </td>
                    <td>
                        {% if property.environment %}
                            {{ property.environment.key }}
                        {% else %}
                            Global (Available in all environments)
                        {% endif %}
                    </td>
                    {% if isRepoAdmin %}
                        <td>
                            <a class="btn btn--tiny btn--destructive" href="{{ urlFor('repository.encrypted.remove', {'repository': repository.id, 'id': property.id}) }}">Remove</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            Encrypted properties are immutable. To change the value of a property: Remove it then add it again.<br><br>

            If a property is set for both <strong>Global</strong> and a specific environment, the environment-specific
            property will override the <strong>Global</strong> property.
        </p>
    {% else %}
        <p>There are no encrypted properties for this repository.</p>
    {% endif %}

    {% if isRepoAdmin %}
        <p>
            <a class="btn --action" href="{{ urlFor('repository.encrypted.add', {repository: repository.id}) }}">Add Encrypted Property</a>
        </p>
    {% endif %}

{% endblock %}
