{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.form.twig' as form_macros %}

{% set page_title = 'Add System Permissions' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
    <li><a href="{{ uriFor('users') }}">Users</a></li>
    <li><a href="{{ uriFor('admin.permissions') }}">Manage Permissions</a></li>
    <li><a href="{{ uriFor('user', {'user': user.id}) }}">{{ user.name }}</a></li>
{% endblock %}

{% block content %}

    <h2>Current Access and Authorizations</h2>
    {% include 'partial.user_permissions.twig' with {
        user: user,
        authorizations: user_authorizations,
        permissions: user_permissions
    } only %}

    <h2>Add Additional Permissions</h2>

    <p>
        Grant system-wide permissions to a user.
    </p>
    <p>
        You can also add <b>member</b> or <b>owner</b> permissions to limit access to an application or organization.
        Find the application and grant permissions to this user from the application or organization pages.
    </p>

    {{ form_macros.form_errors(errors, is_csrf_error) }}

    <form method="post">
        {{ form_macros.csrf_input('user_permissions.add') }}

        <ul class="form-fields form-wrapper">
            <li>
                <label>Permission Type</label>
                <ul>
                    {% set is_selected = form.permission_type == '' ? ' checked' : '' %}
                    <li>
                        <label for="perm-noop">
                            <input type="radio" id="perm-noop" name="permission_type" value="" {{ is_selected }}>
                            None
                        </label>
                    </li>

                    {% for user_type in available_types %}
                        {% set is_selected = form.permission_type == user_type ? ' checked' : '' %}
                        <li>
                            <label for="perm-{{ user_type }}">
                                <input type="radio" id="perm-{{ user_type }}" name="permission_type" value="{{ user_type }}"{{ is_selected }}>
                                {{ user_type }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

        <p>
            <button type="submit" class="btn btn--action">Add Permissions</button>
            <a href="{{ uriFor('users') }}">Cancel</a>
        </p>

    </form>
{% endblock %}
