{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.form.twig' as form_macros %}

{% set page_title = 'Add Permissions' %}

{% block content %}

    <h1>{{ page_title }}</h1>

    <h2>Current Permissions - <b>{{ user.username }}</b></h2>
    {% include 'partial.user_permissions.twig' with {
        user: user,
        authorizations: userAuthorizations,
        permissions: permissions
    } only %}

    <h2>Add Permissions</h2>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form method="post">
            <ul class="form-fields">
                <li>
                    <label>Permission Type</label>
                    <ul class="list--bare">
                        {% for user_type in availableTypes %}
                            {% set is_selected = form.type == user_type ? ' checked' : '' %}
                            <li>
                                <label for="perm-{{ user_type }}">
                                    <input type="radio" id="perm-{{ user_type }}" name="type" value="{{ user_type }}"{{ is_selected }}>
                                    {{ user_type|capitalize }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                </li>
                <li>
                    <label for="perm-app">Application</label>
                    <small class="additional">
                        Optional. Only used for <b>member</b> or <b>owner</b> permissions.
                    </small>

                    <select name="application" id="perm-app">
                        <option value=""></option>

                        {% for org_name, applications in availableApplications %}
                            <optgroup label="{{ org_name == 'X' ? 'No Organization' : org_name }}">
                                {% for application_id, application_name in applications %}
                                    {% set isSelected = (application_id == form.application) %}
                                    <option value="{{ application_id }}"{{ isSelected ? ' selected' : '' }}>{{ application_name }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}

                    </select>
                </li>

                <li>
                    <label for="perm-org">Organizations</label>
                    <small class="additional">
                        Optional. Only used for <b>member</b> or <b>owner</b> permissions.
                    </small>
                    <select name="organization" id="perm-org">
                        <option value=""></option>
                        {% for organization_id, organization_name in availableOrganizations %}
                            {% set isSelected = (organization_id == form.organization) %}
                            <option value="{{ organization_id }}"{{ isSelected ? ' selected' : '' }}>{{ organization_name }}</option>
                        {% endfor %}
                    </select>
                </li>
            </ul>

            <ul class="list--bare">
                <li><input class="btn btn--action" type="submit" value="Add Permissions"></li>
                <li><a class="btn" href="{{ uriFor('users.page1') }}">Cancel</a></li>
            </ul>

        </form>
    </div>
{% endblock %}
