{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = "Remove Admin Permissions" %}

{% block content %}

    <h1>{{ page_title }}</h1>

    <h2>Current Permissions - <b>{{ user.username }}</b></h2>

    {% include 'user/partial.user-status.twig' with {
        user: user,
        authorizations: userAuthorizations,
        permissions: permissions
    } only %}

    <h2>Remove the following permissions</h2>
    <div class="details-box">
        <ul class="mbn">
            {% for permission in adminPermissions %}
                <li>Type</li>
                <li>
                    {% if permission.type == 'admin' %}
                        {{ macros.status('Admin', 'warning') }}
                    {% endif %}
                    {% if permission.type == 'super' %}
                        {{ macros.status('Super', 'error') }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <h3>Are you sure?</h3>
    <p>You're about to remove some of this user's permissions. Do you want to continue?</p>

    <form class="form-wrapper" method="post">
        <ul>
            {% for permission in adminPermissions %}
                <input type="hidden" value="{{ permission.id }}" name="permissions[]">
            {% endfor %}
            <li><input class="btn btn--destructive" type="submit" value="Remove"></li>
            <li><a class="btn" href="{{ uriFor('admin.permissions') }}">Cancel</a></li>
        </ul>
    </form>

{% endblock %}

