{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'permissions/macros.permissions.twig' as perm_macros %}
{% import 'macros.pagination.twig' as pagination %}

{% set page_title = 'Manage Permissions' %}

{% set can_remove = current_authorizations.isAdmin() or current_authorizations.isSuper() %}
{% set can_remove_admin = current_authorizations.isSuper() and admin_count > 1 %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
    <li><a href="{{ uriFor('users') }}">Users</a></li>
{% endblock %}

{% block content %}
    <p>
        Permissions can be granted to a user on the <b>Organization</b>, or <b>Users</b>, or <b>Manage Application</b> pages.
    </p>

    <p>
        Looking to grant access to many users at once? Add permissions from the <b>Application</b> or <b>Organization</b>
        pages to access bulk permissions operations.
    </p>

    {{ pagination.pagination(page, last, 'admin.permissions', {}, {}, 'previous', 'next') }}

    {{ block('user_table') }}

    {{ pagination.pagination(page, last, 'admin.permissions', {}, {}, 'previous', 'next') }}

    <h2>Permission Levels</h2>
    {% include 'permissions/partial.permission_descriptions.twig' %}

{% endblock %}

{% block user_table %}
    <table class="table--topped">
        <thead>
            <tr>
                <th class="t15">User ID</th>
                <th class="t15">Provider</th>
                <th>Name</th>
                <th>Scope</th>
            </tr>
        </thead>
        <tbody>
            {% if permissions %}
                {% for p in permissions %}
                    {% set user_identity = p.user.identities|first %}

                    <tr>
                        <td>
                            <a href="{{ uriFor('user', {'user': p.user.id}) }}">{{ p.user|short_guid }}</a>
                            {% if p.user.isDisabled %}
                                {{ macros.status('Disabled', 'error') }}
                            {% endif %}
                        </td>
                        <td>
                            {{ user_identity.provider.formatType() }}
                        </td>
                        <td>
                            {{ p.user.name }}
                        </td>
                        <td>
                            <ul>
                                 {% for perm in p.permissions %}
                                    <li class="mvs">
                                        {{ perm_macros.permission_type_label(perm.type) }}

                                        {% if perm.application %}
                                            <a href="{{ uriFor('application', {'application': perm.application.id}) }}">{{ perm.application.name }}</a>
                                        {% elseif perm.organization %}
                                            {{ macros.status('Organization', 'info') }} <a href="{{ uriFor('organization', {'organization': perm.organization.id}) }}">{{ perm.organization.name }}</a>
                                        {% else %}
                                            All applications
                                        {% endif %}

                                        {% if can_remove %}
                                            {% if perm.type in ['admin', 'super'] %}
                                                {% if can_remove_admin %}
                                                    <a class="btn btn--tiny btn--destructive" href="{{ uriFor('user_permissions.remove', {'user': p.user.id, 'user_permission': perm.id}) }}">Remove</a>
                                                {% endif %}
                                            {% else %}
                                                <a class="btn btn--tiny btn--destructive" href="{{ uriFor('user_permissions.remove', {'user': p.user.id, 'user_permission': perm.id}) }}">Remove</a>
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No users available.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
