{% extends 'base.twig' %}
{% import _self as page_macros %}
{% import "macros.twig" as macros %}

{% set page_title = "Manage Permissions" %}

{% set can_remove = current_authorizations.isAdmin or current_authorizations.isSuper %}
{% if current_authorizations.isAdmin and user_types.admin|length < 2 %}
    {% set can_remove = false %}
{% endif %}

{% set can_remove_super = current_authorizations.isSuper and user_types.super|length > 1 %}

{% block content %}

    <div class="nav--page">
        <h1>{{ page_title }}</h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('admin') }}">Back to Admin Dashboard</a>
            <a class="btn btn--small btn--back" href="{{ uriFor('users.page1') }}">View all Users</a>
        </p>
    </div>

    <p>Permissions can be granted to a user on the <b>Users</b> page, or to a user for an application on the <b>Manage Application</b> page.</p>

    <ul>
        <li><a href="#app-owners">Application Owners</a></li>
        <li><a href="#app-members">Application Members</a></li>
        <li><a href="#super">Hal Administrators</a></li>
    </ul>

    <h2 id="app-owners">Owners</h2>
    {% if owners %}
        <table class="table--spacing-medium table--striped">
            <thead>
                <tr>
                    <th class="t20">Username</th>
                    <th>Email</th>
                    <th>Scope</th>
                </tr>
            </thead>
            <tbody>
                {% for type in owners %}
                    {% set user = type.user %}

                    <tr>
                        <td><a href="{{ uriFor('user', {'user': user.id}) }}">{{ user.username }}</a></td>
                        <td>{{ user.email }}</td>

                        <td>
                            <ul>
                                {% for perm in type.permissions %}
                                <li>
                                    {% if perm.application %}
                                        <a href="{{ uriFor('application', {'application': perm.application.id}) }}">{{ perm.application.name }}</a>
                                    {% elseif perm.organization %}
                                        <a href="{{ uriFor('organization', {'organization': perm.organization.id}) }}">{{ perm.organization.name }}</a>
                                    {% endif %}

                                    {% if can_remove %}
                                        (<a style="color:red;" href="{{ uriFor('admin.permissions.remove', {'user': user.id, 'user_permission': perm.id}) }}">Remove</a>)
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no application owners.</p>
    {% endif %}

    <h2 id="app-members">Members</h2>
    {% if members %}
        <table class="table--spacing-medium table--striped">
            <thead>
                <tr>
                    <th class="t20">Username</th>
                    <th>Email</th>
                    <th>Scope</th>
                </tr>
            </thead>
            <tbody>
                {% for permission in members %}
                    {% set user = permission.user %}

                    <tr>
                        <td><a href="{{ uriFor('user', {'user': user.id}) }}">{{ user.username }}</a></td>
                        <td>{{ user.email }}</td>

                        <td>
                            <ul>
                                {% for perm in permission.permissions %}
                                <li>
                                    {% if perm.application %}
                                        <a href="{{ uriFor('application', {'application': perm.application.id}) }}">{{ perm.application.name }}</a>
                                    {% elseif perm.organization %}
                                        <a href="{{ uriFor('organization', {'organization': perm.organization.id}) }}">{{ perm.organization.name }}</a>
                                    {% endif %}

                                    {% if can_remove %}
                                        (<a style="color:red;" href="{{ uriFor('admin.permissions.remove', {'user': user.id, 'user_permission': perm.id}) }}">Remove</a>)
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No users have member permissions.</p>
    {% endif %}

    <h2 id="super">Hal Administrators</h2>
    {% if admins %}
        <table class="table--spacing-medium table--striped">
            <thead>
            <tr>
                <th class="t20">Username</th>
                <th>Email</th>

                {% if can_remove %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for permission in admins %}
                {% set user = permission.user %}

                <tr>
                    <td><a href="{{ uriFor('user', {'user': user.id}) }}">{{ user.username }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>
                        <ul>
                            {% for perm in permission.permissions %}
                            <li>
                                {% if perm.type == 'admin' %}
                                    Admin
                                {% endif %}

                                {% if can_remove %}
                                    (<a style="color:red;" href="{{ uriFor('admin.permissions.remove', {'user': user.id, 'user_permission': perm.id}) }}">Remove</a>)
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        There are no Hal administrators.
    {% endif %}

    <h2>User Types</h2>
    {% include 'user/partial.user-types.twig' %}
{% endblock %}
