{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Remove Permissions' %}

{% block content %}

    <h1>{{ page_title }}</h1>

    <h2>Current Permissions - <b>{{ user.username }}</b></h2>

    {% include 'partial.user_permissions.twig' with {
        user: user,
        authorizations: userAuthorizations,
        permissions: userPermissions
    } only %}

    <h2>Remove the following permissions</h2>
    <div class="details-box">
        <ul class="mbn">

            <li>User Type</li>
            <li>
                {% if permission.type == 'member' %}
                    {{ macros.status('Member', 'info') }}
                {% endif %}
                {% if permission.type == 'owner' %}
                    {{ macros.status('Owner', 'notice') }}
                {% endif %}
                {% if permission.type == 'admin' %}
                    {{ macros.status('Admin', 'warning') }}
                {% endif %}
                {% if permission.type == 'super' %}
                    {{ macros.status('Super', 'error') }}
                {% endif %}
            </li>

            {% if permission.application %}
                <li>Application</li>
                <li><a href="{{ uriFor('application', {'application': permission.application.id}) }}">{{ permission.application.name }}</a></li>
            {% elseif permssion.organization %}
                <li>Organization</li>
                <li><a href="{{ uriFor('organization', {'organization': permission.organization.id}) }}">{{ permission.organization.name }}</a></li>
            {% elseif permssion.environment %}
                <li>Environment</li>
                <li><a href="{{ uriFor('environment', {'environment': permission.environment.id}) }}">{{ permission.environment.name }}</a></li>
            {% endif %}
        </ul>
    </div>

    <h3>Are you sure?</h3>
    <p>You're about to remove some of this user's permissions. Do you want to continue?</p>

    <form class="form-wrapper" method="post">
        <ul>
            <li><input class="btn btn--destructive" type="submit" value="Remove"></li>
            <li><a class="btn" href="{{ uriFor('admin.permissions') }}">Cancel</a></li>
        </ul>
    </form>

{% endblock %}

