{% extends 'base.html.twig' %}

{% set page_title = deployment.repository.key~' deployment : '~deployment.server.name %}

{% block content %}
    <h2><b>{{ deployment.repository.key }}</b> deployment</h2>

    <div class="details-box">
        <dl class="split--left">
            <dt class="split--left__title">
                Server
            </dt>
            <dd class="split--left__value">
                {{ deployment.server.name }}
            </dd>
            <dt class="split--left__title">
                Path
            </dt>
            <dd class="split--left__value">
                {{ deployment.path }}
            </dd>
        </dl>
    </div>

    {# primary action #}
    {% if isAdmin %}
        {# <p>
            <a class="btn" href="{{ urlFor('repository.admin.edit', {id: deployment.repository.id}) }}">Edit</a>
        </p> #}

    {% endif %}

    {# secondary actions #}
    {% if isAdmin %}
        <a class="btn" href="{{ urlFor('repository.deployments', {id: deployment.repository.id}) }}">Manage all deployments</a>

        {% if canUserDelete(currentUser) %}
        <form class="secondary-action" action="{{ urlFor('repository.deployment.admin.remove.handle', {repoId: deployment.repository.id, id: deployment.id}) }}" method="post">
            <input class="btn--destructive" type="submit" value="Remove">
        </form>
        {% endif %}
    {% endif %}

{% endblock %}
