{% extends 'base.html.twig' %}

{% set page_title = repository.description ~ ' deployments' %}

{% block content %}
    <h2>Deployment Relationships for <b>{{ repository.description }}</b> </h2>

    <p>
        Deployment relationships define what servers your application can be deployed to and where on that server the code will be uploaded.
    </p>

    {% set canEdit = isUserRepoAdmin(currentUser, repository.key) %}

    {% if environments %}

        {% for environment in environments %}

            <h3>{{ environment.key }}</h3>

            <table class="tablesaw tablesaw-stack" data-mode="stack">
                <thead>
                <tr>
                    <th class="t15">Hostname</th>
                    <th class="t40">Path / EBS Environment</th>
                    <th>URL</th>
                    <th class="t15"></th>
                </tr>
                </thead>
                <tbody class="js-add-deployment--{{ environment.key }}">
                    {% for deployment in deployments if deployment.server.environment == environment %}

                        {% set servername = deployment.server.name %}
                        {% set path = deployment.path %}

                        {% if deployment.server.type == 'elasticbeanstalk' %}
                            {% set servername = 'Elastic Beanstalk' %}
                            {% set path = deployment.ebsEnvironment %}
                        {% endif %}

                        <tr>
                            <td>{{ servername }}</td>
                            <td>
                                <code>{{ path }}</code>
                            </td>
                            <td>
                                {% if deployment.url %}
                                    <a href="{{ deployment.url.asString() }}">{{ deployment.url.asString() }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if canEdit %}
                                    <a class="btn--tiny" href="{{ urlFor('repository.deployment', {repository: deployment.repository.id, id: deployment.id}) }}">View</a>
                                    <a class="btn--destructive btn--tiny" href="{{ urlFor('repository.deployment.remove', {repository: deployment.repository.id, id: deployment.id}) }}">Remove</a>
                                {% else %}
                                    <a class="btn--tiny" href="{{ urlFor('repository.deployment', {repository: deployment.repository.id, id: deployment.id}) }}">View</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr class="js-add-deployment__empty">
                            <td colspan="4">No deployments found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endfor %}

        {% if canEdit %}

            <div class="form-wrapper js-add-deployment__form">
                <h2>Add Deployment</b></h2>

                {% include 'partials/form/add-deployment.twig' with {'servers_by_env': servers_by_env, 'form': {}, 'repository': repository} %}
            </div>

            <div class="js-add-deployment__button">
                {# primary action #}
                <a class="btn" href="{{ urlFor('repository.deployments.add', {repository: repository.id}) }}">Add Deployment</a>
            </div>
        {% endif %}

    {% else %}
        <p>
            There are no environments.
            {% if isUserAdmin(currentUser) %}
                <br><a href="{{ urlFor('environment.admin.add') }}">Add an environment</a>
            {% endif %}
        </p>
    {% endif %}

{% endblock %}
