{% extends 'base.html.twig' %}

{% set page_title = repository.key~' deployments' %}

{% block content %}
    <h2><b>{{ repository.key }}</b> deployments</h2>

    <p>Deployments define what servers your application can be deployed to and where on that server the code will be placed.</p>

    {% if environments %}
        {% for environment in environments %}
            <h3>{{ environment.key }}</h3>

            {% if isAdmin %}
                <form action="{{ urlFor('repository.deployment.admin.add.handle', {id: repository.id}) }}" method="post">
            {% endif %}

            <table class="t75">
                <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Path</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for deployment in deployments if deployment.server.environment == environment %}
                        <tr>
                            <td>{{ deployment.server.name }}</td>
                            <td>
                                {{ deployment.path }}
                            </td>
                            <td>
                                {% if isAdmin %}
                                    <a href="{{ urlFor('repository.deployment.admin.edit', {repoId: repository.id, id: deployment.id}) }}">Edit</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    {% if isAdmin %}
                        <tr>
                            <td>
                                {# @todo: need to solve for no servers for environment #}
                                <select class="js-newdeployment" name="server[]">
                                    <option></option>
                                    {% for server in servers if server.environment == environment %}
                                        <option value="{{ server.id }}">{{ server.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input type="text" name="path[]" maxlength="255" class="text-input t75"></td>
                            <td></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

        {% endfor %}
    {% else %}
        <p>
            There are no environments.
            {% if isAdmin %}
                <br><a href="{{ urlFor('environment.admin.add') }}">Add an environment</a>
            {% endif %}
        </p>
    {% endif %}

    <div>
        {# primary action #}
        {% if environments and isAdmin %}
            <input class="btn" type="submit" value="Save Deployments">
            </form>
        {% endif %}

        {# secondary actions #}
        <a class="secondary-action" href="{{ urlFor('repository', {id: repository.id}) }}">Cancel</a>
    </div>
{% endblock %}
