{% extends 'base.html.twig' %}

{% set page_title = repository.description ~ ' deployments' %}

{% block content %}
    <h2>Deployment Relationships for <b>{{ repository.description }}</b> </h2>

    <p>Deployment relationships define what servers your application can be deployed to and where on that server the code will be placed.</p>
    <p>Paths must be absolute and begin with a forward slash (/).</p>

    {% if environments %}
        {% for environment in environments %}
            <h3>{{ environment.key }}</h3>

            {% if isUserRepoAdmin(currentUser, repository.key) %}
                <form action="{{ urlFor('repository.deployment.admin.add.handle', {repository: repository.id}) }}" method="post">
            {% endif %}

            <table class="tablesaw tablesaw-stack" data-mode="stack">
                <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Path</th>
                    <th>Testing URL</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for deployment in deployments if deployment.server.environment == environment %}
                        <tr>
                            <td>{{ deployment.server.name }}</td>
                            <td>
                                {{ deployment.path }}
                            </td>
                            <td>
                                {% if deployment.url %}
                                    {{ deployment.url.asString() }}
                                {% endif %}
                            </td>
                            <td>
                                {% if isUserRepoAdmin(currentUser, repository.key) %}
                                <a class="btn--destructive" href="{{ urlFor('repository.deployment.admin.remove.handle', {repository: deployment.repository.id, id: deployment.id}) }}">Remove</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    {% if isUserRepoAdmin(currentUser, repository.key) %}
                        <tr>
                            <td>
                                {# @todo: need to solve for no servers for environment #}
                                <select class="js-newdeployment" name="server[]">
                                    <option></option>
                                    {% for server in servers if server.environment == environment %}
                                        <option value="{{ server.id }}">{{ server.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input type="text" name="path[]" maxlength="255" class="text-input t75"></td>
                            <td><input type="text" name="url[]" maxlength="255" class="text-input t75" value=""></td>
                            <td></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

        {% endfor %}
    {% else %}
        <p>
            There are no environments.
            {% if isUserAdmin(currentUser) %}
                <br><a href="{{ urlFor('environment.admin.add') }}">Add an environment</a>
            {% endif %}
        </p>
    {% endif %}

    <div>
        {# primary action #}
        {% if environments and isUserRepoAdmin(currentUser, repository.key) %}
            <input class="btn" type="submit" value="Save Deployment Relationships">
            </form>
        {% endif %}

        {# secondary actions #}
        <a class="secondary-action" href="{{ urlFor('repository', {id: repository.id}) }}">Cancel</a>
    </div>
{% endblock %}
