{% extends 'base.html.twig' %}

{% set page_title = repository.key~' deployments' %}

{% block content %}
    <h2><b>{{ repository.key }}</b> Deployment Relationships</h2>

    <p>Deployment relationships define what servers your application can be deployed to and where on that server the code will be placed.</p>

    {% if environments %}
        {% for environment in environments %}
            <h3>{{ environment.key }}</h3>

            {% if isUserAdmin(currentLdapUser) %}
                <form action="{{ urlFor('repository.deployment.admin.add.handle', {id: repository.id}) }}" method="post">
            {% endif %}

            <table class="tablesaw tablesaw-stack" data-mode="stack">
                <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Path</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for deployment in deployments if deployment.server.environment == environment %}
                        <tr>
                            <td>{{ deployment.server.name }}</td>
                            <td>
                                {{ deployment.path }}
                            </td>
                            <td>
                                {% if canUserDelete(currentLdapUser) %}
                                <a class="btn--destructive" href="{{ urlFor('repository.deployment.admin.remove.handle', {repoId: deployment.repository.id, id: deployment.id}) }}">Remove</a>
                                {% endif %}
                                {# @todo add edit functionality
                                {% if isUserAdmin(currentLdapUser) %}
                                    <a href="{{ urlFor('repository.deployment.admin.edit', {repoId: repository.id, id: deployment.id}) }}">Edit</a>
                                {% endif %}
                                #}
                            </td>
                        </tr>
                    {% endfor %}

                    {% if isUserAdmin(currentLdapUser) %}
                        <tr>
                            <td>
                                {# @todo: need to solve for no servers for environment #}
                                <select class="js-newdeployment" name="server[]">
                                    <option></option>
                                    {% for server in servers if server.environment == environment %}
                                        <option value="{{ server.id }}">{{ server.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input type="text" name="path[]" maxlength="255" class="text-input t75"></td>
                            <td></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

        {% endfor %}
    {% else %}
        <p>
            There are no environments.
            {% if isUserAdmin(currentLdapUser) %}
                <br><a href="{{ urlFor('environment.admin.add') }}">Add an environment</a>
            {% endif %}
        </p>
    {% endif %}

    <div>
        {# primary action #}
        {% if environments and isUserAdmin(currentLdapUser) %}
            <input class="btn" type="submit" value="Save Deployment Relationships">
            </form>
        {% endif %}

        {# secondary actions #}
        <a class="secondary-action" href="{{ urlFor('repository', {id: repository.id}) }}">Cancel</a>
    </div>
{% endblock %}
