{% extends 'base.html.twig' %}

{% set page_title = 'Deployment Information' %}

{% block content %}
    <h2>Deployment Information</h2>

    {% set servertype = 'Unknown' %}
    {% if deployment.server.type == 'elasticbeanstalk' %}
        {% set servertype = 'Elastic Beanstalk' %}

    {% elseif deployment.server.type == 'rsync' %}
        {% set servertype = 'Internal (Rsync)' %}

    {% elseif deployment.server.type == 'ec2' %}
        {% set servertype = 'EC2 Autoscaling Pool' %}
    {% endif %}

    <h3>Type</h3>
    <p>{{ servertype }}</p>


    {% set servername = deployment.server.name %}
    {% if deployment.server.type == 'elasticbeanstalk' %}
        {% set servername = 'Elastic Beanstalk Server' %}

    {% elseif deployment.server.type == 'ec2' %}
        {% set servername = 'EC2 Server' %}
    {% endif %}

    <h3>Server</h3>
    <p>
        <a href="{{ urlFor('server', {id: deployment.server.id}) }}">{{ servername }}</a>
    </p>

    <h3>Repository</h3>
    <p><a href="{{ urlFor('repository', {id: deployment.repository.id}) }}">{{ deployment.repository.description }}</a></p>

    <h3>File path</h3>
    <p>
        {% if deployment.server.type == 'rsync' or deployment.server.type == 'ec2' %}
            <code>{{ deployment.path }}</code>
        {% else %}
            Not Applicable
        {% endif %}
    </p>

    <h3>Elastic Beanstalk Environment ID</h3>
    <p>
        {% if deployment.server.type == 'elasticbeanstalk' %}
            <code>{{ deployment.ebEnvironment }}</code>
        {% else %}
            Not Applicable
        {% endif %}
    </p>

    <h3>EC2 Pool</h3>
    <p>
        {% if deployment.server.type == 'ec2' %}
            <code>{{ deployment.ec2Pool }}</code>
        {% else %}
            Not Applicable
        {% endif %}
    </p>

    <h3>URL</h3>
    <p>
        {% if deployment.url %}
            <a href="{{ deployment.url.asString() }}">{{ deployment.url.asString() }}</a>
        {% else %}
            None
        {% endif %}
    </p>

    {% set canEdit = isUserRepoAdmin(currentUser, repository.key) %}

    {# secondary actions #}
    {% if canEdit %}
        <a class="btn--action" href="{{ urlFor('repository.deployment.edit', {repository: deployment.repository.id, id: deployment.id}) }}">Edit Deployment</a>
        <a class="btn--destructive" href="{{ urlFor('repository.deployment.remove', {repository: deployment.repository.id, id: deployment.id}) }}">Remove Deployment</a>
    {% endif %}

{% endblock %}
