{% extends 'base.html.twig' %}

{% set page_title = repository.key~' deployments' %}

{% block content %}
    <h2><strong>{{ repository.key }}</strong> deployments</h2>

    {% if environments %}
        {% for environment in environments %}
            <h3>{{ environment.key }}</h3>

            {% if isAdmin %}
                <form action="{{ urlFor('repository.deployment.admin.add.handle', {id: repository.id}) }}" method="post">
            {% endif %}

            <table>
                <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Path</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for deployment in deployments if deployment.server.environment == environment %}
                        <tr>
                            <td>{{ deployment.server.name }}</td>
                            <td>
                                {{ deployment.path }}
                            </td>
                            <td>
                                {% if isAdmin %}
                                    <a href="{{ urlFor('repository.deployment.admin.edit', {repoId: repository.id, id: deployment.id}) }}">Edit</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    {% if isAdmin %}
                        <tr>
                            <td>
                                {# @todo: need to solve for no servers for environment #}
                                <select class="js-newdeployment" name="server[]">
                                    <option></option>
                                    {% for server in servers if server.environment == environment %}
                                        <option value="{{ server.id }}">{{ server.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td colspan="2"><input type="text" name="path[]" maxlength="255" class="text-input"></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

        {% endfor %}
    {% else %}
        <p>
            There are no environments.
            {% if isAdmin %}
                <br><a href="{{ urlFor('environment.admin.add') }}">Add an environment</a>
            {% endif %}
        </p>
    {% endif %}

    {# primary action #}
    {% if environments and isAdmin %}
        {# primary action #}
        <input class="btn" type="submit" value="Save">
        </form>
    {% endif %}

    {# secondary actions #}
    <p><a href="{{ urlFor('repository', {id: repository.id}) }}">View repository</a></p>
{% endblock %}
