{% extends 'base.html.twig' %}

{% set page_title = repository.description %}

{% block content %}
    <h2>Repository Information</h2>

    <div class="details-box">
        <dl class="split--left">
            <dt class="split--left__title">Name</dt>
            <dd class="split--left__value">{{ repository.description }}</dd>

            <dt class="split--left__title">Identifier</dt>
            <dd class="split--left__value">{{ repository.key }}</dd>

            <dt class="split--left__title">Github Source</dt>
            <dd class="split--left__value">
                <a href="{{ githubRepo(repository.githubUser, repository.githubRepo) }}">{{ repository.githubUser }}/{{ repository.githubRepo }}</a>
                <svg class="icon" viewBox="0 0 32 32"><use xlink:href="#github"></use></svg>
            </dd>
        </dl>

        {# primary action #}
        <a class="btn" href="{{ urlFor('repository.status', {id: repository.id}) }}">View repository status</a>

        {# secondary actions #}
        {% if isUserRepoAdmin(currentUser, repository.key) %}
            <a class="btn--action secondary-action" href="{{ urlFor('repository.admin.edit', {repository: repository.id}) }}">Edit details</a>
        {% endif %}

        {% if isUserAdmin(currentUser) and not deployments and isUserAdmin(currentUser) %}
            <a class="btn--destructive secondary-action" href="{{ urlFor('repository.admin.remove.handle', {id: repository.id}) }}">Remove Repository</a>
        {% endif %}
    </div>

    <h3>Notifications</h3>
    <div class="details-box">
        <dl class="split--left mbn">
            <dt class="split--left__title">Email</dt>
            <dd class="split--left__value">{{ repository.email ?: 'None' }}</dd>
        </dl>
    </div>

    <h3>Commands</h3>
    <div class="details-box">
        <dl class="split--left mbn">
            <dt class="split--left__title">
                <svg class="icon" viewBox="0 0 32 32" title="On build"><use xlink:href="#code"></use></svg>
                Build Command
            </dt>
            <dd class="split--left__value">{{ repository.buildCmd ?: 'No command entered.' }}</dd>

            <dt class="split--left__title">
                <svg class="icon" viewBox="0 0 32 32" title="On push"><use xlink:href="#swap-2"></use></svg>
                Pre-Push Command
            </dt>
            <dd class="split--left__value">{{ repository.prePushCmd ?: 'No command entered.' }}</dd>

            <dt class="split--left__title">
                <svg class="icon" viewBox="0 0 32 32" title="On push"><use xlink:href="#swap-2"></use></svg>
                Build Transform Command
            </dt>
            <dd class="split--left__value">{{ repository.buildTransformCmd ?: 'No command entered.' }}</dd>

            <dt class="split--left__title">
                <svg class="icon" viewBox="0 0 32 32" title="On push"><use xlink:href="#swap-2"></use></svg>
                Post-Push Command
            </dt>
            <dd class="split--left__value">{{ repository.postPushCmd ?: 'No command entered.' }}</dd>
        </dl>
    </div>

    <h3>Permissions</h3>

    {% if permissions %}
        <p>The following users have permission to push <strong>{{ repository.description }}</strong> to the specified environment.</p>
        <table class="tablesaw tablesaw-stack" data-mode="stack">
            <thead>
            <tr>
                <th>Environment</th>
                <th>Users</th>
            </tr>
            </thead>
            <tbody>
            {% for env, permission in permissions %}
                <tr>
                    <td>{{ env }}</td>
                    <td>
                        <ul class="col-list">
                            {% for rule in permission %}
                                <li><a href="{{ urlFor('user', {'id': rule.user.id}) }}">{{ rule.user.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No users can push this repository.</p>
    {% endif %}

    <h3>Server Deployments</h3>
    {% if deployment_count %}
        <table class="tablesaw tablesaw-stack" data-mode="stack">
            <thead>
                <tr>
                    <th>Environment</th>
                    <th>Server</th>
                    <th>Path</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
            {% for env, deployments in deployment_environments %}
                {% if deployments %}
                    {% set isFirst = true %}
                    {% for deployment in deployments %}
                        <tr>
                            {% if isFirst %}
                                {% set isFirst = false %}
                                <td>{{ env }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            <td><a href="{{ urlFor('server', {id: deployment.server.id}) }}">{{ deployment.server.name }}</a></td>
                            <td><code>{{ deployment.path }}</code></td>
                            <td>
                                <a href="{{ deployment.url.asString()  }}">{{ deployment.url.asString()  }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no deployments associated with this repository.</p>
    {% endif %}

    {% if isUserRepoAdmin(currentUser, repository.key) %}
        <a class="btn" href="{{ urlFor('repository.deployments', {repository: repository.id}) }}">Manage Deployment Relationships</a>
    {% endif %}

{% endblock %}
