{% extends 'base.html.twig' %}

{% set page_title = repository.key %}

{% block content %}
    <h2><strong>{{ repository.key }}</strong> repository</h2>

    <h3>Description</h3>
    <p>{{ repository.description }}</p>

    <h3>Github Source</h3>
    <p>
        <a href="{{ githubRepo(repository.githubUser, repository.githubRepo) }}">{{ repository.githubUser }}/{{ repository.githubRepo }}</a>
        <span class="icon">
            <svg viewBox="0 0 32 32">
                <use xlink:href="#github"></use>
            </svg>
        </span>
    </p>

    <h3>Notification E-mail</h3>
    <p>{{ repository.email }}</p>

    <h3>Build Command</h3>
    <p>{{ repository.buildCmd ?: 'No command entered.' }}</p>

    <h3>Pre-Push Command</h3>
    <p>{{ repository.prePushCmd ?: 'No command entered.' }}</p>

    <h3>Post-Push Command</h3>
    <p>{{ repository.postPushCmd ?: 'No command entered.' }}</p>

    <h3>Server deployments:</h3>
    {% if deployments %}
        <div>
            <table>
                <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Environment</th>
                    <th>Path</th>
                </tr>
                </thead>
                <tbody>
                {% for deployment in deployments %}
                    <tr class="env-row-{{ deployment.server.environment.key }}">
                        <td>{{ deployment.server.name }}</td>
                        <td>{{ deployment.server.environment.key }}</td>
                        <td>{{ deployment.path }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>There are no deployments associated with this repository.</p>
    {% endif %}

    {# primary action #}
    {% if isAdmin %}
        <p>
            <a class="btn" href="{{ urlFor('repository.admin.edit', {id: repository.id}) }}">Edit</a>
        </p>
    {% endif %}

    {# secondary actions #}
    <p>
        <a href="{{ urlFor('repository.status', {id: repository.id}) }}">Repository status</a>
        <a href="{{ urlFor('repositories') }}">View all repositories</a>

        {% if isAdmin %}
            <a href="{{ urlFor('repository.deployments', {id: repository.id}) }}">Manage deployments</a>
        {% endif %}

        {% if isAdmin and not deployments %}
            <form action="{{ urlFor('repository.admin.remove.handle', {id: repository.id}) }}" method="post">
                <input class="btn" type="submit" value="Remove">
            </form>
        {% endif %}
    </p>

{% endblock %}
