{% extends 'base.html.twig' %}

{% set page_title = repo.key %}

{% block content %}
    <h2>{{ repo.key }} Dashboard</h2>

    <h3>Server Status</h3>
    <p>These cards show the current status of all servers with deployment relationships to this repository.</p>

    <ul class="list--bare cards">
        {% for status in statuses %}
        <li>
            <article class="card">
                <header class="card__header">
                    <h4 class="mbn"><a href="{{ urlFor('server', {'id': status.deploy.server.id}) }}">{{ status.deploy.server.name }}</a> ({{ status.deploy.server.environment.key }})</h4>
                    <!-- <time datetime="2014-03-20 1:00">{{ status.success.end|date }}</time> -->
                    <p class="mbn">{{ status.success.end|date }}</p>
                </header>

                <section class="card__details">
                    <ul class="split">
                        <li>
                            <span class="split__title">Last push:</span>
                            {% if status.latest %}
                                {% if status.latest.status == 'Success' %}
                                    <span class="status-before--success">
                                        {{ status.latest.status }}
                                    </span>
                                {% elseif status.latest.status == 'Error' %}
                                    <span class="status-before--error">
                                        {{ status.latest.status }}
                                    </span>
                                {% else %}
                                    <span class="status-before--other">
                                        {{ status.latest.status }}
                                    </span>
                                {% endif %}
                                (<a href="{{ urlFor('push', {'push': status.latest.id}) }}">{{ status.latest.id }}</a>)
                            {% else %}
                                None
                            {% endif %}
                        </li>
                        <li>
                            <span class="split__title">Build:</span>
                            {% if status.success %}
                                <a href="{{ urlFor('build', {'repo': repo.id, 'build': status.success.build.id}) }}">{{ status.success.build.id[:10] }}</a>
                            {% else %}
                                Unknown
                            {% endif %}
                        </li>
                        <li>
                            <span class="split__title">Branch:</span>
                            {% if status.success %}
                                {% if githubCommitIsCurrent(repo.githubUser, repo.githubRepo, status.success.build.branch, status.success.build.commit) %}
                                <span class="status-before--success">
                                    {{ status.success.build.branch[:20] }}
                                </span>
                                {% else %}
                                <span class="status-before--warning">
                                    {{ status.success.build.branch[:20] }}
                                </span>
                                {% endif %}
                                <svg viewBox="0 0 32 32" class="icon">
                                    <use xlink:href="#fork"></use>
                                </svg>
                            {% else %}
                                Unknown
                            {% endif %}
                        </li>
                        <li>
                            <span class="split__title">Commit:</span>
                            {% if status.success %}
                                <a href="{{ githubCommit(repo.githubUser, repo.githubRepo, status.success.build.commit) }}">{{ status.success.build.commit[:7] }}</a>
                                <svg viewBox="0 0 32 32" class="icon">
                                    <use xlink:href="#github"></use>
                                </svg>
                            {% else %}
                                Unknown
                            {% endif %}
                        </li>
                    </ul>
                    <a class="btn--full rollback" href="{{ urlFor('rollback', {'id': repo.id, 'server': status.deploy.server.id}) }}">
                        <svg viewBox="0 0 32 32" class="icon">
                            <use xlink:href="#revert"></use>
                        </svg>
                        Rollback
                    </a>
                </section>
            </article>
        </li>
        {% endfor %}
    </ul>

    <h3>Recent Builds</h3>

    {% include 'partials/build-table.twig' with {'builds': builds} %}
    <p>
        {% if canUserBuild(currentUser, repo.key) %}
            <a class="btn--toggles btn--action" href="{{ urlFor('build.start', {'id': repo.id}) }}">Start New Build</a>
        {% endif %}
        <a class="btn--toggles" href="{{ urlFor('build.history', {'id': repo.id, 'page': 1}) }}">All Builds</a>
        <a class="btn--toggles" href="{{ urlFor('push.history', {'id': repo.id, 'page': 1}) }}">All Pushes</a>
        <a class="btn--toggles" href="{{ urlFor('repository', {id: repo.id}) }}">Repository Details</a>
    </p>
{% endblock %}
