{% extends 'base.html.twig' %}

{% set page_title = "Status: " ~ repo.description %}

{% import _self as macros %}

{% block content %}
    <h2>Repository Status for <strong>{{ repo.description }}</strong></h2>

    <h3>Server Status</h3>

    {% set hasPushes = false %}
    {% set hasServers = false %}

    {# Determine whether repo has servers so we can display an nicer message if this repo cannot be pushed #}
    {% for statuses in environments %}
        {% if statuses %}
            {% set hasServers = true %}
        {% endif %}
    {% endfor %}

    {% if hasServers %}
        <p>These cards show the current status of all servers with deployment relationships to this repository.</p>
    {% else %}
        <p>This repository has no deployment relationships and cannot be pushed.</p>
    {% endif %}

    {# example display of servers by environment #}
    {% for env, statuses in environments %}
        {% if statuses %}
            <h3>{{ env }}</h3>
            <ul class="list--bare cards cards--{{ env }}">
                {% for status in statuses %}

                    {# Determine whether repo has been pushed so we can hide the all pushes button if there are no pushes #}
                    {% if status.latest %}
                        {% set hasPushes = true %}
                    {% endif %}

                    {# Determine the active push #}
                    {% if status.latest.status in ['Waiting', 'Pushing'] %}
                        {% set activePush = status.latest %}
                    {% elseif status.success %}
                        {% set activePush = status.success %}
                    {% endif %}

                    {# Determine if the is a history to rollback to, or user is allowed to #}
                    {% if status.success and canUserPush(currentUser, repo.key, status.deploy.server.environment.key) %}
                        {% set canRollback = true %}
                    {% else %}
                        {% set canRollback = false %}
                    {% endif %}

                    <li>{{ macros.pushCard(repo, status.deploy, activePush, canRollback) }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}

    <p><a class="btn--toggles" href="{{ urlFor('repository', {id: repo.id}) }}">View Repository Details</a></p>

    <h3>Recent Builds</h3>
    <p>
        {% if canUserBuild(currentUser, repo.key) %}
            <a class="btn--toggles btn--action" href="{{ urlFor('build.start', {'id': repo.id}) }}">Start New Build</a>
        {% endif %}

        {% if builds %}
            <a class="btn--toggles" href="{{ urlFor('build.history', {'id': repo.id, 'page': 1}) }}">All Builds</a>
        {% endif %}

        {% if hasPushes %}
            <a class="btn--toggles" href="{{ urlFor('push.history', {'id': repo.id, 'page': 1}) }}">All Pushes</a>
        {% endif %}
    </p>
    {% include 'partials/build-table.twig' with {'builds': builds} %}
{% endblock %}

{% macro pushCard(repo, deployment, active, canRollback) %}

    <article class="card">
        <header class="card__header">
            <h4 class="mbn">
                <a href="{{ urlFor('server', {'id': deployment.server.id}) }}">{{ deployment.server.name }}</a>

                {% if deployment.url %}
                    <a class="icon--link" href="{{ deployment.url.asString }}">
                        <svg class="icon"><use xlink:href="#outgoing"></use></svg>
                    </a>
                {% endif %}

                {% if canRollback %}
                    <a class="rollback icon--link" href="{{ urlFor('rollback', {'id': repo.id, 'server': deployment.server.id}) }}" title="Rollback to a successful build">
                        <svg class="icon"><use xlink:href="#revert"></use></svg>
                    </a>
                {% endif %}

            </h4>
            <p class="mbn"><span title="{{ deployment.path }}">{{ deployment.path }}</span></p>
        </header>

        <section class="card__details">
            <ul class="split">
                <li>
                    <span class="split__title">Last push:</span>
                    {% if active %}
                        {% if active.status in ['Success', 'Error'] %}
                            <span class="status-before--{{ active.status == 'Success' ? 'success' : 'error' }}">
                                {{ active.status }}
                            </span>
                        {% else %}
                            <span class="status-before--other" data-push="{{ active.id }}">
                                {{ active.status }}
                            </span>
                        {% endif %}

                        (<a href="{{ urlFor('push', {'push': active.id}) }}">{{ active.id|formatPushId }}</a>)
                    {% else %}
                        None
                    {% endif %}
                <li>
                    <span class="split__title">Pushed on:</span>
                    {% if active.created %}
                        {{ active.created|reldate }}
                    {% else %}
                        Never
                    {% endif %}
                </li>
                <li>
                    <span class="split__title">Build:</span>
                    {% if active %}
                        <a href="{{ urlFor('build', {'repo': repo.id, 'build': active.build.id}) }}">{{ active.build.id|formatBuildId }}</a>
                    {% else %}
                        Unknown
                    {% endif %}
                </li>
                <li>
                    <span class="split__title">Reference:</span>
                    {% if active %}
                        {% set isCurrent = githubCommitIsCurrent(repo.githubUser, repo.githubRepo, active.build.branch, active.build.commit) %}
                        <span class="status-before--{{ isCurrent ? 'success' : 'warning' }}">
                            <a href="{{ githubReference(repo.githubUser, repo.githubRepo, active.build.branch) }}">{{ active.build.branch|sliceGitref }}</a>
                        </span>
                        <svg class="icon"><use xlink:href="#fork"></use></svg>
                    {% else %}
                        Unknown
                    {% endif %}
                </li>
                <li>
                    <span class="split__title">Commit:</span>
                    {% if active %}
                        <a href="{{ githubCommit(repo.githubUser, repo.githubRepo, active.build.commit) }}">{{ active.build.commit|commit }}</a>
                        <svg class="icon"><use xlink:href="#github"></use></svg>
                    {% else %}
                        Unknown
                    {% endif %}
                </li>
            </ul>
        </section>
    </article>
{% endmacro %}
