{% extends 'base.html.twig' %}

{% set page_title = repo.key %}

{% import _self as macros %}

{% block content %}
    <h2>{{ repo.key }} repository status</h2>

    <h3>Server Status</h3>
    <p>These cards show the current status of all servers with deployment relationships to this repository.</p>

    <ul class="list--bare cards">
        {% for status in statuses %}

            {# Determine the active push #}
            {% if status.latest.status in ['Waiting', 'Pushing'] %}
                {% set activePush = status.latest %}
            {% elseif status.success %}
                {% set activePush = status.success %}
            {% endif %}

            {# Determine if the is a history to rollback to, or user is allowed to #}
            {% if status.success and canUserPush(currentUser, repo.key, status.deploy.server.environment.key) %}
                {% set canRollback = true %}
            {% else %}
                {% set canRollback = false %}
            {% endif %}

            <li>{{ macros.pushCard(repo, status.deploy.server, activePush, canRollback) }}</li>
        {% endfor %}
    </ul>

    <p><a class="btn--toggles" href="{{ urlFor('repository', {id: repo.id}) }}">View Repository Details</a></p>

    <h3>Recent Builds</h3>
    <p>
        {% if canUserBuild(currentUser, repo.key) %}
            <a class="btn--toggles btn--action" href="{{ urlFor('build.start', {'id': repo.id}) }}">Start New Build</a>
        {% endif %}
        <a class="btn--toggles" href="{{ urlFor('build.history', {'id': repo.id, 'page': 1}) }}">All Builds</a>
        <a class="btn--toggles" href="{{ urlFor('push.history', {'id': repo.id, 'page': 1}) }}">All Pushes</a>
    </p>
    {% include 'partials/build-table.twig' with {'builds': builds} %}
{% endblock %}

{% macro pushCard(repo, server, active, canRollback) %}

    <article class="card">
        <header class="card__header">
            <h4 class="mbn">
                <a href="{{ urlFor('server', {'id': server.id}) }}">{{ server.name }}</a> ({{ server.environment.key }})

            {% if canRollback %}
                <a class="rollback" href="{{ urlFor('rollback', {'id': repo.id, 'server': server.id}) }}" title="Rollback to a successful build">
                    <svg viewBox="0 0 32 32" class="icon">
                        <use xlink:href="#revert"></use>
                    </svg>
                </a>
            {% endif %}

            </h4>
            <p class="mbn">{{ active.created ? active.created|reldate : 'Never' }}</p>
        </header>

        <section class="card__details">
            <ul class="split">
                <li>
                    <span class="split__title">Last push:</span>
                    {% if active %}
                        {% if active.status in ['Success', 'Error'] %}
                            <span class="status-before--{{ active.status == 'Success' ? 'success' : 'error' }}">
                                {{ active.status }}
                            </span>
                        {% else %}
                            <span class="status-before--other" data-push="{{ active.id }}">
                                {{ active.status }}
                            </span>
                        {% endif %}

                        (<a href="{{ urlFor('push', {'push': active.id}) }}">{{ active.id|formatPushId }}</a>)
                    {% else %}
                        None
                    {% endif %}
                </li>
                <li>
                    <span class="split__title">Build:</span>
                    {% if active %}
                        <a href="{{ urlFor('build', {'repo': repo.id, 'build': active.build.id}) }}">{{ active.build.id|formatBuildId }}</a>
                    {% else %}
                        Unknown
                    {% endif %}
                </li>
                <li>
                    <span class="split__title">Reference:</span>
                    {% if active %}
                        {% set isCurrent = githubCommitIsCurrent(repo.githubUser, repo.githubRepo, active.build.branch, active.build.commit) %}
                        <span class="status-before--{{ isCurrent ? 'success' : 'warning' }}">
                            <a href="{{ githubReference(repo.githubUser, repo.githubRepo, active.build.branch) }}">{{ active.build.branch|gitref }}</a>
                        </span>

                        <svg viewBox="0 0 32 32" class="icon">
                            <use xlink:href="#fork"></use>
                        </svg>
                    {% else %}
                        Unknown
                    {% endif %}
                </li>
                <li>
                    <span class="split__title">Commit:</span>
                    {% if active %}
                        <a href="{{ githubCommit(repo.githubUser, repo.githubRepo, active.build.commit) }}">{{ active.build.commit|commit }}</a>
                        <svg viewBox="0 0 32 32" class="icon">
                            <use xlink:href="#github"></use>
                        </svg>
                    {% else %}
                        Unknown
                    {% endif %}
                </li>
            </ul>
        </section>
    </article>
{% endmacro %}
