{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}
{% import "_partial-form/macros.twig" as form_macros %}

{% set page_title = "Edit Environment : " ~ environment.name %}

{% block content %}
    <h1>Edit Environment - <strong>{{ environment.name }}</strong></h1>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form action="" method="post">
            <ul class="form-fields">
                <li>
                    <h4>Name</h4>
                    <p>
                        {{ environment.name }}
                        {% if environment.isProduction %}
                            {{ macros.status('Production', 'info', 'key') }}
                        {% endif %}
                    </p>
                </li>

                <li>
                    <h4>Is Production Environment?</h4>
                    <p>
                        {{ environment.isProduction ? 'Yes' : 'No' }}
                    </p>
                </li>

                <li>
                    <h2>Consul</h2>
                </li>
                <li>
                    <label for="env-service">
                        <span class="tooltipped tooltipped-e" aria-label="The consul service associated with this environment.">Service URL</span>
                    </label>

                    <input type="text" name="service" id="env-service" maxlength="200" value="{{ form.service }}" class="text-input">
                    <small class="additional">Must be the full URL and begin with <code>http://</code> or <code>https://</code>.</small>
                </li>
                <li>
                    <label for="env-token">
                        {{ macros.icon('locked') }}
                        <span class="tooltipped tooltipped-e" aria-label="Access token for Consul. Optional if not using ACL.">Access Token</span>
                    </label>

                    <input type="text" name="token" id="env-token" maxlength="40" value="{{ form.token }}" class="text-input" autocomplete="off">
                </li>

                <li>
                    <h2>QKS</h2>
                </li>
                <li>
                    <label for="env-qks_service">
                        <span class="tooltipped tooltipped-e" aria-label="The QKS service associated with this environment.">Service URL</span>
                    </label>

                    <input type="text" name="qks_service" id="env-qks_service" maxlength="200" value="{{ form.qks_service }}" class="text-input">
                    <small class="additional">Must be the full URL and begin with <code>http://</code> or <code>https://</code>.</small>
                </li>
                <li>
                    <label for="env-qks_client">
                        <span class="tooltipped tooltipped-e" aria-label="Application Client ID from API Gateway.">Client ID</span>
                    </label>

                    <input type="text" name="qks_client" id="env-qks_client" maxlength="100" value="{{ form.qks_client }}" class="text-input">
                </li>
                <li>
                    <label for="env-qks_secret">
                        {{ macros.icon('locked') }}
                        <span class="tooltipped tooltipped-e" aria-label="Application Client ID from API Gateway.">Client Secret</span>
                    </label>

                    <input type="text" name="qks_secret" id="env-qks_secret" maxlength="40" value="{{ form.qks_secret }}" class="text-input" autocomplete="off">
                </li>
            </ul>

            <ul class="button-list">
                <li><input class="btn btn--action" type="submit" value="Save Changes"></li>
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('kraken.environment', {environment: environment.id}) }}">Cancel</a></li>
            </ul>

        </form>
    </div>
{% endblock %}
