{% extends 'base.html.twig' %}

{% set page_title = 'Edit Server: '~server.name %}

{% block content %}
    <h2>Edit Server</h2>

    <div class="form-wrapper">
        {% if errors %}
            <ul class="error-list">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="{{ urlFor('server.admin.edit.handle', {id: server.id}) }}" method="post">
            <ul class="form-fields">
                <li>
                    <label for="hostname">Hostname</label>
                    <input type="text" name="hostname" id="hostname" maxlength="24" required value="{{ form.hostname }}" class="text-input">
                </li>
                <li>
                    <p>Environment</p>
                    <ul class="radio-grid--form">
                    {% for environment in environments %}
                        {% set checked = '' %}
                        {% if form.environment == environment.id %}
                            {% set checked = ' checked="checked"' %}
                        {% endif %}

                        <li>
                            <input type="radio" name="environment" id="environment-{{ environment.id }}" value="{{ environment.id }}"{{ checked }}>
                            <label for="environment-{{ environment.id }}">{{ environment.key }}</label>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
                <li>
                    {# primary action #}
                    <input class="btn" type="submit" value="Save">

                    {# secondary actions #}
                    <a class="secondary-action" href="{{ urlFor('server', {id: server.id}) }}">Cancel</a>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
