{% extends 'base.html.twig' %}

{% set page_title = 'Server: ' ~ server.name %}

{% block content %}
    <h2>Server Information</h2>

    <h3>Hostname</h3>
    <p>{{ server.name }}</p>

    <h3>Environment</h3>
    <p>{{ server.environment.key }}</p>

    <h3>Repository deployments:</h3>
    <ul>
        {% for deployment in deployments %}
            <li>
                <span class="fixed-size-label">
                    <a href="{{ urlFor('repository', {id: deployment.repository.id}) }}">{{ deployment.repository.key }}</a>
                </span>
                <code>{{ deployment.path }}</code>
            </li>
        {% else %}
            <li>There are no deployments associated with this server.</li>
        {% endfor %}
    </ul>

    {% if isUserAdmin(currentUser) and deployments %}
        <p><strong>Note:</strong> All associated deployments must be removed or transferred to remove this server.</p>
    {% endif %}

    <div>
        {% if isUserAdmin(currentUser) %}
            <a class="btn--action" href="{{ urlFor('server.admin.edit', {id: server.id}) }}">Edit</a>
            {% if not deployments and canUserDelete(currentUser) %}
                <a class="btn--destructive secondary-action" href="{{ urlFor('server.admin.remove.handle', {id: server.id}) }}">Remove Server</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
