{% extends 'base.html.twig' %}

{% set page_title = 'Server: ' ~ server.name %}

{% block content %}
    <h2>Server Information</h2>

    {% set servertype = 'Unknown' %}
    {% if server.type == 'elasticbeanstalk' %}
        {% set servertype = 'Elastic Beanstalk' %}
    {% elseif server.type == 'rsync' %}
        {% set servertype = 'Internal (Rsync)' %}
    {% endif %}

    <h3>Type</h3>
    <p>{{ servertype }}</p>

    {% set servername = server.name %}
    {% if server.type == 'elasticbeanstalk' %}
        {% set servername = 'Not applicable' %}
    {% endif %}

    <h3>Hostname</h3>
    <p>{{ servername }}</p>

    <h3>Environment</h3>
    <p>{{ server.environment.key }}</p>

    <h3>Repository deployments</h3>
    {% if deployments %}
        <table class="tablesaw tablesaw-stack" data-mode="stack">
            <thead>
                <tr>
                    <th>Repository</th>
                    <th>
                        {% if server.type == 'elasticbeanstalk' %}
                            EBS Environment
                        {% else %}
                            Path
                        {% endif %}
                    </th>
                    <th>URL</th>
                    <th class="t10"></th>
                </tr>
            </thead>
            <tbody>
            {% for deployment in deployments %}
                <tr>
                    <td>
                        <a href="{{ urlFor('repository', {id: deployment.repository.id}) }}">{{ deployment.repository.description }}</a>
                    </td>
                    <td>
                        {% if server.type == 'elasticbeanstalk' %}
                            <code>{{ deployment.ebsEnvironment }}</code>
                        {% else %}
                            <code>{{ deployment.path }}</code>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ deployment.url.asString()  }}">{{ deployment.url.asString()  }}</a>
                    </td>
                    <td>
                        <a class="btn--tiny" href="{{ urlFor('repository.deployments', {repository: deployment.repository.id}) }}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no deployments associated with this server.</p>
    {% endif %}

    {% if isUserAdmin(currentUser) and deployments %}
        <p><strong>Note:</strong> All associated deployments must be removed or transferred to remove this server.</p>
    {% endif %}

    <div>
        {% if isUserAdmin(currentUser) %}
            <a class="btn--action" href="{{ urlFor('server.admin.edit', {id: server.id}) }}">Edit</a>
            {% if not deployments and isUserAdmin(currentUser) %}
                <a class="btn--destructive secondary-action" href="{{ urlFor('server.admin.remove', {id: server.id}) }}">Remove Server</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
