{% extends 'base.html.twig' %}

{% set page_title = 'Server: '~server.name %}

{% block content %}
    <h2><strong>{{ server.name }}</strong> server</h2>

    <h3>Environment</h3>
    <p>{{ server.environment.key }}</p>

    <h3>Repository deployments:</h3>
    <ul>
        {% for deployment in deployments %}
            <li><a href="{{ urlFor('repository', {id: deployment.repository.id}) }}">{{ deployment.repository.key }}</a> ({{ deployment.path }})</li>
        {% else %}
            <li>There are no deployments associated with this server.</li>
        {% endfor %}
    </ul>

    {% if isAdmin and deployments %}
        <p><strong>Note:</strong> All associated deployments must be removed or transferred to remove this server.</p>
    {% endif %}

    <div>
        {# primary action #}
        <a class="btn" href="{{ urlFor('servers') }}">View all servers</a>

        {% if isAdmin %}
            {# secondary actions #}
            <a class="btn--action secondary-action" href="{{ urlFor('server.admin.edit', {id: server.id}) }}">Edit</a>
            {% if not deployments %}
                <form class="secondary-action" action="{{ urlFor('server.admin.remove.handle', {id: server.id}) }}" method="post">
                    <input class="btn--destructive" type="submit" value="Remove">
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
