{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.git.twig' as git_macros %}
{% import 'macros.form.twig' as form_macros %}
{% set js_components = ['application_permissions'] %}

{% set page_title = 'Grant Application Permissions' %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }}</h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('application', {'application': application.id}) }}">Back to Application</a>
        </p>
    </div>

    {{ block('meta') }}

    <h2>Add Permissions</h2>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form method="post">
            <ul class="form-fields">
                <li>
                    <label>Users</label>
                    <small class="additional">
                        Grant access to multiple users at once.
                    </small>

                    <ul class="list--bare js-app-permissions">
                        {% if form.users|length == 0 %}
                            {% for i in 0..1 %}
                                <li><input class="text-input" type="text" name="users[]" list="users-datalist" placeholder="Type or select a user..." value="{{ form.users[i] }}"></li>
                            {% endfor %}
                        {% else %}
                            {% for user in form.users %}
                                <li><input class="text-input" type="text" name="users[]" list="users-datalist" placeholder="Type or select a user..." value="{{ user }}"></li>
                            {% endfor %}
                        {% endif %}
                    </ul>

                    <datalist id="users-datalist">
                        {% for u in users %}
                            <option value="{{ u.username|lower }}">{{ u.name }}{% if u.username ends with '-' %} (dash){% endif %}</option>
                        {% endfor %}
                    </datalist>
                </li>

                <li>
                    <label>Permission Type</label>
                    <ul class="list--bare">
                        {% for user_type in availableTypes %}
                            {% set is_selected = form.type == user_type ? ' checked' : '' %}
                            <li>
                                <label for="perm-{{ user_type }}">
                                    <input type="radio" id="perm-{{ user_type }}" name="type" value="{{ user_type }}"{{ is_selected }}>
                                    {{ user_type|capitalize }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <ul class="list--bare">
                <li><input class="btn btn--action" type="submit" value="Add Permissions"></li>
                <li><a class="btn" href="{{ uriFor('application', {'application': application.id}) }}">Cancel</a></li>
            </ul>
        </form>
    </div>

    <h2>Permission Levels</h2>
    {% include 'permissions/partial.permission_descriptions.twig' %}

{% endblock %}

{% block meta %}
    <ul class="meta-box">
        <li>
            <h6>Application</h6>
            {{ application.name }}
        </li>

        <li>
            <h6>Version Control</h6>
            {{ git_macros.vcs(application) }}
        </li>
    </ul>
{% endblock %}
