{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'application/macros.applications.twig' as apps_macros %}
{% set js_components = ['applications_list'] %}

{% set page_title = 'Applications' %}

{% block content %}
    {{ block('favs') }}

    <h2>Organizations</h2>
    {{ block('orgs_grid') }}

    <h2>Applications</h2>
    {{ block('apps_table') }}

    <p>
        <a class="btn" href="{{ uriFor('applications.add') }}">Add Application</a>
        <a class="btn" href="{{ uriFor('organization.add') }}">Add Organization</a>
    </p>
{% endblock %}

{% block favs %}

    {% if favorites %}
        <h2>Favorites</h2>
        <table>
            <thead>
                <tr>
                    <th>Application</th>
                    <th class="t40">Version Control</th>
                    <th class="t20"></th>
                </tr>
            </thead>
            <tbody>
                {% for application in favorites %}
                    {{ apps_macros.app_row(current_user, application) }}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}

{% block orgs_grid %}

    {% if organizations %}
        <ul class="list--bullet">
            {% for organization in organizations %}
                <li><a href="#org-{{ organization.id }}">{{ organization.name }}</a></li>
            {% endfor %}

            {% if applications.none %}
                <li><a href="#org-none">Not in organization</a></li>
            {% endif %}
        </ul>
    {% else %}
        <p>There are no organizations.</p>
    {% endif %}

{% endblock %}

{% block apps_table %}

    {% if applications %}

        <input
            id="js-search-input"
            class="text-input"
            type="text"
            name="search"
            autocomplete="off"
            placeholder="Search for an application or repository..."
            maxlength="100">

        <table class="js-collapsible js-search-table">
            <thead>
                <tr>
                    <th>Application</th>
                    <th class="t40">Version Control</th>
                    <th class="t20 js-collapsible-global tr"></th>
                </tr>
            </thead>

            {% for org_id, organization_apps in applications %}
                <tbody class="js-search-group">
                    {% set organization = organizations[org_id] %}

                    {% if organization %}
                        <tr>
                            <th colspan="3" class="table-mid-header" id="org-{{ org_id }}">
                                <a href="{{ uriFor('organization', {'organization': organization.id}) }}">{{ organization.name }}</a>
                            </th>
                        </tr>
                    {% else %}
                        <tr>
                            <th colspan="3" class="table-mid-header" id="org-none">
                                Not in organization
                            </th>
                        </tr>

                    {% endif %}

                    {% if organization_apps %}
                        {% for application in organization_apps %}
                            {{ apps_macros.app_row(current_user, application, true) }}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">No applications found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            {% endfor %}
        </table>

    {% else %}
        <p>There are no applications.</p>
    {% endif %}

{% endblock %}
