{% extends 'base.twig' %}
{% import "macros.twig" as macros %}
{% import "macros.form.twig" as form_macros %}

{% set page_title = 'Edit Application : ' ~ application.name %}

{% block content %}
    <h1>Edit Application - <b>{{ application.name }}</b></h1>

    {{ form_macros.formErrors(errors) }}

    <form method="post">

        <div class="form-wrapper">
            <ul class="form-fields">
                <li>
                    <label for="name">Name</label>
                    <input name="name" id="name" maxlength="64" required value="{{ form.name }}" class="text-input">
                </li>
                <li>
                    <label for="identifier">Identifier</label>
                    <input type="text" name="identifier" id="identifier" maxlength="24" required value="{{ form.identifier }}" class="text-input t50">
                </li>
            </ul>
        </div>

        <ul class="form-fields">
            <li>
                <p>Organization</p>
                <ul class="radio-grid radio-grid--tri">
                {% for group in groups %}
                    {% set checked = '' %}
                    {% if form.group == group.id %}
                        {% set checked = ' checked="checked"' %}
                    {% endif %}

                    <li>
                        <input type="radio" name="group" id="group-{{ group.id }}" value="{{ group.id }}"{{ checked }}>
                        <label for="group-{{ group.id }}">{{ group.name }}</label>
                    </li>
                {% endfor %}
                </ul>
            </li>
        </ul>

        <div class="form-wrapper">
            <ul class="form-fields">
                <li>
                    <label for="github">GitHub Enterprise Repository</label>
                    <input name="github" id="github" maxlength="200" required value="{{ form.github }}" class="text-input">
                    <small class="additional">
                        Enter the full URL or organization/repository such as <b>http://git/team-a/project-b</b> or <b>team-a/project-b</b>.
                    </small>
                </li>
            </ul>

            <ul>
                <li><input class="btn btn--action" type="submit" value="Save Changes"></li>
                <li><a class="btn" href="{{ uriFor('application', {'application': application.id}) }}">Cancel</a></li>
            </ul>
        </div>

    </form>
{% endblock %}
