{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.git.twig' as git_macros %}

{% set page_title = 'Application' %}

{% set is_admin = current_authorizations.isSuper() or current_authorizations.isAdmin() %}
{% set can_edit = is_admin or current_authorizations.isOwnerOf(application) %}
{% set can_remove = can_edit %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('applications') }}">Applications</a></li>
    {% if application.organization -%}
        <li><a href="{{ uriFor('organization', {'organization': application.organization.id}) }}">{{ application.organization.name }}</a></li>
    {%- endif %}
{% endblock %}

{% block content %}
    {{ block('meta') }}
    {{ block('actions') }}

    <h2>Authorization and Permissions</h2>
    {% include 'permissions/partial.permissions.twig' with { 'application': application, 'permissions': permissions, 'can_edit': can_edit } %}

{% endblock %}

{% block meta %}
    <ul class="meta-box">
        <li>
            <h6>ID</h6>
            {{ application.id|short_guid }}
        </li>

        <li>
            <h6>Name</h6>
            {{ application.name }}
        </li>

        <li>
            <h6>Version Control</h6>
            {{ git_macros.vcs(application) }}
        </li>

        <li>
            <h6>Organization</h6>
            {% if application.organization %}
                <a href="{{ uriFor('organization', {'organization': application.organization.id}) }}">
                    {{ application.organization.name }}
                </a>
            {% else %}
                None
            {% endif %}
        </li>

        <li>
            <h6>Date Added</h6>
            {{ application.created|html5date }}
        </li>
    </ul>
{% endblock %}

{% block actions %}
    <p>
        <a class="btn" href="{{ uriFor('application.dashboard', {'application': application.id}) }}">Dashboard</a></li>
        <a class="btn" href="{{ uriFor('encrypted.configuration', {'application': application.id}) }}">Encrypted Configuration</a></li>
        <a class="btn" href="{{ uriFor('targets', {'application': application.id}) }}">Deployment Targets</a></li>
    </p>
    <p>
        {% if can_edit %}
            <a class="btn btn--action" href="{{ uriFor('application.edit', {'application': application.id}) }}">Edit Application</a>
        {% else %}
            {{ macros.disabled_button('Edit Application') }}
        {% endif %}

        {% if can_remove %}
            <a class="btn btn--destructive" href="{{ uriFor('application.remove', {'application': application.id}) }}">Remove Application</a>
        {% else %}
            {{ macros.disabled_button('Remove Application') }}
        {% endif %}
    </p>
{% endblock %}
