{% extends 'base.twig' %}
{% import "macros.twig" as macros %}
{% import "macros.git.twig" as git_macros %}
{% import "macros.form.twig" as form_macros %}
{% set js_components = ["app.permissions.multi"] %}

{% set page_title = 'Grant Application Permissions : ' ~ application.name %}

{% block content %}
    <h1>Grant Application Permissions - <b>{{ application.name }}</b></h1>

    {{ block('meta') }}

    <h2>Add Permissions</h2>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form method="post">
            <ul class="form-fields">

                <li>
                    <label>Users</label>
                    <small class="additional">
                        Grant access to multiple users at once.
                    </small>

                    <ul class="list--bare js-app-permissions">
                        {% if form.users|length == 0 %}
                            {% for i in 0..1 %}
                                <li><input class="text-input" type="text" name="users[]" list="users-datalist" placeholder="Type or select a user..." value="{{ form.users[i] }}"></li>
                            {% endfor %}
                        {% else %}
                            {% for user in form.users %}
                                <li><input class="text-input" type="text" name="users[]" list="users-datalist" placeholder="Type or select a user..." value="{{ user }}"></li>
                            {% endfor %}
                        {% endif %}
                    </ul>

                    <datalist id="users-datalist">
                        {% for u in users %}
                            <option value="{{ u.username|lower }}">{{ u.name }}{% if u.username ends with '-' %} (dash){% endif %}</option>
                        {% endfor %}
                    </datalist>
                </li>

                <li>
                    <label>Permission Type</label>
                    {% if availableTypes|length > 1 %}
                        <ul class="radio-grid radio-grid--two">
                            {% for user_type in availableTypes %}

                                {% set isSelected = form.type == user_type ? true : false %}

                                <li>
                                    <input id="perm-{{ user_type }}" type="radio" name="type" value="{{ user_type }}"{{ isSelected ? ' checked' : '' }}>
                                    <label for="perm-{{ user_type }}">{{ user_type|capitalize }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul class="radio-grid radio-grid--two">
                            {% for user_type in availableTypes %}
                                <li>
                                    <input id="perm-{{ user_type }}" type="radio" name="type" value="{{ user_type }}" checked>
                                    <label for="perm-{{ user_type }}">{{ user_type|capitalize }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>

            </ul>

            <ul>
                <li><input class="btn btn--action" type="submit" value="Add Permissions"></li>
                <li><a class="btn" href="{{ uriFor('application', {'application': application.id}) }}">Cancel</a></li>
            </ul>
        </form>
    </div>

    {{ block('user_legend') }}

{% endblock %}

{% block meta %}
    <div class="details-box">
        <ul>
            <li>Name</li>
            <li>{{ application.name }}</li>

            <li>Identifier</li>
            <li>{{ application.key }}</li>

            <li>GitHub Source</li>
            <li>{{ git_macros.gitsource(application) }}</li>
        </ul>
    </div>
{% endblock %}

{% block user_legend %}

    <h4>Permission Types</h4>

    <section class="details-box">
        <ul class="list--bare mbn">
            <li class="list--legend">
                <p class="mbn mrs">{{ macros.status('Member', 'info') }}</p>
                <p class="mbn">Users granted member access can create builds and push to non-prod environments</p>
            </li>
            <li class="list--legend">
                <p class="mbn mrs">{{ macros.status('Owner', 'notice') }}</p>
                <p class="mbn">
                    Leads can manage their application, its environments, and encrypted configuration. They can deploy to non-prod environments and grant non-prod access to others.
                </p>
            </li>
        </ul>
    </section>


{% endblock %}
