{% extends 'base.twig' %}
{% import _self as page_macros %}
{% import "macros.twig" as macros %}
{% set js_components = ["applications.list"] %}

{% set page_title = "Applications" %}

{% block content %}
    <h1>{{ page_title }}</h1>
    {{ block('favs') }}

    <h2>Organizations</h2>
    {{ block('orgs_grid') }}

    <h2>Applications</h2>
    {{ block('apps_table') }}

    <ul>
        <li><a class="btn" href="{{ uriFor('application.add') }}">Add Application</a></li>
        <li><a class="btn" href="{{ uriFor('organization.add') }}">Add Organization</a></li>
    </ul>
{% endblock %}

{% block favs %}

    {% if favorites %}
        <h2>Favorites</h2>
        <table class="table--spacing-medium">
            <thead>
                <tr>
                    <th>Application</th>
                    <th class="t50">GitHub Source</th>
                    <th class="t5"></th>
                </tr>
            </thead>
            <tbody>
                {% for application in favorites %}
                    {{ page_macros.app_row(current_user, application) }}
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

{% endblock %}

{% block orgs_grid %}

    {% if organizations %}
        <ul>
            {% for organization in organizations %}
                <li><a href="#org-{{ organization.id }}">{{ organization.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no organizations.</p>
    {% endif %}

{% endblock %}

{% block apps_table %}

    {% if applications %}
        <input
            id="js-search-input"
            class="text-input"
            type="text"
            name="search"
            autocomplete="off"
            placeholder="Search for an application or repository..."
            maxlength="100">

        <table class="table--spacing-medium js-collapsible js-search-table">
            <thead>
                <tr>
                    <th>Application</th>
                    <th class="t50">GitHub Source</th>
                    <th class="t10 tr js-collapsible-global"></th>
                </tr>
            </thead>

            {% set hasApplications = false %}

            {% for org_id, organization_apps in applications %}
                <tbody class="js-search-group">
                    {% set organization = organizations[org_id] %}
                    <tr>
                        <th colspan="3" class="table-mid-header" id="org-{{ org_id }}">
                            <a href="{{ uriFor('organization', {'organization': organization.id}) }}">{{ organization.name }}</a>
                        </th>
                    </tr>

                    {% if organization_apps %}
                        {% set hasApplications = true %}
                        {% for application in organization_apps %}
                            {{ page_macros.app_row(current_user, application, true) }}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">No applications found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            {% endfor %}
        </table>

    {% else %}
        <p>There are no applications.</p>
    {% endif %}

{% endblock %}

{% macro app_row(currentUser, application, allow_collapse) %}
    {% import "macros.twig" as macros %}

    {% if allow_collapse %}
        <tr class="js-collapsible-row js-search-item">
    {% else %}
        <tr>
    {% endif %}
        <td>
            {% if currentUser.settings.isFavoriteApplication(application) %}
                <form method="post"
                      action="{{ uriFor('settings.favorite_applications.remove', {'application': application.id}) }}"
                      data-app-id="{{ application.id }}"
                      class="form--fav">
                    <label class="form--fav__label fav-added">
                        <input type="submit">
                        {{ macros.icon('star-2', '', 'Remove from favorites') }}
                    </label>
                </form>
            {% else %}
                <form method="post"
                      action="{{ uriFor('settings.favorite_applications.add', {'application': application.id}) }}"
                      data-app-id="{{ application.id }}"
                      class="form--fav">
                    <label class="form--fav__label fav-normal">
                        <input type="submit">
                        {{ macros.icon('star-2', '', 'Add to favorites') }}
                    </label>
                </form>
            {% endif %}
            <a href="{{ uriFor('application.dashboard', {'application': application.id}) }}">{{ application.name }}</a>
        </td>
        <td>
            {{ macros.gitsource(application) }}
            <span class="js-search-query">{{ application.name }}</span>
            <span class="js-search-query">{{ application.githubOwner ~ '/' ~ application.githubRepo }}</span>
        </td>
        <td class="tr">
            <a href="{{ uriFor('application', {'application': application.id}) }}">Manage</a>
        </td>
    </tr>

{% endmacro %}

