{% extends 'base.html.twig' %}
{% import "_partial-form/macros.twig" as form_macros %}

{% set page_title = 'Add Application' %}

{% block content %}
    <h1>{{ page_title }}</h1>

    {{ form_macros.formErrors(errors) }}

    <form method="post">

        <div class="form-wrapper">
            <ul class="form-fields">
                <li>
                    <label for="name">Name</label>
                    <input name="name" id="name" maxlength="64" required value="{{ form.name }}" class="text-input">
                    <small class="additional">Display title for this application such as <b>Hal</b> or <b>My Secret Project</b>.</small>
                </li>
                <li>
                    <label for="identifier">
                        <span class="tooltipped tooltipped-e" aria-label="Alphanumeric, hyphen, and period characters only.">
                            Identifier
                        </span>
                    </label>
                    <input type="text" name="identifier" id="identifier" maxlength="24" required value="{{ form.identifier }}" class="text-input t50">
                    <small class="additional">
                        Unique identifier such as <b>hal</b> or <b>my-project</b>.
                    </small>
                </li>
            </ul>
        </div>

        <ul class="form-fields">
            <li>
                <label>Group</label>
                <ul class="radio-grid radio-grid--tri">
                    {% for group in groups %}
                        {% set checked = '' %}
                        {% if form.group == group.id %}
                            {% set checked = ' checked="checked"' %}
                        {% endif %}

                        <li>
                            <input id="group-{{ group.id }}" type="radio" name="group" value="{{ group.id }}"{{ checked }}>
                            <label for="group-{{ group.id }}">{{ group.name }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

        <div class="form-wrapper">
            <ul class="form-fields">
                <li>
                    <label for="github">GitHub Enterprise Repository</label>
                    <input name="github" id="github" maxlength="200" required value="{{ form.github }}" class="text-input">
                    <small class="additional">
                        Enter the full URL or organization/repository such as <b>http://git/team-a/project-b</b> or <b>team-a/project-b</b>.
                    </small>
                </li>
            </ul>

            <ul class="button-list">
                <li><input class="btn btn--action" type="submit" value="Add Application"></li>
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('applications') }}">Cancel</a></li>
            </ul>
        </div>
    </form>
{% endblock %}
