{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.git.twig' as git_macros %}

{% set page_title = 'Application' %}

{% set is_admin = current_authorizations.isSuper() or current_authorizations.isAdmin() %}
{% set can_edit = is_admin or current_authorizations.isOwnerOf(application) %}
{% set can_remove = can_edit %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }}</h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('application.dashboard', {'application': application.id}) }}">Go to Application Dashboard</a>
        </p>
    </div>

    {{ block('meta') }}
    {{ block('actions') }}

    <h2>Authorization and Permissions</h2>
    {{ block('authorization_and_permissions') }}

{% endblock %}

{% block meta %}
    <ul class="meta-box">
        <li>
            <h6>Name</h6>
            {{ application.identifier }}
        </li>

        <li>
            <h6>Description</h6>
            {{ application.name }}
        </li>

        <li>
            <h6>Source Code</h6>
            {{ git_macros.gitsource(application) }}
        </li>

        <li>
            <h6>Organization</h6>
            {% if application.organization %}
                <a href="{{ uriFor('organization', {'organization': application.organization.id}) }}">
                    {{ application.organization.name }}
                </a>
            {% else %}
                None
            {% endif %}
        </li>
    </ul>
{% endblock %}

{% block actions %}
    <ul class="list--bare">
        <li><a class="btn" href="{{ uriFor('encrypted.configuration', {'application': application.id}) }}">Encrypted Configuration</a></li>
        <li><a class="btn" href="{{ uriFor('targets', {'application': application.id}) }}">Deployment Targets</a></li>
        <li>
            {% if can_edit %}
                <a class="btn btn--action" href="{{ uriFor('application.edit', {'application': application.id}) }}">Edit Application</a>
            {% else %}
                {{ macros.disabled_button('Edit Application') }}
            {% endif %}
        </li>
        <li>
            {% if can_remove %}
                <a class="btn btn--destructive" href="{{ uriFor('application.remove', {'application': application.id}) }}">Remove Application</a>
            {% else %}
                {{ macros.disabled_button('Remove Application') }}
            {% endif %}
        </li>
    </ul>
{% endblock %}

{% block authorization_and_permissions %}
    <div class="meta-box">
        <small>
            Owners can
                manage this application,
                deploy to non-production environments, and
                grant others access.

            Administrators can also manage and deploy this application.
        </small>

        {% if permissions %}
            <ul class="list--bullet">
                {% for permission in permissions %}
                    {% set from_org = permission.organization ? '- organization' : '' %}
                    <li>
                        <a href="{{ uriFor('user', {'user': permission.user.id }) }}">
                            {{ permission.user.username|lower }}
                        </a>
                        ({{ permission.type }}{{ from_org }})
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <hr>
            <p>
                No users currently have deployment or management permissions.
                This application can be managed by administrators only. Contact an administrator
                if you would like to self-service and manage your application.
            </p>
        {% endif %}

        <ul class="list--bare">
            <li>
                {% if can_edit %}
                    <a class="btn" href="{{ uriFor('application_permission.add', {'application': application.id})}}">Grant access to other users</a>
                {% else %}
                    {{ macros.disabled_button('Grant access to other users') }}
                {% endif %}
            </li>

            <li>
                {% if can_edit and permissions %}
                    <a href="{{ uriFor('application_permission.remove', {'application': application.id}) }}">Manage or revoke permissions</a>
                {% else %}
                    {{ macros.disabled_button('Manage or revoke permissions') }}
                {% endif %}
            </li>
        </ul>

    </div>
{% endblock %}
