{% extends 'base.html.twig' %}
{% import "_partial-form/macros.twig" as form_macros %}

{% set js_components = ["application.add"] %}

{% set page_title = 'Add Application' %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form method="post">
            <ul class="form-fields">
                <li>
                    <label for="name">Name</label>
                    <input name="name" id="name" maxlength="64" required value="{{ form.name }}" class="text-input">
                    <small class="additional">Display title for this application such as <b>HAL 9000</b> or <b>My Secret Project</b>.</small>
                </li>
                <li>
                    <label for="identifier">
                        <span class="tooltipped tooltipped-e" aria-label="Alphanumeric, hyphen, and period characters only.">
                            Identifier
                        </span>
                    </label>
                    <input type="text" name="identifier" id="identifier" maxlength="24" required value="{{ form.identifier }}" class="text-input t50">
                    <small class="additional">
                        Unique identifier such as <b>hal9000</b> or <b>my-project</b>.
                    </small>
                </li>
                <li>
                    <label>Group</label>
                    <ul class="radio-grid radio-grid--tri">
                        {% for group in groups %}
                            {% set checked = '' %}
                            {% if form.group == group.id %}
                                {% set checked = ' checked="checked"' %}
                            {% endif %}

                            <li>
                                <input id="group-{{ group.id }}" type="radio" name="group" value="{{ group.id }}"{{ checked }}>
                                <label for="group-{{ group.id }}">{{ group.name }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li>
                    <label for="github_user">GitHub Enterprise Organization</label>
                    <select name="github_user" id="github_user">
                        <option value=""></option>

                        {% if github_orgs.active %}
                            <optgroup label="Active">
                                {% for org in github_orgs.active %}
                                    {% set owner = org|lower %}
                                    {% set isSelected = (owner == form.github_user) %}
                                    <option value="{{ owner }}"{{ isSelected ? ' selected' : '' }}>{{ org }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endif %}

                        <optgroup label="Other">
                            {% for org in github_orgs.other %}
                                {% set owner = org|lower %}
                                {% set isSelected = (owner == form.github_user) %}
                                <option value="{{ owner }}"{{ isSelected ? ' selected' : '' }}>{{ org }}</option>
                            {% endfor %}
                        </optgroup>

                    </select>
                </li>
                <li>
                    <label for="github_repo">GitHub Enterprise Repository</label>
                    <input type="text" name="github_repo" id="github_repo" maxlength="48" required value="{{ form.github_repo }}" class="text-input">
                </li>
            </ul>

            <ul class="button-list">
                <li><input class="btn btn--action" type="submit" value="Add Application"></li>
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('applications') }}">Cancel</a></li>
            </ul>

        </form>
    </div>
{% endblock %}
