{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'application/macros.twig' as app_macros %}
{% set js_components = ['application_dashboard'] %}

{% set page_title = 'Application Dashboard' %}

{% set can_user_build = current_authorizations.canBuild(application) %}
{% set can_user_deploy = current_authorizations.canDeploy(application, selected_environment) %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }}</h1>
    </div>

    {{ block('env_picker') }}

    {% if selected_environment %}
        <h2>Environment Targets (<b>{{ selected_environment.name }}</b>)</h2>
    {% else %}
        <h2>Targets</h2>
    {% endif %}

    {{ block('target_cards') }}

    <h2>Recent Builds</h2>
    {% set is_pushable = targets|length > 0 and can_user_deploy %}
    {% include 'partial.build_table.twig' with {'builds': builds, 'is_pushable': is_pushable, 'current_authorizations': current_authorizations } %}

    {{ block('page_buttons') }}

{% endblock %}

{% block env_picker %}
    {% if environments|length > 0 %}
    <h4>Change environment</h4>
        <ul class="list--bare tabs">
            {% for environment in environments %}
                {% set is_selected = environment.id == selected_environment.id ? 'active' : '' %}
                <li class="{{ is_selected }}">
                    <a href="{{ uriFor('application.dashboard', {'application': application.id}, {'environment': environment.id}) }}">
                        <span class="tab-text">{{ environment.name }}</span>
                    </a>
                </li>
            {% endfor %}

            {% set is_selected = selected_environment == '' ? 'active' : '' %}
            <li class="{{ is_selected }}">
                <a href="{{ uriFor('application.dashboard', {'application': application.id}, {'environment': ''}) }}">
                    <span class="tab-text">None</span>
                </a>
            </li>
        </ul>

    {% endif %}
{% endblock %}

{% block target_cards %}
    {% if targets %}
        <div>
            <ul class="list--bare cards">
                {% for target in targets %}
                    <li data-deploy="{{ target.id }}">
                        {{ app_macros.pushCard(application, target, target.release) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>
            This application has no deployment targets
            {% if selected_environment %}
                for <b>{{ selected_environment.name }}</b>
            {% endif %}
            and cannot be deployed.
        </p>
    {% endif %}
{% endblock %}

{% block page_buttons %}
    <ul class="list--bare">
        <li>
            {% if can_user_build %}
                <a class="btn btn--action" href="{{ uriFor('build.start', {'application': application.id}) }}">Start New Build</a>
            {% else %}
                {{ macros.disabled_button('Start New Build') }}
            {% endif %}
        </li>
        <li><a class="btn" href="{{ uriFor('build.history.page1', {'application': application.id}) }}">Build History</a></li>
        <li><a class="btn" href="{{ uriFor('release.history.page1', {'application': application.id}) }}">Release History</a></li>
        <li><a class="btn" href="{{ uriFor('application', {'application': application.id}) }}">Manage Application</a></li>
    </ul>
{% endblock %}
