{% extends 'base.twig' %}
{% import "macros.twig" as macros %}
{% import _self as page_macros %}
{% set js_components = ["status"] %}

{% set page_title = "Status : " ~ application.name %}

{#{% set canUserBuild = canUserBuild(current_user, application) %}#}
{% set canUserBuild = true %}
{% set isBusinessTime = is_serious_business_mode %}

{% block content %}
    <div class="nav--page">
        <h1>Application Dashboard - <b>{{ application.name }}</b></h1>
    </div>

    {% if selected_environment %}

        {{ block('env_picker') }}

        {{ block('deployment_cards') }}

        <h2>Recent Builds - <b>{{ selected_environment.name }}</b></h2>
        {% set isPushable = deployment_statuses|length > 0 %}
        {% include '_partial-job/build-table.twig' with {'builds': builds, 'isPushable': isPushable } %}

        {{ block('page_buttons') }}
    {% else %}
        <h2>Server Status</h2>
        <p>This application has no deployment targets configured and cannot be released.</p>

        <h2>Recent Builds</h2>
        {% include '_partial-job/build-table.twig' with {'builds': builds, 'isPushable': isPushable } %}

        {{ block('page_buttons') }}

    {% endif %}

{% endblock %}

{% block env_picker %}
    {% set env_count = environments|length %}
    {# Only allow environment switching if has multiple env #}
    {% if env_count > 1 %}
        <div class="trailer">
            <h5>Change environment</h5>
            <ul>
                {% for environment in environments %}
                    {% set btnSelected = environment.id == selected_environment.id ? ' btn--selected' : ' btn--not-selected' %}
                    <li>
                        <a class="btn{{ btnSelected }}" href="{{ uriFor('application.dashboard', {'application': application.id}, {'environment': environment.id}) }}">{{ environment.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block deployment_cards %}

    <h2>
        Server Status - <b>{{ selected_environment.name }}</b>
    </h2>

    {% if deployment_statuses %}

        <div>
            <ul class="list--bare cards">
                {% for status in deployment_statuses %}
                    <li data-deploy="{{ status.target.id }}">{{ page_macros.pushCard(application, status.target, status.latest) }}</li>
                {% endfor %}
            </ul>
        </div>

    {% else %}
        <p>This application has no deployment targets for <b>{{ selected_environment.name }}</b> and cannot be released.</p>
    {% endif %}
{% endblock %}

{% block page_buttons %}
    <ul>
        {% if canUserBuild %}
            <li><a class="btn btn--action" href="{{ uriFor('build.start', {'application': application.id}) }}">Start New Build</a></li>
        {% endif %}

        <li><a class="btn" href="{{ uriFor('build.history.page1', {'application': application.id}) }}">All Builds</a></li>
        <li><a class="btn" href="{{ uriFor('release.history.page1', {'application': application.id}) }}">All Releases</a></li>
        <li><a class="btn" href="{{ uriFor('application', {'application': application.id}) }}">Manage Application</a></li>
    </ul>
{% endblock %}

{% macro pushCard(application, target, active) %}
    {% import 'macros.twig' as macros %}
    {% import 'macros.git.twig' as git_macros %}

    <article class="card">
        <header class="card__header">
            <h4>
                <a href="{{ uriFor('group', {'group': target.group.id}) }}">{{ target.format }}</a>

                {% if target.url %}
                    <a class="icon--link" href="{{ target.url }}">
                        {{ macros.icon('outgoing') }}
                    </a>
                {% endif %}

                {% if active %}
                    <a class="rollback icon--link" href="{{ uriFor('rollback.page1', {'application': application.id, 'target': target.id}) }}" title="View push history or rollback to a successful build">
                        {{ macros.icon('revert') }}
                    </a>
                {% endif %}
            </h4>
        </header>

        <section class="card__details">
            <ul>
                {# push details #}
                <li>
                    <span>Last Release:</span>
                    {% if active %}
                        {{ macros.job_status(active, true) }}
                        (<a href="{{ uriFor('release', {'release': active.id}) }}">{{ active.id|formatPushId }}</a>)
                    {% else %}
                        None
                    {% endif %}
                </li>
                <li>
                    <span>Released on:</span>
                    {% if active.created %}
                        {{ active.created|html5date }}
                    {% else %}
                        Never
                    {% endif %}
                </li>

                {# build details #}
                <li>
                    <span>Build:</span>
                    {% if active %}
                        <a href="{{ uriFor('build', {'build': active.build.id}) }}">{{ active.build.id|formatBuildId }}</a>
                    {% else %}
                        Unknown
                    {% endif %}
                </li>
                <li>
                    <span>Reference:</span>
                    {% if active %}
                        {% set isCurrent = githubCommitIsCurrent(application.github.owner, application.github.repository, active.build.reference, active.build.commit) %}
                        {{ git_macros.gitref(active.build, true, isCurrent, true) }}

                    {% else %}
                        Unknown
                    {% endif %}
                </li>
                <li>
                    <span>Commit:</span>
                    {% if active %}
                        {{ git_macros.gitcommit(active.build) }}
                    {% else %}
                        Unknown
                    {% endif %}
                </li>
            </ul>
        </section>
    </article>
{% endmacro %}
