{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'application/macros.twig' as app_macros %}
{% set js_components = ['application_dashboard'] %}

{% set page_title = 'Status : ' ~ application.name %}

{% set canUserBuild = current_authorizations.canBuild(application) %}
{% set isBusinessTime = is_serious_business_mode %}

{% block content %}
    <div class="nav--page">
        <h1>Application Dashboard - <b>{{ application.name }}</b></h1>
    </div>

    {% if selected_environment %}

        {{ block('env_picker') }}

        <h2>Environment Status - <b>{{ selected_environment.name }}</b></h2>
        {{ block('deployment_cards') }}

    {% else %}
        <h2>Environment Status</h2>
        <p>This application has no deployment targets configured and cannot be deployed.</p>

    {% endif %}

    <h2>Recent Builds</h2>
    {% set is_pushable = deployment_statuses|length > 0 and current_authorizations.canDeploy(application, selected_environment) %}
    {% include 'partial.build_table.twig' with {'builds': builds, 'is_pushable': is_pushable, 'current_authorizations': current_authorizations } %}

    {{ block('page_buttons') }}

{% endblock %}

{% block env_picker %}
    {% set env_count = environments|length %}
    {# Only allow environment switching if has multiple env #}
    {% if env_count > 1 %}
        <div class="trailer">
            <h5>Change environment</h5>
            <ul>
                {% for environment in environments %}
                    {% set btnSelected = environment.id == selected_environment.id ? ' btn--selected' : ' btn--not-selected' %}
                    <li>
                        <a class="btn{{ btnSelected }}" href="{{ uriFor('application.dashboard', {'application': application.id}, {'environment': environment.id}) }}">{{ environment.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block deployment_cards %}

    {% if deployment_statuses %}

        <div>
            <ul class="list--bare cards">
                {% for status in deployment_statuses %}
                    <li data-deploy="{{ status.target.id }}">{{ app_macros.pushCard(application, status.target, status.latest) }}</li>
                {% endfor %}
            </ul>
        </div>

    {% else %}
        <p>This application has no deployment targets for <b>{{ selected_environment.name }}</b> and cannot be released.</p>
    {% endif %}
{% endblock %}

{% block page_buttons %}
    <ul>
        {% if canUserBuild %}
            <li><a class="btn btn--action" href="{{ uriFor('build.start', {'application': application.id}) }}">Start New Build</a></li>
        {% endif %}

        <li><a class="btn" href="{{ uriFor('build.history.page1', {'application': application.id}) }}">All Builds</a></li>
        <li><a class="btn" href="{{ uriFor('release.history.page1', {'application': application.id}) }}">All Releases</a></li>
        <li><a class="btn" href="{{ uriFor('application', {'application': application.id}) }}">Manage Application</a></li>
    </ul>
{% endblock %}
