{% extends 'base.twig' %}
{% import "macros.twig" as macros %}
{% import _self as page_macros %}
{% set js_components = ["status"] %}

{% set page_title = "Status : " ~ application.name %}

{% set canUserBuild = canUserBuild(current_user, application) %}
{% set isBusinessTime = is_serious_business_mode %}

{% block content %}
    <h1>Application Status - <strong>{{ application.name }}</strong></h1>

    {% if selected_environment %}

        {{ block('pickers') }}

        {{ block('deployment_cards') }}

        <h2>Recent Builds - <strong>{{ selected_environment.name }}</strong></h2>
        {% set isPushable = deployment_statuses|length > 0 %}
        {% include '_partial-job/build-table.twig' with {'builds': builds, 'isPushable': isPushable } %}

        {{ block('page_buttons') }}
    {% else %}
        <h2>Server Status</h2>
        <p>This application has no deployment targets configured and cannot be pushed.</p>

        <h2>Recent Builds</h2>
        {% include '_partial-job/build-table.twig' with {'builds': builds, 'isPushable': isPushable } %}

        {{ block('page_buttons') }}

    {% endif %}

{% endblock %}

{% block pickers %}

    {% set needsViews = deployment_statuses|length > 5 %}

    {% if not views and not needsViews %}
        {# if no views and does not need views, only show env picker #}
        {{ block('env_picker') }}
    {% else %}
        {% if environments|length > 1 %}

            <div class="flex-box-wrapper mbl">
                <div class="flex-box mbl">
                    {{ block('env_picker') }}
                </div>
                <div class="flex-box mbl">
                    {{ block('view_picker') }}
                </div>
            </div>
        {% else %}
            <div class="form-wrapper">
                {{ block('view_picker') }}
            </div>
        {% endif %}
    {% endif %}

{% endblock %}

{% block env_picker %}
    {% set env_count = environments|length %}
    {# Only allow environment switching if has multiple env #}
    {% if env_count > 1 %}
        <div class="trailer">
            <h5>Change environment</h5>
            <ul class="button-list button-list--half">
                {% for environment in environments %}
                    {% set btnSelected = environment.id == selected_environment.id ? ' btn--selected' : ' btn--not-selected' %}
                    <li class="button-list__selector">
                        <a class="btn{{ btnSelected }}" href="{{ uriFor('application.dashboard', {'application': application.id}, {'environment': environment.id}) }}">{{ environment.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block view_picker %}
    {% if deployment_statuses %}
        <h5>Change View</h5>
        {% if views %}
            <form method="post" action="{{ uriFor('application.sticky_pool', {'application': application.id, 'environment': selected_environment.id}) }}">
                <select class="select-input js-pool-picker" name="view">
                    <option value="">Default</option>
                    {% for id, view in views %}
                        {% set isSelected = id == selected_view %}
                        <option value="{{ id }}"{{ isSelected ? ' selected' : '' }}>{{ view.name }}</option>
                    {% endfor %}
                </select>

                <div class= "js-pool-views">
                    <p class="mtm">
                        <input class="btn btn--action btn--tiny" type="submit" value="Switch View">
                    </p>

                    <ul>
                        {% for id, view in views %}
                        <li>
                            <ul data-view="{{ id }}">
                                {% for pool in view.pools %}
                                    <li data-pool="{{ pool.name }}">{{ pool.deployments|json_encode }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </form>

        {% else %}
            No views found. There are many targets for this environment, but no views.
            {% if canUserBuild %}
                <a href="{{ uriFor('target_views', {'application': application.id, 'environment': selected_environment.id}) }}">Create target views</a>
                {% if isBusinessTime %}
                    to categorize deployments into groups.
                {% else %}
                    to lessen the cognitive load on your tiny human brain.
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}

{% block deployment_cards %}

    <h2 class="{{ (deployment_statuses) ? 'js-overloader-parent' : '' }}">
        Server Status - <strong>{{ selected_environment.name }}</strong>
    </h2>

    {% if deployment_statuses %}

        <section class="js-pool">
            {% if selected_view and views[selected_view] %}

                {% set all_pooled = [] %}

                {# empty pools have already been removed by the backend #}
                {% for pool in views[selected_view].pools %}
                    {% set pooled = [] %}
                    {% for status in deployment_statuses if status.deploy.id in pool.deployments %}
                        {% set pooled = pooled|merge([status]) %}
                        {% set all_pooled = all_pooled|merge([status.deploy.id]) %}
                    {% endfor %}

                    {% if pooled %}
                        <div>
                            <h3>{{ pool.name }}</h3>
                            <ul class="list--bare cards">
                                {% for status in pooled %}
                                    <li data-deploy="{{ status.deploy.id }}">{{ page_macros.pushCard(application, status.deploy, status.latest) }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                {% endfor %}

                {# show unpooled grouping if some statuses didnt land in a pool #}
                {% set unpooled = [] %}
                {% for status in deployment_statuses %}
                    {% if status.deploy.id not in all_pooled %}
                        {% set unpooled = unpooled|merge([status]) %}
                    {% endif %}
                {% endfor %}

                {% if unpooled %}
                    <div>
                        <h3>Unpooled</h3>
                        <ul class="list--bare cards">
                            {% for status in unpooled %}
                                <li data-deploy="{{ status.deploy.id }}">{{ page_macros.pushCard(application, status.deploy, status.latest) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            {% else %}
                <div>
                    <ul class="list--bare cards">
                        {% for status in deployment_statuses %}
                            <li data-deploy="{{ status.deploy.id }}">{{ page_macros.pushCard(application, status.deploy, status.latest) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </section>

    {% else %}
        <p>This application has no deployment targets for <strong>{{ selected_environment.name }}</strong> and cannot be pushed.</p>
    {% endif %}
{% endblock %}

{% block page_buttons %}
    <ul class="button-list">
        {% if canUserBuild %}
            <li><a class="btn btn--action" href="{{ uriFor('build.start', {'application': application.id}) }}">Start New Build</a></li>
        {% endif %}

        <li><a class="btn" href="{{ uriFor('build.history.page1', {'application': application.id}) }}">All Builds</a></li>
        <li><a class="btn" href="{{ uriFor('push.history.page1', {'application': application.id}) }}">All Pushes</a></li>

        <li><a class="btn btn--secondary" href="{{ uriFor('application', {'application': application.id}) }}">Application</a></li>

        {% if selected_environment and (views or deployment_statuses|length > 5) %}
            <li><a class="btn btn--secondary" href="{{ uriFor('target_views', {'application': application.id, 'environment': selected_environment.id}) }}">Target Views</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% macro pushCard(application, deployment, active) %}
    {% import 'macros.twig' as macros %}

    <article class="card card--{{ deployment.server.environment.name }}">
        <header class="card__header">
            <h4>
                <a href="{{ uriFor('server', {'server': deployment.server.id}) }}">{{ deployment.formatPretty }}</a>

                {% if deployment.url %}
                    <a class="icon--link" href="{{ deployment.url }}">
                        {{ macros.icon('outgoing') }}
                    </a>
                {% endif %}

                {% if active %}
                    <a class="rollback icon--link" href="{{ uriFor('rollback.page1', {'application': application.id, 'target': deployment.id}) }}" title="View push history or rollback to a successful build">
                        {{ macros.icon('revert') }}
                    </a>
                {% endif %}
            </h4>
        </header>

        <section class="card__details">
            <ul class="split">
                {# push details #}
                <li>
                    <span class="split__title">Last push:</span>
                    {% if active %}
                        {{ macros.job_status(active, true) }}
                        (<a href="{{ uriFor('push', {'push': active.id}) }}">{{ active.id|formatPushId }}</a>)
                    {% else %}
                        None
                    {% endif %}
                </li>
                <li>
                    <span class="split__title">Pushed on:</span>
                    {% if active.created %}
                        {{ active.created|html5date }}
                    {% else %}
                        Never
                    {% endif %}
                </li>

                {# build details #}
                <li class="js-data-overload">
                    <span class="split__title">Build:</span>
                    {% if active %}
                        <a href="{{ uriFor('build', {'build': active.build.id}) }}">{{ active.build.id|formatBuildId }}</a>
                    {% else %}
                        Unknown
                    {% endif %}
                </li>
                <li class="js-data-overload">
                    <span class="split__title">Reference:</span>
                    {% if active %}
                        {% set isCurrent = githubCommitIsCurrent(application.githubOwner, application.githubRepo, active.build.branch, active.build.commit) %}
                        {{ macros.gitref(active.build, true, isCurrent, true) }}

                    {% else %}
                        Unknown
                    {% endif %}
                </li>
                <li class="js-data-overload">
                    <span class="split__title">Commit:</span>
                    {% if active %}
                        {{ macros.gitcommit(active.build) }}
                    {% else %}
                        Unknown
                    {% endif %}
                </li>

                {# deployment details #}

                {% set deploymentDetails = deployment.formatMeta %}

                {% if deployment.server.type == 'script' %}
                    {% set deploymentDetails = deploymentDetails ?: 'N/A' %}
                {% endif %}

                <li class="js-data-overload">
                    <span class="split__title">{{ deployment|formatDeploymentDetailsLabel }}:</span>
                    <code title="{{ deploymentDetails }}">{{ deploymentDetails }}</code>
                </li>
            </ul>
        </section>
    </article>
{% endmacro %}
