{% extends 'base.twig' %}
{% import 'macros.form.twig' as form_macros %}

{% set js_components = ['add_application_form'] %}
{% set page_title = 'Edit Application' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('applications') }}">Applications</a></li>
    <li><a href="{{ uriFor('application', {'application': application.id}) }}">{{ application.name }}</a></li>
{% endblock %}

{% block content %}
    {{ form_macros.form_errors(errors, is_csrf_error) }}

    <form method="post" class="js-applications-form">
        {{ form_macros.csrf_input('application.edit') }}

        <ul class="form-fields form-wrapper">
            <li>
                <label>ID</label>
                {{ application.id|short_guid }}
            </li>

            <li>
                {% set has_error = form_macros.hasError(errors, 'name') %}
                <label for="name">Name</label>
                <input type="text" class="text-input{{ has_error ? ' is-error' : '' }}" name="name" id="name" maxlength="100" value="{{ form.name }}" required>
                <small>
                    Display description for this organization such as
                    <span>"Hal"</span> or <span>"My Secret Project"</span>.
                </small>
            </li>
        </ul>

        <ul class="form-fields">
            <li>
                <label>Organization</label>
                {% if organizations %}
                    <ul>

                        {% for organization in organizations %}
                            {% set is_selected = form.organization == organization.id ? ' checked' : '' %}
                            <li>
                                <label for="org-{{ organization.id }}">
                                    <input id="org-{{ organization.id }}" type="radio" name="organization" value="{{ organization.id }}"{{ is_selected }}>
                                    {{ organization.name }}
                                </label>
                            </li>
                        {% endfor %}

                        {% set is_selected = form.organization == '' ? ' checked' : '' %}
                        <li>
                            <label for="org-noop">
                                <input id="org-noop" type="radio" name="organization" value=""{{ is_selected }}>
                                Do not add to organization
                            </label>
                        </li>

                    </ul>
                {% else %}
                    <p>There are no organizations.</p>
                {% endif %}
            </li>
        </ul>

        <h4>Source Control</h4>
        {% if vcs|length > 0 %}
            <ul class="form-fields form-wrapper">
                <li>
                    <ul>
                        {% for provider in vcs %}
                            {% set is_selected = form.vcs_provider == provider.id ? ' checked' : '' %}

                            <li>
                                <label for="vcs-{{ provider.id }}">
                                    <input type="radio" id="vcs-{{ provider.id }}" name="vcs_provider" value="{{ provider.id }}" data-vcs-select data-vcs-type="{{ provider.type }}"{{ is_selected }}>
                                    {{ provider.name }} ({{ provider.type }})
                                </label>
                            </li>
                        {% endfor %}

                        {% set is_selected = form.vcs_provider == '' ? ' checked' : '' %}
                        <li>
                            <label for="vcs-noop">
                                <input type="radio" id="vcs-noop" name="vcs_provider" value="" data-vcs-select data-vcs-type="noop"{{ is_selected }}>
                                Do not add source control
                            </label>
                        </li>
                    </ul>

                    {{ block('gh_provider_form') }}
                    {{ block('git_provider_form') }}

                </li>
            </ul>
        {% else %}
            <p>No source control providers are configured. You can add this later.</p>
        {% endif %}

        <p>
            <button class="btn btn--action" type="submit">Save Changes</button>
            <a href="{{ uriFor('application', {'application': application.id}) }}">Cancel</a>
        </p>

    </form>
{% endblock %}

{% block gh_provider_form %}
    <li data-type-specific data-gh data-ghe>
        <label for="gh-owner">GitHub User or Organization</label>
        <input type="text" class="text-input" name="gh_owner" id="gh-owner" value="{{ form.gh_owner }}" maxlength="100">
        <small>
            <b>Example:</b> https://git.example.com/<b style="color:indianred;">owner</b>/repository.git
        </small>

    </li>
    <li data-type-specific data-gh data-ghe>
        <label for="gh-repo">GitHub Repository</label>
        <input type="text" class="text-input" name="gh_repo" id="gh-repo" value="{{ form.gh_repo }}" maxlength="100">
        <small>
            <b>Example:</b> https://git.example.com/owner/<b style="color:indianred;">repository</b>.git
        </small>
    </li>
{% endblock %}

{% block git_provider_form %}
    <li data-type-specific data-git>
        <label for="git-link">Git Clone URL</label>
        <input type="text" class="text-input" name="git_link" id="git-link" value="{{ form.git_link }}" maxlength="200">
        <small>
            <b>Example:</b> https://git.example.com/my-project.git
        </small>
    </li>
{% endblock %}
