{% macro pushCard(application, target, last_release) %}
    {% import 'macros.twig' as macros %}
    {% import 'macros.git.twig' as git_macros %}

    <article class="card">
        <header class="card__header">
            <h4>
                <a href="{{ uriFor('target', {'application': target.application.id, 'target': target.id}) }}">{{ target.name }}</a>

                {% if target.url %}
                    <a class="icon--link" href="{{ target.url }}">
                        {{ macros.icon('outgoing') }}
                    </a>
                {% endif %}

                {% if last_release %}
                    <a class="rollback icon--link" href="{{ uriFor('rollback.page1', {'application': application.id, 'target': target.id}) }}" title="View push history or rollback to a successful build">
                        {{ macros.icon('revert') }}
                    </a>
                {% endif %}
            </h4>
        </header>

        <section class="card__details">
            <ul>
                <li>
                    <b>Deployed:</b>
                    {% if last_release.created %}
                        {{ last_release.created|html5date }}
                    {% else %}
                        Never
                    {% endif %}
                </li>

                <li>
                    <b>Release:</b>
                    {% if last_release %}
                        {{ macros.job_status_prefix(last_release, true) }}
                    {% else %}
                        None
                    {% endif %}
                </li>
                <li>
                    <b>Build:</b>
                    {% if last_release %}
                        {{ macros.job_status_prefix(last_release.build, true) }}
                    {% else %}
                        None
                    {% endif %}
                </li>
                <li>
                    <b>Source Code:</b>
                    {% if last_release %}
                        {% set is_gitref_current = githubCommitIsCurrent(application.github.owner, application.github.repository, last_release.build.reference, last_release.build.commit) %}
                        {{ git_macros.gitref(last_release.build, true, is_gitref_current, true) }}
                    {% else %}
                        None
                    {% endif %}
                </li>
            </ul>
        </section>
    </article>
{% endmacro %}
