{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.git.twig' as git_macros %}
{% import 'macros.form.twig' as form_macros %}

{% set page_title = 'Manage Application Permissions' %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }}</h1>
        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('application', {'application': application.id}) }}">Back to Application</a>
        </p>
    </div>

    {{ block('meta') }}

    <h2>Manage Permissions</h2>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form method="post">
            <ul class="form-fields">

                <li>
                    <p>
                        <label>Revoke access from multiple users at once.</label>
                        <small class="additional">
                            Flip a switch <i>off</i> and save your changes to remove access.
                        </small>
                    </p>

                    <ul class="list--bare">
                        {% for perm in permissions %}
                            <li>
                                <label class="checkbox-toggle">
                                    <input type="checkbox" name="permissions[]" value="{{ perm.id }}" {{ perm.id in form.permissions ? ' checked' : '' }}>
                                    <b class="checkbox-toggle--pill"></b>
                                    {% if perm.type == 'admin' or perm.type == 'super' %}
                                        {{ perm.user.username|lower }} {{ macros.status('Prod', 'error') }}
                                    {% elseif perm.type == 'owner' %}
                                        {{ perm.user.username|lower }} {{ macros.status('Owner', 'notice') }}
                                    {% else %}
                                        {{ perm.user.username|lower }} {{ macros.status('Member', 'info') }}
                                    {% endif %}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

            </ul>

            <ul class="list--bare">
                <li><input class="btn btn--destructive" type="submit" value="Revoke Permissions"></li>
                <li><a class="btn" href="{{ uriFor('application', {'application': application.id}) }}">Cancel</a></li>
            </ul>
        </form>
    </div>

    <h2>Permission Levels</h2>
    {% include 'permissions/partial.permission_descriptions.twig' %}

{% endblock %}

{% block meta %}
    <ul class="meta-box">
        <li>
            <h6>Application</h6>
            {{ application.name }}
        </li>
        <li>
            <h6>Organization</h6>
            {% if application.organization %}
                <a href="{{ uriFor('organization', {'organization': application.organization.id}) }}">
                    {{ application.organization.name }}
                </a>
            {% else %}
                None
            {% endif %}
        </li>
    </ul>
{% endblock %}
