{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.pagination.twig' as pagination %}

{% set page_title = "Audit History" %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }}</h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('admin') }}">Back to Admin Dashboard</a>
        </p>
    </div>

    {{ pagination.pagination(page, last, 'admin.audit_history', {}) }}

    <table class="table--spacing-medium">
        <thead>
            <tr>
                <th>Time</th>
                <th>User</th>
                <th>Action</th>
                <th>Resource</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.created|html5date }}</td>
                <td><a href="{{ uriFor('user', {'user': event.user.id}) }}">{{ event.user.handle }}</a></td>
                <td>
                    {% if event.action == 'CREATE' %}
                        {{ macros.status(event.action, 'success') }}
                    {% elseif event.action == 'DELETE' %}
                        {{ macros.status(event.action, 'error') }}
                    {% else %}
                        <b>{{ event.action }}</b>
                    {% endif %}
                </td>
                <td>{{ event.entity|replace({':': ' : '}) }}</td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="pre-wrapper">
                        <pre>{{ event.data|jsonPretty|raw }}</pre>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">
                    No logs found.
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pagination.pagination(page, last, 'admin.audit_history', {}) }}

{% endblock %}
