{% extends 'base.html.twig' %}
{% import 'partials/pagination.twig' as pagination %}

{% set page_title = "Audit Log History" %}

{% block content %}

    <h2>Audit Log History</h2>

    <p>Changes to database entities will be logged on this page.</p>

    <table data-tablesaw-mode="stack">
        <thead>
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Action</th>
                <th>Object</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.recorded|html5date }}</td>
                <td><a href="{{ urlFor('user', {'id': log.user.id}) }}">{{ log.user.handle }}</a></td>
                <td><b>{{ log.action }}</b></td>
                <td>{{ log.entity|replace({':': ' : '}) }}</td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="pre-wrapper">
                        <pre>{{ log.data|jsonPretty|raw }}</pre>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">
                    No logs found.
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pagination.pagination(page, last, 'admin.audit.logs', {}) }}

{% endblock %}
