{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.form.twig' as form_macros %}

{% set page_title = 'Cache Management' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
{% endblock %}

{% block content %}

    {% if clear_result %}
        {% if clear_result == 'success' %}
            {{ macros.alert('success', clear_message) }}
        {% else %}
            {{ macros.alert('error', clear_message) }}
        {% endif %}
    {% endif %}

    {{ block('actions') }}

    <h3>Permissions Cache</h3>
    {{ block('permissions_cache') }}

    <h3>Doctrine Cache</h3>
    {{ block('doctrine_cache') }}

    <h3>OP Cache {{ opcache.version ?: 'V.?' }}</h3>
    {% if opcache %}
        {{ block('op_cache') }}
    {% else %}
        <p>Zend OP Cache is not installed.</p>
    {% endif %}

    <h4>Cached Scripts</h4>
    {{ block('op_cache_scripts') }}

{% endblock %}

{% block actions %}
    {% set csrf_token = form_macros.csrf_token('admin.cache_management') %}

    {{ form_macros.form_errors(errors, is_csrf_error) }}

    <p>
        <form method="post" class="form--inline">
            {{ form_macros.csrf_input_raw(csrf_token) }}
            <input name="cache_type" type="hidden" value="doctrine">
            <button type="submit" class="btn btn--action">Clear doctrine cache</button>
        </form>

        <form method="post" class="form--inline">
            {{ form_macros.csrf_input_raw(csrf_token) }}
            <input name="cache_type" type="hidden" value="permissions">
            <button type="submit" class="btn btn--action">Clear permissions cache</button>
        </form>

        <form method="post" class="form--inline">
            {{ form_macros.csrf_input_raw(csrf_token) }}
            <input name="cache_type" type="hidden" value="opcache">
            <button type="submit" class="btn btn--action">Clear OP cache</button>
        </form>
    </p>
{% endblock %}

{% block permissions_cache %}
    <div class="meta-box meta-box--scrollable">
        {% if permissions %}
            <table class="table--spacing-medium">
                <thead>
                    <tr>
                        <th class="t70">Key</th>
                        <th>TTL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, ttl in permissions %}
                        <tr>
                            <td>
                                <div class="code_fixed">
                                    <code>{{ key }}</code>
                                </div>
                            </td>
                            <td>{{ ttl }} seconds</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No cached data found.</p>
        {% endif %}
    </div>
{% endblock %}

{% block doctrine_cache %}
    <div class="meta-box meta-box--scrollable">
        {% if doctrine_cached %}
            <table class="table--spacing-medium">
                <thead>
                    <tr>
                        <th>Key</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key in doctrine_cached %}
                        <tr>
                            <td>
                                <div class="code_fixed">
                                    <code>{{ key }}</code>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No cached data found.</p>
        {% endif %}
    </div>
{% endblock %}

{% block op_cache %}
    <ul class="meta-box">
        <li>
            <h6>Status</h6>
            {% set opcEnabledStatus = opcache.enabled ? 'success' : 'error' %}
            {% set opcEnabledText = opcache.enabled ? 'Enabled' : 'Disabled' %}
            {% set opcEnabledIcon = opcache.enabled ? 'tick' : 'cross' %}

            {% set opcFullStatus = opcache.cache_full ? 'error' : 'success' %}
            {% set opcFullText = opcache.cache_full ? 'Cache Full' : 'Cache Not Full' %}
            {% set opcFullIcon = opcache.cache_full ? 'cross' : 'tick' %}

            {{ macros.status(opcEnabledText, opcEnabledStatus, opcEnabledIcon) }}
            {{ macros.status(opcFullText, opcFullStatus, opcFullIcon) }}

        </li>

        <li>
            <h6>Hits</h6>
            <b>{{ opcache.hits }}</b> hits, <b>{{ opcache.misses }}</b> misses
        </li>

        <li>
            <h6>Hit Rate</h6>
            {{ opcache.opcache_hit_rate }}%
        </li>

        <li>
            <h6>Memory</h6>
            {{ opcache.used_memory }} / {{ opcache.total_memory }}
        </li>

        <li>
            <h6>Buffer</h6>
            {{ opcache.used_buffer }} / {{ opcache.total_buffer }}
        </li>

        <li>
            <h6>Cached</h6>
            {{ opcache.cached_scripts }} scripts, {{ opcache.cached_keys }} keys
        </li>
    </ul>
{% endblock %}

{% block op_cache_scripts %}
    <div class="meta-box meta-box--scrollable">
        <table>
            <thead>
                <tr>
                    <th class="t70">File</th>
                    <th class="t15">Hits</th>
                    <th>Memory</th>
                </tr>
            </thead>
            <tbody>
                {% for script in opcache.scripts %}
                    <tr>
                        <td>
                            <div class="code_fixed">
                                <code title="{{ script.path }}">{{ script.path }}</code>
                            </div>
                        </td>
                        <td>{{ script.hits }}</td>
                        <td>{{ script.memory_consumption }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
