{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Cache Management' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
{% endblock %}

{% block content %}

    {% if clear_result %}
        {% if clear_result == 'success' %}
            {{ macros.alert('success', clear_message) }}
        {% else %}
            {{ macros.alert('error', clear_message) }}
        {% endif %}
    {% endif %}

    <p>
        <form method="post" class="form--inline">
            <input name="cache_type" type="hidden" value="doctrine">
            <button class="btn btn--action" type="submit">Clear doctrine cache</button>
        </form>

        <form method="post" class="form--inline">
            <input name="cache_type" type="hidden" value="permissions">
            <button class="btn btn--action" type="submit">Clear permissions cache</button>
        </form>

        <form method="post" class="form--inline">
            <input name="cache_type" type="hidden" value="opcache">
            <button class="btn btn--action" type="submit">Clear OP cache</button>
        </form>
    </p>

    <h3>Permissions Cache</h3>
    <section>
        <div class="meta-box">
            {% if permissions %}
                <table class="table--spacing-medium">
                    <thead>
                        <tr>
                            <th class="t70">Key</th>
                            <th>TTL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, ttl in permissions %}
                            <tr>
                                <td>
                                    <div class="code_fixed">
                                        <code>{{ key }}</code>
                                    </div>
                                </td>
                                <td>{{ ttl }} seconds</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No cached data found.</p>
            {% endif %}
        </div>

    </section>

    <h3>Doctrine Cache</h3>
    <section>

        <div class="meta-box">
            {% if doctrine_cached %}
                <table class="table--spacing-medium">
                    <thead>
                        <tr>
                            <th>Key</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key in doctrine_cached %}
                            <tr>
                                <td>
                                    <div class="code_fixed">
                                        <code>{{ key }}</code>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No cached data found.</p>
            {% endif %}
        </div>

    </section>

    <h3>OP Cache {{ opcache.version }}</h3>
    <section>
        {% if not opcache %}
            <p>Zend OP Cache is not installed.</p>
        {% else %}
            <ul class="meta-box">
                <li>
                    <h6>Status</h6>
                    {% set opcEnabledStatus = opcache.enabled ? 'success' : 'error' %}
                    {% set opcEnabledText = opcache.enabled ? 'Enabled' : 'Disabled' %}
                    {% set opcEnabledIcon = opcache.enabled ? 'tick' : 'cross' %}

                    {% set opcFullStatus = opcache.cache_full ? 'error' : 'success' %}
                    {% set opcFullText = opcache.cache_full ? 'Cache Full' : 'Cache Not Full' %}
                    {% set opcFullIcon = opcache.cache_full ? 'cross' : 'tick' %}

                    {{ macros.status(opcEnabledText, opcEnabledStatus, opcEnabledIcon) }}
                    {{ macros.status(opcFullText, opcFullStatus, opcFullIcon) }}

                </li>

                <li>
                    <h6>Hits</h6>
                    <b>{{ opcache.hits }}</b> hits, <b>{{ opcache.misses }}</b> misses
                </li>

                <li>
                    <h6>Hit Rate</h6>
                    {{ opcache.opcache_hit_rate }}%
                </li>

                <li>
                    <h6>Memory</h6>
                    {{ opcache.used_memory }} / {{ opcache.total_memory }}
                </li>

                <li>
                    <h6>Buffer</h6>
                    {{ opcache.used_buffer }} / {{ opcache.total_buffer }}
                </li>

                <li>
                    <h6>Cached</h6>
                    {{ opcache.cached_scripts }} scripts, {{ opcache.cached_keys }} keys
                </li>

            </ul>

            <h4>Configuration</h4>
            <ul class="meta-box">
                {% for key, data in opcache.configuration %}
                    <li>
                        <h6>{{ key }}</h6>
                        <code>{{ data|e }}</code>
                    </li>
                {% endfor %}
            </ul>

            <h4>Cached Scripts</h4>
            <div class="meta-box">
                <table>
                    <thead>
                        <tr>
                            <th class="t70">File</th>
                            <th class="t15">Hits</th>
                            <th>Memory</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for script in opcache.scripts %}
                            <tr>
                                <td>
                                    <div class="code_fixed">
                                        <code title="{{ script.path }}">{{ script.path }}</code>
                                    </div>
                                </td>
                                <td>{{ script.hits }}</td>
                                <td>{{ script.memory_consumption }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </section>

{% endblock %}
