{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "Cache Management" %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <ul class="button-list trailer">
        <li>
            <form method="post">
                <input name="cache_type" type="hidden" value="doctrine">
                <input type="submit" class="btn" value="Clear doctrine cache">
            </form>
        </li>

        <li>
            <form method="post">
                <input name="cache_type" type="hidden" value="permissions">
                <input type="submit" class="btn" value="Clear permissions cache">
            </form>
        </li>
        <li>
            <form method="post">
                <input name="cache_type" type="hidden" value="opcache">
                <input type="submit" class="btn" value="Clear OP cache">
            </form>
        </li>

    </ul>

    <h3>Permissions Cache</h3>
    <section class="trailer">

        <div class="details-box scrollable-box">
            <div class="scrolly-container">
                <table class="table--spacing-small" data-tablesaw-mode="stack">
                    <thead>
                        <tr>
                            <th class="t70">Key</th>
                            <th>TTL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, ttl in permissions %}
                            <tr>
                                <td>
                                    <div class="code_fixed">
                                        <code>{{ key }}</code>
                                    </div>
                                </td>
                                <td>{{ ttl }} seconds</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </section>

    <h3>OP Cache {{ opcache.version }}</h3>
    <section class="trailer">
        {% if not opcache %}
            <p>Zend OP Cache is not installed.</p>
        {% else %}

            <div class="details-box">
                <dl class="split mbn">
                    <dt class="split__title">Status</dt>
                    <dd>

                        {% set opcEnabledStatus = opcache.enabled ? 'success' : 'error' %}
                        {% set opcEnabledText = opcache.enabled ? 'Enabled' : 'Disabled' %}
                        {% set opcEnabledIcon = opcache.enabled ? 'tick' : 'cross' %}

                        {% set opcFullStatus = opcache.cache_full ? 'error' : 'success' %}
                        {% set opcFullText = opcache.cache_full ? 'Cache Full' : 'Cache Not Full' %}
                        {% set opcFullIcon = opcache.cache_full ? 'cross' : 'tick' %}

                        {{ macros.status(opcEnabledText, opcEnabledStatus, opcEnabledIcon) }}
                        {{ macros.status(opcFullText, opcFullStatus, opcFullIcon) }}

                    </dd>
                    <dt class="split__title">Hits</dt>
                    <dd><b>{{ opcache.hits }}</b> hits, <b>{{ opcache.misses }}</b> misses</dd>
                    <dt class="split__title">Hit Rate</dt>
                    <dd>{{ opcache.opcache_hit_rate }}%</dd>

                    <dt class="split__title">Memory</dt>
                    <dd>{{ opcache.used_memory }} / {{ opcache.total_memory }}</dd>

                    <dt class="split__title">Buffer</dt>
                    <dd>{{ opcache.used_buffer }} / {{ opcache.total_buffer }}</dd>

                    <dt class="split__title">Cached</dt>
                    <dd>{{ opcache.cached_scripts }} scripts, {{ opcache.cached_keys }} keys</dd>

                </dl>
            </div>

            <h4>Configuration</h4>
            <div class="details-box details-box--wide scrollable-box">
                <dl class="split mbn">
                    {% for key, data in opcache.configuration %}
                        <dt class="split__title">{{ key }}</dt>
                        <dd><code>{{ data|e }}</code></dd>
                    {% endfor %}
                </dl>
            </div>

            <h4>Cached Scripts</h4>
            <div class="details-box scrollable-box">
                <div class="scrolly-container">
                    <table data-tablesaw-mode="stack">
                        <thead>
                            <tr>
                                <th class="t70">File</th>
                                <th class="t15">Hits</th>
                                <th>Memory</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for script in opcache.scripts %}
                                <tr>
                                    <td>
                                        <div class="code_fixed">
                                            <code title="{{ script.path }}">{{ script.path }}</code>
                                        </div>
                                    </td>
                                    <td>{{ script.hits }}</td>
                                    <td>{{ script.memory_consumption }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </section>

{% endblock %}
