{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = "Admin Dashboard" %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <h2 class="leader">Manage Deployments</h2>
    <ul class="button-list">
        <li>
            <a href="{{ uriFor('servers') }}" class="btn">
                {{ macros.icon('server') }} Servers
            </a>
        </li>
        <li>
            <a href="{{ uriFor('environments') }}" class="btn">
                {{ macros.icon('leaf') }} Environments
            </a>
        </li>
        <li>
            <a href="{{ uriFor('queue.history.page1') }}" class="btn">
                {{ macros.icon('in') }} Queue History
            </a>
        </li>
    </ul>

    <h2 class="leader">User Management</h2>
    <ul class="button-list">
        <li>
            <a href="{{ uriFor('users.page1') }}" class="btn btn--primary">
                {{ macros.icon('users') }} Users
            </a>
        </li>
        <li>
            <a href="{{ uriFor('admin.permissions') }}" class="btn btn--primary">
                {{ macros.icon('safe') }} Permissions
            </a>
        </li>
    </ul>

    <h2 class="leader">Security</h2>
    <ul class="button-list">
        <li>
            <a href="{{ uriFor('admin.credentials') }}" class="btn btn--primary">
                {{ macros.icon('locked') }} Credentials
            </a>
        </li>
        <li>
            <a href="{{ uriFor('admin.audit_history.page1') }}" class="btn btn--primary">
                {{ macros.icon('watch') }} Audit History
            </a>
        </li>
    </ul>

    {% if isUserSuper(current_user) %}
        <h2 class="leader">Super Administrators</h2>
        <ul class="button-list">
            <li><a href="{{ uriFor('super.system') }}" class="btn">Build System Status</a></li>
            <li><a href="{{ uriFor('super.caches') }}" class="btn">Cache Management</a></li>
            <li><a href="{{ uriFor('super.message') }}" class="btn">Global Message</a></li>
        </ul>

        <h3>Server Information</h3>
        <div class="details-box">
            <dl class="split mbn">
                <dt class="split__title"><b>Hostname</b></dt>
                <dd>
                    <div class="pre-wrapper">
                        <pre>{{ server_name }}</pre>
                    </div>
                </dd>

                <dt class="split__title"><b>Encryption key</b></dt>
                <dd>
                    <div class="pre-wrapper">
                        <pre>{{ encryption_key }}</pre>
                    </div>
                </dd>

                <dt class="split__title"><b>Session Encryption key</b></dt>
                <dd>
                    <div class="pre-wrapper">
                        <pre>{{ session_encryption_key }}</pre>
                    </div>
                </dd>

                <dt class="split__title"><b>Hal Push File</b></dt>
                <dd>
                    <div class="pre-wrapper">
                        {% if push_file %}
                            <pre>{{ push_file }}</pre>
                        {% else %}
                            <pre>No push file found. Are you in dev?</pre>
                        {% endif %}
                    </div>
                </dd>
            </dl>
        </div>
    {% endif %}

{% endblock %}
