{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Admin Dashboard' %}

{% set is_admin = current_authorizations.isSuper() %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }}</h1>

        <p class="nav--page__back">
            <a class="btn btn--back" href="{{ uriFor('admin.system_dashboard') }}">System Dashboard</a>
        </p>
    </div>


    <h2>Manage Deployments</h2>
    <p>
        <a href="{{ uriFor('environments') }}" class="btn">
            {{ macros.icon('leaf') }} Environments
        </a>

        <a href="{{ uriFor('groups') }}" class="btn">
            {{ macros.icon('server') }} Target Templates
        </a>
    </p>

    <h2>User Management</h2>
    <p>
        <a href="{{ uriFor('users.page1') }}" class="btn btn--primary">
            {{ macros.icon('users') }} Users
        </a>

        <a href="{{ uriFor('admin.permissions') }}" class="btn btn--primary">
            {{ macros.icon('safe') }} Permissions
        </a>
    </p>

    <h2>Security</h2>
    <p>
        <a href="{{ uriFor('credentials') }}" class="btn btn--primary">
            {{ macros.icon('locked') }} Credentials
        </a>

        <a href="{{ uriFor('admin.audit_history.page1') }}" class="btn btn--primary">
            {{ macros.icon('watch') }} Audit History
        </a>
    </p>

    <h2>Manage Hal System</h2>
    <p>
        <a href="{{ uriFor('admin.cache_management') }}" class="btn">Cache Management</a>
        <a href="{{ uriFor('admin.global_banner') }}" class="btn">Global Banner</a>
    </p>

{% endblock %}
