{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "Admin Dashboard" %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <h2 class="leader">Manage Deployments</h2>
    <ul class="button-list">
        <li>
            <a href="{{ urlFor('applications') }}" class="btn">
                {{ macros.icon('list') }} Applications
            </a>
        </li>
        <li>
            <a href="{{ urlFor('servers') }}" class="btn">
                {{ macros.icon('server') }} Servers
            </a>
        </li>
        <li>
            <a href="{{ urlFor('environments') }}" class="btn">
                {{ macros.icon('leaf') }} Environments
            </a>
        </li>
        <li>
            <a href="{{ urlFor('queue.history.page1') }}" class="btn">
                {{ macros.icon('in') }} Queue History
            </a>
        </li>
    </ul>

    <h2 class="leader">Security and Permissions</h2>
    <ul class="button-list">
        <li>
            <a href="{{ urlFor('admin.system.status') }}" class="btn btn--primary">
                {{ macros.icon('terminal') }} System Status
            </a>
        </li>
        <li>
            <a href="{{ urlFor('users') }}" class="btn btn--primary">
                {{ macros.icon('users') }} Users
            </a>
        </li>
        <li>
            <a href="{{ urlFor('admin.permissions') }}" class="btn btn--primary">
                {{ macros.icon('safe') }} Permissions
            </a>
        </li>
        <li>
            <a href="{{ urlFor('admin.credentials') }}" class="btn btn--primary">
                {{ macros.icon('locked') }} Credentials
            </a>
        </li>
        <li>
            <a href="{{ urlFor('admin.audit.logs.page1') }}" class="btn btn--primary">
                {{ macros.icon('watch') }} Audit Logs
            </a>
        </li>
    </ul>

    {% if isUserSuper(getCurrentUser()) %}
        <h2 class="leader">Super Administrators</h2>
        <ul class="button-list">
            <li><a href="{{ urlFor('admin.super.users') }}" class="btn" >User Management</a></li>
            <li><a href="{{ urlFor('admin.super.caches') }}" class="btn">Cache Management</a></li>
            <li><a href="{{ urlFor('admin.super.message') }}" class="btn">Global Message</a></li>
        </ul>

        <h3>Server Information</h3>
        <div class="details-box">
            <dl class="split mbn">
                <dt class="split__title"><strong>Hostname</strong></dt>
                <dd>
                    <div class="pre-wrapper">
                        <pre>{{ servername }}</pre>
                    </div>
                </dd>

                <dt class="split__title"><strong>Encryption key</strong></dt>
                <dd>
                    <div class="pre-wrapper">
                        <pre>{{ encryption_key }}</pre>
                    </div>
                </dd>

                <dt class="split__title"><strong>Session Encryption key</strong></dt>
                <dd>
                    <div class="pre-wrapper">
                        <pre>{{ session_encryption_key }}</pre>
                    </div>
                </dd>

                <dt class="split__title"><strong>HAL 9000 Push File</strong></dt>
                <dd>
                    <div class="pre-wrapper">
                        {% if pushfile %}
                            <pre>{{ pushfile }}</pre>
                        {% else %}
                            <pre>No push file found. Are you in dev?</pre>
                        {% endif %}
                    </div>
                </dd>
            </dl>
        </div>
    {% endif %}

{% endblock %}
