{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = "Admin Dashboard" %}

{% set is_admin = current_authorizations.isSuper() %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <h2 class="leader">Manage Deployments</h2>
    <ul>
        <li>
            <a href="{{ uriFor('servers') }}" class="btn">
                {{ macros.icon('server') }} Servers
            </a>
        </li>
        <li>
            <a href="{{ uriFor('environments') }}" class="btn">
                {{ macros.icon('leaf') }} Environments
            </a>
        </li>
        <li>
            <a href="{{ uriFor('queue.history.page1') }}" class="btn">
                {{ macros.icon('in') }} Queue History
            </a>
        </li>
    </ul>

    <h2 class="leader">User Management</h2>
    <ul>
        <li>
            <a href="{{ uriFor('users.page1') }}" class="btn btn--primary">
                {{ macros.icon('users') }} Users
            </a>
        </li>
        <li>
            <a href="{{ uriFor('admin.permissions') }}" class="btn btn--primary">
                {{ macros.icon('safe') }} Permissions
            </a>
        </li>
    </ul>

    <h2 class="leader">Security</h2>
    <ul>
        <li>
            <a href="{{ uriFor('admin.credentials') }}" class="btn btn--primary">
                {{ macros.icon('locked') }} Credentials
            </a>
        </li>
        <li>
            <a href="{{ uriFor('admin.audit_history.page1') }}" class="btn btn--primary">
                {{ macros.icon('watch') }} Audit History
            </a>
        </li>
    </ul>

    {% if is_admin %}
        <h2 class="leader">Manage Hal System</h2>
        <ul>
            <li><a href="{{ uriFor('super.system') }}" class="btn">System Dashboard</a></li>
            <li><a href="{{ uriFor('super.caches') }}" class="btn">Cache Management</a></li>
            <li><a href="{{ uriFor('super.banner') }}" class="btn">Global Banner</a></li>
        </ul>

        <h3>Server Information</h3>
        <div class="details-box">
            <ul>
                <li>
                    <h6>Hostname</h6>
                    <div class="pre-wrapper">
                        <pre>{{ server_name }}</pre>
                    </div>
                </li>

                <li>
                    <h6>Encryption key</h6>
                    <div class="pre-wrapper">
                        <pre>{{ encryption_key }}</pre>
                    </div>
                </li>

                <li>
                    <h6>Session Encryption key</h6>
                    <div class="pre-wrapper">
                        <pre>{{ session_encryption_key }}</pre>
                    </div>
                </li>

                <li>
                    <h6>Hal Push File</h6>
                    <div class="pre-wrapper">
                        {% if push_file %}
                            <pre>{{ push_file }}</pre>
                        {% else %}
                            <pre>No push file found. Are you in dev?</pre>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    {% endif %}

{% endblock %}
