{% set page_title = "Deployments Admin" %}
{% include "common/htmltop.twig" %}
  <form action="" method="post">
    <fieldset>
      <legend>Add Deployment</legend>
      <div><label for="repositoryId">Repository</label></div>
      <div>
        <select id="repositoryId" name="repositoryId">
        {% for repository in repositories %}
          <option value="{{repository.RepositoryId}}">{{repository.ShortName}}</option>
        {% endfor %}
        </select>
      </div>
      <div><label for="serverId">Server</label></div>
      <div>
        <select id="serverId" name="serverId">
        {% for server in servers %}
          <option value="{{server.ServerId}}">{{server.HostName}}</option>
        {% endfor %}
        </select>
      </div>
      <div><label for="path">Target Path</label></div>
      <div><input type="text" name="path" id="path" required maxlength="255" size="64"></div>
      <div><button type="submit">Create Deployment</button></div>
    </fieldset>
  </form>
{% if deployments %}
  <table>
    <thead>
      <tr>
        <th>Repository</th>
        <th>Server (Env)</th>
        <th>Current Status</th>
        <th>Current Branch</th>
        <th>Current Commit</th>
        <th>Last Push</th>
        <th>Target Path</th>
      </tr>
    </thead>
    <tbody>
    {% for deployment in deployments %}
      {% if deployment.LastPushed %}
        {% set lastPush = deployment.LastPushed|date(timezone="America/Detroit") %}
      {% else %}
        {% set lastPush = "never" %}
      {% endif %}
      {% if deployment.CurCommit == '000000000000000000000000000000000000' %}
        {% set curCommit = deployment.CurCommit %}
      {% else %}
        {% set curCommit = '<a href="http://git/' ~ deployment.GithubUser ~ '/' ~ deployment.GithubRepo ~ '/commit/' ~ deployment.CurCommit ~ '">' ~ deployment.CurCommit ~ '</a>' %}
      {% endif %}
      <tr>
       <td>{{ deployment.Repository }}</td>
       <td>{{ deployment.HostName }} ({{ deployment.Environment }})</td>
       <td>{{ deployment.CurStatus }}</td>
       <td>{{ deployment.CurBranch }}</td>
       <td>{% autoescape false %}{{ curCommit }}{% endautoescape %}</td>
       <td>{{ lastPush }}</td>
       <td>{{ deployment.TargetPath }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No deployments have been setup yet.</p>
{% endif %}

{% include "common/htmlbottom.twig" %}
