{% extends 'base.twig' %}
{% import 'macros.form.twig' as form_macros %}

{% set page_title = 'Configure Hal' %}

{% block content %}

    <h1 class="mbn">Hal Bootstrap Configurator</h1>
    <p>
        This is the Hal bootstrap.
        Set up Hal so users can sign-in and build their projects.
    </p>

    {{ form_macros.formErrors(errors) }}

    {{ block('bootstrap_form') }}

{% endblock %}

{% block bootstrap_form %}
    <form method="post">

        <h2>Configure Identity Providers</h2>
        <p>
            Hal will be configured to allow internal users (No separate auth system required).
            You can add more identity providers later.
        </p>
        <ul class="form-fields form-wrapper">
            <li>
                {% set has_error = form_macros.hasError(errors, 'admin_username') %}
                <label for="admin-username">Administrator Username</label>
                <input class="text-input{{ has_error ? ' is-error' : '' }}" type="text" id="admin-username" name="admin_username">
            </li>
            <li>
                {% set has_error = form_macros.hasError(errors, 'admin_password') %}
                <label for="admin-password">Password</label>
                <input class="text-input{{ has_error ? ' is-error' : '' }}" type="password" id="admin-password" name="admin_password">
            </li>
        </ul>

        <h2>Configure Version Control</h2>
        <ul class="form-fields form-wrapper">
            <li>
                {% set has_error = form_macros.hasError(errors, 'ghe_url') %}
                <label for="ghe-token">GitHub Enterprise URL</label>
                <input class="text-input{{ has_error ? ' is-error' : '' }}" type="text" id="ghe-url" name="ghe_url" placeholder="https://github.example.com">
            </li>
            <li>
                {% set has_error = form_macros.hasError(errors, 'ghe_token') %}
                <label for="ghe-token">GitHub Enterprise API Token</label>
                <input class="text-input{{ has_error ? ' is-error' : '' }}" type="text" id="ghe-token" name="ghe_token">
            </li>
        </ul>

        <p>
            <button class="btn" type="submit">Save Changes</button>
        </p>

    </form>
{% endblock %}
