{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}
{% set js_components = ["admin.servers"] %}

{% set page_title = "Global Server Status" %}

{% block content %}
    <h2>Global Server Status</h2>

    {% if server_count %}

        {% for env, servers in server_environments %}
            {% if servers %}
                <h3>{{ env }}</h3>
                <ul class="col-list">
                    {% for server in servers %}
                        <li>
                            {% if server.type == 'rsync' %}
                                <span class="status-icon--info" title="Updating..." data-server-status="{{ server.id }}">
                                    <a href="{{ urlFor('server', {'id': server.id}) }}">{{ server|formatServer }}</a>
                                </span>
                            {% else %}

                                <span class="status-icon--warning" title="Server status unavailable for AWS deployments">
                                    <a href="{{ urlFor('server', {'id': server.id}) }}">{{ server|formatServer }}</a>
                                </span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}

    {% else %}
        {{ macros.alert('error', 'There are no servers.') }}
    {% endif %}

{% endblock %}
