{% extends 'base.html.twig' %}

{% set page_title = "Super Admin Dashboard" %}

{% block content %}

    <h2>Super Admin Dashboard</h2>

    {# Server Stats #}
    <h3>Server Information</h3>
    <div class="details-box">
        <dl class="split mbn">
            <dl>
                <dt class="split__title"><strong>Hostname</strong></dt>
                <dd>
                    <div class="pre-wrapper">
                        <pre>{{ servername }}</pre>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt class="split__title"><strong>Encryption key</strong></dt>
                <dd>
                    <div class="pre-wrapper">
                        <pre>{{ encryption_key }}</pre>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt class="split__title"><strong>Session Encryption key</strong></dt>
                <dd>
                    <div class="pre-wrapper">
                        <pre>{{ session_encryption_key }}</pre>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt class="split__title"><strong>HAL 9000 Push File</strong></dt>
                <dd>
                    <div class="pre-wrapper">
                        {% if pushfile %}
                            <pre>{{ pushfile }}</pre>
                        {% else %}
                            <pre>No push file found. Are you in dev?</pre>
                        {% endif %}
                    </div>
                </dd>
            </dl>
            <dl>
                <dt class="split__title"><strong>{{ isSeriousBusinessMode() ? 'Free space' : 'Spaaace' }}</strong></dt>
                <dd>
                    <div class="pre-wrapper">
                        <pre>{{ freespace }}</pre>
                    </div>
                </dd>
            </dl>
        </dl>
    </div>
{% endblock %}
