{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = "Agent System Status" %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }} - <b>{{ selected_agent }}</b></h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('admin') }}">Back to Admin Dashboard</a>
        </p>
    </div>

    <h2>Agents</h2>
    <ul class="button-list button-list--half">
        {% for agent in agents %}
            {% set btnSelected = agent == selected_agent ? ' btn--selected' : ' btn--not-selected' %}
            <li>
                <a class="btn{{ btnSelected }}" href="{{ uriFor('super.system.agent', {'agent': agent}) }}">{{ agent }}</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Agent Status</h2>
    {% if system %}
        {{ block('system_status') }}
    {% else %}
        <p>Unknown. No status available.</p>
    {% endif %}

    <h2>Server Status</h2>
    {% if connections %}
        {{ block('server_status') }}
    {% else %}
        <p>Unknown. No status available.</p>
    {% endif %}

{% endblock %}

{% block system_status %}
    <p class="mtn">Last Update: {{ system.generated|html5date }}</p>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title"><b>Agent System</b></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.agent.system }}</pre>
                </div>
            </dd>

            <dt class="split__title"><b>Agent Temp</b></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.agent.temp }}</pre>
                </div>
            </dd>
        </dl>
    </div>

    <h3>Builder Status</h3>
    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title"><b>Builder System</b></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.builder.system }}</pre>
                </div>
            </dd>

            <dt class="split__title"><b>Builder Temp</b></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.builder.temp }}</pre>
                </div>
            </dd>

        <dl>
            <dt class="split__title"><b>Builder Docker</b></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.builder.docker }}</pre>
                </div>
            </dd>
        </dl>
    </div>

    <h3>Docker Status</h3>
    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title"><b>Info</b></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.docker.info }}</pre>
                </div>
            </dd>

            <dt class="split__title"><b>Images</b></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.docker.images }}</pre>
                </div>
            </dd>

            <dt class="split__title"><b>Containers</b></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.docker.containers }}</pre>
                </div>
            </dd>
        </dl>
    </div>

{% endblock %}

{% block server_status %}
    <p>Last Update: {{ connections.generated|html5date }}</p>

    {% if connections.servers %}
        <table class="table--spacing-medium table--striped table--top-aligned" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Env</th>
                    <th>Server</th>
                    <th>Detail</th>
                </tr>
            </thead>

            {% if connections.failures %}
                <tbody class="table-breathe">
                    <tr>
                        <th colspan="5" class="table-mid-header">Failures</th>
                    </tr>
                    {% for status in connections.failures %}

                        <tr>
                            <td>{{ macros.status('Error', 'error') }}</td>
                            <td>{{ status.server.environment.name }}</td>
                            <td><a href="{{ uriFor('server', {'server': status.server.id})}}">{{ status.server.name }}</a></td>
                            <td>
                                <div class="pre-wrapper">
                                    <pre class="code_clear">{{ status.detail }}</pre>
                                </div>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            {% endif %}

            {% for env, servers in connections.servers %}
                <tbody class="table-breathe">
                    <tr>
                        <th colspan="5" class="table-mid-header">{{ env }}</th>
                    </tr>

                    {% for status in servers %}
                            <tr>
                                <td>
                                    {% if status.status is same as ('unknown') %}
                                        {{ macros.status('Unknown', 'info') }}
                                    {% elseif status.status %}
                                        {{ macros.status('Success', 'success') }}
                                    {% else %}
                                        {{ macros.status('Error', 'error') }}
                                    {% endif %}
                                </td>
                                <td>{{ env }}</td>

                                <td><a href="{{ uriFor('server', {'server': status.server.id})}}">{{ status.server.name }}</a></td>
                                <td>
                                    <div class="pre-wrapper">
                                        <pre class="code_clear">{{ status.detail }}</pre>
                                    </div>
                                </td>
                            </tr>

                    {% endfor %}
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <p>Unknown</p>
    {% endif %}

{% endblock %}
