{% extends 'base.twig' %}

{% set page_title = "Global Message" %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }}</h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('admin') }}">Back to Admin Dashboard</a>
        </p>
    </div>

    <h3>Current Message</h3>
    <div class="trailer">
        {% if message %}
            <pre>{{ message}}</pre>
            <p>
                {% if ttl %}
                    This message will expire in <b>{{ ttl }} seconds</b>.</p>
                {% else %}
                    This message will <b>never</b> expire.</p>
                {% endif %}
            </p>

            <form action="" method="post" class="trailer">
                <input type="hidden" name="remove" value="1">
                <input class="btn btn--destructive" type="submit" name="submit" value="Remove Message">
            </form>
        {% else %}
            <p>No message currently set.</p>
        {% endif %}

        {% if isUpdateTickOn() %}
            <p>Update Tick is enabled.</p>
        {% endif %}
    </div>

    <h3>New Message</h3>

    <p>Note that the message is not wrapped in any html! Use the following as a template if you wish to create an alert.</p>
    <pre class="trailer">{{ block('sample_message')|escape }}</pre>

    <div class="trailer">
        <form action="" method="post">
            <ul class="form-fields">
                <li>
                    <label for="message">
                        Global Message
                        <small class="additional">This message will be displayed as-is on the website (wrapped in an alert). Please do not do anything stupid.</small>
                    </label>
                    <textarea class="text-input" id="message" name="message" rows="3"></textarea>
                </li>
                <li>
                    <label for="ttl">
                        TTL (in seconds)
                        <small class="additional">If empty or set to "0", the message will never expire and must be removed manually.</small>
                    </label>
                    <input class="text-input t10" type="text" id="ttl" name="ttl">
                </li>
                <li>
                    <label for="update-tick">
                        <input type="checkbox" id="update-tick" name="update-tick" value="1" {{ isUpdateTickOn() ? ' checked' : ''}}>
                        Enable Update Tick on header
                    </label>
                    <small class="additional">This tick creates an icon on the header that links to the "Latest Release" page.</small>
                </li>
            </ul>
            <input class="btn" type="submit" name="submit" value="Save Message">
        </form>
    </div>
{% endblock %}

{% block sample_message -%}
<div class="alert-bar--error|alert-bar--success|alert-bar--info">
    <div class="alert-bar-icon">
        <svg class="icon"><use xlink:href="/icons.svg#info"></use></svg>
    </div>
    <div class="alert-bar-contents">
        <h4>Title of message.</h4>
        <p>Optional. More Info</p>
    </div>
</div>
{%- endblock %}
