{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'System Dashboard' %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }}</h1>

        <p class="nav--page__back">
            <a class="btn btn--back" href="{{ uriFor('admin') }}">Back to Admin Dashboard</a>
        </p>
    </div>

    <h2>Server Information</h2>
    <ul class="meta-box">
        <li>
            <h6>Server Hostname</h6>
            <div class="pre-wrapper">
                <pre>{{ server_name }}</pre>
            </div>
        </li>

        <li>
            <h6>Encryption key</h6>
            <div class="pre-wrapper">
                <pre>{{ encryption_key }}</pre>
            </div>
        </li>

        <li>
            <h6>Session encryption key</h6>
            <div class="pre-wrapper">
                <pre>{{ session_encryption_key }}</pre>
            </div>
        </li>

        <li>
            <h6>Hal deployment file</h6>
            <div class="pre-wrapper">
                {% if deployment_file %}
                    <pre>{{ deployment_file }}</pre>
                {% else %}
                    <pre>No release file found. Are you in dev?</pre>
                {% endif %}
            </div>
        </li>
    </ul>

    <h2>Agent Status</h2>
    <ul class="meta-box">
        <li>
            <h6>Agent 1</h6>
            <div class="pre-wrapper">
                <pre>tbd</pre>
            </div>
        </li>

        <li>
            <h6>Agent 2</h6>
            <div class="pre-wrapper">
                <pre>tbd</pre>
            </div>
        </li>
    </ul>

{% endblock %}
