{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "Agent System Status" %}

{% block content %}
    <h1>{{ page_title }} - <strong>{{ selected_agent }}</strong></h1>

    <h2>Agents</h2>
    <ul class="button-list button-list--half">
        {% for agent in agents %}
            {% set btnSelected = agent == selected_agent ? ' btn--selected' : ' btn--not-selected' %}
            <li>
                <a class="btn{{ btnSelected }}" href="{{ urlFor('admin.system.status.agent', {agent: agent}) }}">{{ agent }}</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Agent Status</h2>
    {% if system %}
        {{ block('system_status') }}
    {% else %}
        <p>Unknown. No status available.</p>
    {% endif %}

    <h2>Server Status</h2>
    {% if connections %}
        {{ block('server_status') }}
    {% else %}
        <p>Unknown. No status available.</p>
    {% endif %}

    <p>
        <a class="btn" href="{{ urlFor('admin') }}">Admin Dashboard</a>
    </p>
{% endblock %}

{% block system_status %}
    <p class="mtn">Last Update: {{ system.generated|html5date }}</p>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title"><strong>Agent System</strong></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.agent.system }}</pre>
                </div>
            </dd>

            <dt class="split__title"><strong>Agent Temp</strong></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.agent.temp }}</pre>
                </div>
            </dd>
        </dl>
    </div>

    <h3>Builder Status</h3>
    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title"><strong>Builder System</strong></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.builder.system }}</pre>
                </div>
            </dd>

            <dt class="split__title"><strong>Builder Temp</strong></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.builder.temp }}</pre>
                </div>
            </dd>

        <dl>
            <dt class="split__title"><strong>Builder Docker</strong></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.builder.docker }}</pre>
                </div>
            </dd>
        </dl>
    </div>

    <h3>Docker Status</h3>
    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title"><strong>Info</strong></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.docker.info }}</pre>
                </div>
            </dd>

            <dt class="split__title"><strong>Images</strong></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.docker.images }}</pre>
                </div>
            </dd>

            <dt class="split__title"><strong>Containers</strong></dt>
            <dd>
                <div class="pre-wrapper">
                    <pre>{{ system.docker.containers }}</pre>
                </div>
            </dd>
        </dl>
    </div>

{% endblock %}

{% block server_status %}
    <p>Last Update: {{ connections.generated|html5date }}</p>

    {% if connections.servers %}
        <table class="table--spacing-medium table--striped table--top-aligned" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Environment</th>
                    <th>Server</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for env, servers in connections.servers %}
                    {% for status in servers %}

                            <tr>
                                <td>
                                    {% if status.server.environment.isProduction %}
                                        {{ macros.status(status.server.environment.name, 'info', 'key') }}
                                    {% else %}
                                        {{ status.server.environment.name }}
                                    {% endif %}
                                </td>
                                <td>{{ status.server.name }}</td>
                                <td>{{ status.resolved != status.server.name ? status.resolved : '' }}</td>
                                <td class="tr">
                                    {% if status.status %}
                                        {{ macros.status('Success', 'success') }}
                                    {% else %}
                                        {{ macros.status('Error', 'error') }}
                                    {% endif %}
                                </td>
                            </tr>

                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Unknown</p>
    {% endif %}

{% endblock %}
