{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "User Management" %}

{% block content %}

    <h1>{{ page_title }}</h1>

    <table class="table--spacing-medium table--striped" data-tablesaw-mode="stack">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ urlFor('user', {'user': user.user.id}) }}">{{ user.user.id }}</a></td>
                <td>{{ user.user.handle }}</td>
                <td>
                    {% if user.hal_active %}
                        <span class="icon--success">
                            {{ macros.icon('tick') }} Active
                        </span>
                    {% else %}
                        <span class="icon--error-inverse">
                            {{ macros.icon('nope') }} Inactive
                        </span>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">There are no users.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
