{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "User Management" %}

{% block content %}

    {% if pruned %}
        {% set alert_message = 'The users <strong>' ~ pruned|join(', ') ~ '</strong> have been disabled.' %}
        {{ macros.alert('success', alert_message) }}

    {% elseif no_pruned %}
        {% set alert_message = 'No users were disabled. All inactive users are already disabled in HAL.' %}
        {{ macros.alert('info', alert_message) }}
    {% endif %}

    <h1>{{ page_title }}</h1>

    {% if not pruned and not no_pruned %}
        <p>
            <a href="{{ urlFor('admin.super.users', {}, {prune: 1}) }}" class="btn btn--destructive">Disable inactive users</a>
        </p>
    {% endif %}

    <table class="table--spacing-medium" data-tablesaw-mode="stack">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>HAL Status</th>
                <th>LDAP Status</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ urlFor('user', {'user': user.user.id}) }}">{{ user.user.id }}</a></td>
                <td>{{ user.user.handle }}</td>
                <td>
                    {% if user.hal_active %}
                        <span class="icon--success">
                            {{ macros.icon('tick') }} Active
                        </span>
                    {% else %}
                        <span class="icon--error-inverse">
                            {{ macros.icon('nope') }} Inactive
                        </span>
                    {% endif %}
                </td>
                <td>
                    {% if user.ldap_active %}
                        <span class="icon--success">
                            {{ macros.icon('tick') }} Active
                        </span>
                    {% else %}
                        <span class="icon--error-inverse">
                            {{ macros.icon('remove') }} Removed
                        </span>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">There are no users.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
