{% import "_partial/macros.twig" as macros %}
{% import "kraken/_partial/macros.twig" as kraken_macros %}

{% if properties %}

    {% set is_snapshot = properties|first is snapshot ? true : false %}

    <table class="table--spacing-medium table--striped table--top-aligned" data-tablesaw-mode="stack">
        <thead>
            <tr>
                {# yes this is stupid. just go with it #}
                {% if is_snapshot %}
                    <th class="tf1"></th>
                {% endif %}

                <th>Property</th>
                <th class="t15">Type</th>
                <th>Value</th>
                {% if not is_snapshot %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for property in properties %}

                <tr>
                    {% if is_snapshot %}
                        <td>
                            {% if is_deployed %}
                                {% if checksums[property.key] == property.checksum %}
                                    <span class="tooltipped" aria-label="Verified with Consul backend">{{ macros.status_icon('', 'success') }}</span>
                                    <span class="tablesaw-collapse">Verified with Consul backend</span>
                                {% else %}
                                    <span class="tooltipped" aria-label="Missing or different from Consul backend">{{ macros.status_icon('', 'error') }}</span>
                                    <span class="tablesaw-collapse">Missing or different from Consul backend</span>
                                {% endif %}
                            {% endif %}

                        </td>
                        <td>
                            <code class="code_clear">{{ property.key }}</code>
                        </td>
                        <td>{{ property|formatSchemaType }}</td>

                        <td>{{ kraken_macros.renderProperty(property) }}</td>

                    {% else %}

                        {% if property is diff %}
                            {% set property = property.property ? property.property : property.schema %}
                        {% endif %}

                        {% if property is property %}

                            <td><code class="code_clear">{{ property.schema.key }}</code></td>
                            <td>
                                {{ property.schema.isSecure ? macros.icon('locked') : '' }}
                                {{ property.schema|formatSchemaType }}
                            </td>

                            <td>{{ kraken_macros.renderProperty(property) }}</td>

                            <td class="fixed-nobreak">
                                <a href="{{ urlFor('kraken.property', {property: property.id}) }}">View History</a>
                            </td>

                        {% else %}
                            <td><code class="code_clear">{{ property.key }}</code></td>
                            <td>
                                {{ property.isSecure ? macros.icon('locked') : '' }}
                                {{ property|formatSchemaType }}
                            </td>

                            <td>
                                {{ macros.status('Missing', 'error', 'spam-2') }}
                            </td>
                            <td>
                                <span class="tablesaw-collapse">History not available</span>
                            </td>
                        {% endif %}

                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>This configuration has no properties.</p>
{% endif %}
