{% import "_partial/macros.twig" as macros %}
{% import "kraken/_partial/macros.twig" as kraken_macros %}


{% set diff_left = diff_left|default('Snapshot') %}
{% set diff_right = diff_right|default('Latest') %}

{% if diffs %}
    <table class="table--spacing-medium table--striped table--top-aligned trailer" data-tablesaw-mode="stack">
        <thead>
            <tr>
                <th>Property</th>
                <th class="t40">{{ diff_left }}</th>
                <th class="t40">{{ diff_right }}</th>
            </tr>
        </thead>
        <tbody>
            {% for diff in diffs %}
                <tr>
                    <td>
                        {% if diff.schema %}
                            <code class="code_clear">{{ diff.schema.key }}</code>
                        {% elseif diff.configuration %}
                            <code class="code_clear">{{ diff.configuration.key }}</code>
                        {% endif %}
                    </td>

                    <td>
                        {% if diff.configuration %}
                            {{ kraken_macros.renderProperty(diff.configuration) }}
                        {% else %}
                            {{ macros.status('Missing', 'error', 'spam-2') }}
                        {% endif %}
                    </td>

                    <td>
                        {% if not diff.isChanged %}
                            No change

                        {% elseif diff.property %}
                            {{ kraken_macros.renderProperty(diff.property) }}

                        {% else %}
                            {{ macros.status('Missing', 'error', 'spam-2') }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>There is no schema defined for this application.</p>
{% endif %}
