{% extends 'base.twig' %}
{% import 'macros.form.twig' as form_macros %}

{% set page_title = 'Add Environment' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
    <li><a href="{{ uriFor('environments') }}">Environments</a></li>
{% endblock %}

{% block content %}
    {{ form_macros.form_errors(errors, is_csrf_error) }}

    <form method="post">
        {{ form_macros.csrf_input('environment.add') }}

        <ul class="form-fields form-wrapper">
            <li>
                {% set has_error = form_macros.has_error(errors, 'name') ? ' is-error' : '' %}
                <label for="name">Name</label>
                <input type="text" class="text-input t50{{ has_error }}" name="name" id="name" value="{{ form.name }}" maxlength="30" required>
                <small>
                    Unique name such as <span>"staging"</span> or <span>"prod"</span>.
                    <br>Alphanumeric, hyphen, and period characters only.
                </small>
            </li>

            {% set is_selected = form.is_production ? ' checked' : '' %}
            <li>
                <div class="label">Is this a <b>Production</b> environment?</div>
                <label for="is_production" class="checkbox-check">
                    <input type="checkbox" name="is_production" id="is_production" value="1" {{ is_selected }}>
                    <b class="checkbox-check--tick"></b>Yes, this is production.
                </label>
            </li>
        </ul>

        <p>
            <button type="submit" class="btn btn--action">Add Environment</button>
            <a href="{{ uriFor('environments') }}">Cancel</a>
        </p>

    </form>
{% endblock %}
