{% extends 'base.html.twig' %}
{% import "partials/macros.twig" as macros %}

{% set page_title = "Reorder Environments" %}

{% block content %}
    <h2>Reorder Environments</h2>
    <p>Drag environments into the desired order, or manually assign orders with the text input.</p>

    {% if errors %}
        <ul class="error-list">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        <table id="env-reorder">
            <thead>
            <tr>
                <th class="t5"></th>
                <th class="t15">Order</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for env in envs %}
                <tr class="env-row-{{ env.key }}">
                    <td>{{ macros.icon('menu-2') }}</td>
                    <td><input type="text" maxlength="2" required name="env{{ env.id }}" value="{{ env.order }}" class="text-input"></td>
                    <td>{{ env.key }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">There are no environments.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div>
            {# primary action #}
            <input class="btn" type="submit" value="Save Order">

            {# secondary actions #}
            <a class="secondary-action" href="{{ urlFor('environments') }}">Cancel</a>
        </div>
    </form>
{% endblock %}
