{% extends 'base.twig' %}
{% import 'macros.form.twig' as form_macros %}

{% set page_title = 'Edit Environment' %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }}</h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('environments') }}">Back to Environments</a>
        </p>
    </div>

    {{ form_macros.formErrors(errors) }}

    <form method="post">

        <ul class="form-fields form-wrapper">
            <li>
                {% set has_error = form_macros.hasError(errors, 'name') %}
                <label for="name">Name</label>
                <input type="text" class="text-input t50{{ has_error ? ' is-error' : '' }}" name="name" id="name" value="{{ form.name }}" maxlength="30" required>
                <small>
                    Unique name such as <span>"staging"</span> or <span>"prod"</span>.
                    <br>Alphanumeric, hyphen, and period characters only.
                </small>
            </li>


            {% set is_selected = form.is_production ? ' checked' : '' %}
            <li>
                <label>Is this a <b>Production</b> environment?</label>
                <ul class="list--bare">
                    <li>
                        <label for="is_production" class="checkbox-check">
                            <input type="checkbox" name="is_production" id="is_production" value="1" {{ is_selected }}>
                            <b class="checkbox-check--tick"></b>Yes, this is production.
                        </label>
                    </li>
                </ul>
            </li>
        </ul>

        <p>
            <button class="btn btn--action" type="submit">Save Changes</button>
            <a href="{{ uriFor('environment', {'environment': environment.id}) }}">Cancel</a>
        </p>

    </form>
{% endblock %}
