{% extends 'base.twig' %}

{% set page_title = 'Environment : ' ~ env.name %}

{% set isAdmin = isUserSuper(current_user) %}

{% block content %}
    <h1>Environment - <b>{{ env.name }}</b></h1>

    <div class="details-box">
        <ul class="mbn">
            <li>Name</li>
            <li>{{ env.name }}</li>

            <li>Is Production Environment?</li>
            <li>{{ env.isProduction ? 'Yes' : 'No' }}</li>
        </ul>
    </div>

    <h3>Servers</h3>
    {% if servers %}
        <table class="table--spacing-medium table--striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for server in servers %}
                    <tr>
                        <td>
                            <a href="{{ uriFor('server', {'server': server.id}) }}">{{ server.formatPretty() }}</a>
                        </td>
                        <td>
                            {{ server.formatHumanType() }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no servers associated with this environment.</p>
    {% endif %}

    {% if isAdmin and servers %}
        <p><b>Note:</b> All associated servers must be removed or transferred to remove this environment.</p>
    {% endif %}

    <ul>
        <li><a class="btn" href="{{ uriFor('environments') }}">Environments</a></li>
        {% if isAdmin %}
            <li><a class="btn btn--action" href="{{ uriFor('environment.edit', {'environment': env.id}) }}">Edit Environment</a></li>
            {% if not servers and isAdmin %}
                <li><a class="btn btn--destructive" href="{{ uriFor('environment.remove', {'environment': env.id}) }}">Remove Environment</a></li>
            {% endif %}
        {% endif %}
    </ul>

{% endblock %}
