{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Environments' %}

{% set is_admin = current_authorizations.isSuper() %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
{% endblock %}

{% block content %}
    {{ block('env_table') }}

    <p>
        {% if is_admin %}
            <a class="btn" href="{{ uriFor('environment.add') }}">Add Environment</a>
        {% else %}
            {{ macros.disabled_button('Add Environment') }}
        {% endif %}
    </p>

{% endblock %}

{% block env_table %}
    <table class="table--spacing-medium">
        <thead>
            <tr>
                <th class="t15">ID</th>
                <th>Environment</th>
            </tr>
        </thead>
        <tbody>
            {% if envs %}

                {% for environment in envs %}
                    <tr>
                        <td><a href="{{ uriFor('environment', {'environment': environment.id}) }}">{{ environment|short_guid }}</a></td>
                        <td>
                            {% if environment.isProduction %}
                                {{ macros.status(environment.name, 'info', 'key') }}
                            {% else %}
                                {{ environment.name }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="2">There are no environments.</td>
                <tr>
            {% endif %}

        </tbody>
    </table>
{% endblock %}
