{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Environments' %}

{% set is_admin = current_authorizations.isSuper() %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }}</h1>

        <p class="nav--page__back">
            <a class="btn btn--back" href="{{ uriFor('admin') }}">Admin Dashboard</a>
        </p>
    </div>

    {{ block('env_table') }}

    <p>
        {% if is_admin %}
            <a class="btn" href="{{ uriFor('environment.add') }}">Add Environment</a>
        {% else %}
            {{ macros.disabled_button('Add Environment') }}
        {% endif %}
    </p>

{% endblock %}

{% block env_table %}

    {% if envs %}
        <table class="table--spacing-medium">
            <thead>
                <tr>
                    <th class="t15">ID</th>
                    <th>Environment</th>
                </tr>
            </thead>
            <tbody>
                {% for environment in envs %}
                    <tr>
                        <td><a href="{{ uriFor('environment', {'environment': environment.id}) }}">{{ environment|short_guid }}</a></td>
                        <td>
                            {% if environment.isProduction %}
                                {{ macros.status(environment.name, 'info', 'key') }}
                            {% else %}
                                {{ environment.name }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no environments.</p>
    {% endif %}

{% endblock %}
