{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "Environments" %}

{% block content %}
    <h1>{{ page_title }}</h1>

    {% if envs %}
        <table class="table--spacing-medium table--striped" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for environment in envs %}
                    <tr>
                        <td>
                            {% if environment.isProduction %}
                                {{ macros.status(environment.key, 'info', 'key') }}
                            {% else %}
                                {{ environment.name }}
                            {% endif %}
                        </td>
                        <td class="tr">
                            <a href="{{ urlFor('environment', {'id': environment.id}) }}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no environments.</p>
    {% endif %}

    <ul class="button-list">
        <li><a class="btn" href="{{ urlFor('repositories') }}">Applications</a></li>

        {% if isUserSuper(currentUser) %}
            <li><a class="btn btn--action" href="{{ urlFor('environment.admin.add') }}">Add Environment</a></li>
        {% endif %}
    </ul>

{% endblock %}
