{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Environment' %}

{% set is_admin = current_authorizations.isSuper() %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
    <li><a href="{{ uriFor('environments') }}">Environmnents</a></li>
{% endblock %}

{% block content %}
    <ul class="meta-box">
        <li>
            <h6>ID</h6>
            {{ environment.id|short_guid }}
        </li>

        <li>
            <h6>Environment</h6>
            {{ environment.name }}
        </li>

        <li>
            <h6>Is Production Environment?</h6>
            {{ environment.isProduction ? 'Yes' : 'No' }}
        </li>
    </ul>

    {{ block('actions') }}

{% endblock %}

{% block actions %}
    <p>
        {% if is_admin %}
            <a class="btn btn--action" href="{{ uriFor('environment.edit', {'environment': environment.id}) }}">Edit Environment</a>
        {% else %}
            {{ macros.disabled_button('Edit Environment') }}
        {% endif %}

        {% if is_admin %}
            <a class="btn btn--destructive" href="{{ uriFor('environment.remove', {'environment': environment.id}) }}">Remove Environment</a>
        {% else %}
            {{ macros.disabled_button('Remove Environment') }}
        {% endif %}
    </p>
{% endblock %}
