{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = "Environments" %}

{% set is_admin = current_authorizations.isSuper() %}

{% block content %}
    <h1>{{ page_title }}</h1>

    {{ block('env_table') }}

    <ul>
        <li><a class="btn" href="{{ uriFor('applications') }}">Applications</a></li>
        <li>
            {% if is_admin %}
                <a class="btn btn--action" href="{{ uriFor('environment.add') }}">Add Environment</a>
            {% else %}
                <button class="btn btn--action btn--disabled">Add Environment</button>
            {% endif %}
        </li>
    </ul>

{% endblock %}

{% block env_table %}

    {% if envs %}
        <table class="table--spacing-medium table--striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for environment in envs %}
                    <tr>
                        <td>
                            {% if environment.isProduction %}
                                {{ macros.status(environment.name, 'info', 'key') }}
                            {% else %}
                                {{ environment.name }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ uriFor('environment', {'environment': environment.id}) }}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no environments.</p>
    {% endif %}

{% endblock %}
