{% extends 'base.html.twig' %}

{% set page_title = 'Environment : ' ~ env.key %}

{% block content %}
    <h1>Environment - <strong>{{ env.key }}</strong></h1>

    <h3>Name</h3>
    <p>{{ env.key }}</p>

    <h3>Servers</h3>
    {% if servers %}
        <table class="table--spacing-medium table--striped" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for server in servers %}
                    <tr>
                        <td>
                            <a href="{{ urlFor('server', {'id': server.id}) }}">{{ server|formatServer }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no servers associated with this environment.</p>
    {% endif %}

    {% if isUserAdmin(currentUser) and servers %}
        <p><strong>Note:</strong> All associated servers must be removed or transferred to remove this environment.</p>
    {% endif %}

    <ul class="button-list">
        <li><a class="btn" href="{{ urlFor('environments') }}">Environments</a></li>
        {% if isUserAdmin(currentUser) %}
            <li><a class="btn btn--action" href="{{ urlFor('environment.admin.edit', {id: env.id}) }}">Edit Environment</a></li>
            {% if not servers and isUserAdmin(currentUser) %}
                <li><a class="btn btn--destructive" href="{{ urlFor('environment.admin.remove', {id: env.id}) }}">Remove Environment</a></li>
            {% endif %}
        {% endif %}
    </ul>

{% endblock %}
