{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = "Environments" %}

{% block content %}
    <h1>{{ page_title }}</h1>

    {% if envs %}
        <table class="table--spacing-medium table--striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for environment in envs %}
                    <tr>
                        <td>
                            {% if environment.isProduction %}
                                {{ macros.status(environment.name, 'info', 'key') }}
                            {% else %}
                                {{ environment.name }}
                            {% endif %}
                        </td>
                        <td class="tr">
                            <a href="{{ uriFor('environment', {'environment': environment.id}) }}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no environments.</p>
    {% endif %}

    <ul class="button-list button-list--half">
        <li><a class="btn" href="{{ uriFor('applications') }}">Applications</a></li>

        {% if isUserSuper(current_user) %}
            <li><a class="btn btn--action" href="{{ uriFor('environment.add') }}">Add Environment</a></li>
        {% endif %}
    </ul>

{% endblock %}
