{% extends 'base.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = ldapUser.firstName~' '~ldapUser.lastName %}
{% endif %}

{% block content %}
    <h2>
        {% block name %}
            {{ getUsersActualName(profileUser) }}
        {% endblock %}
    </h2>
    <p>{{ ldapUser.title }} ({{ ldapUser.teamName }})</p>

    <p><img src="{{ profileUser.pictureUrl.asString() }}" width="150"></p>

    <h3>Contact</h3>
    <ul>
        <li>Email: <a href="mailto:{{ profileUser.Email }}">{{ profileUser.Email }}</a></li>
        <li>Phone: {{ ldapUser.workPhone }} (x<strong>{{ ldapUser.workExt }}</strong>)</li>
        <li>Mobile: {{ ldapUser.mobilePhone }}</li>
        <li><a href="http://rockworldapps/roster/default.aspx?firstname={{ ldapUser.firstName }}&lastname={{ ldapUser.lastName }}">Rockword Link</a></li>
    </ul>

    <h3>Stats</h3>
    <ul>
        <li><b>Total Pushes:</b> {{ pushes }}</li>
        <li>
            <b>Github Page:</b> <a href="http://git/{{ profileUser.handle }}">http://git/{{ profileUser.handle }}</a>
            <span class="icon">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#github"></use>
                </svg>
            </span>
        </li>
    </ul>

    {% if permissions %}
        <h3>Permissions</h3>
        <ul>
        {% for pair in permissions %}
            <li>Has access to push <a href="{{ urlFor('repo', {'repo': pair.0}) }}">{{ pair.0 }}</a> to <b>{{ pair.1 }}</b>.</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% block actions %}
        {# primary action #}
        <p><a class="btn" href="{{ urlFor('users') }}">View all users</a></p>

        {% if isAdmin or commonId == profileUser.getId %}
            {# secondary actions #}
            <p>
                <a href="{{ urlFor('user.edit', {'id': profileUser.id}) }}">Edit</a>
            </p>
        {% endif %}
    {% endblock %}
{% endblock %}
