{% extends 'base.html.twig' %}

{% set isSelf = (currentHalUser.id == user.id) %}
{% set name = getUsersName(user) %}
{% set displayName = isSeriousBusinessMode() ? name : getUsersActualName(user) %}

{% set page_title = name %}

{% block content %}

    <h2>
        {% if isSeriousBusinessMode() %}
            <h2>{{ displayName }}</h2>
        {% else %}
            <span
                data-initial="{{ getUsersActualName(currentUser) }}"
                data-nofunzone="{{ name }}"
            >{{ displayName }}</span>
        {% endif %}
    </h2>

    {% if ldapUser %}
        <p>{{ ldapUser.title }} ({{ ldapUser.teamName }})</p>
    {% endif %}

    <p>
        {% if ldapUser %}
            {% set profilePicture = user.pictureUrl.host ~ user.pictureUrl.path %}
            <img src="{{ ishttpsOn ? 'https' : 'http' }}://{{ profilePicture }}" width="150">
        {% else %}
            <img src="/img/noprofile.jpg" width="150">
        {% endif %}
    </p>

    <h3>Contact</h3>
    <ul>
        <li>Email: <a href="mailto:{{ user.Email }}">{{ user.Email }}</a></li>
        {% if ldapUser %}
            <li>Phone: {{ ldapUser.workPhone }} (x{{ ldapUser.workExt }})</li>
            <li>Mobile: {{ ldapUser.mobilePhone }}</li>
            <li><a href="http://quniverse/profiles/Person.aspx?accountname=MI%5c{{ user.handle }}">Rockword Profile</a></li>
        {% endif %}
    </ul>

    <h3>Status</h3>
    <ul>
        <li><b>HAL:</b> {{ user.isActive ? 'Active' : 'Inactive' }}</li>
        <li><b>LDAP:</b> {{ ldapUser ? 'Active' : 'Inactive' }}</li>
    </ul>

    <h3>Activity</h3>
    <ul>
        <li><b>Total Builds:</b> {{ builds }}</li>
        <li><b>Total Pushes:</b> {{ pushes }}</li>
        <li>
            <b>Github Page:</b> <a href="http://git/{{ user.handle }}">http://git/{{ user.handle }}</a>
            <svg class="icon"><use xlink:href="#github"></use></svg>
        </li>
    </ul>


    <h3>Permissions</h3>

    {% if permissions %}
        <p><strong>{{ displayName }}</strong> can push the following repositories to the specified environments.</p>

        <table class="tablesaw tablesaw-stack" data-mode="stack">
            <thead>
            <tr>
                <th>Environment</th>
                <th>Repositories</th>
            </tr>
            </thead>
            <tbody>
                {% for env, permission in permissions %}
                    <tr>
                        <td>{{ env }}</td>
                        <td>
                            <ul class="col-list">
                                {% for rule in permission %}
                                    <li><a href="{{ urlFor('repository', {'id': rule.repository.id}) }}">{{ rule.repository.description }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><strong>{{ name }}</strong> has no permissions.</p>
    {% endif %}

{% endblock %}
