{% extends 'base.html.twig' %}

{% set isSelf = (currentHalUser.id == user.id) %}
{% set name = ldapUser ? ldapUser.firstName ~ ' ' ~ ldapUser.lastName : user.name %}

{% if page_title is not defined %}
    {% set page_title = name %}
{% endif %}

{% block content %}

    {% block name %}
    <h2 data-nofunzone="{{ name }}" data-freud="{{ getUsersFreudianName() }}">
        {{ getUsersActualName(user) }}
    </h2>
    {% endblock %}

    {% if ldapUser %}
        <p>{{ ldapUser.title }} ({{ ldapUser.teamName }})</p>
    {% endif %}

    <p><img src="{{ user.pictureUrl.asString() }}" width="150"></p>

    <h3>Contact</h3>
    <ul>
        <li>Email: <a href="mailto:{{ user.Email }}">{{ user.Email }}</a></li>
        {% if ldapUser %}
            <li>Phone: {{ ldapUser.workPhone }} (x{{ ldapUser.workExt }})</li>
            <li>Mobile: {{ ldapUser.mobilePhone }}</li>
            <li><a href="http://quniverse/profiles/Person.aspx?accountname=MI%5c{{ user.handle }}">Rockword Profile</a></li>
        {% endif %}
    </ul>

    <h3>Stats</h3>
    <ul>
        <li><b>HAL Status:</b> {{ user.isActive ? 'active' : 'inactive' }}</li>
        <li><b>LDAP Status:</b> {{ ldapUser ? 'active' : 'removed' }}</li>
        <li><b>Total Builds:</b> {{ builds }}</li>
        <li><b>Total Pushes:</b> {{ pushes }}</li>
        <li>
            <b>Github Page:</b> <a href="http://git/{{ user.handle }}">http://git/{{ user.handle }}</a>
            <span class="icon">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#github"></use>
                </svg>
            </span>
        </li>
    </ul>

    {% if permissions %}
        <h3>Permissions</h3>

        <p><strong>{{ ldapUser.firstName }} {{ ldapUser.lastName }}</strong> can push the following repositories to the specified environments.</p>

        <table class="tablesaw tablesaw-stack" data-mode="stack">
            <thead>
            <tr>
                <th>Environment</th>
                <th>Repositories</th>
            </tr>
            </thead>
            <tbody>
            {% for pairs in permissions %}
                <tr>
                    <td>{{ pairs|first.environment.key|title }}</td>
                    <td>
                        <ul class="inline-list--comma">
                            {% for pair in pairs %}
                                <li><a href="{{ urlFor('repository', {'id': pair.repository.id}) }}">{{ pair.repository.key }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if isSelf and not isEditing %}
        <h3>Personal Access Tokens</h3>
        <p>Tokens you have created that can be used to access the <a href="{{ urlFor('api.index') }}">HAL API</a>.</p>

        <form action="{{ urlFor('user.token.create.handle') }}" method="post">
        <table class="tablesaw tablesaw-stack" data-mode="stack">
            <thead>
                <th>Label</th>
                <th>Token</th>
                <th></th>
            </thead>
            <tbody>
            {% for token in tokens %}
                <tr>
                    <td>{{ token.label }}</td>
                    <td>{{ token.value }}</td>
                    <td><a class="btn--destructive" href="{{ urlFor('user.token.delete.handle', {token: token.value}) }}">Revoke</a></td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="2">
                        <input type="text" name="label" maxlength="128" class="text-input t50" required>
                    </td>
                    <td><input class="btn" type="submit" value="Generate"></td>
                </tr>
            </tbody>
        </table>
        </form>
    {% endif %}

    <div>
        {% block actions %}
            {% if isUserAdmin(currentLdapUser) or isSelf %}
                {# secondary actions #}
                <a class="btn--action" href="{{ urlFor('user.edit', {'id': user.id}) }}">Edit</a>
            {% endif %}
        {% endblock %}
    </div>

{% endblock %}
