{% extends 'base.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = ldapUser.firstName~' '~ldapUser.lastName %}
{% endif %}

{% block content %}
    <h2>
        {% block name %}
            {{ getUsersActualName(profileUser) }}
        {% endblock %}
    </h2>
    <p>{{ ldapUser.title }} ({{ ldapUser.teamName }})</p>

    <p><img src="{{ profileUser.pictureUrl.asString() }}" width="150"></p>

    <h3>Contact</h3>
    <ul>
        <li>Email: <a href="mailto:{{ profileUser.Email }}">{{ profileUser.Email }}</a></li>
        <li>Phone: {{ ldapUser.workPhone }} (x<strong>{{ ldapUser.workExt }}</strong>)</li>
        <li>Mobile: {{ ldapUser.mobilePhone }}</li>
        <li><a href="http://rockworldapps/roster/default.aspx?firstname={{ ldapUser.firstName }}&lastname={{ ldapUser.lastName }}">Rockword Link</a></li>
    </ul>

    <h3>Stats</h3>
    <ul>
        <li><b>Total Builds:</b> {{ builds }}</li>
        <li><b>Total Pushes:</b> {{ pushes }}</li>
        <li>
            <b>Github Page:</b> <a href="http://git/{{ profileUser.handle }}">http://git/{{ profileUser.handle }}</a>
            <span class="icon">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#github"></use>
                </svg>
            </span>
        </li>
    </ul>

    {% if permissions %}
        <h3>Permissions</h3>

        <p><strong>{{ ldapUser.firstName }} {{ ldapUser.lastName }}</strong> can push the following repositories to the specified environments.</p>

        <table class="tablesaw tablesaw-stack" data-mode="stack">
            <thead>
            <tr>
                <th>Environment</th>
                <th colspan="3">Repositories</th>
            </tr>
            </thead>
            <tbody>
            {% for pairs in permissions %}
                <tr>
                    <td>{{ pairs|first.environment.key|title }}</td>
                    {% for chunk in pairs|chunk(3) %}
                        <td>
                            <ul>
                                {% for pair in chunk %}
                                    <li><a href="{{ urlFor('repository', {'id': pair.repository.id}) }}">{{ pair.repository.key }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>



    {% endif %}

    <div>
    {% block actions %}
        {# primary action #}
        <a class="btn" href="{{ urlFor('users') }}">View all users</a>

        {% if isAdmin or commonId == profileUser.getId %}
            {# secondary actions #}
            <a class="btn--action secondary-action" href="{{ urlFor('user.edit', {'id': profileUser.id}) }}">Edit</a>
        {% endif %}
    {% endblock %}
    <div>
{% endblock %}
