{% extends 'base.html.twig' %}

{% set isSelf = (currentHalUser.id == user.id) %}
{% set name = ldapUser ? ldapUser.firstName ~ ' ' ~ ldapUser.lastName : user.name %}

{% set page_title = name %}

{% block content %}

    {% if isSeriousBusinessMode() %}
        <h2>{{ name }}</h2>
    {% else %}
        <h2 data-nofunzone="{{ name }}" data-freud="{{ getUsersFreudianName() }}">
            {{ getUsersActualName(user) }}
        </h2>
    {% endif %}

    {% if ldapUser %}
        <p>{{ ldapUser.title }} ({{ ldapUser.teamName }})</p>
    {% endif %}


    <p>
        {% if ldapUser %}
            {% set profilePicture = user.pictureUrl.host ~ user.pictureUrl.path %}
            <img src="{{ ishttpsOn ? 'https' : 'http' }}://{{ profilePicture }}" width="150">
        {% else %}
            <img src="/img/noprofile.jpg" width="150">
        {% endif %}
    </p>

    <h3>Contact</h3>
    <ul>
        <li>Email: <a href="mailto:{{ user.Email }}">{{ user.Email }}</a></li>
        {% if ldapUser %}
            <li>Phone: {{ ldapUser.workPhone }} (x{{ ldapUser.workExt }})</li>
            <li>Mobile: {{ ldapUser.mobilePhone }}</li>
            <li><a href="http://quniverse/profiles/Person.aspx?accountname=MI%5c{{ user.handle }}">Rockword Profile</a></li>
        {% endif %}
    </ul>

    <h3>Status</h3>
    <ul>
        <li><b>HAL:</b> {{ user.isActive ? 'Active' : 'Inactive' }}</li>
        <li><b>LDAP:</b> {{ ldapUser ? 'Active' : 'Inactive' }}</li>
    </ul>

    <h3>Activity</h3>
    <ul>
        <li><b>Total Builds:</b> {{ builds }}</li>
        <li><b>Total Pushes:</b> {{ pushes }}</li>
        <li>
            <b>Github Page:</b> <a href="http://git/{{ user.handle }}">http://git/{{ user.handle }}</a>
            <span class="icon">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#github"></use>
                </svg>
            </span>
        </li>
    </ul>


    <h3>Permissions</h3>

    {% if permissions %}
        <p><strong>{{ ldapUser.firstName }} {{ ldapUser.lastName }}</strong> can push the following repositories to the specified environments.</p>

        <table class="tablesaw tablesaw-stack" data-mode="stack">
            <thead>
            <tr>
                <th>Environment</th>
                <th>Repositories</th>
            </tr>
            </thead>
            <tbody>
                {% for pairs in permissions %}
                    <tr>
                        <td>{{ pairs|first.environment.key|title }}</td>
                        <td>
                            <ul class="inline-list--comma">
                                {% for pair in pairs %}
                                    <li><a href="{{ urlFor('repository', {'id': pair.repository.id}) }}">{{ pair.repository.key }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><strong>{{ name }}</strong> has no permissions.</p>
    {% endif %}

{% endblock %}
