{% import "macros.twig" as macros %}
{% import "macros.git.twig" as git_macros %}


<table class="table--spacing-medium">
    <thead>
        <tr>
            <th>Build</th>
            <th>Env</th>
            <th>Reference</th>
            <th>Commit</th>
            <th>User</th>
            <th>Time</th>
            <th class="t10"></th>
        </tr>
    </thead>
    <tbody>
    {% for build in builds %}
        <tr>
            <td>{{ macros.job_status_prefix(build, true) }}</td>
            <td>{{ build.environment ? build.environment.name : 'Any' }}</td>
            <td>
                {% set isCurrent = githubCommitIsCurrent(build.application.github.owner, build.application.github.repository, build.reference, build.commit) %}
                {{ git_macros.gitref(build, false, isCurrent, true) }}
            </td>
            <td>
                {{ git_macros.gitcommit(build) }}
            </td>
            <td>
                {% if build.user %}
                    <a href="{{ uriFor('user', {'user': build.user.id}) }}">{{ build.user.username }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </td>
            <td>{{ build.created|html5date }}</td>

            {# this is a hacky way to let the frontend know if a user can push a build once it is available. #}
            {% set canPushSoon = false %}
            {% set canPushNow = false %}

            {% if is_pushable %}
                {% if current_authorizations.canDeploy(current_user, build.application, build.environment) %}
                    {% if build.status in ['pending', 'running'] %}
                        {% set canPushSoon = true %}
                    {% elseif build.status in ['success'] %}
                        {% set canPushNow = true %}
                    {% endif %}
                {% endif %}
            {% endif %}

            <td class="tr{{ canPushSoon ? ' js-build-push' : '' }}">
                {% if canPushNow %}
                    <a class="btn btn--tiny" href="{{ uriFor('release.start', {'build': build.id}) }}">Release</a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">No builds found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
