{% import "_partial/macros.twig" as macros %}

<table class="table--spacing-medium" data-tablesaw-mode="stack">
    <thead>
        <tr>
            <th>Build</th>
            <th>Status</th>
            <th>Env</th>
            <th>Reference</th>
            <th>Initiator</th>
            <th>Date</th>
            <th class="t10"></th>
        </tr>
    </thead>
    <tbody>
    {% for build in builds %}
        <tr>

            <td><a href="{{ urlFor('build', {'repo': build.repository.id, 'build': build.id}) }}">{{ build.id|formatBuildId }}</a></td>
            <td>
                {{ macros.job_status(build, true) }}
            </td>
            <td>{{ build.environment.key }}</td>
            <td>
                {{ macros.gitref(build, true) }}
            </td>
            <td>
                {% if build.user %}
                    <a href="{{ urlFor('user', {'user': build.user.id}) }}">{{ build.user.handle }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </td>
            <td>{{ build.created|html5date }}</td>

            {# this is a hacky way to let the frontend know if a user can push a build once it is available. #}
            {% set canPush = false %}
            {% if build.status in ['Waiting', 'Building'] and canUserPush(currentUser, build.repository, build.environment) %}
                {% set canPush = true %}
            {% endif %}

            <td class="tr{{ canPush ? ' js-build-push' : '' }}">
                {% if build.status == 'Success' %}
                    {% if canUserPush(currentUser, build.repository, build.environment) %}
                        <a class="btn btn--tiny" href="{{ urlFor('push.start', {'build': build.id}) }}">Push</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">No builds found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
