{% import "_partial/macros.twig" as macros %}

<table class="table--spacing-medium" data-tablesaw-mode="stack">
    <thead>
        <tr>
            <th>Build</th>
            <th>Env</th>
            <th>Reference</th>
            <th>Commit</th>
            <th>User</th>
            <th>Time</th>
            <th class="t10"></th>
        </tr>
    </thead>
    <tbody>
    {% for build in builds %}
        <tr>
            <td>{{ macros.job_status_prefix(build, true) }}</td>
            <td>{{ build.environment.name }}</td>
            <td>
                {% set isCurrent = githubCommitIsCurrent(build.application.githubOwner, build.application.githubRepo, build.branch, build.commit) %}
                {{ macros.gitref(build, false, isCurrent, true) }}
            </td>
            <td>
                {{ macros.gitcommit(build) }}
            </td>
            <td>
                {% if build.user %}
                    <a href="{{ urlFor('user', {'user': build.user.id}) }}">{{ build.user.handle }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </td>
            <td>{{ build.created|html5date }}</td>

            {# this is a hacky way to let the frontend know if a user can push a build once it is available. #}
            {% set canPushSoon = false %}
            {% set canPushNow = false %}

            {% if isPushable %}
                {% if canUserPush(currentUser, build.application, build.environment) %}
                    {% if build.status in ['Waiting', 'Building'] %}
                        {% set canPushSoon = true %}
                    {% elseif build.status in ['Success'] %}
                        {% set canPushNow = true %}
                    {% endif %}
                {% endif %}
            {% endif %}

            <td class="tr{{ canPushSoon ? ' js-build-push' : '' }}">
                {% if canPushNow %}
                    <a class="btn btn--tiny" href="{{ urlFor('push.start', {'build': build.id}) }}">Push</a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">No builds found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
