{% import "_partial/macros.twig" as macros %}

<table id="js-queue" class="table--spacing-medium" data-tablesaw-mode="stack">
    <thead>
        <tr>
            <th>Type</th>
            <th>Application</th>
            <th>Env → Server</th>
            <th>Reference</th>
            <th class="table-priority-55">User</th>
            <th class="table-priority-50">Time</th>
        </tr>
    </thead>
    <tbody>
        {% if pending %}
            {% for job in pending %}
                {% if job is build %}
                    <tr id="build-{{ job.id }}">
                        <td>{{ macros.job_status_prefix(job) }}</td>
                        <td><a href="{{ uriFor('application.dashboard', {'application': job.application.id}) }}">{{ job.application.name }}</a></td>

                        <td>{{ job.environment.name }}

                        <td>{{ macros.gitref(job, true) }}</td>
                        <td class="table-priority-55">{{ job.user ? job.user.handle : 'Unknown' }}</td>
                        <td class="table-priority-50">{{ job.created|timepoint('h:i:s A') }}</td>
                    </tr>
                {% else %}
                    <tr id="push-{{ job.id }}">
                        <td>{{ macros.job_status_prefix(job) }}</td>
                        <td><a href="{{ uriFor('application.dashboard', {'application': job.application.id}) }}">{{ job.application.name }}</a></td>

                        {% if job.deployment %}
                            <td>{{ job.build.environment.name }} → {{ job.deployment.formatPretty(true) }}</td>
                        {% else %}
                            <td>{{ job.build.environment.name }} → Unknown</td>
                        {% endif %}

                        <td>Build <a href="{{ uriFor('build', {'build': job.build.id}) }}">{{ job.build.id|formatBuildId }}</a></td>
                        <td class="table-priority-55">{{ job.user ? job.user.handle : 'Unknown' }}</td>
                        <td class="table-priority-50">{{ job.created|timepoint('h:i:s A') }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr id="js-emptyQueue">
                <td colspan="6">
                    {% if history_view %}
                        There is no queue history for this date.
                    {% else %}
                        There are no jobs queued.<br>
                        You do not need to refresh the page. New jobs will be added to the queue as they are started.
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
