{% import "_partial/macros.twig" as macros %}

<ul class="list--bare cards--baby">
    {% for push in pushes %}
        {% set cardStyle = '' %}
        {% if push.deployment %}
            {% set cardStyle = ' card--' ~ push.deployment.server.environment.name %}
        {% endif %}

        <li>
            <article class="card--baby mbn{{ cardStyle }}">
                <header class="card__header split">
                    <span class="split__title">
                        <a href="{{ uriFor('application.dashboard', {'application': push.build.application.id}) }}">
                            {{ push.build.application.name }}
                        </a>
                    </span>

                    <a href="{{ uriFor('push', {'push': push.id}) }}">
                        {{ macros.job_status(push) }}
                    </a>
                </header>

                <section class="card__details">
                    <ul class="split mbn">
                        <li>
                            <span class="split__title">{{ push.created|html5date }}</span>
                            {% if push.deployment %}
                                <a href="{{ uriFor('environment', {'id': push.deployment.server.environment.id}) }}">{{ push.deployment.server.environment.name }}</a>
                                →
                                <a href="{{ uriFor('server', {'server': push.deployment.server.id}) }}">{{ push.deployment.formatPretty(true) }}</a>
                            {% else %}
                                Unknown
                            {% endif %}
                        </li>
                    </ul>
                </section>
            </article>
        </li>
    {% else %}
        <li>No pushes found.</li>
    {% endfor %}
</ul>
