{% import "_partial/macros.twig" as macros %}

<table class="table--spacing-medium" data-tablesaw-mode="stack">
    <thead>
        <tr>
            <th>Push</th>
            <th>Status</th>
            <th>Env → Server</th>
            <th>Reference</th>
            <th>Initiator</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    {% for push in pushes %}
        <tr>
            <td><a href="{{ urlFor('push', {'push': push.id}) }}">{{ push.id|formatPushId }}</a></td>
            <td>
                {{ macros.job_status(push) }}
            </td>
            <td>
                {% if push.deployment %}
                    {{ push.deployment.server.environment.name }} → {{ push.deployment|formatDeploymentServer(true) }}
                {% else %}
                    Unknown
                {% endif %}
            </td>
            <td>Build <a href="{{ urlFor('build', {'build': push.build.id}) }}">{{ push.build.id|formatBuildId }}</a></td>
            <td>
                {% if push.user %}
                    <a href="{{ urlFor('user', {'user': push.user.id}) }}">{{ push.user.handle }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </td>
            <td>{{ push.created|html5date }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">No pushes found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
