{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Version Control Providers' %}

{% set is_admin = current_authorizations.isSuper() %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }}</h1>

        <p class="nav--page__back">
            <a class="btn btn--back" href="{{ uriFor('admin') }}">Admin Dashboard</a>
        </p>
    </div>

    {{ block('vcs_table') }}

    <p>
        {% if is_admin %}
            <a class="btn" href="{{ uriFor('vcs_providers.add') }}">Add Version Control</a>
        {% else %}
            {{ macros.disabled_button('Add Version Control') }}
        {% endif %}
    </p>

{% endblock %}

{% block vcs_table %}

    {% if vcs_providers %}
        <table class="table--spacing-medium">
            <thead>
                <tr>
                    <th class="t15">ID</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for vcs in vcs_providers %}
                    <tr>
                        <td>
                            <a href="{{ uriFor('vcs_providers', {'vcs_provider': vcs.id}) }}">{{ vcs|short_guid }}</a>
                        </td>
                        <td>
                            {{ vcs|vcs_type }}
                        </td>
                        <td>
                            {{ vcs.name }}
                        </td>
                        <td>
                            {% if vcs.type == 'git' %}
                                URL: <code>{{ vcs.parameter('git.link') }}</code>

                            {% elseif vcs.type == 'gh' %}
                                URL: <code>{{ vcs.parameter('gh.url') }}</code>

                            {% elseif vcs.type == 'ghe' %}
                                URL: <code>{{ vcs.parameter('ghe.url') }}</code>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no version control providers.</p>
    {% endif %}

{% endblock %}
