{% extends 'admin/admin.html.twig' %}

{% set page_title = 'Arrangement Management' %}

{% block content %}
    <h2>Manage Repository Groups</h2>
    {% if arrangements %}

        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Repositories</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for arrangement in arrangements %}
                <tr>
                    <td>{{  arrangement.Name }}</td>
                    <td><a href="/a/{{arrangement.ShortName}}">/a/{{arrangement.ShortName}}</a></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>You don't seem to have any arrangements setup yet.</p>
    {% endif %}

    {% if errors %}
    <ul class="error-list">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <h3>Add new repository group</h3>
    <div class="form-wrapper">
        <form action="" method="post">
            <ul class="form-fields">
                <li>
                    <label for="shortName">Short Name</label>
                    <input class="text-input" type="text" name="shortName" id="shortName" maxlength="24" size="24" required value="{{ cur_sn }}">
                </li>
                <li>
                    <label for="fullName">Full Name</label>
                    <input class="text-input" type="text" name="fullName" id="fullName" maxlength="48" size="48" required value="{{ cur_fn }}">
                </li>
                <li>
                    <input class="btn" value="Add a Repository Group" type="submit">
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
