{% extends 'base.html.twig' %}

{% set page_title = "Admin Dashboard" %}

{% block content %}
    <h2>Admin Dashboard</h2>

    <div>
        <section class="dash-box">

            <h3>Manage Deployments</h3>
            <ul class="list--bare">
                <li>
                    <a href="{{ urlFor('repositories') }}" class="btn">
                        <svg class="icon"><use xlink:href="#tick"></use></svg> Repositories
                    </a>
                </li>
                <li>
                    <a href="{{ urlFor('servers') }}" class="btn">
                        <svg class="icon"><use xlink:href="#tick"></use></svg> Servers
                    </a>
                </li>
                <li>
                    <a href="{{ urlFor('environments') }}" class="btn">
                        <svg class="icon"><use xlink:href="#tick"></use></svg> Environments
                    </a>
                </li>
            </ul>
        </section>

        <section class="dash-box">

            <h3>Security and Permissions</h3>
            <ul class="list--bare">
                <li>
                    <a href="{{ urlFor('users') }}" class="btn btn--primary">
                        <svg class="icon"><use xlink:href="#tick"></use></svg> Users
                    </a>
                </li>
                <li>
                    <a href="{{ urlFor('logs') }}" class="btn btn--primary">
                        <svg class="icon"><use xlink:href="#tick"></use></svg> Audit Logs
                    </a>
                </li>
                <li>
                    <a href="{{ urlFor('admin.server.status') }}" class="btn btn--primary">
                        <svg class="icon"><use xlink:href="#tick"></use></svg> Global Server Status
                    </a>
                </li>
                {% if isUserSuperAdmin(currentUser) %}
                <li>
                    <a href="{{ urlFor('admin.super') }}" class="btn btn--destructive">
                        <svg class="icon"><use xlink:href="#tick"></use></svg> Super Admin Dashboard
                    </a>
                </li>
                {% endif %}
            </ul>
        </section>
    </div>

{% endblock %}
