{% extends 'admin/admin.html.twig' %}

{% set page_title = "Environment Admin" %}

{% block content %}
    <h2>Manage Environments</h2>

    {% if envs %}
        <form action="?reorder=1" method="post">
        <p>Drag the rows to change the order in which they are displayed.</p>
        <div class="overflow-container">
            <table id="env-reorder">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Display Order</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for env in envs %}
                    <tr class="env-row-{{ env.ShortName }}">
                        <td><span class="icon-sort"></span> {{ env.ShortName }}</td>
                        <td><input type="text" maxlength="3" required name="env{{ env.EnvironmentId }}" value="{{ env.DispOrder }}" class="text-input"></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <input class="btn" type="submit" value="Re-Order Environments">
        </form>
    {% else %}
        <p>It looks like you don't have any environments yet. Add one using the form below:</p>
    {% endif %}

    <h3>Add a new environment</h3>
    <div class="form-wrapper">
        {% if errors %}
            <ul class="error-list">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="" method="post">
            <ul class="form-fields">
                <li>
                    <label for="envname">Name</label>
                    <input type="text" name="envname" id="envname" maxlength="24" required value="{{ cur_env }}" class="text-input">
                </li>
                <li>
                    <input class="btn" type="submit" value="Add Environment">
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
