{% extends 'admin/admin.html.twig' %}

{% set page_title = "Environments" %}

{% block content %}
    <h2>Environments</h2>

    <p>
        <a class="btn--small btn--toggles" href="{{ urlFor('admin.env.create') }}">New Environment</a>
    </p>

    <form action="{{ urlFor('admin.envs.reorder.handle') }}" method="post">
    <div class="overflow-container">
        <table id="env-reorder">
            <thead>
            <tr>
                <th></th>
                <th>Display Order</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for env in envs %}
                <tr class="env-row-{{ env.key }}">
                    <td><span class="icon-sort"></span>{{ env.key }}</td>
                    <td><input type="text" maxlength="3" required name="env{{ env.key }}" value="{{ env.order }}" class="text-input"></td>
                    <td>
                        <a href="{{ urlFor('admin.env.delete.handle', {'env': env.id}) }}">Delete</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">There are no environments.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <input class="btn" type="submit" value="Re-Order Environments">
    </form>

{% endblock %}
