{% extends 'admin/admin.html.twig' %}

{% set page_title = "Servers" %}

{% block content %}
    <h2>Servers</h2>

    <p>
        <a class="btn--small btn--toggles" href="{{ urlFor('admin.server.create') }}">New Server</a>
    </p>

    <div class="overflow-container">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Environment</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for server in servers %}
                <tr>
                    <td><a href="{{ urlFor('server', {'server': server.name}) }}">{{ server.name }}</a></td>
                    <td>{{ server.environment.key }}</td>
                    <td>
                        <a href="{{ urlFor('admin.server.edit', {'server': server.name}) }}">Edit</a> |
                        <a href="{{ urlFor('admin.server.delete.handle', {'server': server.name}) }}">Delete</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">There are no servers.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
