{% extends 'base.html.twig' %}
{% import "partials/macros.twig" as macros %}

{% set page_title = "Global Server Status" %}

{% block content %}
    <h2>Global Server Status</h2>

    {% if server_count %}

        {% for env, servers in server_environments %}
            {% if servers %}
                <h3>{{ env }}</h3>
                <ul class="col-list">
                    {% for server in servers %}

                        {% if server.type == 'rsync' %}
                            <li class="status-before--unknown" title="Updating..." data-server-status="{{ server.id }}">
                                <a href="{{ urlFor('server', {'id': server.id}) }}">{{ server|formatServer }}</a>
                            </li>
                        {% else %}

                            <li class="status-before--warning" title="Server status unavailable for AWS deployments">
                                <a href="{{ urlFor('server', {'id': server.id}) }}">{{ server|formatServer }}</a>
                            </li>
                        {% endif %}

                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}

    {% else %}
        {{ macros.alert('error', 'There are no servers.') }}
    {% endif %}

{% endblock %}
