{% extends 'admin/admin.html.twig' %}

{% set page_title = "Server Administration" %}

{% block content %}
    <h2>Manage Servers</h2>

    {% if envs %}

        {% if servers %}
        <table>
            <thead>
            <tr>
                <th>Hostname</th>
                <th>Environment</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for server in servers %}
                <tr>
                    <td>{{ server.HostName }}</td>
                    <td>{{ server.Environment }}</td>
                    <td><a href="/admin/servers/{{ server.ServerId }}/remove">Remove</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>There are no servers setup yet.</p>
        {% endif %}

        <div class="form-wrapper">
            <h3>Add New Server</h3>
            <form action="" method="post">
                <ul class="form-fields">
                    <li>
                        <label for="hostname">Hostname</label>
                        <input type="text" name="hostname" id="hostname" required maxlength="24" value="{{ serverVal }}" class="text-input">
                    </li>
                    <li>
                        <label for="env">Environment</label>
                        <select id="env" name="envId">
                            {% for env in envs %}
                                {% if env.EnvironmentId == selectedEnv %}
                                    {% set isSelected = " selected"%}
                                {% else %}
                                    {% set isSelected = "" %}
                                {% endif %}
                                <option value="{{ env.EnvironmentId }}"{{ isSelected }}>{{ env.ShortName }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <input class="btn" type="submit" value="Add Server">
                    </li>
                </ul>
            </form>
        </div>
    {% else %}
        <p>It looks like you have not <a href="/admin/envs" title="Manage Environments">setup environments</a> yet. You cannot add servers without having an environment bucket to assign them to.</p>
    {% endif %}

{% endblock %}
