{% extends 'base.html.twig' %}

{% set page_title = 'Edit Group : ' ~ group.name %}

{% block content %}
    <h1>Edit Group - <strong>{{ group.name }}</strong></h1>

    <div class="form-wrapper">
        {% if errors %}
            <ul class="error-list">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post">
            <ul class="form-fields">
                <li>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" maxlength="48" required value="{{ form.name }}" class="text-input">
                </li>

                <li>
                    <label for="identifier">Identifier</label>
                    <input type="text" name="identifier" id="identifier" maxlength="24" required value="{{ form.identifier }}" class="text-input t50">
                </li>
            </ul>

            <ul class="button-list">
                <li><input class="btn btn--action" type="submit" value="Save Changes"></li>
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('group', {id: group.id}) }}">Cancel</a></li>
            </ul>

        </form>
    </div>
{% endblock %}
