{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = 'Group : ' ~ group.name %}

{% set isAdmin = isUserAdminOrSuper(currentUser) %}

{% block content %}
    <h1>Group - <strong>{{ group.name }}</strong></h1>

    <h4>Name</h4>
    <p>{{ group.name }}</p>

    <h4>Identifier</h4>
    <p>{{ group.key }}</p>

    <h4>Repositories</h4>
    {% if repos %}

        <table class="table--spacing-medium" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Repository</th>
                    <th>Github Source</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for repo in repos %}
                <tr>
                    <td><a href="{{ urlFor('repository.status', {'id': repo.id}) }}">{{ repo.name }}</a></td>
                    <td>
                        <a href="{{ githubRepo(repo.githubUser, repo.githubRepo) }}">{{ repo.githubUser }}/{{ repo.githubRepo }}</a>
                        {{ macros.icon('github') }}
                    </td>
                    <td>
                        <a href="{{ urlFor('repository', {'id': repo.id}) }}">Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There are no repositories associated with this group.</p>
    {% endif %}

    {% if isAdmin and repos %}
        <p><strong>Note:</strong> All associated repositories must be removed or transferred to remove this group.</p>
    {% endif %}

    <ul class="button-list">
        <li><a class="btn" href="{{ urlFor('repository.admin.add') }}">Add Application</a></li>
        {% if isAdmin %}
            <li><a class="btn btn--action" href="{{ urlFor('group.admin.edit', {id: group.id}) }}">Edit Group</a></li>

            {% if not repos and isAdmin %}
                <li><a class="btn btn--destructive" href="{{ urlFor('group.admin.remove', {id: group.id}) }}">Remove Group</a></li>
            {% endif %}
        {% endif %}
    </ul>

{% endblock %}
