{% extends 'base.twig' %}

{% set page_title = "Groups" %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <table class="table--spacing-medium">
        <thead>
            <tr class="tl">
                <th>Environment</th>
                <th>Groups</th>
            </tr>
        </thead>
        <tbody>
            {% if group_count %}

                {% for env, groups in group_environments %}
                    {% if groups %}
                        <tr>
                            <td>{{ env }}</td>
                            <td>
                                <ul class="list--bare">
                                    {% for group in groups %}
                                        <li class="mvn"><a href="{{ uriFor('group', {'group': group.id}) }}">{{ group.format(false) }}</a></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="2">There are no groups.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if current_authorizations.isSuper() %}
        <ul>
            <li><a class="btn" href="{{ uriFor('group.add') }}">Add Group</a></li>
        </ul>
    {% endif %}

{% endblock %}
