{% extends 'base.kraken.twig' %}
{% import "partials/form/macros.twig" as form_macros %}

{% set page_title = "Configuration Schema" %}

{% block content %}

    <h1>Add Property Schema for <strong>{{ application.name }}</strong></h1>

    <h4>Application</h4>
    <p>{{ application.name }}</p>

    {{ block('add_property') }}

{% endblock %}

{% block add_property %}
    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form action="" method="post">
            <ul class="form-fields">
                <li>
                    <label for="prop-key">Property Key</label>
                    <input type="text" name="key" id="prop-key" maxlength="250" required value="{{ form.key }}" class="text-input">
                </li>

                <li>
                    <label>Type</label>
                    <ul class="radio-grid--form">
                        {% for type, name in property_types %}
                            {% set isSelected = (type == form.type) %}
                            <li>
                                <input id="prop-type-{{ type }}" type="radio" name="type" value="{{ type }}"{{ isSelected ? ' checked' : ''}}>
                                <label for="prop-type-{{ type }}">{{ name }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li>
                    {% set isChecked = ('1' == form.secure) %}
                    <label for="prop-secure">
                        <input type="checkbox" name="secure" id="prop-secure" value="1"{{ isChecked ? ' checked' : '' }}> Secure?
                    </label>
                    <small class="additional">Select if the value should be hidden from the UI once saved. Use this for sensitive values such as passwords and API keys.</small>
                </li>

                <li>
                    <label for="prop-desc">Description</label>
                    <input type="text" name="description" id="prop-desc" maxlength="250" value="{{ form.description }}" class="text-input">
                </li>
            </ul>

            <ul class="button-list">
                <li><input class="btn btn--action" type="submit" value="Add Property"></li>
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('kraken.application', {application: application.id}) }}">Cancel</a></li>
            </ul>

        </form>
    </div>
{% endblock %}
