{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "Edit Configuration Schema" %}
{% set isAdmin = true %}

{% block content %}
    <h1>{{ page_title }} for <strong>{{ application.name }}</strong></h1>

    <h4>Application</h4>
    <p>{{ application.name }}</p>

    <h2>Schema</h2>
    {{ block('form') }}

    <h2>Environments</h2>
    {{ block('properties') }}

{% endblock %}

{% block form %}
    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form action="" method="post">
            <ul class="form-fields">
                <li>
                    <h4>Property Key</h4>
                    <p><code>{{ schema.key }}</code></p>
                </li>
                <li>
                    <h4>Type</h4>
                    <p>
                        {{ schema.isSecure ? macros.icon('locked') : '' }}
                        {{ schema|formatSchemaType }}
                    </p>
                </li>
                <li>
                    <label for="prop-desc">Description</label>
                    <input type="text" name="description" id="prop-desc" maxlength="250" value="{{ form.description }}" class="text-input">
                </li>
            </ul>

            <ul class="button-list">
                <li><input class="btn btn--action" type="submit" value="Save Changes"></li>
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('kraken.schema', {application: application.id}) }}">Cancel</a></li>
            </ul>

        </form>
    </div>
{% endblock %}

{% block properties %}
    {% if properties %}
        <p class="additional">This property has values in the following environments.</p>

        <ul class="list--bullet">
                {% for property in properties %}
                <li>
                    {{ property.environment.name }}
                    (<a href="{{ urlFor('kraken.property', {property: property.id}) }}">View Latest Configuration</a>)
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>This property has no values for any environment, and is safe to remove.</p>
    {% endif %}

    {% if isAdmin %}
        <p>
            <a class="btn btn--destructive" href="{{ urlFor('kraken.schema.remove', {schema: schema.id}) }}">Remove property from schema</a></li>
        </p>
    {% endif %}
{% endblock %}
