{% extends 'base.kraken.twig' %}

{% set page_title = "Link Environment" %}

{% block content %}

    <a href="{{ urlFor('kraken.application', {id: application.id}) }}" class="btn" style="position:absolute; right:20px;top:20px !important;">back</a>
    <h2>Assign Environment to Application</h2>

    <h4>Application ID</h4>
    <p>{{ application.id }}</p>

    {{ block('link_environment') }}

{% endblock %}

{% block link_environment %}
    <div class="form-wrapper">
        {% if errors %}
            <ul class="error-list">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="" method="post">
            <ul class="form-fields">

                <li>
                    <label for="enc-env">Environment</label>
                    <ul class="check-list radio-grid radio-grid__env">
                        {% for env in environments %}
                            {% set isSelected = (env.id == form.env) %}
                            <li>
                                <input id="env-{{ env.id }}" type="radio" name="env" value="{{ env.id }}"{{ isSelected ? ' checked' : ''}}>
                                <label for="env-{{ env.id }}">{{ env.name }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li>
                    <label for="enc-key">
                        Encryption Key Identifier
                        <small class="additional">
                            Specify the identifier used to retrieve the encryption key from the encryption service.
                            Configuration data is encrypted with the key returned by this service.
                        </small>
                    </label>
                    <input type="text" name="key" id="enc-key" maxlength="200" required value="{{ form.key }}" class="text-input">
                </li>

                <li>
                    {# primary action #}
                    <input class="btn" type="submit" value="Assign Environment">
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
