{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "Application : " ~ application.name %}

{% set isAdmin = isUserAdminOrSuper(currentUser) or isUserLeadOf(currentUser, application.halApplication) %}

{% block content %}

    <h1>Application - <strong>{{ application.name }}</strong></h1>

    {{ block('meta') }}

    <h2 class="leader">Environments</h2>
    {{ block('application_targets') }}

    <h2 class="leader">Configuration Schema</h2>
    {% include 'kraken/_partial/schema.twig' with {'schema': schema} %}

{% endblock %}

{% block meta %}
    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Application</dt>
            <dd>{{ application.name }}</dd>

            <dt class="split__title">Application ID</dt>
            <dd>{{ application.id[:7] }}</dd>

            <dt class="split__title">Core ID</dt>
            <dd>{{ application.coreId }}</dd>

            <dt class="split__title">HAL 9000 Application</dt>
            <dd>
                {% if application.halApplication %}
                    {{ application.halApplication.name }}
                {% else %}
                    Not Linked
                {% endif %}
            </dd>
        </dl>

        <ul class="button-list">
            <li><a class="btn" href="{{ urlFor('kraken.status', {application: application.id}) }}">Application Configuration</a></li>

            {% if isAdmin %}
                <li><a class="btn" href="{{ urlFor('kraken.schema', {application: application.id}) }}">Manage Schema</a></li>
                <li><a class="btn btn--action" href="{{ urlFor('kraken.application.edit', {application: application.id}) }}">Edit Application</a></li>
            {% endif %}

            {% if application.halApplication %}
                <li><a class="btn btn--secondary" href="{{ urlFor('application.status', {application: application.halApplication.id}) }}">{{ macros.icon('spinner-3') }} HAL 9000</a></li>
            {% endif %}

            <li><a class="btn btn--secondary" href="http://core/app/{{ application.coreId }}">{{ macros.icon('spinner') }} Core Website</a></li>
        </ul>

    </div>
{% endblock %}

{% block application_targets %}

    {% if targets %}
        <table class="table--spacing-medium table--top-aligned" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Encryption Key</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set unassignedTargets = false %}
                {% for target in targets %}
                    <tr>
                        {% if target is target %}

                            <td>
                                {% if target.environment.isProduction %}
                                    {{ macros.status(target.environment.name, 'info', 'key') }}
                                {% else %}
                                    {{ target.environment.name }}
                                {% endif %}
                            </td>
                            <td>
                                {% if target.key %}
                                    <code>{{ target.key }}</code>
                                {% else %}
                                    {{ macros.status('Missing', 'error', 'spam-2') }}
                                {% endif %}
                            </td>
                            <td class="tr">
                                {% if isAdmin %}
                                    <a href="{{ urlFor('kraken.application.target.edit', {target: target.id}) }}">Manage</a>
                                {% endif %}
                                <a class="btn btn--small" href="{{ urlFor('kraken.configuration.latest', {application: application.id, environment: target.environment.id})}}">Latest Configuration</a>
                            </td>

                        {% else %}

                            {% set unassignedTargets = true %}
                            <td>
                                {% if target.isProduction %}
                                    {{ macros.status(target.name, 'info', 'key') }}
                                {% else %}
                                    {{ target.name }}
                                {% endif %}
                            </td>

                            <td>Environment is not enabled.</td>
                            <td></td>

                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if unassignedTargets and isAdmin %}
            <p>
                <a class="btn btn--action" href="{{ urlFor('kraken.application.target.add', {application: application.id}) }}">Enable environment</a>
            </p>
        {% endif %}

    {% else %}
        <p>There are no environments enabled for this application.</p>
    {% endif %}

{% endblock %}
