{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "Application" %}

{% set isAdmin = isUserAdminOrSuper(currentUser) or isUserLeadOf(currentUser, application.halApplication) %}

{% block content %}

    <h1>Manage Application <strong>{{ application.name }}</strong></h1>

    {{ block('meta') }}

    <h2 class="leader">Environments</h2>
    {{ block('application_targets') }}

    <h2>Configuration Schema</h2>
    {% include 'kraken/_partial/schema.twig' with {'schema': schema} %}

{% endblock %}

{% block meta %}
    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Application</dt>
            <dd>{{ application.name }}</dd>

            <dt class="split__title">Application ID</dt>
            <dd>{{ application.id[:7] }}</dd>

            <dt class="split__title">Core ID</dt>
            <dd>{{ application.coreId }}</dd>

            <dt class="split__title">HAL 9000 Application</dt>
            <dd>
                {% if application.halApplication %}
                    {{ application.halApplication.name }}
                {% else %}
                    Not Linked
                {% endif %}
            </dd>
        </dl>

        <ul class="button-list">
            <li><a class="btn" href="{{ urlFor('kraken.status', {application: application.id}) }}">Application Configuration</a></li>

            {% if isAdmin %}
                <li><a class="btn" href="{{ urlFor('kraken.schema', {application: application.id}) }}">Manage Schema</a></li>
                <li><a class="btn btn--action" href="{{ urlFor('kraken.application.edit', {application: application.id}) }}">Edit Application</a></li>
            {% endif %}

            {% if application.halApplication %}
                <li><a class="btn btn--secondary" href="{{ urlFor('repository.status', {id: application.halApplication.id}) }}">{{ macros.icon('spinner-3') }} HAL 9000</a></li>
            {% endif %}

            <li><a class="btn btn--secondary" href="http://core/app/{{ application.coreId }}">{{ macros.icon('spinner') }} Core Website</a></li>
        </ul>

    </div>
{% endblock %}

{% block application_targets %}

    {% if targets %}
        <table class="table--spacing-medium">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Encryption Key</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for target in targets %}
                    <tr>
                        {% if target is target %}

                            <td>{{ target.environment.name }}</td>
                            <td><code>{{ target.key }}</code></td>
                            <td class="tr">
                                <a class="btn btn--small" href="{{ urlFor('kraken.configuration.latest', {application: application.id, environment: target.environment.id})}}">Latest Configuration</a>
                            </td>

                        {% else %}
                            <td>{{ target.name }}</td>
                            <td>Environment is not assigned.</td>
                            <td class="tr">
                                {% if isAdmin %}
                                    <a class="btn btn--small btn--action" href="{{ urlFor('kraken.application.target.add', {application: application.id}) }}">Assign environment</a>
                                {% endif %}
                            </td>

                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There are no environments assigned for this application.</p>
    {% endif %}

{% endblock %}
