{% extends 'base.kraken.twig' %}

{% set page_title = "Application Configuration Schema" %}

{% block content %}

    <a href="{{ urlFor('kraken.application', {application: application.id}) }}" class="btn" style="position:absolute; right:20px;top:20px !important;">back</a>
    <h1>Configuration Schema for <strong>{{ application.name }}</strong></h1>

    <h4>Application</h4>
    <p>{{ application.name }}</p>

    {{ block('add_property') }}

{% endblock %}

{% block add_property %}
    <div class="form-wrapper">
        {% if errors %}
            <ul class="error-list">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="" method="post">
            <ul class="form-fields">
                <li>
                    <label for="prop-key">Property Key</label>
                    <input type="text" name="key" id="prop-key" maxlength="250" required value="{{ form.key }}" class="text-input">
                </li>

                <li>
                    <label for="prop-desc">Description</label>
                    <input type="text" name="description" id="prop-desc" maxlength="250" value="{{ form.description }}" class="text-input">
                </li>

                <li>
                    <label for="prop-type">Type</label>
                    <select class="select-input" name="type" id="prop-type" required>
                        <option></option>
                        {% for type, name in property_types %}
                            {% set isSelected = (type == form.type) %}

                            <option value="{{ type }}"{{ isSelected ? ' selected' : '' }}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </li>

                <li>
                    {% set isChecked = ('1' == form.secure) %}
                    <label for="prop-secure">
                        <input type="checkbox" name="secure" id="prop-secure" value="1"{{ isChecked ? ' checked' : '' }}> Secure?
                    </label>
                    <small class="additional">Select if the value should be hidden from the UI once saved. Use this for sensitive values such as passwords and API keys.</small>
                </li>

                <li>
                    {# primary action #}
                    <input class="btn" type="submit" value="Add Property">
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
