{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "Application Configuration" %}
{% set isAdmin = true %}

{% block content %}

    <h1>{{ page_title }} for <strong>{{ application.name }}</strong></h1>

    <h2>Environments</h2>
    {{ block('environment_targets') }}

    <h2>Configuration Schema</h2>
    {% include 'kraken/_partial/schema.twig' with {'schema': schema} %}

    <ul class="button-list">
        <li><a class="btn" href="{{ urlFor('kraken.application', {application: application.id}) }}">Application</a></li>

        {% if application.halRepository %}
            <li><a class="btn btn--secondary" href="{{ urlFor('repository.status', {id: application.halRepository.id}) }}">{{ macros.icon('spinner-3') }} HAL 9000</a></li>
        {% endif %}

        <li><a class="btn btn--secondary" href="{{ urlFor('kraken.configuration.history.page1', {application: application.id})}}">Configuration History</a></li>
    </ul>

{% endblock %}

{% block environment_targets %}
    {% if targets %}

        <ul class="list--bare cards">
            {% for target in targets %}
                {% set deployed = target.configuration %}
                <li>
                    <article class="card card--{{ target.environment.name }}">
                        <header class="card__header">
                            {% if isAdmin %}
                                <a class="icon--link btn btn--small btn--action" href="{{ urlFor('kraken.deploy', {target: target.id})}}">Deploy</a>
                            {% endif %}

                            <h4>{{ target.environment.name }}</h4>
                        </header>

                        <section class="card__details">
                            <ul class="split">
                                <li>
                                    <span class="split__title">Snapshot:</span>
                                    {% if deployed %}
                                        {% if deployed.isSuccess %}
                                            {{ macros.status_icon('Success', 'success') }}
                                        {% else %}
                                            {{ macros.status_icon('Error', 'error') }}
                                        {% endif %}
                                        (<a href="{{ urlFor('kraken.configuration', {configuration: deployed.id})}}">{{ deployed.id[:7] }}</a>)
                                    {% else %}
                                        None
                                    {% endif %}
                                </li>

                                <li>
                                    <span class="split__title">Time:</span>
                                    {% if deployed.created %}
                                        {{ deployed.created|html5date }}
                                    {% else %}
                                        Never
                                    {% endif %}
                                </li>
                                <li>
                                    <span class="split__title">Deployed by:</span>
                                    {% if deployed.user %}
                                        <a href="{{ urlFor('user', {id: deployed.user.id}) }}">{{ deployed.user.handle }}</a>
                                    {% else %}
                                        No one
                                    {% endif %}
                                </li>
                            </ul>

                            <p class="leader--napolean trailer--napolean">
                                <a class="btn btn--small" href="{{ urlFor('kraken.configuration.latest', {application: application.id, environment: target.environment.id})}}">Latest Configuration</a>
                            </p>
                        </section>
                    </article>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>There are no environments added yet for this application.</p>
    {% endif %}

{% endblock %}
