{% extends 'admin/admin.html.twig' %}

{% set page_title = 'Edit Group: '~group.name %}

{% block content %}
    <h2>Edit <strong>{{ group.name }}</strong> group</h2>
    <div class="form-wrapper">
        {% if errors %}
            <ul class="error-list">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="{{ urlFor('group.admin.edit.handle', {id: group.id}) }}" method="post">
            <ul class="form-fields">
                <li>
                    <label for="nickname">Nickname</label>
                    <input class="text-input" type="text" name="nickname" id="nickname" maxlength="24" size="24" required value="{{ form.nickname }}">
                </li>
                <li>
                    <label for="name">Name</label>
                    <input class="text-input" type="text" name="name" id="name" maxlength="48" size="48" required value="{{ form.name }}">
                </li>
            </ul>

            {# primary action #}
            <input class="btn" type="submit" value="Save">

            {# secondary actions #}
            <p>
                <a href="{{ urlFor('group', {id: group.id}) }}">Cancel</a>
            </p>
        </form>
    </div>
{% endblock %}
