{% extends 'base.html.twig' %}

{% set page_title = "Groups" %}

{% block content %}
    <h2>Repository Groups</h2>

    <p>
        Repositories are organized into groups, commonly a team name or business unit. Select a group below
        to view the member repositories and to push code if you have permission.
    </p>

    <table class="tablesaw tablesaw-stack" data-mode="stack">
        <thead>
            <tr>
                <th>Group</th>
                <th>Repositories</th>
            </tr>
        </thead>
        <tbody>
        {% for meta in groups %}
            <tr>
                <td>
                    <a href="{{ urlFor('group', {'id': meta.group.id}) }}">{{ meta.group.name }}</a>
                </td>

                <td>
                    {% if meta.repositories %}
                        <ul class="inline-list--comma">
                            {% for repo in meta.repositories %}
                                <li><a href="{{ urlFor('repository.status', {'id': repo.id}) }}">{{ repo.description }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        This group has no repositories.
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">There are no groups.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        {# primary action #}
        {% if isUserAdmin(currentUser) %}
            <a class="btn" href="{{ urlFor('group.admin.add') }}">Add Group</a>
        {% endif %}
    </div>
{% endblock %}
