{% extends 'base.html.twig' %}

{% set page_title = 'Group: ' ~ group.name %}

{% block content %}
    <h2>Group Information</h2>

    <p><b>Name:</b> {{ group.name }}</p>
    <p><b>Identifier:</b> {{ group.key }}</p>

    <h3>Repositories</h3>

    {% if repos %}

        <table class="tablesaw tablesaw-stack" data-mode="stack">
            <thead>
                <tr>
                    <th>Repo Status</th>
                    <th>Github Source</th>
                    <th>Notification Email</th>
                    <th>Repo Details</th>
                </tr>
            </thead>
            <tbody>
            {% for repo in repos %}
                <tr>
                    <td><a href="{{ urlFor('repository.status', {'id': repo.id}) }}">{{ repo.description }}</a></td>
                    <td>
                        <a href="{{ githubRepo(repo.githubUser, repo.githubRepo) }}">{{ repo.githubUser }}/{{ repo.githubRepo }}</a>
                        <svg class="icon" viewBox="0 0 32 32"><use xlink:href="#github"></use></svg>
                    </td>
                    <td>{{ repo.email }}</td>
                    <td>
                        <a href="{{ urlFor('repository', {'id': repo.id}) }}">Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There are no repositories associated with this group.</p>
    {% endif %}

    {% if isUserAdmin(currentUser) and repos %}
        <p><strong>Note:</strong> All associated repositories must be removed or transferred to remove this group.</p>
    {% endif %}

    {% if isUserAdmin(currentUser) %}
        <ul class="choice-list--flush">
            <li class="choice-list__choice">
                <a class="btn" href="{{ urlFor('repository.admin.add') }}">Add Repository</a>
            </li>
            <li class="choice-list__choice">
                <a class="btn--action secondary-action" href="{{ urlFor('group.admin.edit', {id: group.id}) }}">Edit Group</a></p>
            </li>

            {% if not repos and canUserDelete(currentUser) %}
            <li class="choice-list__choice">
                <a class="btn--destructive secondary-action" href="{{ urlFor('group.admin.remove.handle', {id: group.id}) }}">Remove Group</a>
            </li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}
