{% extends 'admin/admin.html.twig' %}

{% set page_title = "Repository Admin" %}

{% block content %}
    <h2>Manage Repositories</h2>

    {% if repositories %}

        <div class="overflow-container">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Notification Email</th>
                    <th>Github Location</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for repository in repositories %}
                    <tr>
                        <td><a href="/r/{{ repository.ShortName }}">/r/{{ repository.ShortName }}</a></td>
                        <td>{{ repository.OwnerEmail }}</td>
                        <td>
                            <a href="http://git/{{ repository.GithubUser }}/{{ repository.GithubRepo }}">{{ repository.GithubUser }}/{{ repository.GithubRepo }}</a>
                            <span class="icon">
                                <svg viewBox="0 0 32 32">
                                    <use xlink:href="#github"></use>
                                </svg>
                            </span>
                        </td>
                        <td><a href="/admin/repositories/{{ repository.RepositoryId }}/remove">Remove</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}

    <div class="form-wrapper">
        <h3>Add a repository</h3>
        {% if errors %}
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="" method="post">
            <ul class="form-fields">
                <li>
                    <label for="arrId">Repository Group</label>
                    <select name="arrId" id="arrId">
                        {% for arr in arrangements %}
                            {% if cur_arrid == arr.ArrangementId %}
                                {% set selected = " selected" %}
                            {% else %}
                                {% set selected = "" %}
                            {% endif %}
                            <option value="{{ arr.ArrangementId }}"{{ selected }}>{{ arr.ShortName }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <label for="shortName">Short Name</label>
                    <input type="text" name="shortName" id="shortName" maxlength="24" required value="{{ cur_shortname }}" class="text-input">
                </li>
                <li>
                    <label for="githubUser">GitHub Enterprise User or Organization</label>
                    <input type="text" name="githubUser" id="githubUser" size="48" maxlength="48" required value="{{ cur_githubuser }}" class="text-input">
                </li>
                <li>
                    <label for="githubRepo">GitHub Enterprise Repository</label>
                    <input type="text" name="githubRepo" id="githubRepo" size="48" maxlength="48" required value="{{ cur_githubrepo }}" class="text-input">
                </li>
                <li>
                    <label for="ownerEmail">Email Address <small class="additional">(this is where push emails will be sent)</small></label>
                    <input type="email" name="ownerEmail" id="ownerEmail" size="30" maxlength="128" required value="{{ cur_email }}" class="text-input">
                </li>
                <li>
                    <label for="buildCommand">Build Command <small class="additional">Will be run to build application.</small></label>
                    <input type="text" name="buildCommand" id="buildCommand" size="30" maxlength="128" value="{{ cur_buildcommand }}" class="text-input">
                </li>
                <li>
                    <label for="postPushCommand">Post Push Command <small class="additional">Will be run after pushing finished build to remote server.</small></label>
                    <input type="text" name="postPushCommand" id="postPushCommand" size="30" maxlength="128" value="{{ cur_postPushCommand }}" class="text-input">
                </li>
                <li>
                    <label for="description">Description</label>
                    <textarea name="description" id="description" maxlength="255" rows="6" class="text-input">{{ cur_description }}</textarea>
                </li>
                <li>
                    <input class="btn" type="submit" value="Add Repository">
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
