{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = 'Target Views : ' ~ application.name %}

{% set isAdmin = isUserAdminOrSuper(current_user) or isUserLeadOf(current_user, application) %}
{% set canEditShared = isAdmin or canUserBuild(current_user, application) %}

{% block content %}

    <div class="nav--page">
        <h1>Target Views/Pools - <b>{{ application.name }}</b></h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('targets', {'application': application.id}) }}">Back to Deployment Targets</a>
        </p>
    </div>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Application</dt>
            <dd>
                <a href="{{ uriFor('application', {'application': application.id}) }}">{{ application.name }}</a>
            </dd>

            <dt class="split__title">Environment</dt>
            <dd>{{ environment.name }}</dd>
        </dl>
    </div>

    <p>
        <b>Target Pools</b> are used to organize servers or targets. This is primarily useful on the application dashboard
        when there are many targets within an environment. <b>Pools</b> are created within <b>Views</b>. This allows
        multiple groupings to be created and shared.
    </p>

    <h6>Example Views</h6>
    <ul class="list--bullet">
        <li><b>Datacenter</b>: East, West</li>
        <li><b>Deployment Phase</b>: Phase 1, Phase 2</li>
        <li><b>Team</b>: Squad 1, Squad 2, Squad 3, Squad 4</li>
    </ul>

    <h2>Views</h2>

    {% if views %}
        <ul class="list--bare cards--dual">
            {% for view in views %}
                <li>
                    <article class="card--baby">
                        <header class="card__header split">
                            <span class="split__title">
                                {% if selected_view == view.id %}
                                    {{ macros.icon('star-2') }}
                                {% endif %}
                                {{ view.name }}
                            </span>
                            <a href="{{ uriFor('target_view', {'application': application.id, 'view': view.id}) }}">Manage</a>
                        </header>

                        <section class="card__details card__details--divided">
                            {% if not view.pools.isEmpty %}
                                <ul class="list--bare mbn">
                                    {% for pool in view.pools %}
                                        <li class="pvs mvn">
                                            <h6 class="mvn"><b>{{ pool.name }}</b></h6>
                                            <ul class="list--bare">
                                                {% for deployment in target_pools[pool.id] %}
                                                    <li class="mbn">
                                                        {% if server_collisions[deployment.server.id] %}
                                                            <span class="hint--right" aria-label="{{ deployment.formatMeta }}">
                                                                {{ deployment.formatPretty }}
                                                            </span>
                                                        {% else %}
                                                            {{ deployment.formatPretty }}
                                                        {% endif %}
                                                    </li>
                                                {% else %}
                                                    <li class="mbn">None</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No pools defined.</p>
                            {% endif %}
                        </section>
                    </article>
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <p>No views found for this application environment.</p>
    {% endif %}

    <ul class="button-list button-list--half">
        {% if canEditShared %}
            <li><a class="btn btn--action" href="{{ uriFor('target_view.add', {'application': application.id, 'environment': environment.id}) }}">Add View</a></li>
        {% endif %}

        <li><a class="btn" href="{{ uriFor('application.dashboard', {'application': application.id}) }}">Application Dashboard</a></li>
    </ul>

{% endblock %}
