{% extends 'base.html.twig' %}

{% set page_title = 'Edit Server: ' ~ server.name %}

{% block content %}
    <h2>Edit Server</h2>

    <div class="form-wrapper">
        {% if errors %}
            <ul class="error-list">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post">
            <ul class="form-fields">
                <li>
                    <label for="servertype">Type</label>
                    <ul class="radio-grid--form">

                        {% set checked = form.server_type == 'rsync' ? ' checked' : '' %}
                        <li>
                            <input id="server_type-rsync" type="radio" name="server_type" value="rsync"{{ checked }}>
                            <label for="server_type-rsync">Internal (Rsync)</label>
                        </li>

                        {% set checked = form.server_type == 'elasticbeanstalk' ? ' checked' : '' %}
                        <li>
                            <input id="server_type-elasticbeanstalk" type="radio" name="server_type" value="elasticbeanstalk"{{ checked }}>
                            <label for="server_type-elasticbeanstalk">Elastic Beanstalk</label>
                        </li>

                        {% set checked = form.server_type == 'ec2' ? ' checked' : '' %}
                        <li>
                            <input id="server_type-ec2" type="radio" name="server_type" value="ec2"{{ checked }}>
                            <label for="server_type-ec2">EC2</label>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Environment</p>
                    <ul class="radio-grid--form">
                    {% for environment in environments %}
                        {% set checked = '' %}
                        {% if form.environment == environment.id %}
                            {% set checked = ' checked="checked"' %}
                        {% endif %}

                        <li>
                            <input type="radio" name="environment" id="environment-{{ environment.id }}" value="{{ environment.id }}"{{ checked }}>
                            <label for="environment-{{ environment.id }}">{{ environment.key }}</label>
                        </li>
                    {% endfor %}
                    </ul>
                </li>

                <li>
                    <label for="hostname">Hostname</label>
                    <small class="additional">
                        <strong>Rsync Servers Only</strong>
                    </small>

                    {% set hostname = form.server_type == 'rsync' ? form.hostname : '' %}
                    <input type="text" name="hostname" id="hostname" maxlength="24" value="{{ hostname }}" class="text-input">
                </li>

                <li>
                    {# primary action #}
                    <input class="btn" type="submit" value="Save">

                    {# secondary actions #}
                    <a class="secondary-action" href="{{ urlFor('server', {id: server.id}) }}">Cancel</a>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
