{% extends 'base.html.twig' %}

{% set name = (server.type == 'rsync') ? server.name : server|formatServerType %}
{% set page_title = 'Server: ' ~ name %}

{% block content %}
    <h2>Server Information</h2>

    <h3>Type</h3>
    <p>{{ server|formatServerType }}</p>

    {% set hostname = (server.type == 'rsync') ? server.name : 'Not applicable' %}
    <h3>Hostname</h3>
    <p>{{ hostname }}</p>

    <h3>Environment</h3>
    <p>{{ server.environment.key }}</p>

    <h3>Repository deployments</h3>
    {% if deployments_with_optional_eb %}
        <table class="table--spacing-medium" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Repository</th>
                    <th>
                        {% if server.type == 'elasticbeanstalk' %}
                            EB Environment
                        {% elseif server.type == 'ec2' %}
                            EC2 Pool
                        {% else %}
                            Path
                        {% endif %}
                    </th>
                    {% if server.type == 'elasticbeanstalk' %}
                        <th>Status / Health</th>
                    {% endif %}
                    <th>URL</th>
                    <th class="t10"></th>
                </tr>
            </thead>
            <tbody>
            {% for deployment_pair in deployments_with_optional_eb %}
                {% set deployment = deployment_pair.deployment %}
                {% set eb_environment = deployment_pair.eb_environment %}

                <tr>
                    <td>
                        <a href="{{ urlFor('repository', {id: deployment.repository.id}) }}">{{ deployment.repository.name }}</a>
                    </td>
                    <td>
                        {% if server.type == 'elasticbeanstalk' %}
                            <code>{{ deployment.ebEnvironment }}</code>
                        {% elseif server.type == 'ec2' %}
                            <code>{{ deployment.ec2Pool }}</code>
                        {% else %}
                            <code>{{ deployment.path }}</code>
                        {% endif %}
                    </td>
                    {% if server.type == 'elasticbeanstalk' %}
                        <td>
                            {{ eb_environment|formatEBStatus }}
                            {{ eb_environment|formatEBHealth }}
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ deployment.url.asString()  }}">{{ deployment.url.asString()  }}</a>
                    </td>
                    <td>
                        <a class="btn--tiny" href="{{ urlFor('repository.deployment', {repository: deployment.repository.id, id: deployment.id}) }}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no deployments associated with this server.</p>
    {% endif %}

    {% if isUserAdmin(currentUser) and deployments %}
        <p><strong>Note:</strong> All associated deployments must be removed or transferred to remove this server.</p>
    {% endif %}

    <div>
        {% if isUserAdmin(currentUser) %}
            <a class="btn--action" href="{{ urlFor('server.admin.edit', {id: server.id}) }}">Edit</a>
            {% if not deployments and isUserAdmin(currentUser) %}
                <a class="btn--destructive" href="{{ urlFor('server.admin.remove', {id: server.id}) }}">Remove Server</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
