{% extends 'base.twig' %}
{% import "_partial-form/macros.twig" as form_macros %}

{% set page_title = 'Edit Server : ' ~ server.name %}

{% block content %}
    <h1>Edit Server - <strong>{{ server.name }}</strong></h1>

    {{ form_macros.formErrors(errors) }}

    <form method="post">
        <ul class="form-fields">
            <li>
                <label for="servertype">Type</label>
                <ul class="radio-grid radio-grid--tri">

                    {% set server_types = ['rsync', 'eb', 'cd', 's3', 'script'] %}

                    {% for type in server_types %}
                        {% set isSelected = form.server_type == type ? ' checked' : '' %}
                        <li>
                            <input id="server_type-{{ type }}" type="radio" name="server_type" value="{{ type }}"{{ isSelected }}>
                            <label for="server_type-{{ type }}">
                                {%- if type == 'rsync' %}
                                    On-premise Linux (Rsync)
                                {%- elseif type == 'eb' -%}
                                    Elastic Beanstalk
                                {%- elseif type == 'cd' -%}
                                    CodeDeploy
                                {%- elseif type == 's3' -%}
                                    S3
                                {%- elseif type == 'script' -%}
                                    Script
                                {%- endif -%}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <label>Environment</label>
                <ul class="radio-grid radio-grid--tri">
                    {% for environment in environments %}
                        {% set isSelected = form.environment == environment.id ? ' checked' : '' %}

                        <li>
                            <input type="radio" name="environment" id="environment-{{ environment.id }}" value="{{ environment.id }}"{{ isSelected }}>
                            <label for="environment-{{ environment.id }}">{{ environment.name }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

        <div class="form-wrapper">
            <ul class="form-fields">
                {% set hostname = form.server_type == 'rsync' ? form.hostname : '' %}
                <li>
                    <label for="hostname">Hostname</label>
                    <input type="text" name="hostname" id="hostname" maxlength="60" value="{{ hostname }}" class="text-input">
                    <small class="additional">Rsync Servers Only</small>
                </li>

                {% set region = form.server_type != 'rsync' ? form.region : '' %}
                <li>
                    <label for="region">Region</label>
                    <input type="text" name="region" id="region" maxlength="60" value="{{ region }}" class="text-input">
                    <small class="additional">AWS Servers Only</small>
                </li>
            </ul>

            <ul class="button-list">
                <li><input class="btn btn--action" type="submit" value="Save Changes"></li>
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ uriFor('server', {'server': server.id}) }}">Cancel</a></li>
            </ul>
        </div>

    </form>

{% endblock %}
