{% extends 'base.html.twig' %}

{% set name = (server.type == 'rsync') ? server.name : server|formatServerType %}
{% set page_title = 'Server : ' ~ name %}

{% set isAdmin = isUserAdminOrSuper(currentUser) %}

{% block content %}
    <h1>Server - <strong>{{ server.environment.name }}</strong></h1>

    <h3>Type</h3>
    <p>{{ server|formatServerType }}</p>

    {% set hostname = (server.type == 'rsync') ? server.name : 'Not applicable' %}
    <h3>Hostname</h3>
    <p>{{ hostname }}</p>

    <h3>Environment</h3>
    <p>{{ server.environment.name }}</p>

    <h3>Application Deployment Targets</h3>
    {% if deployments_with_optional_eb %}
        <table class="table--spacing-medium table--striped" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Application</th>
                    <th>
                        {% if server.type == 'elasticbeanstalk' %}
                            EB Environment
                        {% elseif server.type == 'ec2' %}
                            EC2 Pool
                        {% else %}
                            Path
                        {% endif %}
                    </th>
                    {% if server.type == 'elasticbeanstalk' %}
                        <th>Status / Health</th>
                    {% endif %}
                    <th>URL</th>
                    <th class="t10"></th>
                </tr>
            </thead>
            <tbody>
            {% for deployment_pair in deployments_with_optional_eb %}
                {% set deployment = deployment_pair.deployment %}
                {% set eb_environment = deployment_pair.eb_environment %}

                <tr>
                    <td>
                        <a href="{{ urlFor('repository', {id: deployment.application.id}) }}">{{ deployment.application.name }}</a>
                    </td>
                    <td>
                        {% if server.type == 'elasticbeanstalk' %}
                            <code class="code_clear">{{ deployment.ebEnvironment }}</code>
                        {% elseif server.type == 'ec2' %}
                            <code class="code_clear">{{ deployment.ec2Pool }}</code>
                        {% else %}
                            <code class="code_clear">{{ deployment.path }}</code>
                        {% endif %}
                    </td>
                    {% if server.type == 'elasticbeanstalk' %}
                        <td>
                            {{ eb_environment|formatEBStatus }}
                            {{ eb_environment|formatEBHealth }}
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ deployment.url.asString()  }}">{{ deployment.url.asString()  }}</a>
                    </td>
                    <td class="tr">
                        <a class="btn btn--tiny" href="{{ urlFor('repository.deployment', {repository: deployment.application.id, id: deployment.id}) }}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no deployments associated with this server.</p>
    {% endif %}

    {% if isAdmin and deployments_with_optional_eb %}
        <p><strong>Note:</strong> All associated deployments must be removed or transferred to remove this server.</p>
    {% endif %}

    <ul class="button-list button-list--half">
        {% if isAdmin %}
            <li><a class="btn" href="{{ urlFor('servers') }}">Servers</a></li>
            <li><a class="btn btn--action" href="{{ urlFor('server.admin.edit', {id: server.id}) }}">Edit Server</a></li>
            {% if not deployments_with_optional_eb and isAdmin %}
                <li><a class="btn btn--destructive" href="{{ urlFor('server.admin.remove', {id: server.id}) }}">Remove Server</a></li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}
