{% extends 'base.html.twig' %}

{% set page_title = "Servers" %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <table class="table--spacing-medium table--top-aligned" data-tablesaw-mode="stack">
        <thead>
            <tr class="tl">
                <th>Environment</th>
                <th>Servers</th>
            </tr>
        </thead>
        <tbody>
            {% if server_count %}

                {% for env, servers in server_environments %}
                    {% if servers %}
                        <tr>
                            <td>{{ env }}</td>
                            <td>
                                <ul class="col-list list--bare">
                                    {% for server in servers %}
                                        <li class="mvn"><a href="{{ urlFor('server', {'server': server.id}) }}">{{ server.formatPretty }}</a></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="2">There are no servers.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if isUserAdminOrSuper(getCurrentUser()) %}
        <ul class="button-list">
            <li class="button-list__fixed"><a class="btn" href="{{ urlFor('server.add') }}">Add Server</a></li>
        </ul>
    {% endif %}

{% endblock %}
