{% import "macros.twig" as macros %}

<header>
    {% block banner %}
        <div class="hal-grill">
            <div class="wrapper">
                <a href="/">
                    <div class="hal">
                        <div class="hal-reflection hal-reflection-left"></div>
                        <div class="hal-reflection hal-reflection-center"></div>
                        <div class="hal-reflection hal-reflection-right"></div>
                        <div class="hal-rim"><div class="hal-iris"></div></div>
                    </div>
                </a>

                <h1 class="hal-label">
                    <span class="hal-label__name">Hal</span>
                    <span class="hal-label__version">3.0.0</span>
                    {%- if attribute(_context, 'global.update_notification') -%}
                        <div class="hal-stamp">
                            <a href="{{ uriFor('latest.release') }}" title="Hal was recently updated!">What's new?</a>
                        </div>
                    {%- endif -%}
                </h1>
            </div>
        </div>
    {% endblock %}

    {% block navigation %}
        {% if show_navigation %}
            <nav>
                {% if current_user %}
                    <ul class="nav--main">
                        {% if current_authorizations.isSuper() %}
                            <li><a href="{{ uriFor('admin') }}">{{ macros.icon('watch') }} Admin</a></li>
                        {% else %}
                            <li><a href="{{ uriFor('dashboard') }}">{{ macros.icon('dashboard') }} Dashboard</a></li>
                        {% endif %}

                        <li><a href="{{ uriFor('queue') }}">{{ macros.icon('in') }} Queue</a></li>
                        <li><a href="{{ uriFor('applications') }}">{{ macros.icon('list') }} Applications</a></li>
                        <li><a href="{{ uriFor('settings') }}">{{ macros.icon('settings') }} Settings</a></li>

                        <li><a href="{{ uriFor('help') }}">{{ macros.icon('question') }} Help</a></li>
                        <li><a href="{{ uriFor('signout') }}">{{ macros.icon('sign-out') }} Sign Out</a></li>
                    </ul>

                {% else %}
                    <ul class="nav--main-signed-out">
                        <li class="signed-out"><a href="{{ uriFor('help') }}">{{ macros.icon('question') }} Help</a></li>
                        <li class="signed-out"><a href="{{ uriFor('signin') }}">{{ macros.icon('sign-in') }} Sign In</a></li>
                    </ul>
                {% endif %}
            </nav>
        {% endif %}
    {% endblock %}
</header>
