{% extends 'base.html.twig' %}

{% block page_title %}
    <title>
        {% if page_title %}{{ page_title }} - {% endif %}{{ applicationEnvironment == 'prod' ? applicationKrakenTitle : applicationEnvironment|upper }}
    </title>
{% endblock %}

{% block page_header %}
    {% embed '_partial/layout.header.twig' %}
        {% block banner %}
            <div class="hal">
                <a href="{{ urlFor('kraken') }}" class="wrapper">

                    <div class="kraken-logo circular"></div>

                    <h1 class="kraken-label">
                        <span>KRAKEN</span>
                    </h1>
                </a>
            </div>
        {% endblock %}

        {% block navigation %}
            <nav role="navigation">
                {% if currentUser %}
                    <ul class="nav--main">
                        <li><a href="{{ urlFor('kraken.applications') }}">{{ macros.icon('list') }} Applications</a></li>
                        <li><a href="{{ urlFor('kraken.environments') }}">{{ macros.icon('leaf') }} Environments</a></li>

                        {% if isUserAdminOrSuper(currentUser) %}
                            <li><a href="{{ urlFor('kraken.admin.audit.logs.page1') }}">{{ macros.icon('watch') }} Audit Logs</a></li>
                        {% endif %}

                        <li><a href="{{ urlFor('dashboard') }}">{{ macros.icon('spinner-3') }} HAL 9000</a></li>
                        <li><a href="{{ urlFor('kraken.help') }}">{{ macros.icon('question') }} Help</a></li>
                        <li><a href="{{ urlFor('logout') }}">{{ macros.icon('sign-out') }} Sign out</a></li>
                    </ul>
                {% else %}
                    <ul class="nav--main-signed-out">
                        <li><a href="{{ urlFor('kraken.help') }}">{{ macros.icon('question') }} Help</a></li>
                        <li><a href="{{ urlFor('login') }}">{{ macros.icon('sign-in') }} Sign in</a></li>
                    </ul>
                {% endif %}
            </nav>
        {% endblock %}
    {% endembed %}
{% endblock %}
