<!DOCTYPE html>
{% set buster = application_sha[:4] ?: 'dev' ~ 'now'|date('U') %}
<html class="no-js" id="{{ html_id ?: '' }}">

    {% if js_components %}
        <head data-js-components="{{ js_components|join(' ') }}">
    {% else %}
        <head>
    {% endif %}
        <meta charset="utf-8">
        {% block page_head %}
            {% block page_title %}
            <title>
                {% if page_title %}{{ page_title }} - {% endif %}{{ application_environment == 'prod' ? application_title : application_environment|upper }}
            </title>
            {% endblock %}
            {% block page_icon %}
                <!-- <link type="image/x-icon" rel="shortcut icon" href="/hal.ico"> -->
                <!-- <link type="image/png" rel="icon" href="/hal.png"> -->
                <link type="image/png" rel="shortcut icon" href="/hal.ico">
            {% endblock %}
            {% block page_meta %}
                <meta name="format-detection" content="telephone=no">
                <meta name="viewport" content="width=device-width">
                <meta http-equiv="x-ua-compatible" content="ie=edge">
            {% endblock %}
            {% block style %}
                <link rel="stylesheet" href="/css/style.css?v={{ buster }}">
            {% endblock %}
        {% endblock %}
    </head>

    <body>
        {% block page_body %}

            {% block page_header %}
                {% set should_show_nav = show_navigation is defined ? show_navigation : true %}
                {% embed 'base.header.twig' with {show_navigation: should_show_nav} %}{% endembed %}
            {% endblock %}

            {% block page_main %}
            <main role="main">
                {#
                {% include '_partial/layout.messages.twig' %}
                #}

                {# main page content #}
                {% block content %}{% endblock %}
            </main>
            {% endblock %}

        {% endblock %}

        {% block page_script %}
            <script src="/js/vendor.bundle.js?v={{ buster }}"></script>
            <script src="/js/app.js?v={{ buster }}"></script>
        {% endblock %}
    </body>
</html>
