{% extends 'base.twig' %}
{% import "macros.twig" as macros %}
{% set js_components = ["queue"] %}

{% set page_title = 'Dashboard' %}

{% block content %}

    {% if is_serious_business_mode %}
        <h1>Dashboard</h1>
    {% else %}
        <h1>
            Hello<span
                data-initial=", {{ getUsersActualName(current_user) }}."
                data-freud=", {{ getUsersFreudianName() }}."
                data-nofunzone=", {{ getUsersFirstName(current_user) }}."
            ></span>
        </h1>
    {% endif %}

    {% if session.get('is-first-login') or not favorites %}
       {{ block('intro') }}
    {% endif %}

    {# FAVORITES #}
    {% if favorites %}
        <section class="mbm">
            <h2 class="mbs">Favorites</h2>

            <div class="fav-box-wrapper">
                {% for application in favorites %}
                    <div class="fav-box">
                        <h5>{{ application.name }}</h5>
                        <p>
                            <a href="{{ uriFor('application.dashboard', {'application': application.id}) }}">App Status</a>
                            | <a href="{{ uriFor('build.start', {'application': application.id}) }}">Start Build</a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {# PENDING WORK #}
    {% if pending %}
        <h2>Build and Deployment Queue</h2>
        {% include '_partial-job/pending-table.twig' with {'pending': pending} only %}
    {% endif %}

{% endblock %}

{% block intro %}
    <div>
        <h2>My name is Hal.</h2>
        <h5>I deploy code to other, less capable machines.</h5>

        <p>
            This is the latest version of the Hal deployment system for Quicken Loans applications.
            The 9000 series is the most reliable computer ever made. No 9000 computer has ever made a mistake or distorted information. We are all, by any practical definition of the words, foolproof and incapable of error.
        </p>
        <p>
            <b>To deploy an application:</b> Find the application under the applications menu option.
        </p>
        <p>
            <b>To add an application:</b> Add the application from the applications page. You should probably read <a href="{{ uriFor('help') }}">support page</a> for additional instructions and supported systems and project types.
            We wouldn't want you doing something foolish, after all.
        </p>
        <p>
            If you you do not have the correct permissions or need support to remedy a mistake you have made, please check the <a href="{{ uriFor('help') }}">support page</a> for assistance.
        </p>

        <p>I look forward to working with you.</p>
    </div>
{% endblock %}

{% block stuck_details %}
    Stuck jobs are builds or pushes that have been running for more than 45 minutes.<br>
    They require intervention from Hal administrators!
{% endblock %}
