{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}
{% set js_components = ["queue"] %}

{% set page_title = 'Dashboard' %}

{% block content %}

    {% if isSeriousBusinessMode() %}
        <h1>Dashboard</h1>
    {% else %}
        <h1>
            Hello<span
                data-initial=", {{ getUsersActualName(currentUser) }}."
                data-freud=", {{ getUsersFreudianName() }}."
                data-nofunzone=", {{ getUsersFirstName(currentUser) }}."
            ></span>
        </h1>
    {% endif %}

    {% if isFirstLogin or not favorites %}
       {{ block('intro') }}
    {% endif %}

    {# STUCK WORK #}
    {% if isUserAdminOrSuper(currentUser) and stuck %}
        {% set title = 'There is <strong>' ~ stuck|length ~ '</strong> stuck job!' %}
        {% if stuck|length > 1 %}
            {% set title = 'There are <strong>' ~ stuck|length ~ '</strong> stuck jobs!' %}
        {% endif %}

        {{ macros.alert('error', title, block('stuck_details')) }}
    {% endif %}

    {# FAVORITES #}
    {% if favorites %}
        <section class="mbm">
            <h2 class="mbs">Favorites</h2>

            <div class="fav-box-wrapper">
                {% for application in favorites %}
                    <div class="fav-box">
                        <h5>{{ application.name }}</h5>
                        <p>
                            <a href="{{ urlFor('application.status', {'application': application.id}) }}">App Status</a>
                            | <a href="{{ urlFor('build.start', {'application': application.id}) }}">Start Build</a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {# PENDING WORK #}
    {% if pending %}
        <h2>Build and Push Queue</h2>
        {% include '_partial-job/pending-table.twig' %}
    {% endif %}

    <div class="flex-box-wrapper">

        <div class="flex-box box-roundy">
              <h2 class="trailer">Your Recent Builds</h2>
              {% include '_partial-job/build-box.twig' with {'builds': builds} %}
        </div>

        <div class="flex-box box-roundy">
              <h2 class="trailer">Your Recent Pushes</h2>
              {% include '_partial-job/push-box.twig' with {'pushes': pushes} %}
        </div>
    </div>

{% endblock %}

{% block intro %}
    <div>
        <h2>My name is HAL.</h2>
        <h5>I deploy code to other, less capable machines.</h5>

        <p>
            This is the latest version of the HAL 9000 deployment system for Quicken Loans applications.
            The 9000 series is the most reliable computer ever made. No 9000 computer has ever made a mistake or distorted information. We are all, by any practical definition of the words, foolproof and incapable of error.
        </p>
        <p>
            <b>To deploy an application:</b> Find the application under the applications menu option.
        </p>
        <p>
            <b>To add an application:</b> Add the application from the applications page. You should probably read <a href="{{ urlFor('help') }}">support page</a> for additional instructions and supported systems and project types.
            We wouldn't want you doing something foolish, after all.
        </p>
        <p>
            If you you do not have the correct permissions or need support to remedy a mistake you have made, please check the <a href="{{ urlFor('help') }}">support page</a> for assistance.
        </p>

        <p>I look forward to working with you.</p>
    </div>
{% endblock %}

{% block stuck_details %}
    Stuck jobs are builds or pushes that have been running for more than 45 minutes.<br>
    They require intervention from HAL administrators!
{% endblock %}
