{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}
{% set js_components = ["queue"] %}

{% set page_title = 'Dashboard' %}

{% block content %}

    {% if isSeriousBusinessMode() %}
        <h1>Dashboard</h1>
    {% else %}
        <h1>
            <span
                data-initial=", {{ getUsersActualName(currentUser) }}."
                data-freud=", {{ getUsersFreudianName() }}."
                data-nofunzone=", {{ getUsersFirstName(currentUser) }}."
            >Hello</span>
        </h1>
    {% endif %}

    {% if isFirstLogin or not repositories %}
       {{ block('intro') }}
    {% endif %}

    {# STUCK WORK #}
    {% if isUserAdmin(currentUser) and stuck %}
        {% set title = 'There is <strong>' ~ stuck|length ~ '</strong> stuck job!' %}
        {% if stuck|length > 1 %}
            {% set title = 'There are <strong>' ~ stuck|length ~ '</strong> stuck jobs!' %}
        {% endif %}

        {{ macros.alert('error', title, block('stuck_details')) }}
    {% endif %}

    {# QUICK BUILD #}
    {% if repositories %}
        <section class="trailer">
            <h3>Quick Build</h3>

            <div class="col-list">
                <ul class="list--bare js-filter">
                    {% for repository in repositories %}
                        <li class="mbn"><a href="{{ urlFor('build.start', {'id': repository.id}) }}">{{ repository.name }}</a></li>
                    {% else %}
                        <li>Looks like you don't have access to anything.</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}

    {# PENDING WORK #}
    {% if pending %}
        <h2>Build and Push Queue</h2>
        {% include '_partial-job/pending-table.twig' %}
    {% endif %}

    <div class="dash-box-wrapper">

        <div class="dash-box">
              <h2 class="trailer">Your Recent Builds</h2>
              {% include '_partial-job/build-box.twig' with {'builds': builds, 'initiator': false} %}
        </div>

        <div class="dash-box">
              <h2 class="trailer">Your Recent Pushes</h2>
              {% include '_partial-job/push-box.twig' with {'pushes': pushes, 'initiator': false} %}
        </div>
    </div>

{% endblock %}

{% block intro %}
    <div>
        <h4>My name is HAL.</h4>
        <p><strong>I deploy code to other, less capable machines.</strong></p>

        <p>
            This is the latest version of the HAL 9000 code deployment system for Quicken Loans applications.
           <br><br>
            The 9000 series is the most reliable computer ever made. No 9000 computer has ever made a mistake or distorted information. We are all, by any practical definition of the words, foolproof and incapable of error.
           <br><br>
            Applications are organized in <strong>groups</strong>. To deploy an application, find the repository under the groups menu option.

            If you you do not have the correct permissions or need support to remedy a mistake you have made, please check the <a href="{{ urlFor('help') }}">support page</a> for assistance.
            This page also has instructions on how to add an application so I can deploy it.
        </p>

        <p>I look forward to working with you.</p>
    </div>
{% endblock %}

{% block stuck_details %}
    Stuck jobs are builds or pushes that have been running for more than 45 minutes.<br>
    They require intervention from HAL administrators!
{% endblock %}
