{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.git.twig' as git_macros %}
{% import 'macros.form.twig' as form_macros %}

{% set entity_type = 'Unknown Entity' %}
{% if remove.param == 'organization' %}
    {% set entity_type = 'Organization' %}
{% elseif remove.param == 'application' %}
    {% set entity_type = 'Application' %}
{% elseif remove.param == 'target' %}
    {% set entity_type = 'Deployment Target' %}
{% elseif remove.param == 'encrypted' %}
    {% set entity_type = 'Encrypted Property' %}
{% elseif remove.param == 'group' %}
    {% set entity_type = 'Group' %}
{% elseif remove.param == 'environment' %}
    {% set entity_type = 'Environment' %}
{% elseif remove.param == 'credential' %}
    {% set entity_type = 'Credential' %}
{% elseif remove.param == 'token' %}
    {% set entity_type = 'User Token' %}
{% endif %}

{% if remove.param %}
    {% set page_title = 'Remove ' ~ entity_type %}
{% else %}
    {% set page_title = 'Confirm Removal' %}
{% endif %}

{% block breadcrumb_links %}
    {% if remove.param == 'organization' %}
        <li><a href="{{ uriFor('applications') }}">Applications</a></li>
        <li><a href="{{ uriFor('organization', {'organization': remove.entity.id}) }}">{{ remove.entity.name }}</a></li>
    {% elseif remove.param == 'application' %}
        <li><a href="{{ uriFor('applications') }}">Applications</a></li>
        <li><a href="{{ uriFor('application', {'application': remove.entity.id}) }}">{{ remove.entity.name }}</a></li>
    {% elseif remove.param == 'environment' %}
        <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
        <li><a href="{{ uriFor('environments') }}">Environments</a></li>
        <li><a href="{{ uriFor('environment', {'environment': remove.entity.id}) }}">{{ remove.entity.name }}</a></li>
    {% elseif remove.param == 'credential' %}
        <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
        <li><a href="{{ uriFor('credentials') }}">Credentials</a></li>
        <li><a href="{{ uriFor('credential', {'credential': remove.entity.id}) }}">{{ remove.entity.name }}</a></li>
    {% endif %}

{% endblock %}

{% block content %}
    {% if remove.param == 'organization' %}
        {{ block('organization_meta') }}
    {% elseif remove.param == 'application' %}
        {{ block('application_meta') }}
    {% elseif remove.param == 'target' %}
        {{ block('target_meta') }}
    {% elseif remove.param == 'encrypted' %}
        {{ block('encrypted_meta') }}
    {% elseif remove.param == 'group' %}
        {{ block('group_meta') }}
    {% elseif remove.param == 'environment' %}
        {{ block('environment_meta') }}
    {% elseif remove.param == 'credential' %}
        {{ block('credential_meta') }}

    {% elseif remove.param == 'token' %}
        {{ block('token_meta') }}
    {% endif %}

    <h3>Are you sure?</h3>
    <p>You're about to permanently remove this <b>{{ entity_type }}</b>. Do you want to continue?</p>

    <form method="post">
        {{ form_macros.csrf_input(remove.param ~ '.remove') }}

        <button type="submit" class="btn btn--destructive">{{ page_title }}</button>
        {{ block('cancel_button') }}
    </form>

{% endblock %}

{% block cancel_button %}
    {% if remove.param == 'organization' %}
        <a href="{{ uriFor('organization', {'organization': remove.entity.id}) }}">Cancel</a>

    {% elseif remove.param == 'application' %}
        <a href="{{ uriFor('application', {'application': remove.entity.id}) }}">Cancel</a>
    {% elseif remove.param == 'target' %}
        <a href="{{ uriFor('target', {'target': remove.entity.id, 'application': entities.application.id}) }}">Cancel</a>
    {% elseif remove.param == 'encrypted' %}
        <a href="{{ uriFor('encrypted', {'encrypted': remove.entity.id, 'application': entities.application.id}) }}">Cancel</a>

    {% elseif remove.param == 'group' %}
        <a href="{{ uriFor('group', {'group': remove.entity.id}) }}">Cancel</a>
    {% elseif remove.param == 'environment' %}
        <a href="{{ uriFor('environment', {'environment': remove.entity.id}) }}">Cancel</a>
    {% elseif remove.param == 'credential' %}
        <a href="{{ uriFor('credential', {'credential': remove.entity.id}) }}">Cancel</a>

    {% elseif remove.param == 'token' %}
        <a href="{{ uriFor('user', {'user': entities.user.id}) }}">Cancel</a>
    {% else %}
        <a href="javascript:history.go(-1)">Cancel</a>
    {% endif %}
{% endblock %}

{% block group_meta %}
    {% set name_label =  remove.entity.type == 'rsync' ? 'Hostname' : 'Region' %}

    <ul class="meta-box">
        <li>
            <h6>Group Type</h6>
            {{ remove.entity.format(true) }}
        </li>

        <li>
            <h6>{{ name_label }}</h6>
            {{ remove.entity.type == 'script' ? 'N/A' : remove.entity.name }}
        </li>

        <li>
            <h6>Environment</h6>
            {{ remove.entity.environment.name}}
        </li>
    </ul>

{% endblock %}

{% block environment_meta %}
    <ul class="meta-box">
        <li>
            <h6>ID</h6>
            {{ remove.entity.id }}
        </li>
        <li>
            <h6>Name</h6>
            {{ remove.entity.name }}
        </li>
        <li>
            <h6>Is Production Environment?</h6>
            {{ remove.entity.isProduction ? 'Yes' : 'No' }}
        </li>
    </ul>
{% endblock %}

{% block credential_meta %}
    <ul class="meta-box">
        <li>
            <h6>ID</h6>
            {{ remove.entity.id }}
        </li>
        <li>
            <h6>Name</h6>
            {{ remove.entity.name }}
        </li>
        <li>
            <h6>Type</h6>
            {{ remove.entity.formatType() }}
        </li>
    </ul>
{% endblock %}

{% block organization_meta %}
    <ul class="meta-box">
        <li>
            <h6>ID</h6>
            {{ remove.entity.id }}
        </li>
        <li>
            <h6>Name</h6>
            {{ remove.entity.identifier }}
        </li>
        <li>
            <h6>Description</h6>
            {{ remove.entity.name }}
        </li>
    </ul>
{% endblock %}

{% block application_meta %}
    <ul class="meta-box">
        <li>
            <h6>ID</h6>
            {{ remove.entity.id }}
        </li>
        <li>
            <h6>Name</h6>
            {{ remove.entity.name }}
        </li>
        <li>
            <h6>Source Control</h6>
            {{ git_macros.vcs(remove.entity) }}
        </li>
    </ul>
{% endblock %}

{% block target_meta %}
    <ul class="meta-box">
        <li>
            <h6>ID</h6>
            {{ remove.entity.id }}
        </li>
        <li>
            <h6>Application</h6>
            {{ remove.entity.application.name }}
        </li>
        <li>
            <h6>Environment</h6>
            {{ remove.entity.environment.name }}
        </li>
        <li>
            <h6>Name</h6>
            {{ remove.entity.name }}
        </li>
        <li>
            <h6>Type</h6>
            {{ remove.entity.formatType() }}
        </li>
    </ul>
{% endblock %}

{% block encrypted_meta %}
    <ul class="meta-box">
        <li>
            <h6>ID</h6>
            {{ remove.entity.id }}
        </li>
        <li>
            <h6>Application</h6>
            {{ remove.entity.application.name }}
        </li>
        <li>
            <h6>Environment</h6>
            {% if remove.entity.environment %}
                {{ remove.entity.environment.name }}
            {% else %}
                Global (Available in all environments)
            {% endif %}
        </li>
        <li>
            <h6>Property Name</h6>
            <code>{{ remove.entity.name }}</code>
        </li>
    </ul>
{% endblock %}

{% block token_meta %}
    <ul class="meta-box">
        <li>
            <h6>ID</h6>
            {{ remove.entity.id }}
        </li>
        <li>
            <h6>Name</h6>
            {{ remove.entity.name }}
        </li>
    </ul>
{% endblock %}
