{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.git.twig' as git_macros %}

{% set entity_type = 'Unknown Entity' %}
{% if remove.param == 'organization' %}
    {% set entity_type = 'Organization' %}
{% elseif remove.param == 'application' %}
    {% set entity_type = 'Application' %}
{% elseif remove.param == 'target' %}
    {% set entity_type = 'Deployment Target' %}
{% elseif remove.param == 'encrypted' %}
    {% set entity_type = 'Encrypted Property' %}
{% elseif remove.param == 'group' %}
    {% set entity_type = 'Group' %}
{% elseif remove.param == 'environment' %}
    {% set entity_type = 'Environment' %}
{% elseif remove.param == 'credential' %}
    {% set entity_type = 'Credential' %}
{% elseif remove.param == 'token' %}
    {% set entity_type = 'User Token' %}
{% endif %}

{% block content %}
    <h1>
        {% if remove.param %}
            Remove {{ entity_type }}
        {% else %}
            Confirm Removal
        {% endif %}
    </h1>

    {% if remove.param == 'organization' %}
        {{ block('organization_box') }}

    {% elseif remove.param == 'application' %}
        {{ block('application_box') }}
    {% elseif remove.param == 'target' %}
        {{ block('target_box') }}
    {% elseif remove.param == 'encrypted' %}
        {{ block('encrypted_box') }}

    {% elseif remove.param == 'group' %}
        {{ block('group_box') }}
    {% elseif remove.param == 'environment' %}
        {{ block('environment_box') }}
    {% elseif remove.param == 'credential' %}
        {{ block('credential_box') }}

    {% elseif remove.param == 'token' %}
        {{ block('token_box') }}
    {% endif %}

    <h3>Are you sure?</h3>
    <p>You're about to permanently remove this <b>{{ entity_type }}</b>. Do you want to continue?</p>

    <form class="form-wrapper" method="post">
        <ul>
            <li><input class="btn btn--destructive" type="submit" value="Remove"></li>
            <li>{{ block('cancel_button') }}</li>
        </ul>
    </form>

{% endblock %}

{% block cancel_button %}
    {% if remove.param == 'organization' %}
        <a class="btn" href="{{ uriFor('organization', {'organization': remove.entity.id}) }}">Cancel</a>

    {% elseif remove.param == 'application' %}
        <a class="btn" href="{{ uriFor('application', {'application': remove.entity.id}) }}">Cancel</a>
    {% elseif remove.param == 'target' %}
        <a class="btn" href="{{ uriFor('target', {'target': remove.entity.id, 'application': entities.application.id}) }}">Cancel</a>
    {% elseif remove.param == 'encrypted' %}
        <a class="btn" href="{{ uriFor('encrypted', {'encrypted': remove.entity.id, 'application': entities.application.id}) }}">Cancel</a>

    {% elseif remove.param == 'group' %}
        <a class="btn" href="{{ uriFor('group', {'group': remove.entity.id}) }}">Cancel</a>
    {% elseif remove.param == 'environment' %}
        <a class="btn" href="{{ uriFor('environment', {'environment': remove.entity.id}) }}">Cancel</a>
    {% elseif remove.param == 'credential' %}
        <a class="btn" href="{{ uriFor('credential', {'credential': remove.entity.id}) }}">Cancel</a>

    {% elseif remove.param == 'token' %}
        <a class="btn" href="{{ uriFor('user', {'user': entities.user.id}) }}">Cancel</a>
    {% else %}
        <a class="btn" href="javascript:history.go(-1)">Cancel</a>
    {% endif %}
{% endblock %}

{% block group_box %}
    {% set name_label =  remove.entity.type == 'rsync' ? 'Hostname' : 'Region' %}

    <div class="details-box">
        <ul class="mbn">
            <li>
                <h6>Group Type</h6>
                {{ remove.entity.format(true) }}
            </li>

            <li>
                <h6>{{ name_label }}</h6>
                {{ remove.entity.type == 'script' ? 'N/A' : remove.entity.name }}
            </li>

            <li>
                <h6>Environment</h6>
                {{ remove.entity.environment.name}}</li>
        </ul>
    </div>

{% endblock %}

{% block environment_box %}
    <div class="details-box">
        <ul class="mbn">
            <li>
                <h6>Name</h6>
                {{ remove.entity.name }}
            </li>

            <li>
                <h6>Is Production Environment?</h6>
                {{ remove.entity.isProduction ? 'Yes' : 'No' }}
            </li>
        </ul>
    </div>
{% endblock %}

{% block credential_box %}
    <div class="details-box">
        <ul class="mbn">
            <li>
                <h6>Name</h6>
                {{ remove.entity.name }}
            </li>

            <li>
                <h6>Type</h6>
                {% if remove.entity.type == 'aws_static' %}
                    AWS Static Token
                {% elseif remove.entity.type == 'aws_role' %}
                    AWS STS Role
                {% elseif remove.entity.type == 'privatekey' %}
                    Private Key
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}

{% block organization_box %}
    <div class="details-box">
        <ul class="mbn">
            <li>
                <h6>Name</h6>
                {{ remove.entity.identifier }}
            </li>

            <li>
                <h6>Description</h6>
                {{ remove.entity.name }}
            </li>
        </ul>
    </div>
{% endblock %}

{% block application_box %}
    <div class="details-box">
        <ul>
            <li>
                <h6>Name</h6>
                {{ remove.entity.identifier }}
            </li>

            <li>
                <h6>Description</h6>
                {{ remove.entity.name }}
            </li>

            <li>
                <h6>GitHub Source</h6>
                {{ git_macros.gitsource(remove.entity) }}
            </li>
        </ul>
    </div>
{% endblock %}

{% block target_box %}
    <div class="details-box">
        <ul>
            <li>
                <h6>Application</h6>
                {{ remove.entity.application.name }}
            </li>

            <li>
                <h6>Environment</h6>
                {{ remove.entity.group.environment.name }}
            </li>

            <li>
                <h6>Name</h6>
                {{ remove.entity.name ?: 'None' }}
            </li>

            <li>
                <h6>Type</h6>
                {{ remove.entity.group.format(true) }}
            </li>
        </ul>
    </div>
{% endblock %}

{% block encrypted_box %}
    <div class="details-box">
        <ul class="mbn">
            <li>
                <h6>Application</h6>
                {{ remove.entity.application.name }}
            </li>

            <li>
                <h6>Environment</h6>
                {% if remove.entity.environment %}
                    {{ remove.entity.environment.name }}
                {% else %}
                    Global (Available in all environments)
                {% endif %}
            </li>

            <li>
                <h6>Property Name</h6>
                <code>{{ remove.entity.name }}</code>
            </li>
        </ul>
    </div>
{% endblock %}

{% block token_box %}
    <div class="details-box">
        <ul>
            <li>
                <h6>Name</h6>
                {{ remove.entity.name }}
            </li>
        </ul>
    </div>
{% endblock %}
