<!DOCTYPE html>

{% import _self as macros %}
{% set page_title = status == 404 ? 'Not Found' : 'Error' %}
{% set buster = applicationSha[:4] ?: 'dev' ~ 'now'|date('U') %}

<html class="no-js" id="error-page">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">

        <title>
            {{ page_title }} - {{ applicationEnvironment == 'prod' ? applicationTitle : applicationEnvironment|upper }}
        </title>

        <link type="image/png" rel="shortcut icon" href="/hal.ico">
        <link rel="stylesheet" href="/css/style.css?v={{ buster }}">
    </head>

    <body>
        <span class="sticky-version">Version {{ applicationVersion }}.X, {{ applicationSha|default('dev') }}</span>

        <header role="banner">
            <div class="hal">
                <div class="wrapper">
                    <a href="/">
                        <div class="hal-eye circular">
                            <div class="ring circular"></div>
                            <div class="oculus circular">
                                <div class="iris circular narrow"></div>
                                <div class="iris circular wide"></div>
                                <div class="highlight alpha"></div>
                                <div class="highlight"></div>
                                <div class="highlight beta"></div>
                            </div>
                        </div>
                    </a>

                    <h1 class="hal-label">
                        <span class="hal-label__name">HAL</span>
                        <span class="hal-label__version">9000</span>
                    </h1>
                </div>
            </div>
        </header>

        <div class="terminal">
            <div class="terminal--border">
                <div class="terminal--border-inner">
                    <div class="terminal__screen">
                        <div class="terminal__return"><a href="javascript:history.go(-1);">BACK</a></div>
                        <div class="terminal__header">{{ status == 404 ? 'PAGE NOT FOUND' : 'MALFUNCTION DETECTED'}}</div>
                        <span class="terminal__entry"></span>
                    </div>
                </div>
            </div>

            <div class="terminal__footer">
                <div class="terminal__footer__inner">HAL 9000 SERIES TERMINAL</div>
            </div>

            <div class="terminal__text">{{ isSeriousBusinessMode() ? macros.nofunzone(severity) : macros.terminal(severity) }}</div>
        </div>

        <div class="star-1"></div>
        <div class="star-2"></div>
        <div class="star-3"></div>

        <script src="/js/vendor.bundle.js?v={{ buster }}"></script>
        <script src="/js/app.js?v={{ buster }}"></script>
    </body>
</html>

{% macro nofunzone(severity) %}
An error has occured.^1500
{% if severity %}

Error Type: {{ severity }}
{% endif %}

Please contact an administrator for further details.
{% endmacro %}

{% macro terminal(severity) %}
An error has occured.^1500
{% if severity %}

Error Type: {{ severity }}
{% endif %}

I am sorry this happened to you, Dave.^1500

The 9000 series has a perfect operational record. It can only be attributable to human error.^1500 Please stay calm.^1500 Your activity has been logged and the proper authorities have been notified.
{% endmacro %}
