{% macro render_deployment_row(target, release, selected, can_user_deploy, can_deploy_now) %}
    {% import 'macros.twig' as macros %}
    {% import 'macros.git.twig' as git_macros %}

    {% set is_selected = (target.id == selected) %}
    {% set in_progress = target.status in ['pending', 'running', 'deploying'] %}
    {% set needs_credentials = target.group.isAWS() and not target.credential %}

    <tr>
        <td>
            <span class="hint--right" aria-label="{{ target.group.format }}: {{ target.format }}">
                {{ target.format(false) }}
            </span>
        </td>
        {% if release %}
            {% set build = release.build %}

            <td>
                {% set is_gitref_current = githubCommitIsCurrent(build.application.github.owner, build.application.github.repository, build.reference, build.commit) %}
                {{ git_macros.gitref(build, true, is_gitref_current) }}
                ({{ git_macros.gitcommit(build) }})
            </td>
            <td>
                {% if in_progress %}
                    Now
                {% else %}
                    {{ release.created|html5date }}
                {% endif %}
                ({{ macros.job_status_prefix(release, true, false) }})
            </td>
        {% else %}

            {# No successful releases #}
            <td></td>
            <td></td>

        {% endif %}

        <td>
            {% if in_progress %}
                {{ macros.status('Please Wait', 'info', 'clock') }}

            {% elseif needs_credentials %}
                {{ macros.status('No Credentials', 'error', 'spam-2') }}

            {% elseif can_user_deploy %}
                <label class="checkbox-check mrn" for="sel-{{ target.id }}">
                    <input
                        type="checkbox"
                        class="js-toggle-box"
                        name="targets[]"
                        id="sel-{{ target.id }}"
                        value="{{ target.id }}"{{ is_selected ? ' checked' : '' }}>
                    <b class="checkbox-check--tick"></b>{{ can_deploy_now ? 'Deploy Now' : 'Deploy When Ready' }}
                </label>
            {% else %}
                No Access
            {% endif %}
        </td>
    </tr>
{% endmacro %}
