{% macro render_deployment_row(target, release, selected, canUserRelease, releaseNow) %}
    {% import 'macros.twig' as macros %}
    {% import 'macros.git.twig' as git_macros %}

    {% set isSelected = (target.id == selected) %}
    {% set inProgress = target.status in ['pending', 'running', 'deploying'] %}
    {% set needsCredentials = target.group.isAWS() and not target.credential %}

    <tr>
        <td>
            <span class="hint--right" aria-label="{{ target.group.format }}: {{ target.format }}">
                {{ target.format(false) }}
            </span>
        </td>
        {% if release %}
            {% set build = release.build %}

            <td>
                {% set isCurrent = githubCommitIsCurrent(build.application.github.owner, build.application.github.repository, build.reference, build.commit) %}
                {{ git_macros.gitref(build, true, isCurrent) }} ({{ git_macros.gitcommit(build) }})
            </td>
            <td>
                {% if inProgress %}
                    Now
                {% else %}
                    {{ release.created|html5date }}
                {% endif %}
                ({{ macros.job_status_prefix(release, true, false) }})
                by
                {% if release.user %}
                    <a href="{{ uriFor('user', {'user': release.user.id}) }}">{{ release.user.username }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </td>
        {% else %}

            {# No successful pushes #}
            <td></td>
            <td></td>

        {% endif %}

        <td class="tr">
            {% if inProgress %}
                {{ macros.status('Please Wait', 'info', 'clock') }}

            {% elseif needsCredentials %}
                {{ macros.status('No Credentials', 'error', 'spam-2') }}

            {% elseif canUserRelease %}
                <label class="checkbox-check mrn" for="sel-{{ target.id }}">
                    <input
                        type="checkbox"
                        class="js-toggle-box"
                        name="deployments[]"
                        id="sel-{{ target.id }}"
                        value="{{ taret.id }}"{{ isSelected ? ' checked' : '' }}>
                    <b class="checkbox-check--tick"></b>{{ releaseNow ? 'Release Now' : 'Release When Ready' }}
                </label>
            {% else %}
                No Access
            {% endif %}
        </td>
    </tr>
{% endmacro %}
