
{#
Alert banners

Example:
```
<div class="alert-bar--error">
    <div class="alert-bar-icon">
        <svg class="icon"><use xlink:href="/icons.svg#cross-2"></use></svg>
    </div>
    <div class="alert-bar-contents">
        <h4>This is an alert</h4>
        <p>More detail is included here.</p>
    </div>
</div>
```
#}
{% macro alert(type, title, details, isRaw) %}
    {% set isRaw = isRaw|default(false) %}

    {% set typeClass = 'alert-bar' %}
    {% if (type == 'error') %}{% set typeClass = 'alert-bar--error' %}{% endif %}
    {% if (type == 'success') %}{% set typeClass = 'alert-bar--success' %}{% endif %}
    {% if (type == 'warning') %}{% set typeClass = 'alert-bar--warning' %}{% endif %}

    {% set iconType = 'info' %}
    {% if (type == 'error') %}{% set iconType = 'cross-2' %}{% endif %}
    {% if (type == 'success') %}{% set iconType = 'tick-2' %}{% endif %}
    {% if (type == 'warning') %}{% set iconType = 'warning' %}{% endif %}

    <div class="{{ typeClass }}">
        <div class="alert-bar-icon">
            <svg class="icon"><use xlink:href="/icons.svg#{{ iconType }}"></use></svg>
        </div>
        <div class="alert-bar-contents">
            <h4>{{ title|raw }}</h4>
            {% if details %}
                {% if isRaw %}
                    {{ details|raw }}
                {% else %}
                    <p>{{ details|raw }}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{#
An svg icon

Example:
```
<svg class="icon"><use xlink:href="/icons.svg#tick"></use></svg>
```
#}
{% macro icon(icon, class, title) %}
    {% set class = class|default('') %}
    {% set title = title|default('') %}

    {% if title %}
        <svg class="icon{{ class ? ' ' ~ class : '' }}" title="{{ title }}"><use xlink:href="/icons.svg#{{ icon }}"></use></svg>
    {% else %}
        <svg class="icon{{ class ? ' ' ~ class : '' }}"><use xlink:href="/icons.svg#{{ icon }}"></use></svg>
    {% endif %}

{% endmacro %}

{#
Status Block
- Icon is optional

Example:
```
<span class="status-block--info">
    <svg class="icon"><use xlink:href="/icons.svg#dashboard"></use></svg>
    Disabled
</span>
```
#}
{% macro status(msg, type, icon) %}
    {% import _self as self_macros %}

    {% set icon = icon|default('') %}
    {% set typeClass = 'status-block--info' %}

    {% if type in ['info', 'success', 'error', 'notice', 'warning'] %}
        {% set typeClass = 'status-block--' ~ type %}
    {% endif %}

    {% if icon %}
        <span class="{{ typeClass }}">{{ icon ? self_macros.icon(icon) : '' }} {{ msg }}</span>
    {% else %}
        <span class="{{ typeClass }}">{{ msg }}</span>
    {% endif %}

{% endmacro %}

{#
Status Icon

Example:
```
<span class="status-icon--warning">Disabled</span>
```
#}
{% macro status_icon(contents, type, extra_attributes) %}
    {% set type = type|default('info') %}
    {% set extra = extra_attributes|default({}) %}
    {% set typeClass = 'status-icon--info' %}

    {% if type in ['info', 'success', 'error', 'notice', 'warning', 'thinking'] %}
        {% set typeClass = 'status-icon--' ~ type %}
    {% endif %}

    <span class="{{ typeClass }}"{% for attr, val in extra %} {{ attr }}="{{ val }}"{% endfor %}>{{ contents|raw }}</span>

{% endmacro %}

{#
Job Status

Example:
```
<span class="status-icon--success" data-build="123456" data-status="success">Success</span>
```
#}
{% macro job_status(job, allowUpdates) %}
    {% import _self as self_macros %}
    {% set allowUpdates = allowUpdates|default(false) %}

    {% if job.status == 'success' %}
        {{ self_macros.status_icon(job.status, 'success') }}

    {% elseif job.status in ['failure'] %}
        {{ self_macros.status_icon(job.status, 'error') }}

    {% elseif job.status in ['removed'] %}
        {{ self_macros.status_icon(job.status, 'info') }}

    {% elseif allowUpdates %}
        {% if job is release %}
            {{ self_macros.status_icon(job.status, 'thinking', {'data-release': job.id, 'data-status': job.status}) }}
        {% else %}
            {{ self_macros.status_icon(job.status, 'thinking', {'data-build': job.id, 'data-status': job.status}) }}
        {% endif %}

    {% else %}
        {{ self_macros.status_icon(job.status, 'other') }}
    {% endif %}

{% endmacro %}

{#
Job Status Prefix
- Prefix the status dot to the job ID

Example:
```
<span class="status-icon--success" data-build="123456" data-status="success">
    Build <a href="/build/123456">123456</a>
</span>
```
#}
{% macro job_status_prefix(job, withoutPrefix, allowThinking) %}
    {% import _self as self_macros %}

    {# we dont use |default(value) because it doesnt work with falsey values #}
    {% if withoutPrefix is same as(null) %}
        {% set withoutPrefix = false %}
    {% endif %}

    {% if allowThinking is same as(null) %}
        {% set allowThinking = true %}
    {% endif %}

    {% if job is release %}

        {% set prefix = withoutPrefix ? '' : 'Release ' %}
        {% set push_link = self_macros.job_status_prefix_link(job, prefix) %}

        {% if job.status == 'success' %}
            {{ self_macros.status_icon(push_link, 'success') }}
        {% elseif job.status in ['failure'] %}
            {{ self_macros.status_icon(push_link, 'error') }}
        {% elseif job.status in ['removed'] %}
            {{ self_macros.status_icon(push_link, 'info') }}
        {% elseif allowThinking %}
            {{ self_macros.status_icon(push_link, 'thinking', {'data-push': job.id, 'data-status': job.status}) }}
        {% else %}
            {{ self_macros.status_icon(push_link, 'info') }}
        {% endif %}

    {% else %}

        {% set prefix = withoutPrefix ? '' : 'Build ' %}
        {% set build_link = self_macros.job_status_prefix_link(job, prefix) %}

        {% if job.status == 'success' %}
            {{ self_macros.status_icon(build_link, 'success') }}
        {% elseif job.status in ['failure'] %}
            {{ self_macros.status_icon(build_link, 'error') }}
        {% elseif job.status in ['removed'] %}
            {{ self_macros.status_icon(build_link, 'info') }}
        {% elseif allowThinking %}
            {{ self_macros.status_icon(build_link, 'thinking', {'data-build': job.id, 'data-status': job.status}) }}
        {% else %}
            {{ self_macros.status_icon(build_link, 'info') }}
        {% endif %}

    {% endif %}

{% endmacro %}

{#
Job Status Prefix Link
- Link to the job page

Example:
```
Build <a href="/build/123456">123456</a>
```
#}
{% macro job_status_prefix_link(job, prefix) %}
    {% if job is release %}
        {{ prefix }}<a href="{{ uriFor('release', {'release': job.id}) }}">{{ job.id|formatPushId }}</a>
    {% else %}
        {{ prefix }}<a href="{{ uriFor('build', {'build': job.id}) }}">{{ job.id|formatBuildId }}</a>
    {% endif %}
{% endmacro %}
