
{#
Link to github repository

Example:
```
<a href="https://github.com/example/repo">example/repo</a>
<svg class="icon"><use xlink:href="/icons.svg#github"></use></svg>
```
#}
{% macro vcs(application) %}
    {% import 'macros.twig' as macros %}

    {%- if application.provider is same as(null) -%}
        None

    {%- elseif application.provider.type in ['ghe', 'gh'] -%}
        {{ macros.icon('github') }}
        <a href="{{ vcs_url(application) }}">{{ vcs_text(application) }}</a>

    {%- elseif application.provider.type in ['git'] -%}
        <a href="{{ vcs_url(application) }}">{{ vcs_text(application) }}</a>
        {{ macros.icon('code') }}

    {%- else %}
        {{ macros.icon('spam') }} <a href="#">Unknown</a>
    {%- endif -%}

{% endmacro %}

{#
Link to vcs ref

Example:
```
<a href="https://github.com/example/repo/tree/master">master</a>
<svg class="icon"><use xlink:href="/icons.svg#branch"></use></svg>
```
#}
{% macro vcs_ref(application, build, is_current) %}
    {% import _self as self_macros %}

    {% set resolved = build.reference|vcsref(application) %}
    {% set ref = resolved|last %}

    <a href="{{ vcs_ref_url(build.application, build.reference) }}">
        {%- if type == 'pull' -%}
            {%- set icontype = 'pull' -%}
            Pull Request {{ ref }}

        {%- elseif type == 'tag' -%}
            {%- set icontype = 'tag' -%}
            Release {{ ref -}}

        {%- elseif type == 'commit' -%}
            {%- set icontype = 'commit' -%}
            Commit {{ ref|commit -}}

        {%- else -%}
            {%- set icontype = 'branch' -%}
            {{- ref -}}
        {%- endif -%}
    </a>
    {{ self_macros.vcs_icon(icontype, is_current) }}
{% endmacro %}

{% macro vcs_icon(icontype, is_current) %}
    {% import 'macros.twig' as macros %}

    {% set iconcolor = '' %}
    {% if (is_current is same as(true)) %}{% set iconcolor = 'icon--success' %}{% endif %}
    {% if (is_current is same as(false)) %}{% set iconcolor = 'icon--warning' %}{% endif %}

    {%- if is_current is not same as(null) -%}
        {%- if is_current -%}
            <span class="hint--top" aria-label="This commit is update to date with HEAD">
                {{- macros.icon(icontype, iconcolor) -}}
            </span>
        {%- else -%}
            <span class="hint--top" aria-label="This commit is behind HEAD">
                {{- macros.icon(icontype, iconcolor) -}}
            </span>
        {%- endif -%}
    {%- else -%}
        {{- macros.icon(icontype, iconcolor) -}}
    {%- endif -%}
{% endmacro %}

{#
Link to vcs commit

Example:
```
<a href="https://github.com/example/repo/commit/6a903f476aa00d155ffbdf4ef2b94f6a754eafb4">6a903f4</a>
<svg class="icon"><use xlink:href="/icons.svg#commit"></use></svg>
```
#}
{% macro vcs_commit(application, build) %}
    {% import 'macros.twig' as macros %}

    {% set resolved = build.commit|vcsref(application) %}
    {% set ref = resolved|last %}

    <a href="{{ vcs_ref_url(build.application, ref) }}">{{ ref|commit }}</a>
    {{ macros.icon('commit') }}
{% endmacro %}
