{% import 'macros.twig' as macros %}

{#
    - user: User
    - authorizations: UserAuthorizations
    - permissions: array[type] = UserPermission[]
#}

<ul class="meta-box">
    <li>
        <h6>Status</h6>
        {% if user.isDisabled %}
            {{ macros.status('Disabled', 'error', 'nope') }}
        {% else %}
            {{ macros.status('Active', 'success', 'tick') }}
        {% endif %}
    </li>

    <li>
        <h6>Authorization Tiers</h6>

        {% if authorizations.getTiers() %}
            {% if authorizations.isMember() %}
                {{ macros.status('Member', 'info') }}
            {% endif %}
            {% if authorizations.isOwner() %}
                {{ macros.status('Owner', 'notice') }}
            {% endif %}
            {% if authorizations.isAdmin() %}
                {{ macros.status('Admin', 'warning') }}
            {% endif %}
            {% if authorizations.isSuper() %}
                {{ macros.status('Super', 'error') }}
            {% endif %}
        {% else %}
            None
        {% endif %}
    </li>

    <li>
        <h6>Member</h6>
        {% if authorizations.isMember() %}
            <ul class="list--bullet">
                {% for permission in permissions.member %}
                    <li>
                        {% if permission.application %}
                            <a href="{{ uriFor('application', {'application': permission.application.id}) }}">{{ permission.application.name }}</a>
                        {% elseif permission.organization %}
                            {{ macros.status('Organization', 'info') }} <a href="{{ uriFor('organization', {'organization': permission.organization.id}) }}">{{ permission.organization.name }}</a>
                        {% else %}
                            Unknown
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            None
        {% endif %}
    </li>

    <li>
        <h6>Owner</h6>
        {% if authorizations.isOwner() %}
            <ul class="list--bullet">
                {% for permission in permissions.owner %}
                    <li>
                        {% if permission.application %}
                            <a href="{{ uriFor('application', {'application': permission.application.id}) }}">{{ permission.application.name }}</a>
                        {% elseif permission.organization %}
                            {{ macros.status('Organization', 'info') }} <a href="{{ uriFor('organization', {'organization': permission.organization.id}) }}">{{ permission.organization.name }}</a>
                        {% else %}
                            Unknown
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            None
        {% endif %}
    </li>
</ul>
