{% import 'macros.twig' as macros %}

<table class="table--spacing-medium">
    <thead>
        <tr>
            <th>Push</th>
            <th>Status</th>
            <th>Env → Server</th>
            <th>Reference</th>
            <th>User</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
    {% for release in releases %}
        <tr>
            <td><a href="{{ uriFor('release', {'release': release.id}) }}">{{ release.id|formatPushId }}</a></td>
            <td>
                {{ macros.job_status(release) }}
            </td>
            <td>
                {% if release.target %}
                    {{ release.target.group.environment.name }} → {{ release.target.format(true) }}
                {% else %}
                    Unknown
                {% endif %}
            </td>
            <td>Build <a href="{{ uriFor('build', {'build': release.build.id}) }}">{{ release.build.id|formatBuildId }}</a></td>
            <td>
                {% if release.user %}
                    <a href="{{ uriFor('user', {'user': release.user.id}) }}">{{ release.user.username }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </td>
            <td>{{ release.created|html5date }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">No releases found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
