{% import 'macros.twig' as macros %}

{# expected context = logs, canLoad #}
<table class="js-event-logs table--spacing-medium table--bodied">
    <thead>
        <tr>
            <th>Event</th>
            <th>Time</th>
            <th>Message</th>
            <th></th>
        </tr>
    </thead>

    {% for log in logs %}
        {% if canLoad and log.parameters %}
            <tbody data-log="{{ log.id }}" data-log-loadable="1">
        {% else %}
            <tbody data-log="{{ log.id }}">
        {% endif %}
            <tr class="{{ log.status == 'failure' ? 'event-log--error' : '' }}">
                <td>
                    {% if log.status == 'success' %}
                        {{ macros.status(log.stage|formatEvent, 'success', 'tick') }}

                    {% elseif log.status == 'failure' %}
                        {{ macros.status(log.stage|formatEvent, 'error', 'spam') }}

                    {% else %}
                        {{ macros.status(log.stage|formatEvent, 'info', 'paragraph-justify-2') }}
                    {% endif %}
                </td>
                <td>{{ log.created|html5date }}</td>
                <td>{{ log.message }}</td>

                <td class="tr js-event-logs-loader"></td>
            </tr>
        </tbody>
    {% else %}
        <tbody class="js-empty-row">
            <tr>
                <td colspan="4">No logs found.</td>
            </tr>
        </tbody>
    {% endfor %}
</table>

