{% import 'macros.twig' as macros %}
{% import 'macros.git.twig' as git_macros %}

<table id="js-queue" class="table--spacing-medium">
    <thead>
        <tr>
            <th>Job</th>
            <th>Application</th>
            <th>Environment</th>
            <th>
                <span class="hint--top" aria-label="Version Control reference or commit">VCS</span>
                 / Build
             </th>
            <th class="table-priority-55">Started On</th>
        </tr>
    </thead>
    <tbody>
        {% if pending %}
            {% for job in pending %}
                <tr id="{{ job.type }}-{{ job.id }}">
                    <td>{{ macros.job_status_prefix(job) }}</td>
                    <td><a href="{{ uriFor('application.dashboard', {'application': job.application.id}) }}">{{ job.application.name }}</a></td>

                    <td>
                        {{ job.environment ? job.environment.name : 'Any' }}
                        {%- if job.target -%}
                            → {{ job.target.name }}
                        {%- endif -%}
                    </td>

                    <td>
                        {% if job is build %}
                            {{ git_macros.vcs_ref(application, job) }}
                        {% elseif job is release %}
                            {{ macros.job_status_prefix_link(job.build, false, false) }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>

                    <td class="table-priority-55">
                        {{ job.created|timepoint('h:i:s A')  }}
                        by
                        {{ macros.user_display_link(job.user) }}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr id="js-empty-queue">
                <td colspan="5">
                    {% if history_view %}
                        There is no queue history for this date.
                    {% else %}
                        There are no jobs queued.<br>
                        You do not need to refresh the page. New jobs will be added to the queue as they are started.
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
