{% import 'macros.twig' as macros %}
{% import 'macros.git.twig' as git_macros %}

<table class="table--spacing-medium">
    <thead>
        <tr>
            <th>Build</th>
            <th>Env</th>
            <th>Source Control</th>
            <th class="table-priority-55">Built On</th>
            <th class="t10"></th>
        </tr>
    </thead>
    <tbody>
    {% for build in builds %}
        <tr>
            <td>{{ macros.job_status_prefix(build, true) }}</td>
            <td>{{ build.environment ? build.environment.name : 'Any' }}</td>
            <td>
                {{ git_macros.vcs_ref(build.application, build) }}
                {{ git_macros.vcs_commit(build.application, build) }}
            </td>
            <td class="table-priority-55">
                {{ build.created|html5date }}
                by
                {{ macros.user_display_link(build.user) }}
            </td>

            {# this is a hacky way to let the frontend know if a user can push a build once it is available. #}
            {% set can_deploy_soon = false %}
            {% set can_deploy_now = false %}

            {% if is_pushable %}
                {% if build.status in ['pending', 'running'] %}
                    {% set can_deploy_soon = true %}
                {% elseif build.status in ['success'] %}
                    {% set can_deploy_now = true %}
                {% endif %}
            {% endif %}

            <td class="tr{{ can_deploy_soon ? ' js-build-push' : '' }}">
                {% if can_deploy_now %}
                    <a class="btn btn--tiny" href="{{ uriFor('release.start', {'build': build.id}) }}">Deploy</a>
                {% else %}
                    {{ macros.disabled_button('Deploy', 'tiny') }}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">No builds found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
