{# expected context = events, can_load #}

{% import 'macros.twig' as macros %}

<table class="js-event-logs table--bodied">
    <thead>
        <tr>
            <th>Event</th>
            <th>Time</th>
            <th>Message</th>
            <th></th>
        </tr>
    </thead>

    {% for event in events %}
        {% if can_load and event.parameters %}
            <tbody data-log="{{ event.id }}" data-log-loadable="1">
        {% else %}
            <tbody data-log="{{ event.id }}">
        {% endif %}
            <tr class="{{ event.status == 'failure' ? 'event-log--error' : '' }}">
                <td>
                    {% if event.status == 'success' %}
                        {{ macros.status(event|event_stage, 'success', 'tick') }}

                    {% elseif event.status == 'failure' %}
                        {{ macros.status(event|event_stage, 'error', 'spam') }}

                    {% else %}
                        {{ macros.status(event|event_stage, 'info', 'paragraph-justify-2') }}
                    {% endif %}
                </td>
                <td>{{ event.created|html5date }}</td>
                <td>{{ event.message }}</td>

                <td class="tr js-event-logs-loader"></td>
            </tr>
        </tbody>
    {% else %}
        <tbody class="js-empty-row">
            <tr>
                <td colspan="4">No events found.</td>
            </tr>
        </tbody>
    {% endfor %}
</table>

