{% extends 'base.html.twig' %}
{% import '_partial/pagination.twig' as pagination %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "Build and Push History" %}
{% set paginationblock = pagination.time_pagination(selected_date, 'queue.history') %}

{% block content %}
    <h1>Build and Push History</h1>

    {{ paginationblock }}

    {{ block('queuehistory') }}

    {{ paginationblock }}

{% endblock %}

{% block queuehistory %}
    <table class="table--spacing-medium" data-tablesaw-mode="stack">
        <thead>
            <tr>
                <th>Type</th>
                <th>Application</th>
                <th>Env → Server</th>
                <th>Reference</th>
                <th class="table-priority-55">User</th>
                <th class="table-priority-50">Time</th>
            </tr>
        </thead>
        <tbody>
                {% for job in pending %}
                    <tr>
                        <td>
                            {% set statusType = 'other' %}

                            {% if job.status == 'Success' %}
                                {% set statusType = 'success' %}

                            {% elseif job.status in ['Error', 'Removed'] %}
                                {% set statusType = 'error' %}
                            {% endif %}

                            {% if job is build %}
                                {% set link = '<a href="' ~ urlFor('build', {build: job.id}) ~ '">Build</a>' %}
                            {% else %}
                                {% set link = '<a href="' ~ urlFor('push', {push: job.id}) ~ '">Push</a>' %}
                            {% endif %}

                            {{ macros.status_icon(link, statusType) }}
                        </td>

                        <td>
                            <a href="{{ urlFor('repository.status', {id: job.application.id}) }}">{{ job.application.name }}</a>
                        </td>

                        <td>
                            {% if job is build %}
                                {{ job.environment.name }}
                            {% elseif job.deployment %}
                                {{ job.build.environment.name }} → {{ job.deployment|formatDeploymentServer(true) }}
                            {% else %}
                                {{ job.build.environment.name }} → Unknown
                            {% endif %}
                        </td>

                        <td>
                            {% if job is build %}
                                {{ macros.gitref(job, true) }}
                            {% else %}
                                Build <a href="{{ urlFor('build', {'build': job.build.id}) }}">{{ job.build.id|formatBuildId }}</a>
                            {% endif %}
                        </td>

                        <td class="table-priority-55">
                            {{ job.user ? job.user.handle : 'Unknown' }}
                        </td>

                        <td class="table-priority-50">
                            {{ job.created|timepoint('h:i:s A') }}
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">There is no queue history for this date.</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}
