{% set page_title = "/r/" ~ repo.ShortName %}
{% include 'common/htmltop.twig' %}
{% include 'common/header.twig' %}

<p><a href="/a/{{ repo.Arrangement }}">Repository List</a></p>

<h2>/r/{{ repo.ShortName }}</h2>


<form action="/r/{{ repo.ShortName }}/sync" method="get">
  <table>
    <caption>Deployments for {{repo.ShortName}}</caption>
    <tr>
        <td>Servers</td>
        <td>Environment</td>
        <td>Status</td>
        <td>Branch</td>
        <td>Current Commit</td>
        <td>Last Synced</td>
        <td>Sync?</td>
    </tr>
    {% for deployment in deployments %}
    <tr>
        <td>{{ deployment.HostName }}</td>
        <td>{{ deployment.Environment }}</td>
        <td>{{ deployment.CurStatus }}</td>
        <td>{{ deployment.CurBranch }}</td>
        <td>{{ deployment.CurCommit[:7] }}</td>
        <td>
            {% if deployment.LastPushed == '0000-00-00 00:00:00' %}
                Never
            {% else %}
                {{ deployment.LastPushed|date(timezone="America/Detroit") }}
            {% endif %}
        </td>
        <td><input type="checkbox" name="deps[]" value="{{deployment.DeploymentId}}"</td>
    </tr>
    {% endfor %}
    <tr>
        <td><button type="submit">Sync</button></td>
    </tr>
</table>
</form>
{% include 'common/htmlbottom.twig' %}
