{% extends 'base.twig' %}

{% set page_title = "Sign-In" %}

{% block content %}

    <h1 class="mbn">Hal Deployment System</h1>
    <p>It deploys code to other, less capable machines.</p>

    {% if errors %}
        <ul class="error-list">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ block('dual_page') }}

{% endblock %}

{% block signin_form %}
    <div class="form-wrapper">
        <form action="" method="post">
            <ul class="form-fields">
                <li>
                    <label for="username">Username</label>
                    <input class="text-input" type="text" id="username" name="username" autofocus>
                </li>
                <li>
                    <label for="password">Password</label>
                    <input class="text-input" type="password" id="password" name="password">
                </li>
                <li>
                    <input class="btn" type="submit" value="Sign In" name="submit">
                </li>
            </ul>
        </form>
    </div>
{% endblock %}

{% block dual_page %}
    <div class="flex-box-wrapper">

        <div class="flex-box">
            {{ block('signin_form') }}
        </div>

        <div class="flex-box">
            <h4>Today</h4>
            <ul class="stat-list">
                <li>
                    <strong>{{ stats.active_repos }}</strong> Active project{{ stats.active_repos != 1 ? 's' : '' }}
                </li>
                <li>
                    <strong>{{ stats.builds }}</strong> Build{{ stats.builds != 1 ? 's' : '' }}
                    {% if stats.builds %}
                        <ul class="stat-list">
                            <li>
                                <strong>{{ stats.prod_builds }}</strong> for production
                            </li>
                        </ul>
                    {% endif %}
                </li>
                <li>
                    <strong>{{ stats.pushes }}</strong> Push{{ stats.builds != 1 ? 'es' : '' }}
                    {% if stats.pushes %}
                        <ul class="stat-list">
                            <li>
                                <strong>{{ stats.prod_pushes }}</strong> for production
                            </li>
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
