{% import _self as macros %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">

        <title>
            Style Components
        </title>

        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <header role="banner">
            <div class="hal">
                <div class="wrapper">
                    <a href="/">
                        <div class="hal-eye circular">
                            <div class="ring circular"></div>
                            <div class="oculus circular">
                                <div class="iris circular narrow"></div>
                                <div class="iris circular wide"></div>
                                <div class="highlight alpha"></div>
                                <div class="highlight"></div>
                                <div class="highlight beta"></div>
                            </div>
                        </div>
                    </a>

                    <h1 class="hal-label">
                        <span class="hal-label__name">Hal</span>
                        <span class="hal-label__version">2.9.0</span>
                    </h1>
                </div>
            </div>
            <nav role="navigation">
                <ul class="nav--main mbn">
                    <li>
                        <a href="#"><svg class="icon"><use xlink:href="/icons.svg#browser-2"></use></svg> Example</a>
                    </li>

                    <li>
                        <a href="#"><svg class="icon"><use xlink:href="/icons.svg#browser-2"></use></svg> Example</a>
                    </li>

                    <li>
                        <a href="#"><svg class="icon"><use xlink:href="/icons.svg#browser-2"></use></svg> Example</a>
                    </li>

                    <li>
                        <a href="#"><svg class="icon"><use xlink:href="/icons.svg#browser-2"></use></svg> Example</a>
                    </li>

                    <li>
                        <a href="#"><svg class="icon"><use xlink:href="/icons.svg#browser-2"></use></svg> Example</a>
                    </li>

                    <li>
                        <a href="#"><svg class="icon"><use xlink:href="/icons.svg#browser-2"></use></svg> Example</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main role="main">

            <div class="nav--page">
                <h1>Style Components</h1>

                <p class="nav--page__back">
                    <a class="btn btn--small btn--back" href="{{ uriFor('styleguide.icons') }}">Icons</a>
                </p>
            </div>

            <hr><h2>Headers</h2><hr>
            <section>

                <h1>Header H1 <strong>details</strong></h1>
                <p>For use as page headers</p><hr>

                <h2>Header H2</h2>
                <p>For use as section headers</p><hr>

                <h3>Header H3</h3>
                <p>For use as subsection headers</p><hr>

                <h4>Header H4</h4>
                <p>For use as labels or attributes</p><hr>

                <h5>Header H5</h5>
                <p>????</p><hr>

                <h6>Header h6</h6>
                <p>????</p>
            </section>

            <hr><h2>Buttons</h2><hr>
            <section>

                <p class="mtm mbn">Usage:</p>
                <pre class="mbm">{{ macros.button()|e('html') }}</pre>

                <h3>Types</h3>

                <a href="#" class="btn">btn</a>
                <a href="#" class="btn btn--action">btn--action</a>
                <a href="#" class="btn btn--destructive">btn--destructive</a>
                <a href="#" class="btn btn--secondary">btn--secondary</a>
                <a href="#" class="btn btn--disabled">btn--disabled</a>

                <br><br>
                <a href="#" class="btn btn--selected">btn--selected</a>
                <a href="#" class="btn btn--not-selected">btn--not-selected</a>


                <h3>Sizes</h3>
                <a href="#" class="btn btn--tiny">btn--tiny</a>
                <a href="#" class="btn btn--small">btn--small</a>
                <a href="#" class="btn">btn</a>
                <a href="#" class="btn btn--large">btn--large</a>

                <h3>Button Lists</h3>

                <p class="mtm mbn">Usage:</p>
                <pre class="mbm">{{ macros.button_list()|e('html') }}</pre>

                <ul class="button-list">
                    <li><a href="#" class="btn">btn 1</a></li>
                    <li><a href="#" class="btn">btn 2</a></li>
                    <li><a href="#" class="btn">btn 3</a></li>
                </ul>

                <p class="mtm">Half Size</p>

                <ul class="button-list button-list--half">
                    <li><a href="#" class="btn">btn 1</a></li>
                    <li><a href="#" class="btn">btn 2</a></li>
                </ul>

                <p class="mtm">Fixed Secondary</p>

                <ul class="button-list button-list--half">
                    <li><a href="#" class="btn">btn 1</a></li>
                    <li class="button-list__fixed"><a href="#" class="btn">btn 2</a></li>
                </ul>

            </section>

            <hr><h2>Icons</h2><hr>
            <section>
                <a href="{{ uriFor('styleguide.icons') }}">List of icons</a>

                <p class="mtm mbn">Usage:</p>
                <pre class="mbm">{{ macros.icon()|e('html') }}</pre>

                <svg class="icon"><use xlink:href="/icons.svg#tick"></use></svg>
                <br><svg class="icon"><use xlink:href="/icons.svg#github"></use></svg>
                <br><svg class="icon"><use xlink:href="/icons.svg#squid"></use></svg>
                <br><svg class="icon"><use xlink:href="/icons.svg#rocket"></use></svg>

            </section>

            <hr><h2>Status</h2><hr>
            <section>

                <h3>Blocks</h3>

                <p class="mtm mbn">Usage:</p>
                <pre class="mbm">{{ macros.status_block()|e('html') }}</pre>

                <span class="status-block--info">status-block--info</span><br>
                <span class="status-block--success">status-block--success</span><br>
                <span class="status-block--error">status-block--error</span><br>
                <span class="status-block--notice">status-block--notice</span><br>
                <span class="status-block--warning">status-block--warning</span>

                <h3>Icons</h3>

                <p class="mtm mbn">Usage:</p>
                <pre class="mbm">{{ macros.status_icon()|e('html') }}</pre>

                <span class="status-icon--info">status-icon--info</span><br>
                <span class="status-icon--success">status-icon--success</span><br>
                <span class="status-icon--error">status-icon--error</span><br>
                <span class="status-icon--notice">status-icon--notice</span><br>
                <span class="status-icon--warning">status-icon--warning</span><br>
                <span class="status-icon--thinking">status-icon--thinking</span>

                <h3>Combination</h3>

                <span class="status-block--error">
                    <span class="status-icon--info">inner icon</span>
                </span>

                <br><span class="status-block--info status-icon--thinking">
                    block and icon
                </span>

                <br><span class="status-block--error">
                    <svg class="icon"><use xlink:href="/icons.svg#spam-2"></use></svg> status-block--error with icon
                </span>

            </section>

            <hr><h2>Alerts</h2><hr>
            <section>

                <p class="mtm mbn">Usage:</p>
                <pre class="mbm">{{ macros.alert_bar()|e('html') }}</pre>

                <div class="alert-bar">
                    <h4>alert-bar</h4>
                </div>

                <div class="alert-bar--error">
                    <h4>alert-bar--error</h4>
                </div>

                <div class="alert-bar--warning">
                    <div class="alert-bar-icon">
                        <svg class="icon"><use xlink:href="/icons.svg#spam-2"></use></svg>
                    </div>
                    <div class="alert-bar-contents">
                        <h4>alert-bar--warning</h4>
                    </div>
                </div>

                <div class="alert-bar--success">
                    <div class="alert-bar-icon">
                        <svg class="icon"><use xlink:href="/icons.svg#tick-2"></use></svg>
                    </div>
                    <div class="alert-bar-contents">
                        <h4>alert-bar--success</h4>
                    </div>
                </div>
                <div class="alert-bar">
                    <div class="alert-bar-icon">
                        <svg class="icon"><use xlink:href="/icons.svg#info"></use></svg>
                    </div>
                    <div class="alert-bar-contents">
                        <h4>alert-bar</h4>
                    </div>
                </div>

                <div class="alert-bar">
                    <h4>alert-bar</h4>
                    <p>
                        Additional details. lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                    </p>
                </div>

                <div class="alert-bar--error">
                    <div class="alert-bar-icon">
                        <svg class="icon"><use xlink:href="/icons.svg#cross-2"></use></svg>
                    </div>
                    <div class="alert-bar-contents">
                        <h4>alert-bar--error</h4>
                        <pre>This is inside a preformatted block.</pre>
                    </div>
                </div>

                <div class="alert-bar--warning">
                    <div class="alert-bar-icon">
                        <svg class="icon"><use xlink:href="/icons.svg#warning"></use></svg>
                    </div>
                    <div class="alert-bar-contents">
                        <h4>alert-bar--warning</h4>
                        <p>Alert with icon and details</p>
                    </div>
                </div>

            </section>

            <hr><h2>Lists</h2><hr>
            <section>

                <h3>No style</h3>
                <ul>
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                </ul>

                <h3><code>list--bare</code></h3>
                <ul class="list--bare">
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                </ul>

                <h3><code>list--bullet</code></h3>
                <ul class="list--bullet">
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                </ul>

                <h3>inline</h3>

                <code>inline-list</code>:
                <ul class="inline-list">
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                </ul>

                <br>
                <code>inline-list--comma</code>:
                <ul class="inline-list--comma">
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                </ul>

                <br>
                <code>inline-list--space</code>:
                <ul class="inline-list--space">
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                </ul>

                <h3><code>stat-list</code></h3>
                <h3>stats</h3>
                <ul class="stat-list">
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                </ul>

                <h3><code>code-list</code></h3>
                <ul class="code-list">
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                </ul>

                <h3>Legend</h3>

                <p class="mtm mbn">Usage:</p>
                <pre class="mbm">{{ macros.list_legend()|e('html') }}</pre>

                <ul>
                    <li class="list--legend"><b>Title_1</b><p>The second element is kept to the right of the title, regardless if it spans multiple lines</p></li>
                    <li class="list--legend"><b>Title_2</b><p>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p></li>
                    <li class="list--legend">item 3</li>
                </ul>
            </section>

        </main>

        <script src="/js/vendor.bundle.js?v={{ buster }}"></script>
        <script src="/js/app.js?v={{ buster }}"></script>
    </body>
</html>

{% macro button() %}
<a href="#" class="btn btn--action btn--small">Button text</a>
{% endmacro %}

{% macro button_list() %}
<ul class="button-list">
    <li><a href="#" class="btn">btn 1</a></li>
    <li><a href="#" class="btn">btn 2</a></li>
    <li><a href="#" class="btn">btn 3</a></li>
</ul>
{% endmacro %}

{% macro icon() %}
<svg class="icon"><use xlink:href="/icons.svg#branch"></use></svg>
{% endmacro %}

{% macro status_block() %}
<span class="status-block--info">text</span>
{% endmacro %}

{% macro status_icon() %}
<span class="status-icon--info">text</span>
{% endmacro %}

{% macro alert_bar() %}
<div class="alert-bar">
    <h4>Alert subject</h4>
    <p>
        Additional details
    </p>
</div>

<div class="alert-bar">
    <div class="alert-bar-icon">
        <svg class="icon"><use xlink:href="/icons.svg#icon-for-alert"></use></svg>
    </div>
    <div class="alert-bar-contents">
        <h4>Alert subject</h4>
    </div>
</div>
{% endmacro %}

{% macro list_legend() %}
<ul>
    <li class="list--legend"><b>Title_1</b><p>decription 1</p></li>
    <li class="list--legend"><b>Title_2</b><p>decription 2</p></li>
    <li class="list--legend">item 3</li>
</ul>
{% endmacro %}
