{#
Needs the following parameters:
- servers_by_env
- form.server
- form.path
- form.url
- application
- rsync_only

#}
<form method="post" action="{{ uriFor('target.add', {application: application.id}) }}">
    <ul class="form-fields">
        <li>
            <label for="server">
                Server
            </label>
            <select class="select-input" name="server" id="server" required>
                <option></option>
                {% for environment, servers in servers_by_env %}
                    <optgroup label="{{ environment }}">
                        {% for server in servers if not rsync_only or server.type == 'rsync' %}
                            {% set isSelected = (server.id == form.server) %}
                            <option value="{{ server.id }}"{{ isSelected ? ' selected' : '' }}>{{ server.formatPretty }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
            <small class="additional">
                Server not listed? <a href="{{ uriFor('server.add') }}">Add a new server</a>
                {% if rsync_only %}
                    <br>Need non-rsync servers? <a href="{{ uriFor('target.add', {'application': application.id}) }}">Full add deployment form</a>
                {% endif %}
            </small>
        </li>

        {% if not rsync_only %}
            <li>
                <label for="name">Name</label>
                <input class="text-input" type="text" name="name" id="name" maxlength="80" value="{{ form.name }}" pattern="^[^\n\t]+">
                <small class="additional">
                    Optionally, give a deployment a unique name for easy reference or to avoid confusion with multiple deployments to the same server.
                </small>
            </li>
        {% endif %}

        {#
            RSYNC
        #}
        <li>
            <label for="path">
                File path
                {% if not rsync_only %}
                    <small class="additional">
                        <strong>Rsync servers only</strong><br>
                    </small>
                {% endif %}
            </label>
            <input class="text-input" type="text" name="path" id="path" maxlength="200" value="{{ form.path }}" pattern="^\/[^\n\t]+">
            <small class="additional">
                The absolute path to the file directory on the server.
                Paths must begin with a forward slash (/).
            </small>
        </li>

        {% if not rsync_only %}

            {#
                Script
            #}
            <li>
                <label for="script_context">
                    Script Context
                    <small class="additional">
                        <strong>Script servers only</strong><br>
                    </small>
                </label>
                <input class="text-input" type="text" name="script_context" id="script_context" maxlength="100" value="{{ form.script_context }}" pattern="^[^\n\t]+">
                <small class="additional">
                    Optionally, pass context text or data to your deploy script in your <code>.hal9000.yml</code> configuration. <b>Do not use this for secrets!</b>
                </small>
            </li>

            {#
                CodeDeploy
            #}
            <li>
                <label for="cd_name">
                    CodeDeploy Application Name
                    <small class="additional">
                        <strong>CD servers only</strong>
                    </small>
                </label>
                <input class="text-input" type="text" name="cd_name" id="cd_name" maxlength="100" value="{{ form.cd_name }}" pattern="^[^\n\t]+">
            </li>

            <li>
                <label for="cd_group">
                    CodeDeploy Deployment Group
                    <small class="additional">
                        <strong>CD servers only</strong>
                    </small>
                </label>
                <input class="text-input" type="text" name="cd_group" id="cd_group" maxlength="100" value="{{ form.cd_group }}" pattern="^[^\n\t]+">
            </li>

            <li>
                <label for="cd_config">
                    CodeDeploy Configuration
                    <small class="additional">
                        <strong>CD servers only</strong>
                    </small>
                </label>
                <input class="text-input" type="text" name="cd_config" id="cd_config" maxlength="100" value="{{ form.cd_config }}" pattern="^[^\n\t]+">
            </li>


            {#
                Elastic Beanstalk
            #}
            <li>
                <label for="eb_name">
                    Elastic Beanstalk Application Name
                    <small class="additional">
                        <strong>EB servers only</strong>
                    </small>
                </label>
                <input class="text-input" type="text" name="eb_name" id="eb_name" maxlength="100" value="{{ form.eb_name }}" pattern="^[^\n\t]+">
            </li>

            <li>
                <label for="eb_environment">
                    Elastic Beanstalk Environment ID
                    <small class="additional">
                        <strong>EB servers only</strong>
                    </small>
                </label>
                <input class="text-input" type="text" name="eb_environment" id="eb_environment" maxlength="100" value="{{ form.eb_environment }}" pattern="^[^\n\t]+">
            </li>

            {#
                S3
            #}
            <li>
                <label for="s3_bucket">
                    S3 Bucket
                    <small class="additional">
                        <strong>S3, CD and EB servers only</strong>
                    </small>
                </label>
                <input class="text-input" type="text" name="s3_bucket" id="s3_bucket" maxlength="100" value="{{ form.s3_bucket }}" pattern="^[^\n\t]+">
            </li>

            <li>
                <label for="s3_file">
                    S3 File
                    <small class="additional">
                        <strong>S3, CD and EB servers only</strong>
                    </small>
                </label>
                <input class="text-input" type="text" name="s3_file" id="s3_file" maxlength="100" value="{{ form.s3_file }}" pattern="^[^\n\t]+">
                <small class="additional">
                    Available placeholders:
                    <ul class="inline-list--comma">
                        <li><code>$APPID</code></li>
                        <li><code>$APPNAME</code></li>
                        <li><code>$BUILDID</code></li>
                        <li><code>$PUSHID</code></li>
                        <li><code>$DATE</code> (YYYYMMDD)</li>
                        <li><code>$TIME</code> (HHMMSS)</li>
                    </ul>
                    <br>Leave blank to use <code>$PUSHID.tar.gz</code> (S3) or <code>$APPID/$PUSHID.(zip|tar.gz)</code> (EB, CD).
                </small>
            </li>
        {% endif %}

        <li>
            <label for="url">URL</label>
            <input class="text-input" type="url" name="url" id="url" maxlength="200" value="{{ form.url }}">
            <small class="additional">Add a URL to help users find where the code is deployed.</small>
        </li>
    </ul>

    <ul class="button-list">
        <li><input class="btn btn--action" type="submit" value="Add Deployment"></li>
        <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ uriFor('targets', {'application': application.id}) }}">Cancel</a></li>
    </ul>

</form>
