{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Deployment Targets' %}

{% set can_edit = current_authorizations.isSuper() or current_authorizations.isOwnerOf(application) %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('applications') }}">Applications</a></li>
    <li><a href="{{ uriFor('application', {'application': application.id}) }}">{{ application.name }}</a></li>
{% endblock %}

{% block content %}
    <ul class="meta-box">
        <li>
            <h6>Application</h6>
            {{ application.name }}
        </li>
    </ul>

    <p>
        Deployment Targets are used to specify configuration for the enviromments your application needs when
        it is deployed. For example - with <b>AWS-based</b> deployments this allows you to configure
        which credentials and region to deploy to.

        <br><br>
        Multiple targets can be specified for a single environment to support many configurations within
        a single environment (such as multiple regions, servers, or canary/blue/green environments).
    </p>

    {% if sorted_targets %}
        <table>
            <thead>
                <tr>
                    <th class="t15">ID</th>
                    <th class="t15">Type</th>
                    <th class="t40">Name</th>
                    <th>Parameters</th>
                </tr>
            </thead>

            {% for sorted in sorted_targets %}
                {% set environment = sorted.environment %}
                {% set targets = sorted.targets %}

                <tbody>
                    <tr>
                        <th colspan="4" class="table-mid-header">
                            <a href="{{ uriFor('environment', {'environment': environment.id}) }}">{{ environment.name }}</a>
                            <a href="{{ uriFor('target.add', {'application': application.id}, {'environment': environment.id}) }}" style="float: right" >Add More Targets</a>
                        </th>
                    </tr>

                    {% for target in targets %}
                        <tr>
                            <td>
                                <a href="{{ uriFor('target', {'application': application.id, 'target': target.id}) }}">{{ target.id|short_guid }}</a>
                            </td>
                            <td>
                                {% if target.isAWS() and not target.credential -%}
                                    <span class="hint--right" aria-label="No credentials are assigned.">{{ macros.status_icon('', 'error') }}</span>
                                {%- endif %}
                                {{ target.formatType() }}
                            </td>
                            <td>{{ target.name }}</td>
                            <td>
                                {% if target.type == 'rsync' %}
                                    Path: <code>{{ target.formatParameters() }}</code>

                                {% elseif target.type == 'eb' %}
                                    Beanstalk Environment: <code>{{ target.formatParameters() }}</code>

                                {% elseif target.type == 's3' %}
                                    Bucket/Object: <code>{{ target.formatParameters() }}</code>

                                {% elseif target.type == 'cd' %}
                                    CodeDeploy Group: <code>{{ target.formatParameters() }}</code>

                                {% elseif target.type == 'script' %}
                                    Context: <code>{{ target.formatParameters() }}</code>

                                {% endif %}
                            </td>
                        <tr>
                    {% endfor %}
                </tbody>
            {% endfor %}
        </table>
    {% else %}

        <p>There are no deployment targets for this application.</p>

    {% endif %}

    <p>
        {% if can_edit %}
            <a class="btn" href="{{ uriFor('target.add', {'application': application.id}) }}">Add Deployment Target</a>
        {% else %}
            {{ macros.disabled_button('Add Deployment Target') }}
        {% endif %}
    </p>

{% endblock %}
