{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set js_components = ["deployment.add"] %}

{% set page_title = 'Targets : ' ~ application.name %}

{% block content %}
    <div class="nav--page">
        <h1>Deployment Targets - <b>{{ application.name }}</b></h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('application', {'application': application.id}) }}">Back to Application</a>
        </p>
    </div>

    <p>
        Deployment targets define what servers your application can be deployed to and where on that server the code will be uploaded.
    </p>

    {% set canEdit = isUserAdminOrSuper(current_user) or isUserLeadOf(current_user, application) %}

    {% if targets_by_env %}

        {% for name, targets in targets_by_env %}

            {% set environment = environments[name] %}

            <h2 class="mbn">{{ name }}</h2>
            <p>
                <a href="{{ uriFor('target_views', {'application': application.id, 'environment': environment.id}) }}">Manage deployment pools</a>
            </p>

            <table class="table--spacing-medium table--striped" data-tablesaw-mode="stack">
                <thead>
                    <tr>
                        <th class="t15">Name</th>
                        <th class="t40">Details</th>
                        <th>URL</th>
                        <th class="t10"></th>
                    </tr>
                </thead>
                <tbody class="js-add-deployment--{{ environment.name }}">
                    {% for target in targets %}

                        <tr>
                            <td>
                                {% if deployment.server.isAWS() and not target.credential %}
                                    <span class="hint--right" aria-label="No credentials are assigned.">{{ macros.status_icon('', 'error') }}</span>
                                {% endif %}
                                {{ target.formatPretty }}
                            </td>
                            <td>
                                {% if target.server.type == 'eb' %}

                                    Application: <code class="code_clear">{{ target.ebName }}</code>
                                    <br>Environment: <code class="code_clear">{{ target.ebEnvironment }}</code>

                                {% elseif target.server.type == 'cd' %}

                                    Application: <code class="code_clear">{{ target.cdName }}</code>
                                    <br>Group: <code class="code_clear">{{ target.cdGroup }}</code>
                                    <br>Config: <code class="code_clear">{{ target.cdConfiguration }}</code>

                                {% elseif target.server.type == 's3' %}

                                    Bucket: <code class="code_clear">{{ target.s3bucket }}</code>
                                    <br>File: <code class="code_clear">{{ target.s3file }}</code>

                                {% elseif target.server.type == 'script' %}

                                    Context: <code class="code_clear">{{ target.scriptContext ?: 'N/A' }}</code>

                                {% elseif target.server.type == 'rsync' %}

                                    Path: <code class="code_clear">{{ target.path }}</code>

                                {% else %}
                                    <code class="code_clear">{{ target.formatMeta }}</code>
                                {% endif %}

                            </td>
                            <td>
                                {% if target.url %}
                                    <a href="{{ target.url }}">{{ target.url }}</a>
                                {% endif %}
                            </td>
                            <td class="tr">
                                <a class="btn btn--tiny" href="{{ uriFor('target', {'application': target.application.id, 'target': target.id}) }}">View</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="js-add-deployment__empty">
                            <td colspan="4">No targets found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endfor %}

        {% if canEdit %}

            <div class="form-wrapper js-add-deployment__form">
                <h2>Add On-premise Linux Target</h2>

                {% include 'target/_form.add-target.twig' with {'servers_by_env': servers_by_env, 'form': {}, 'application': application, rsync_only: true} %}
            </div>

            <div class="js-add-deployment__button">
                {# primary action #}
                <a class="btn" href="{{ uriFor('target.add', {'application': application.id}) }}">Add Target</a>
            </div>
        {% endif %}

    {% else %}
        <p>
            There are no environments.
            {% if isUserSuper(current_user) %}
                <br><a href="{{ uriFor('environment.add') }}">Add an environment</a>
            {% endif %}
        </p>
    {% endif %}

{% endblock %}
