{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = 'Targets : ' ~ application.name %}

{% block content %}
    <div class="nav--page">
        <h1>Deployment Targets - <b>{{ application.name }}</b></h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('application', {'application': application.id}) }}">Manage Application</a>
            <a class="btn btn--small btn--back" href="{{ uriFor('application.dashboard', {'application': application.id}) }}">Application Dashboard</a>
        </p>
    </div>

    <p>
        Deployment targets define what groups your application can be deployed to and where on a server the code will be uploaded.
    </p>

    {% set canEdit = current_authorizations.isSuper() or current_authorizations.isAdminOf(application) %}

    {% if targets_by_env %}

        {% for name, targets in targets_by_env %}

            {% set environment = environments[name] %}
            {% if targets %}

                <h2 class="mbn">{{ name }}</h2>
                <table class="table--spacing-medium table--striped">
                    <thead>
                        <tr>
                            <th class="t15">Name</th>
                            <th class="t40">Details</th>
                            <th>URL</th>
                            <th class="t10"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for target in targets %}

                            <tr>
                                <td>
                                    {% if target.group().isAWS() and not target.credential() %}
                                        <span class="hint--right" aria-label="No credentials are assigned.">{{ macros.status_icon('', 'error') }}</span>
                                    {% endif %}
                                    {{ target.format(false) }}
                                </td>
                                <td>
                                    {% if target.group.type == 'eb' %}

                                        Application: <code>{{ target.parameter(constant('PARAM_APP', target)) }}</code>
                                        <br>Environment: <code>{{ target.parameter(constant('PARAM_ENV', target)) }}</code>

                                    {% elseif target.group.type == 'cd' %}

                                        Application: <code>{{ target.parameter(constant('PARAM_APP', target)) }}</code>
                                        <br>Group: <code>{{ target.parameter(constant('PARAM_GROUP', target)) }}</code>
                                        <br>Config: <code>{{ target.parameter(constant('PARAM_CONFIG', target)) }}</code>

                                    {% elseif target.group.type == 's3' %}

                                        Bucket: <code>{{ target.parameter(constant('PARAM_BUCKET', target)) }}</code>
                                        <br>File: <code>{{ target.parameter(constant('PARAM_SOURCE', target)) }}</code>

                                    {% elseif target.group.type == 'script' %}

                                        Context: <code>{{ target.parameter(constant('PARAM_CONTEXT', target)) ?: 'N/A' }}</code>

                                    {% elseif target.group.type == 'rsync' %}

                                        Path: <code>{{ target.parameter(constant('PARAM_PATH', target)) }}</code>

                                    {% else %}
                                        <code>{{ target.format(false) }}</code>
                                    {% endif %}

                                </td>
                                <td>
                                    {% if target.url %}
                                        <a href="{{ target.url }}">{{ target.url }}</a>
                                    {% endif %}
                                </td>
                                <td class="tr">
                                    <a class="btn btn--tiny" href="{{ uriFor('target', {'application': target.application.id, 'target': target.id}) }}">View</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">No targets found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% endif %}
        {% endfor %}

    {% else %}

        <p>There are no deployment targets for this application.</p>

    {% endif %}

    {% if canEdit %}

        <div class="mvl">
            <a class="btn" href="{{ uriFor('target.add', {'application': application.id}) }}">Add Deployment Target</a>
        </div>

    {% endif %}

{% endblock %}
