{% extends 'base.twig' %}
{% import 'macros.form.twig' as form_macros %}

{% set page_title = 'Edit Target : ' ~ application.name %}

{% block content %}
    <h1>Edit Target - <b>{{ application.name }}</b></h1>

    <div class="details-box">
        <ul>
            <li>
                <h6>Application</h6>
                <a href="{{ uriFor('application', {'application': application.id}) }}">{{ application.name }}</a>
            </li>

            <li>
                <h6>Group</h6>
                <a href="{{ uriFor('group', {'group': target.group.id}) }}">{{ target.group.format }}</a>
            </li>

            <li>
                <h6>Environment</h6>
                {{ target.group.environment.name }}
            </li>
        </ul>
    </div>

    <h4>Type</h4>
    <p>{{ target.group.formatHumanType }}</p>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form method="post">
            <ul class="form-fields">

                <li>
                    <label for="name">Name</label>
                    <input class="text-input" type="text" name="name" id="name" maxlength="80" value="{{ form.name }}" pattern="^[^\n\t]+">
                    <small class="additional">
                        Optionally, give a deployment a unique name for easy reference or to avoid confusion with multiple deployments to the same group.
                    </small>
                </li>

                <li>
                    <label for="url">URL</label>
                    <input class="text-input" type="url" name="url" id="url" maxlength="200" value="{{ form.url }}">
                    <small class="additional">Add a URL to help users find where the code is deployed.</small>
                </li>

                {#
                    RSYNC
                #}
                <li>
                    {% set isDisabled = (target.group.type == 'rsync') ? '' : ' disabled' %}
                    <label for="path">
                        File path
                        <small class="additional">
                            <b>Rsync groups only</b><br>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="path" id="path" maxlength="200" value="{{ form.path }}" pattern="^\/[^\n\t]+"{{ isDisabled }}>
                    <small class="additional">
                        The absolute path to the file directory on the group.
                        Paths must begin with a forward slash (/).
                    </small>
                </li>

                {#
                    Script
                #}
                <li>
                    <label for="script_context">
                        Script Context
                    </label>
                    <input class="text-input" type="text" name="script_context" id="script_context" maxlength="100" value="{{ form.script_context }}" pattern="^[^\n\t]+">
                    <small class="additional">
                        Optionally, pass extra context text or data to your scripts and commands in your <code>.hal9000.yml</code> configuration.
                        <b>Do not use this for secrets!</b>
                    </small>
                </li>

                {#
                    CodeDeploy
                #}
                <li>
                    {% set isDisabled = (target.group.type == 'cd') ? '' : ' disabled' %}
                    <label for="cd_name">
                        CodeDeploy Application Name
                        <small class="additional">
                            <b>CD groups only</b>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="cd_name" id="cd_name" maxlength="100" value="{{ form.cd_name }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                </li>

                <li>
                    {% set isDisabled = (target.group.type == 'cd') ? '' : ' disabled' %}
                    <label for="cd_group">
                        CodeDeploy Deployment Group
                        <small class="additional">
                            <b>CD groups only</b>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="cd_group" id="cd_group" maxlength="100" value="{{ form.cd_group }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                </li>

                <li>
                    {% set isDisabled = (target.group.type == 'cd') ? '' : ' disabled' %}
                    <label for="cd_config">
                        CodeDeploy Configuration
                        <small class="additional">
                            <b>CD groups only</b>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="cd_config" id="cd_config" maxlength="100" value="{{ form.cd_config }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                </li>

                {#
                    Elastic Beanstalk
                #}
                <li>
                    {% set isDisabled = (target.group.type == 'eb') ? '' : ' disabled' %}
                    <label for="eb_name">
                        Elastic Beanstalk Application Name
                        <small class="additional">
                            <b>EB groups only</b>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="eb_name" id="eb_name" maxlength="100" value="{{ form.eb_name }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                </li>

                <li>
                    {% set isDisabled = (target.group.type == 'eb') ? '' : ' disabled' %}
                    <label for="eb_environment">
                        Elastic Beanstalk Environment Name or ID
                        <small class="additional">
                            <b>EB groups only</b>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="eb_environment" id="eb_environment" maxlength="100" value="{{ form.eb_environment }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                </li>

                {#
                    S3
                #}
                {% set isDisabled = (target.group.type in ['s3', 'eb', 'cd']) ? '' : ' disabled' %}
                <li>
                    <label for="s3_bucket">
                        S3 Bucket
                        <small class="additional">
                            <b>S3, CD and EB groups only</b>
                        </small>
                    </label>
                    <input class="text-input" type="text" name="s3_bucket" id="s3_bucket" maxlength="100" value="{{ form.s3_bucket }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                </li>

                {% set isDisabled = (target.group.type == 's3') ? '' : ' disabled' %}
                <li data-type-specific data-s3 data-eb data-cd>
                    <label for="s3_method">
                        S3 Method
                    </label>
                    <select class="select-input" name="s3_method" id="s3_method"{{ isDisabled }}>
                        {% for method in s3_methods %}
                            {% set isSelected = (method == form.s3_method) %}
                            <option value="{{ method }}"{{ isSelected ? ' selected' : '' }}>{{ method }}</option>
                        {% endfor %}
                    </select>
                </li>

                {% set isDisabled = (target.group.type in ['s3', 'eb', 'cd']) ? '' : ' disabled' %}
                <li data-type-specific data-s3 data-eb data-cd>
                    <label for="s3_local_path">
                        S3 Local Path
                    </label>
                    <input class="text-input" type="text" name="s3_local_path" id="s3_local_path" maxlength="100" value="{{ form.s3_local_path }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                    <small>
                        <br>Leave blank to use <code>.</code>.
                    </small>
                </li>

            <li data-type-specific data-s3 data-eb data-cd>
                <label for="s3_remote_path">
                    S3 Remote Path
                </label>
                <input class="text-input" type="text" name="s3_remote_path" id="s3_remote_path" maxlength="100" value="{{ form.s3_remote_path }}" pattern="^[^\n\t]+"{{ isDisabled }}>
                <small class="additional">
                    Available placeholders:
                    <ul class="inline-list--comma">
                        <li><code>$APPID</code></li>
                        <li><code>$APPNAME</code></li>
                        <li><code>$BUILDID</code></li>
                        <li><code>$PUSHID</code></li>
                        <li><code>$DATE</code> (YYYYMMDD)</li>
                        <li><code>$TIME</code> (HHMMSS)</li>
                    </ul>
                    <br>Leave blank to use <code>$PUSHID.tar.gz</code> (S3) or <code>$APPID/$PUSHID.(zip|tar.gz)</code> (EB, CD).
                </small>
            </li>

                {#
                    S3, EB, CD
                #}
                <li>
                    <label for="credential">Credentials</label>
                    <select class="select-input" name="credential" id="credential">
                        <option></option>
                        {% for credential in credentials %}
                            {% set isSelected = (credential.id == form.credential) %}

                            {% if credential.type == 'aws' %}
                                {% set type = 'AWS' %}
                            {% else %}
                                {% set type = 'Private Key' %}
                            {% endif %}

                            <option value="{{ credential.id }}"{{ isSelected ? ' selected' : '' }}>{{ credential.name }} ({{ type }})</option>
                        {% endfor %}
                    </select>
                    <small class="additional">
                        Credentials must be assigned for AWS-based deployments.
                    </small>
                </li>

            </ul>

            <ul>
                <li><input class="btn btn--action" type="submit" value="Save Changes"></li>
                <li><a class="btn" href="{{ uriFor('target', {'application': application.id, 'target': target.id}) }}">Cancel</a></li>
            </ul>
        </form>
    </div>

{% endblock %}
