{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Deployment Targets' %}

{% set can_edit = current_authorizations.isSuper() or current_authorizations.isOwnerOf(application) %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }}</h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('application', {'application': application.id}) }}">Back to Application</a>
        </p>
    </div>

    <ul class="meta-box">
        <li>
            <h6>Application</h6>
            {{ application.name }}
        </li>
    </ul>

    <p>
        Deployment Targets are used to specify configuration for the enviromments your application needs when
        it is deployed. For example - with <b>AWS-based</b> deployments this allows you to configure
        which credentials and region to deploy to.

        <br><br>
        Multiple targets can be specified for a single environment to support many configurations within
        a single environment (such as multiple regions, servers, or canary/blue/green environments).
    </p>

    {% if targets_by_env %}

        <table class="table--spacing-medium">
            <thead>
                <tr>
                    <th class="t40">Name</th>
                    <th>Parameters</th>
                    <th class="t10"></th>
                </tr>
            </thead>

            {% for name, targets in targets_by_env %}
                {% set environment = environments[name] %}
                {% if targets %}
                    <tbody>
                        <tr>
                            <th colspan="3" class="table-mid-header" id="env-{{ environment.id }}">
                                <a href="{{ uriFor('environment', {'environment': environment.id}) }}">{{ environment.name }}</a>
                            </th>
                        </tr>

                        {% for target in targets %}
                            <tr>
                                <td>
                                    {% if target.group.isAWS() and not target.credential -%}
                                        <span class="hint--right" aria-label="No credentials are assigned.">{{ macros.status_icon('', 'error') }}</span>
                                    {%- endif %}
                                    {{ target.format(false) }}
                                </td>
                                <td>
                                    {{ target.group.format(true) }}: {{ target.formatParameters() }}
                                </td>
                                <td>
                                    <a href="{{ uriFor('target', {'application': target.application.id, 'target': target.id}) }}">Manage</a>
                                </td>
                            <tr>
                        {% endfor %}
                    </tbody>
                {% endif %}

            {% endfor %}
        </table>
    {% else %}

        <p>There are no deployment targets for this application.</p>

    {% endif %}

    <ul class="list--bare">
        <li>
            {% if can_edit %}
                <a class="btn" href="{{ uriFor('target.add', {'application': application.id}) }}">Add Deployment Target</a>
            {% else %}
                {{ macros.disabled_button('Add Deployment Target') }}
            {% endif %}
        </li>
    </ul>

{% endblock %}
