{% import "partials/form/macros.twig" as form_macros %}

{% set missing_schema = missing_schema|default({}) %}
{% set form = form|default({}) %}

<div class="form-wrapper">
    {{ form_macros.formErrors(errors) }}

    <form id="kraken__add-property" method="post">
        <ul class="form-fields">

            {% block form_add_property %}
                <li>
                    <label for="config-prop">Property</label>
                    <select class="select-input" name="prop" id="config-prop" required>
                        <option></option>
                        {% for schema in missing_schema %}
                            {% set isSelected = (schema.id == form.prop) %}

                            <option value="{{ schema.id }}" data-type="{{ schema.dataType }}" {{ isSelected ? ' selected' : '' }}>
                                {{ schema.key }}
                            </option>
                        {% endfor %}
                    </select>
                </li>

                {% for schema in missing_schema %}
                    {% if schema.description %}
                        <li class="config-description" data-schema="{{ schema.id }}">
                            <strong>Description</strong>
                            <p>{{ schema.description }}</p>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endblock %}

            {# default free text for js-less clients #}
            <li>
                <label for="config-value">Value</label>
                <input type="text" name="value" id="config-value" value="{{ form.value }}" class="text-input" autocomplete="off">
            </li>

            {# ENHANCE! #}
            <li id="kraken__explicit-values">
                <ul class="form-fields">
                    <li>
                        <label for="config-string">{{ 'string'|formatSchemaType }}</label>
                        {% if form.use_xl_string %}
                            <textarea name="value_string" id="config-string" class="text-input" rows="4">{{ form.value_string }}</textarea>
                            <input type="hidden" name="value_string_xl" value="1">
                        {% else %}
                            <input type="text" name="value_string" id="config-string" value="{{ form.value_string }}" class="text-input" autocomplete="off">
                        {% endif %}
                    </li>

                    <li>
                        <label for="config-strings">{{ 'strings'|formatSchemaType }}</label>
                        <p class="config-strings-container">
                            <input type="text" name="value_strings[]" id="config-strings" value="{{ form.value_strings[0] }}" class="text-input" autocomplete="off">
                        </p>
                        {% for value in form.value_strings|slice(1) %}
                            <p class="config-strings-container">
                                <input type="text" name="value_strings[]" value="{{ value }}" class="text-input" autocomplete="off">
                            </p>
                        {% endfor %}
                    </li>

                    <li>
                        <label for="config-bool">{{ 'bool'|formatSchemaType }}</label>
                        <select class="select-input" name="value_bool" id="config-bool">
                            <option></option>

                            {% set isSelected = form.value_bool is same as('true') ? true : false %}
                            <option value="true"{{ isSelected ? ' selected' : '' }}>true</option>

                            {% set isSelected = form.value_bool is same as('false') ? true : false %}
                            <option value="false"{{ isSelected ? ' selected' : '' }}>false</option>
                        </select>
                    </li>
                   <li>
                        <label for="config-int">{{ 'int'|formatSchemaType }}</label>
                        <input type="number" name="value_int" id="config-int" value="{{ form.value_int }}" class="text-input" autocomplete="off" step="1">
                    </li>
                   <li>
                        <label for="config-float">{{ 'float'|formatSchemaType }}</label>
                        <input type="number" name="value_float" id="config-float" value="{{ form.value_float }}" class="text-input" autocomplete="off" step="any">
                    </li>
                </ul>
            </li>
        </ul>

        {% block form_add_property_buttons %}
            <ul class="button-list">
                <li><input class="btn btn--action" type="submit" value="Add Property"></li>
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('kraken.configuration.latest', {application: application.id, environment: environment.id}) }}">Cancel</a></li>
            </ul>
        {% endblock %}

    </form>
</div>
