{% extends 'base.html.twig' %}

{% set page_title = repo.key %}

{% block content %}
    <p><a class="btn--small btn--back" href="{{ urlFor('repository.status', {'id': repo.id}) }}">Back to Repository Status</a></p>

    <h2>Available {{ repo.key }} Rollbacks for {{ server.name }}</h2>

    <p>
        This table shows all builds that have been successfully pushed to this server and that are still available for rollback to.
        To rollback, simply choose a build, click 'rollback', and you'll be able to initate a new push.
    </p>

    <div class="overflow-container">
        <table>
            <thead>
                <th>Build</th>
                <th>Reference</th>
                <th>Commit</th>
                <th>Pushed</th>
                <th>Initiator</th>
                <th></th>
            </thead>
            <tbody>
                {% for push in pushes %}
                <tr>
                    <td><a href="{{ urlFor('build', {'build': push.build.id}) }}">{{ push.build.id|formatBuildId }}</a></td>
                    <td>
                        <a href="{{ githubReference(push.build.repository.githubUser, push.build.repository.githubRepo, push.build.branch) }}">{{ push.build.branch|gitref }}</a>
                        <svg viewBox="0 0 32 32" class="icon">
                            <use xlink:href="#fork"></use>
                        </svg>
                    </td>
                    <td>
                        <a href="{{ githubCommit(push.build.repository.githubUser, push.build.repository.githubRepo, push.build.commit) }}">{{ push.build.commit|commit }}</a>
                        <span class="icon">
                            <svg viewBox="0 0 32 32">
                                <use xlink:href="#github"></use>
                            </svg>
                        </span>
                    </td>
                    <td>{{ push.end|reldate }} (Push <a href="{{ urlFor('push', {'push': push.id}) }}">{{ push.id|formatPushId }}</a>)</td>
                    <td>
                        {% if push.user %}
                            <a href="{{ urlFor('user', {'id': push.user.id}) }}">{{ push.user.name[:20] }}</a>
                        {% elseif push.consumer %}
                            {{ push.consumer.name[:20] }}
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                    <td>
                        {% if push.build.status == 'Success'%}
                            {% if push.deployment and canUserPush(currentUser, repo.key, push.build.server.environment.key) %}
                                <a href="{{ urlFor('push.start', {'repo': repo.key, 'build': push.build.id}, {deployment: push.deployment.id}) }}">Rollback</a>
                            {% endif %}
                        {% elseif push.build.status == 'Removed' %}
                            Removed
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">
                        There are no available builds with successful pushes to roll back to for this server.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
