{% extends 'base.html.twig' %}

{% set page_title = "Rollbacks for " ~ repo.description %}

{% block content %}
    <p><a class="btn--small btn--back" href="{{ urlFor('repository.status', {'id': repo.id}) }}">Back to Repository Status</a></p>

    {% set server = deployment|formatDeploymentServer %}
    {% set deployment_details = deployment|formatDeploymentDetails %}
    {% set deployment_label = deployment|formatDeploymentDetailsLabel %}

    <h2>Rollbacks for <strong>{{ repo.description }}</strong> to <strong>{{ server }}</strong></h2>

    <h3>Deployment Information</h3>
    <div class="details-box">
        <dl class="split--left mbn">

            <dt class="split--left__title">Server</dt>
            <dd class="split--left__value">
                <a href="{{ urlFor('server', {'id': deployment.server.id}) }}">{{ server }}</a>
            </dd>

            <dt class="split--left__title">{{ deployment_label }}</dt>
            <dd class="split--left__value"><code>{{ deployment_details }}</code></dd>

            {% if deployment.url %}
                <dt class="split--left__title">URL</dt>
                <dd class="split--left__value">
                    <a href="{{ deployment.url.asString }}">{{ deployment.url.asString }}</a>
                </dd>
            {% endif %}
        </dl>
    </div>

    <p>
        This table shows all builds that have been successfully pushed to this server and that are still available for rollback to.
        To rollback, simply choose a build, click 'rollback', and you'll be able to initate a new push.
    </p>

    <h3>Available Rollbacks</h3>
    <div class="overflow-container">
        <table>
            <thead>
                <th>Build</th>
                <th>Reference</th>
                <th>Commit</th>
                <th>Pushed</th>
                <th>Initiator</th>
                <th class="t10"></th>
            </thead>
            <tbody>
                {% for push in pushes %}
                <tr>
                    <td><a href="{{ urlFor('build', {'build': push.build.id}) }}">{{ push.build.id|formatBuildId }}</a></td>
                    <td>
                        <a href="{{ githubReference(push.build.repository.githubUser, push.build.repository.githubRepo, push.build.branch) }}">{{ push.build.branch|gitref }}</a>
                        <svg class="icon"><use xlink:href="#fork"></use></svg>
                    </td>
                    <td>
                        <a href="{{ githubCommit(push.build.repository.githubUser, push.build.repository.githubRepo, push.build.commit) }}">{{ push.build.commit|commit }}</a>
                        <svg class="icon"><use xlink:href="#github"></use></svg>
                    </td>
                    <td>{{ push.end|reldate }} (Push <a href="{{ urlFor('push', {'push': push.id}) }}">{{ push.id|formatPushId }}</a>)</td>
                    <td>
                        {% if push.user %}
                            <a href="{{ urlFor('user', {'id': push.user.id}) }}">{{ push.user.handle }}</a>
                        {% elseif push.consumer %}
                            {{ push.consumer.name|sliceString }}
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                    <td>
                        {% if push.build.status == 'Success'%}
                            {% if push.deployment and canUserPush(currentUser, repo.key, push.build.server.environment.key) %}
                                <a class="btn btn--tiny" href="{{ urlFor('push.start', {'build': push.build.id}, {deployment: push.deployment.id}) }}">Rollback</a>
                            {% endif %}
                        {% elseif push.build.status == 'Removed' %}
                            Removed
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">
                        There are no available rollbacks for this server.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
