{% extends 'base.html.twig' %}

{% set page_title = "Start Push: " ~ build.id %}

{% block content %}
    <p><a class="btn--small btn--back" href="{{ urlFor('repository.status', {'id': build.repository.id}) }}">Back to Repository Status</a></p>

    <h2>Push a build for <strong>{{ build.repository.description }}</strong></h2>

    <p>Please review the below build details before pushing.</p>

    <div class="details-box">
        <dl class="split--left mbn">
            <dt class="split--left__title">
                Build Id
            </dt>
            <dd class="split--left__value">
                <a href="{{ urlFor('build', {build: build.id}) }}">{{ build.id|formatBuildId }}</a>
            </dd>
            <dt class="split--left__title">
                Repository
            </dt>
            <dd class="split--left__value">
                <a href="{{ urlFor('repository', {id: build.repository.id}) }}">{{ build.repository.description }}</a>
            </dd>
            <dt class="split--left__title">
                Environment
            </dt>
            <dd class="split--left__value">
                {{ build.environment.key }}
            </dd>
            <dt class="split--left__title">
                Reference
            </dt>
            <dd class="split--left__value">
                {% if githubCommitIsCurrent(build.repository.githubUser, build.repository.githubRepo, build.branch, build.commit) %}
                    <span class="status-before--success">
                        <a href="{{ githubReference(build.repository.githubUser, build.repository.githubRepo, build.branch) }}">{{ build.branch|gitref }}</a>
                    </span>
                {% else %}
                    <span class="status-before--other">
                        <a href="{{ githubReference(build.repository.githubUser, build.repository.githubRepo, build.branch) }}">{{ build.branch|gitref }}</a>
                    </span>
                {% endif %}
                <svg class="icon"><use xlink:href="#fork"></use></svg>
            </dd>
            <dt class="split--left__title">
                Commit
            </dt>
            <dd class="split--left__value">
                <a href="{{ githubCommit(build.repository.githubUser, build.repository.githubRepo, build.commit) }}">{{ build.commit|commit }}</a>
                  <svg class="icon"><use xlink:href="#github"></use></svg>
            </dd>
            <dt class="split--left__title">
                Initiator
            </dt>
            <dd class="split--left__value">
                {% if build.user %}
                    <a href="{{ urlFor('user', {'id': build.user.id}) }}">{{ build.user.name }}</a>
                {% elseif build.consumer %}
                    {{ build.consumer.name[:20] }}
                {% else %}
                    Unknown
                {% endif %}
            </dd>
            <dt class="split--left__title">
                Completed
            </dt>
            <dd class="split--left__value">
                {{ build.end|reldate }}
            </dd>

        </dl>
    </div>

    <p>
        This build can be pushed to the following servers. Please review the current status of each server below
        before selecting which servers you wish to deploy to.
    </p>

    {% if statuses %}
        <form action="{{ urlFor('push.start.handle', {'build': build.id}) }}" method="post">
        <div class="overflow-container">
            <table class="tablesaw tablesaw-stack" data-mode="stack">
                <thead>
                <tr>
                    <th>Server</th>
                    <th>Reference</th>
                    <th>Commit</th>
                    <th>Last Pushed</th>
                    <th>Pushed By</th>
                    <th class="js-toggle-container"></th>
                </tr>
                </thead>
                <tbody>
                {% set allowSubmit = false %}
                {% for status in statuses %}

                    {% set inProgress = status.latest.status in ['Waiting', 'Pushing'] %}
                    {% set isSelected = (status.deployment.id == selected) %}

                    <tr>
                        <td><a href="{{ urlFor('server', {'id': status.deployment.server.id}) }}">{{ status.deployment.server.name }}</a></td>
                        {% if inProgress or status.success %}
                            {% set active = inProgress ? status.latest : status.success %}

                            {% if githubCommitIsCurrent(build.repository.githubUser, build.repository.githubRepo, active.build.branch, active.build.commit) %}
                                {% set isCurrent = true %}
                            {% else %}
                                {% set isCurrent = false %}
                            {% endif %}

                            <td>
                                <span class="status-before--{{ isCurrent ? 'success' : 'other' }}">
                                    <a href="{{ githubReference(active.build.repository.githubUser, active.build.repository.githubRepo, active.build.branch) }}">{{ active.build.branch|gitref }}</a>
                                    <svg class="icon"><use xlink:href="#fork"></use></svg>
                                </span>
                            </td>
                            <td>
                                <a href="{{ githubCommit(build.repository.githubUser, build.repository.githubRepo, active.build.commit) }}">{{ active.build.commit|commit }}</a>
                                <svg class="icon"><use xlink:href="#github"></use></svg>
                            </td>
                            <td>
                                {% if inProgress %}
                                    Now
                                {% else %}
                                    {{ active.created|reldate }} (Push <a href="{{ urlFor('push', {'push': active.id}) }}">{{ active.id|formatPushId }}</a>)
                                {% endif %}
                            </td>
                            <td>
                                {% if active.user %}
                                    <a href="{{ urlFor('user', {'id': active.user.id}) }}">{{ active.user.name }}</a>
                                {% elseif active.consumer %}
                                    {{ active.consumer.name[:20] }}
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                        {% else %}
                            {# No successful pushes #}
                            <td colspan="4">No successful pushes found.</td>
                        {% endif %}

                        <td>
                            {% if inProgress %}
                                Please Wait
                            {% elseif canUserPush(currentUser, status.deployment.repository.key, status.deployment.server.environment.key) %}
                                <label>Push Now <input type="checkbox" class="js-pushable-deployment" name="deployments[]" id="sel-{{ status.deployment.id }}" value="{{ status.deployment.id }}"{{ isSelected ? ' checked' : '' }}></label>
                                {% set allowSubmit = true %}
                            {% else %}
                                No Access
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if allowSubmit %}
            <input class="btn--alt" type="submit" value="Push To Selected Servers" name="submit">
        {% endif %}
        </form>
    {% else %}
        <p>There are no servers to deploy to.</p>
    {% endif %}

{% endblock %}
