{% extends 'base.twig' %}
{% import 'macros.form.twig' as form_macros %}

{% use 'target/partial.target_form.twig' %}

{% set js_components = ['add_target_form'] %}
{% set page_title = 'Add Template' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
    <li><a href="{{ uriFor('templates') }}">Templates</a></li>
{% endblock %}

{% block content %}
    <p>
        All configuration is optional when defining templates. Any missing fields can then be provided by the
        applications that use these templates.
    </p>
    <p>
        <b>Example:</b><br>
        You can create a template for usage with <b>Elastic Beanstalk</b> and specify the <b>region</b> and <b>S3 upload location</b>
        in the template. Applications that use the template will only need to specify the beanstalk application and environment,
        as the other required configuration will be inherited from the template.
    </p>
    <p>
        Configuration for the same fields provided by the applications is optional, but will <b>override</b> the template if provided.
    </p>

    <hr>

    {{ form_macros.form_errors(errors, is_csrf_error) }}

    <form method="post" class="js-target-form">
        {{ form_macros.csrf_input('templates.add') }}

        <ul class="form-fields form-wrapper">
            <li>
                <label>Environment</label>
                <ul>
                    <li>
                        {% set is_selected = form.environment == '' ? ' checked' : '' %}
                        <label for="env-noop">
                            <input type="radio" id="env-noop" name="environment" value="" {{ is_selected }}>
                            None
                        </label>
                    </li>

                    {% for environment in environments %}
                        {% set is_selected = form.environment == environment.id ? ' checked' : '' %}
                        <li>
                            <label for="env-{{ environment.id }}">
                                <input type="radio" id="env-{{ environment.id }}" name="environment" value="{{ environment.id }}"{{ is_selected }}>
                                {{ environment.name }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            <li>
                <label>Deployment Type</label>
                <ul>
                    {% set is_selected = form.deployment_type == '' ? ' checked' : '' %}
                    <li>
                        <label for="type-noop">
                            <input type="radio" id="type-noop" name="deployment_type" value="" data-target-select data-target-type=""{{ is_selected }}>
                            None
                        </label>
                    </li>

                    {% for type in deployment_types %}
                        {% set is_selected = form.deployment_type == type ? ' checked' : '' %}
                        <li>
                            <label for="type-{{ type }}">
                                <input type="radio" id="type-{{ type }}" name="deployment_type" value="{{ type }}" data-target-select data-target-type="{{ type }}"{{ is_selected }}>
                                {{ type|target_type }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            <li>
                {% set has_error = form_macros.has_error(errors, 'name') ? ' is-error' : '' %}
                <label for="name">Name</label>
                <input class="text-input{{ has_error }}" type="text" name="name" id="name" maxlength="80" value="{{ form.name }}" required>
            </li>

            <li>
                {% set has_error = form_macros.has_error(errors, 'script_context') ? ' is-error' : '' %}
                <label for="script_context">Script Context</label>
                <input class="text-input{{ has_error }}" type="text" name="script_context" id="script_context" maxlength="100" value="{{ form.script_context }}">
                <small>
                    <b>Optional.</b> Pass extra context text or data to your scripts and commands in your <code>.hal9000.yml</code> configuration.
                    <b style="color:indianred">Do not use this for secrets!</b>
                </small>
            </li>
        </ul>

        <hr>

        <ul class="form-fields form-wrapper">
            {{ block('rsync_fields') }}
            {{ block('script_fields') }}
            {{ block('aws_fields') }}
            {{ block('codedeploy_fields') }}
            {{ block('beanstalk_fields') }}
            {{ block('s3_only_fields') }}
            {{ block('s3_fields') }}
        </ul>

        <p>
            <button type="submit" class="btn btn--action">Add Template</button>
            <a href="{{ uriFor('templates') }}">Cancel</a>
        </p>

    </form>
{% endblock %}
