{% extends 'base.twig' %}
{% import 'macros.form.twig' as form_macros %}

{% use 'target/partial.target_form.twig' %}

{% set page_title = 'Edit Template' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
    <li><a href="{{ uriFor('templates') }}">Templates</a></li>
    <li><a href="{{ uriFor('template', {'template': template.id}) }}">{{ template.name }}</a></li>
{% endblock %}

{% block content %}
    {{ block('meta') }}

    {{ form_macros.form_errors(errors, is_csrf_error) }}

    <h4>Type</h4>
    <p>{{ template.formatType() }}</p>

    <form method="post">
        {{ form_macros.csrf_input('template.edit') }}

        <ul class="form-fields form-wrapper">
            <li>
                {% set has_error = form_macros.has_error(errors, 'name') ? ' is-error' : '' %}
                <label for="name">Name</label>
                <input class="text-input{{ has_error }}" type="text" name="name" id="name" maxlength="80" value="{{ form.name }}" required>
            </li>

            <li>
                {% set has_error = form_macros.has_error(errors, 'script_context') ? ' is-error' : '' %}
                <label for="script_context">Script Context</label>
                <input class="text-input{{ has_error }}" type="text" name="script_context" id="script_context" maxlength="100" value="{{ form.script_context }}">
                <small>
                    <b>Optional.</b> Pass extra context text or data to your scripts and commands in your <code>.hal9000.yml</code> configuration.
                    <b style="color:indianred">Do not use this for secrets!</b>
                </small>
            </li>
        </ul>

        <hr>

        <ul class="form-fields form-wrapper">
            {% if template.type in ['rsync'] %}
                {{ block('rsync_fields') }}
            {% endif %}

            {% if template.type in ['script'] %}
                {{ block('script_fields') }}
            {% endif %}

            {% if template.type in ['s3', 'cd', 'eb'] %}
                {{ block('aws_fields') }}
            {% endif %}

            {% if template.type in ['cd'] %}
                {{ block('codedeploy_fields') }}
            {% endif %}

            {% if template.type in ['eb'] %}
                {{ block('beanstalk_fields') }}
            {% endif %}

            {% if template.type in ['s3'] %}
                {{ block('s3_only_fields') }}
            {% endif %}

            {% if template.type in ['s3', 'cd', 'eb'] %}
                {{ block('s3_fields') }}
            {% endif %}
        </ul>

        <p>
            <button class="btn btn--action" type="submit">Save Changes</button>
            <a href="{{ uriFor('template', {'template': template.id}) }}">Cancel</a>
        </p>

    </form>

{% endblock %}

{% block meta %}
    <ul class="meta-box">
        <li>
            <h6>Environment</h6>
            {{ template.environment.name }}
        </li>
    </ul>
{% endblock %}
