{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Target Templates' %}

{% set is_admin = current_authorizations.isSuper() %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
{% endblock %}

{% block content %}
    {{ block('template_table') }}

    <p>
        {% if is_admin %}
            <a class="btn" href="{{ uriFor('template.add') }}">Add Template</a>
        {% else %}
            {{ macros.disabled_button('Add Template') }}
        {% endif %}
    </p>
{% endblock %}

{% block template_table %}
    <p>
        Add a template which can be used by other applications and organizations. Use templates to share deployment
        configuration across many applications.
        <br><br>

        All configuration is optional when defining templates. Any missing fields can then be provided by the
        applications that use these templates.
    </p>

    {% if sorted_templates %}

        <table class="table--spacing-medium">
            <thead>
                <tr>
                    <th class="t15">ID</th>
                    <th class="t15">Type</th>
                    <th>Template</th>
                </tr>
            </thead>

            {% for sorted in sorted_templates %}
                {% set environment = sorted.environment %}
                {% set templates = sorted.templates %}

                <tbody>

                    <tr>
                        <th colspan="3" class="table-mid-header" id="env-{{ environment.id }}">
                            <a href="{{ uriFor('environment', {'environment': environment.id}) }}">{{ environment.name }}</a>
                        </th>
                    </tr>

                    {% for template in templates %}
                        <tr>
                            <td>
                                <a href="{{ uriFor('template', {'template': template.id}) }}">{{ template|short_guid }}</a>
                            </td>
                            <td>
                                {{ template.formatType() }}
                            </td>
                            <td>
                                {{ template.name }}
                            </td>
                        <tr>
                    {% endfor %}

                </tbody>
            {% endfor %}
        </table>

    {% else %}
        <p>There are no target templates.</p>
    {% endif %}

{% endblock %}
