{% extends 'base.html.twig' %}

{% set page_title = 'API Documentation' %}

{% block content %}
    <h2>API Documentation</h2>

    <h3>Conventions</h3>

    <p>Formats, conventions, pagination, etc.</p>

    <h4>Navigation</h4>

    <p>Links and stuff.</p>

    <h3>Public Endpoints</h3>

    <p>Public endpoints offer you insight into the build and push process without being able to add, remove, or change anything.</p>

    <h4>Index</h4>

    <ul>
        <li><a href="{{ urlFor('api.index') }}">{{ uriFor('api.index') }}</a></li>
    </ul>



    <h4>Environments</h4>

    <ul>
        <li><a href="{{ urlFor('api.environments') }}">{{ uriFor('api.environments') }}</a></li>
        <li><a href="{{ urlFor('api.environment', {id: 'id'}) }}">{{ uriFor('api.environment', {id: ':id'}) }}</a></li>
    </ul>

    <h4>Servers</h4>

    <ul>
        <li><a href="{{ urlFor('api.servers') }}">{{ uriFor('api.servers') }}</a></li>
        <li><a href="{{ urlFor('api.server', {id: ':id'}) }}">{{ uriFor('api.server', {id: ':id'}) }}</a></li>
    </ul>

    <h4>Groups</h4>

    <ul>
        <li><a href="{{ urlFor('api.groups') }}">{{ uriFor('api.groups') }}</a></li>
        <li><a href="{{ urlFor('api.group', {id: ':id'}) }}">{{ uriFor('api.group', {id: ':id'}) }}</a></li>
    </ul>

    <h4>Users</h4>

    <ul>
        <li><a href="{{ urlFor('api.users') }}">{{ uriFor('api.users') }}</a></li>
        <li><a href="{{ urlFor('api.user', {id: ':id'}) }}">{{ uriFor('api.user', {id: ':id'}) }}</a></li>
    </ul>

    <h4>Repositories</h4>

    <ul>
        <li><a href="{{ urlFor('api.repositories') }}">{{ uriFor('api.repositories') }}</a></li>
        <li><a href="{{ urlFor('api.repository', {id: ':id'}) }}">{{ uriFor('api.repository', {id: ':id'}) }}</a></li>
        <li><a href="{{ urlFor('api.repository.tags', {id: ':id'}) }}">{{ uriFor('api.repository.tags', {id: ':id'}) }}</a></li>
        <li><a href="{{ urlFor('api.repository.branches', {id: ':id'}) }}">{{ uriFor('api.repository.branches', {id: ':id'}) }}</a></li>
        <li><a href="{{ urlFor('api.repository.pullrequests', {id: ':id'}) }}">{{ uriFor('api.repository.pullrequests', {id: ':id'}) }}</a></li>
    </ul>

    <h4>Deployments</h4>

    <ul>
        <li><a href="{{ urlFor('api.deployments', {id: ':id'}) }}">{{ uriFor('api.deployments', {id: ':id'}) }}</a></li>
        <li><a href="{{ urlFor('api.deployment', {id: ':id'}) }}">{{ uriFor('api.deployment', {id: ':id'}) }}</a></li>
    </ul>

    <h4>Builds</h4>

    <ul>
        <li><a href="{{ urlFor('api.builds', {id: ':id'}) }}">{{ uriFor('api.builds', {id: ':id'}) }}</a></li>
        <li><a href="{{ urlFor('api.build', {id: ':id'}) }}">{{ uriFor('api.build', {id: ':id'}) }}</a></li>
        <li><a href="{{ urlFor('api.build.log', {id: ':id'}) }}">{{ uriFor('api.build.log', {id: ':id'}) }}</a> [NYI]</li>
    </ul>

    <h4>Pushes</h4>

    <ul>
        <li><a href="{{ urlFor('api.pushes', {id: ':id'}) }}">{{ uriFor('api.pushes', {id: ':id'}) }}</a></li>
        <li><a href="{{ urlFor('api.push', {id: 'id'}) }}">{{ uriFor('api.push', {id: ':id'}) }}</a></li>
        <li><a href="{{ urlFor('api.push.log', {id: ':id'}) }}">{{ uriFor('api.push.log', {id: ':id'}) }}</a> [NYI]</li>
    </ul>

    <h3>Protected Endpoints</h3>

    <p>Protected endpoints require client authentication, but allow you to interact with the build and push system.</p>

{% endblock %}
