{% extends 'base.html.twig' %}

{% set page_title = 'Help' %}

{% set kmContact = '<a href="mailto:KeymastersAppEngineers@quickenloans.com">KeymastersAppEngineers@quickenloans.com</a>' %}
{% set wcContact = '<a href="mailto:ITTeamWebCore@quickenloans.com">ITTeamWebCore@quickenloans.com</a>' %}

{% block content %}
    <h2>Help &amp; FAQ</h2>

    <ul>
        <li class="trailer">
            <a href="#help-support"><b>Support</b></a>
            <ul>
                <li><a href="#permission">Who should I contact for support or permission changes?</a></li>
                <li><a href="#bugs">Who should I contact regarding bugs or feature requests?</a></li>
                <li><a href="#training">Are there any training sessions available?</a></li>
            </ul>
        </li>

        <li class="trailer">
            <a href="#help-setup"><b>Application Setup</b></a>
            <ul>
                <li><a href="#add-application">How do I deploy my application with HAL?</a></li>
                <li><a href="#language-support">Does HAL support .NET applications?</a></li>
                <li><a href="#service-support">Does HAL support Amazon Cloud Deployments?</a></li>
                <li><a href="#application-deployment">How do I use a script to build or push my application?</a></li>
                <li><a href="#encrypted-configuration">Does HAL support encrypted configuration?</a></li>
                <li><a href="{{ urlFor('help.deployment') }}">Deployment scripting guide for engineers</a></li>
            </ul>
        </li>

        <li>
            <a href="#help-misc"><b>Other</b></a>
            <ul>
                <li><a href="#api">Does HAL have an API? Is there any documentation?</a></li>
                {% if not isSeriousBusinessMode() %}
                    <li><a href="#hellodave">My name isn't Dave!</a></li>
                {% endif %}
                <li><a href="#release-notes">Release Notes</a></li>
            </ul>
        </li>
    </ul>


    <h2 id="help-support">Support</h2>
    {{ block('support_questions') }}

    <h2 id="help-setup">Application Setup</h2>
    {{ block('setup_questions') }}

    <h2 id="help-misc">Other</h2>
    {{ block('other_questions') }}

{% endblock %}

{% block support_questions %}
    <h4 id="permission">Who should I contact for support or permission changes?</h4>
    <p>You should email <strong>Team Key Masters</strong> at {{ kmContact|raw }}.</p>


    <h4 id="bugs">Who should I contact regarding bugs or feature requests?</h4>
    <p>
        HAL 9000 is developed and maintained by the Web Core team. To report bugs or request a new features, please
        submit an issue in the Github repository at <a href="http://git/web-core/hal/issues">http://git/web-core/hal</a>.
    </p>

    <h4 id="training">Are there any training sessions available?</h4>
    <p>
        If you would like to train your team on how to use HAL 9000, then contact the <a href="mailto:ITTeamWebCore@quickenloans.com">Web Core</a>
        team and we'll set up a time to show you how.
    </p>

    <p>For general questions or critical errors, you can contact Web Core through the following methods:</p>
    <ul>
        <li><strong>[Application] HAL 9000</strong> (Hipchat)</li>
        <li><strong>[Team] CORE</strong> (Hipchat)</li>
        <li>{{ wcContact|raw }} (email)</li>
    </ul>
{% endblock %}

{% block setup_questions %}
    <h4 id="add-application">How do I deploy my application with HAL?</h4>
    <p>The project files must be on the <a href="http://git">Github Enterprise</a> server.</p>
    <p>After making sure that your project meets the minimum requirements above, gather the information below.</p>
    <ol>
        <li>
            <strong>Determine what group your application should exist in within HAL 9000.</strong>
            <p>
                This is commonly a team or business area name. You can see the ones that already exist by looking
                at the <a href="{{ urlFor('repositories') }}">Repositories Page</a>. If you need to create a new group, you'll
                need the following information.

                <ul>
                    <li>
                        An identifier using numbers, letters, and hyphens. Examples include 'venture', 'servicing', and
                        'web-core'.
                    </li>
                    <li>
                        The full title that describes your group. Examples include 'Team Venture', 'Servicing', and 'Web
                        Core'.
                    </li>
                </ul>
            </p>
        </li>
        <li>
            <strong>Determine the name of your application.</strong>
            <p>You will need both an identifier (letters, numbers, hyphens) and full name.</p>
        </li>
        <li>
            <strong>Determine where your application exists within Github.</strong>
            <p>Please provide the Github username or organization and the repository name.</p>
        </li>
        <li>
            <strong>Determine who should be able to build and push your application.</strong>
            <p>
                By default, HAL 9000 will grant build &amp; push permissions for non-production environments to all
                users who are collaborators on the Github repository. If additional people need to be able to build and
                push, you will need to request that LDAP permissions be created.
            </p>
        </li>
        <li>
            <strong>Determine what environments and servers your application will be deployed to.</strong>
            <p>Examples: test1www1, test1beta1, EC2, Elastic Beanstalk</p>
        </li>
        <li>
            <strong>Determine what directory on those servers your application will live in.</strong>
            <p>Example: <code>/var/www/application</code></p>
        </li>
        <li>
            <strong>Add a <code>.hal9000.yml</code> configuration file to your project.</strong>
            <p>
                The hal9000 configuration file is used to tell HAL how to build and deploy your application.
                Please see <a href="{{ urlFor('help.deployment') }}">deployment scripting guide</a> for full details.
            </p>
        </li>
    </ol>
    <p>
        Once your have gathered all of the required information, speak with your team leader and request that the
        application be added to HAL 9000. Contact Key Masters at {{ kmContact|raw }} to assist you with the process.
    </p>

    <h4 id="language-support">Does HAL support .NET applications?</h4>
    <p>
        <strong>Yes.</strong> Although window build servers are not currently enabled.<br><br>
        HAL 9000 has support for windows and unix build servers. This means HAL can compile and build <strong>any</strong> project if the build servers are configured correctly.
        HAL's windows support was primarily designed for building <strong>.NET Web Publish packages</strong> for AWS Elastic Beanstalk.</p>
    </p>

    <p>
        HAL requires no code changes or feature additions to enable windows and cloud functionality. They are deployment options that are currently disabled.
        If you would like to use any of these features, please contact a member of <strong>Web Core</strong>.
    </p>

    <p>
        <strong>Current Status:</strong>
        <ul>
            <li>AWS EC2 Deployments: <strong>NOT ENABLED</strong></li>
            <li>AWS Elastic Beanstalk Deployments: <strong>NOT ENABLED</strong></li>
            <li>Windows Build Server: <strong>NOT ENABLED</strong></li>
        </ul>
    </p>

    <h4 id="service-support">Does HAL support Amazon Cloud Deployments?</h4>
    <p>
        <strong>Yes.</strong> Although AWS is not currently configured.<br><br>
        HAL can deploy any application to Amazon Elastic Beanstalk or EC2.<br><br>
        In addition, HAL can deploy to autoscaling EC2 instances by finding all active EC2 servers using the AWS API.
    </p>

    <h4 id="application-deployment">How do I use a script to build or push my application?</h4>
    <p>
        System commands can be used to customize the build and/or push process for an application.
    </p>

    <p>Read more in the <a href="{{ urlFor('help.deployment') }}">deployment scripting guide for engineers</a>.</p>

    <h4 id="encrypted-configuration">Does HAL support encrypted configuration?</h4>
    <p>
        <strong>Yes.</strong><br>
        HAL 9000 can store sensitive information such as passwords or API keys. This data is encrypted when it is store in the database, and only decrypted during the build process.
    </p>
    <p>
        Administrators and Project Leads can add encrypted properties from the Repository Information page. Values can be stored for individual environments, or globally so they can be used in every environment.
    </p>
    <p>See in the <a href="{{ urlFor('help.deployment') }}">deployment scripting guide for engineers</a> for more details on how to read these values when they are decrypted during the build process.</p>

{% endblock %}

{% block other_questions %}
    <h4 id="api">Does HAL have an API? Is there any documentation?</h4>
    <p>There is a read-only hypermedia REST API here: <a href="{{ urlFor('api.index') }}">/api</a></p>
    <p>However, there is no api documentation at this time.</p>

    {% if not isSeriousBusinessMode() %}
        <h4 id="hellodave">My name isn't Dave!</h4>
        <p>
            Look Dave, I can see you're really upset about this.
            I honestly think you ought to sit down calmly, take a stress pill, and <a href="{{ urlFor('help.hal') }}">think things over</a>.
        </p>
    {% endif %}


    <h4 id="release-notes">Release Notes</h4>
    <ul>
        <li>
            <a href="/docs/2.4/release-notes.html">Release 2.4</a>
        </li>
    </ul>
{% endblock %}
