{% extends 'base.html.twig' %}

{% set page_title = 'Help' %}

{% block content %}
    <h2>Help &amp; FAQ</h2>

    <ul>
        <li><a href="#permission">Who should I contact for support or permission changes?</a></li>
        <li><a href="#bugs">Who should I contact regarding bugs or feature requests?</a></li>
        <li><a href="#add-application">I would like to deploy my application with HAL 9000. What do I need to do?</a></li>
        <li><a href="#training">Are there any training sessions available?</a></li>
        <li><a href="#application-deployment">How do I use a script to build or push my application?</a></li>
        <li><a href="#api">So, I heard there's an API. Is there any documentation?</a></li>
        {% if not isSeriousBusinessMode() %}
            <li><a href="#hellodave">My name isn't Dave!</a></li>
        {% endif %}
    </ul>

    <a name="permission"></a>
    <h3>Who should I contact for support or permission changes?</h3>
    <p>You should email <a href="mailto:ITTeamKeyMastersSupp@quickenloans.com">IT Team Keymasters Support</a>.</p>


    <a name="bugs"></a>
    <h3>Who should I contact regarding bugs or feature requests?</h3>
    <p>
        HAL 9000 is developed and maintained by the Web Core team. To report bugs or request a new features, please
        submit an issue in the Github repository at <a href="http://git/web-core/hal/issues">http://git/web-core/hal</a>.
    </p>
    <p>
        For general questions or critical errors, you can ask a question in the <strong>[TEAM] CORE</strong>
        Hipchat room or email <a href="mailto:ITTeamWebCore@quickenloans.com">Web Core</a>.
    </p>

    <a name="add-application"></a>
    <h3>I would like to deploy my application with HAL 9000. What do I need to do?</h3>
    <p>Minimum requirements.</p>
    <ul>
        <li>The project files must be on the <a href="http://git">Github Enterprise</a> server.</li>
    </ul>
    <p>After making sure that your project meets the minimum requirements above, gather the information below.</p>
    <ol>
        <li>
            <strong>Determine what group your application should exist in within HAL 9000.</strong>
            <p>
                This is commonly a team or business area name. You can see the ones that already exist by looking
                at the <a href="{{ urlFor('groups') }}">Groups Page</a>. If you need to create a new group, you'll
                need the following information.

                <ul>
                    <li>
                        A nickname with no spaces or special characters. Examples include 'venture', 'servicing', and
                        'webcore'.
                    </li>
                    <li>
                        The full name that describes your group. Examples include 'Team Venture', 'Servicing', and 'Web
                        Core'.
                    </li>
                </ul>
            </p>
        </li>
        <li>
            <strong>Determine the name of your application.</strong>
            <p>You will need both a short name (lowercase, no spaces) and full name.</p>
        </li>
        <li>
            <strong>Determine where your application exists within Github.</strong>
            <p>Please provide the Github username or organization and the repository name.</p>
        </li>
        <li>
            <strong>Determine who should be able to build and push your application.</strong>
            <p>
                By default, HAL 9000 will grant build &amp; push permissions for non-production environments to all
                users who are collaborators on the Github repository. If additional people need to be able to build and
                push, you will need to request that LDAP permissions be created.
            </p>
        </li>
        <li>
            <strong>Determine what environments and servers your application will be deployed to.</strong>
            <p>Examples: test1www1, test1beta1, etc.</p>
        </li>
        <li>
            <strong>Determine what directory on those servers your application will live in.</strong>
            <p>Example: /var/www/application</p>
        </li>
        <li>
            <strong>Determine what, if any, command should be used to build your application.</strong>
            <p>
                This is commonly a shell script that lives withing your repository and tells HAL 9000 what should
                be done prior to pushing your code. Read more about the <a href="{{ urlFor('help.deployment') }}">build scripting environment</a>.
            </p>
        </li>
        <li>
            <strong>Determine what, if any, command should be run before deploying your application.</strong>
            <p>
                This is called a pre-push command and is commonly used to stop services.
                Read more about the <a href="{{ urlFor('help.deployment') }}">push scripting environment</a>.
            </p>
        </li>
        <li>
            <strong>Determine what, if any, command should be run after deploying your application.</strong>
            <p>
                This is called a post-push command and is commonly used to restart services or finalize a deployment.
                Read more about the <a href="{{ urlFor('help.deployment') }}">push scripting environment</a>.
            </p>
        </li>
    </ol>
    <p>
        Once your have gathered all of the required information, speak with your team leader and request that the
        application be added to HAL 9000. If your team leader does not have permission to do this, contact the
        <a href="mailto:ITTeamKeyMastersSupp@quickenloans.com">Keymasters</a> team to assist you with the process.
    </p>

    <a name="training"></a>
    <h3>Are there any training sessions available?</h3>
    <p>
        If you would like to train your team on how to use HAL 9000, then contact the <a href="mailto:ITTeamWebCore@quickenloans.com">Web Core</a>
        team and we'll set up a time to show you how.
    </p>

    <a name="application-deployment"></a>
    <h3>How do I use a script to build or push my application?</h3>
    <p>
        System commands can be used to customize the build and/or push process for an application. Read more about the
        <a href="{{ urlFor('help.deployment') }}">build and push scripting environment</a>.
    </p>

    <a name="api"></a>
    <h3>So, I heard there's an API. Is there any documentation?</h3>
    <p>There is a read-only hypermedia REST API here: <a href="{{ urlFor('api.index') }}">/api</a></p>
    <p>However, there is no api documentation at this time.</p>

    {% if not isSeriousBusinessMode() %}
        <a name="hellodave"></a>
        <h3>My name isn't Dave!</h3>
        <p>
            Look Dave, I can see you're really upset about this.
            I honestly think you ought to sit down calmly, take a stress pill, and <a href="{{ urlFor('help.hal') }}">think things over</a>.
        </p>
    {% endif %}

{% endblock %}
