{% if initiator is not defined %}
    {% set initiator = true %}
{% endif %}
{% if actions is not defined %}
    {% set actions = true %}
{% endif %}

<ul class="list--bare cards--baby">
    {% for build in builds %}
        <li>
            <article class="card--baby mbn card--{{ build.environment.key }}">
                <header class="card__header split">
                    <span class="split__title">
                        <a href="{{ urlFor('repository.status', {id: build.repository.id}) }}">
                            {{ build.repository.description }}
                        </a>
                    </span>

                    <a href="{{ urlFor('build', {'repo': build.repository.id, 'build': build.id}) }}">
                        {% if build.status == 'Success' %}
                            <span class="status-before--success">{{ build.status }}</span>
                        {% elseif build.status in ['Error', 'Removed'] %}
                            <span class="status-before--error">{{ build.status }}</span>
                        {% else %}
                            <span class="status-before--other" data-build="{{ build.id }}">{{ build.status }}</span>
                        {% endif %}
                    </a>
                </header>

                <section class="card__details">
                    <ul class="split mbn">
                        <li>
                            <span class="split__title">{{ build.created|reldate }}</span>
                            <a href="{{ githubReference(build.repository.githubUser, build.repository.githubRepo, build.branch) }}">{{ build.branch|sliceGitref }}</a>
                            <svg class="icon"><use xlink:href="#fork"></use></svg>
                        </li>
                    </ul>
                </section>
            </article>

        </li>

    {% else %}
        <li>No builds found.</li>
    {% endfor %}

</ul>
