<table class="tablesaw tablesaw-stack" data-mode="stack">
    <thead>
        <th>Build</th>
        <th>Status</th>
        <th>Env</th>
        <th>Reference</th>
        <th>Initiator</th>
        <th>Date</th>
        <th></th>
    </thead>
    <tbody>
    {% for build in builds %}
        <tr>

            <td><a href="{{ urlFor('build', {'repo': build.repository.id, 'build': build.id}) }}">{{ build.id|formatBuildId }}</a></td>
            <td>
                {% if build.status == 'Success' %}
                    <span class="status-before--success">{{ build.status }}</span>
                {% elseif build.status in ['Error', 'Removed'] %}
                    <span class="status-before--error">{{ build.status }}</span>
                {% else %}
                    <span class="status-before--other" data-build="{{ build.id }}">{{ build.status }}</span>
                {% endif %}
            </td>
            <td>{{ build.environment.key }}</td>
            <td>
                <a href="{{ githubReference(build.repository.githubUser, build.repository.githubRepo, build.branch) }}">{{ build.branch|sliceGitref }}</a>
                <svg class="icon"><use xlink:href="#fork"></use></svg>
            </td>
            <td>
                {% if build.user %}
                    <a href="{{ urlFor('user', {'id': build.user.id}) }}">{{ build.user.handle }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </td>
            <td>{{ build.created|reldate }}</td>

            {# this is a hacky way to let the frontend know if a user can push a build once it is available. #}
            {% set canPush = false %}
            {% if build.status in ['Waiting', 'Building'] and canUserPush(currentUser, build.repository.key, build.environment.key) %}
                {% set canPush = true %}
            {% endif %}

            <td{{ canPush ? ' class="js-build-push"' }}>
                {% if build.status == 'Success' %}
                    {% if canUserPush(currentUser, build.repository.key, build.environment.key) %}
                        <a href="{{ urlFor('push.start', {'build': build.id}) }}">Push</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">No builds found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
