<!-- <table class="tablesaw tablesaw-stack" data-mode="stack" style="width: 100%;"> -->
<table>
    <thead>
        <th>Event</th>
        <th>Time</th>
        <th>Status</th>
        <th>Message</th>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
            <td>{{ log.event }}</td>
            <td>{{ log.created|timepoint('M j, Y g:i A') }}</td>
            <td>{{ log.status }}</td>
            <td>{{ log.message }}</td>
        </tr>
        {% if log.data %}
        <tr>
            <td colspan="4" style="text-align:left">
                {% for key, data in log.data %}
                    <b>{{ key }}</b>
                    <div class="pre-wrapper pre-ansi">
                        <pre>{{ data|sanitizeToString|ansi_to_html }}</pre>
                    </div>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="4">No logs found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

