<table id="js-queue" class="tablesaw tablesaw-stack" data-mode="stack">
    <thead>
        <th>Type</th>
        <th>Repository</th>
        <th>Status</th>
        <th>Env → Server</th>
        <th>Reference</th>
        <th>Initiator</th>
    </thead>
    <tbody>
        {% if pending %}
            {% for job in pending %}
                {% if job is build %}
                    <tr id="build-{{ job.id }}">
                        <td><a href="{{ urlFor('build', {build: job.id}) }}">Build</a></td>
                        <td><a href="{{ urlFor('repository.status', {id: job.repository.id}) }}">{{ job.repository.key }}</a></td>
                        <td>
                            {% if job.status == 'Success' %}
                                <span class="status-before--success">{{ job.status }}</span>
                            {% elseif job.status in ['Error', 'Removed'] %}
                                <span class="status-before--error">{{ job.status }}</span>
                            {% else %}
                                <span class="status-before--other" data-build="{{ job.id }}">{{ job.status }}</span>
                            {% endif %}
                        </td>
                        <td>{{ job.environment.key }}
                        <td>
                            <a href="{{ githubCommit(job.repository.githubUser, job.repository.githubRepo, job.commit) }}">{{ job.branch[:15]|gitref }}</a>
                            <span class="icon">
                                <svg viewBox="0 0 32 32">
                                    <use xlink:href="#github"></use>
                                </svg>
                            </span>
                        </td>
                        <td>{{ job.user ? job.user.handle : 'Unknown' }}</td>
                    </tr>
                {% else %}
                    <tr id="push-{{ job.id }}">
                        <td><a href="{{ urlFor('push', {push: job.id}) }}">Push</a></td>
                        <td><a href="{{ urlFor('repository.status', {id: job.build.repository.id}) }}">{{ job.build.repository.key }}</a></td>
                        <td>
                            {% if job.status == 'Success' %}
                                <span class="status-before--success">{{ job.status }}</span>
                            {% elseif job.status in ['Error', 'Removed'] %}
                                <span class="status-before--error">{{ job.status }}</span>
                            {% else %}
                                <span class="status-before--other" data-push="{{ job.id }}">{{ job.status }}</span>
                            {% endif %}
                        </td>
                        <td>{{ job.build.environment.key }} → {{ job.deployment.server.name }}</td>
                        <td>
                            Build <a href="{{ urlFor('build', {'build': job.build.id}) }}">{{ job.build.id[:10] }}</a>
                        </td>
                        <td>{{ job.user ? job.user.handle : 'Unknown' }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr id="js-emptyQueue">
                <td colspan="6">There are no jobs queued.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
