{% if initiator is not defined %}
    {% set initiator = true %}
{% endif %}

<table class="tablesaw tablesaw-stack" data-mode="stack">
    <thead>
        <th>Push</th>
        <th>Status</th>
        <th>Build</th>
        <th>Server</th>
        {% if initiator %}<th>Initiator</th>{% endif %}
        <th>Date</th>
    </thead>
    <tbody>
    {% for push in pushes %}
        <tr>
            <td><a href="{{ urlFor('push', {'push': push.id}) }}">{{ push.id }}</a></td>
            <td>
                {% if push.status == 'Success' %}
                    <span class="status-before--success">{{ push.status }}</span>
                {% elseif push.status == 'Error' %}
                    <span class="status-before--error">{{ push.status }}</span>
                {% else %}
                    <span class="status-before--other" data-push="{{ push.id }}">{{ push.status }}</span>
                {% endif %}
            </td>
            <td><a href="{{ urlFor('build', {'repo': push.build.repository.key, 'build': push.build.id}) }}">{{ push.build.id[:10] }}</a></td>
            <td><a href="{{ urlFor('server', {'id': push.deployment.server.id}) }}">{{ push.deployment.server.name }}</a> ({{ push.deployment.server.environment.key }})</td>
            {% if initiator %}
            <td>
                {% if push.user %}
                    <a href="{{ urlFor('user', {'id': push.user.id}) }}">{{ push.user.name[:20] }}</a>
                {% elseif push.consumer %}
                    {{ push.consumer.name[:20] }}
                {% else %}
                    Unknown
                {% endif %}
            </td>
            {% endif %}
            <td>{{ push.created|reldate }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">
                No pushes found.
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
