{% if initiator is not defined %}
    {% set initiator = true %}
{% endif %}

<ul class="list--bare cards--baby">
    {% for push in pushes %}
        {% set cardStyle = '' %}
        {% if push.deployment %}
            {% set cardStyle = ' card--' ~ push.deployment.server.environment.key %}
        {% endif %}

        <li>
            <article class="card--baby mbn{{ cardStyle }}">
                <header class="card__header split">
                    <span class="split__title">
                        <a href="{{ urlFor('repository.status', {id: push.build.repository.id}) }}">
                            {{ push.build.repository.description }}
                        </a>
                    </span>

                    <a href="{{ urlFor('push', {'push': push.id}) }}">
                        {% if push.status == 'Success' %}
                            <span class="status-before--success">{{ push.status }}</span>
                        {% elseif push.status == 'Error' %}
                            <span class="status-before--error">{{ push.status }}</span>
                        {% else %}
                            <span class="status-before--other" data-push="{{ push.id }}">{{ push.status }}</span>
                        {% endif %}
                    </a>
                </header>

                <section class="card__details">
                    <ul class="split mbn">
                        <li>
                            <span class="split__title">{{ push.created|reldate }}</span>
                            {% if push.deployment %}
                                <a href="{{ urlFor('environment', {'id': push.deployment.server.environment.id}) }}">{{ push.deployment.server.environment.key }}</a>
                                →
                                <a href="{{ urlFor('server', {'id': push.deployment.server.id}) }}">{{ push.deployment.server.name }}</a>
                            {% else %}
                                Unknown
                            {% endif %}
                        </li>
                    </ul>
                </section>
            </article>
        </li>
    {% else %}
        <li>No pushes found.</li>
    {% endfor %}
</ul>
