<table class="tablesaw tablesaw-stack" data-mode="stack">
    <thead>
        <th>Push</th>
        <th>Status</th>
        <th>Env → Server</th>
        <th>Reference</th>
        <th>Initiator</th>
        <th>Date</th>
    </thead>
    <tbody>
    {% for push in pushes %}
        <tr>
            <td><a href="{{ urlFor('push', {'push': push.id}) }}">{{ push.id|formatPushId }}</a></td>
            <td>
                {% if push.status == 'Success' %}
                    <span class="status-before--success">{{ push.status }}</span>
                {% elseif push.status == 'Error' %}
                    <span class="status-before--error">{{ push.status }}</span>
                {% else %}
                    <span class="status-before--other" data-push="{{ push.id }}">{{ push.status }}</span>
                {% endif %}
            </td>
            <td>{{ push.deployment.server.environment.key }} → {{ push.deployment.server.name }}</a></td>
            <td>Build <a href="{{ urlFor('build', {'build': push.build.id}) }}">{{ push.build.id|formatBuildId }}</a></td>
            <td>
                {% if push.user %}
                    <a href="{{ urlFor('user', {'id': push.user.id}) }}">{{ push.user.handle }}</a>
                {% else %}
                    Unknown
                {% endif %}
            </td>
            <td>{{ push.created|reldate }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">No pushes found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
