<table class="tablesaw tablesaw-stack" data-mode="stack">
    <thead>
        <th>Push</th>
        <th>Server</th>
        <th>Status</th>
        <th>Build</th>
        <th>Initiator</th>
        <th>Completed</th>
    </thead>
    <tbody>
    {% for push in pushes %}
        <tr>
            <td><a href="{{ urlFor('push', {'push': push.id}) }}">{{ push.id }}</a></td>
            <td><a href="{{ urlFor('server', {'id': push.deployment.server.id}) }}">{{ push.deployment.server.name }}</a> ({{ push.deployment.server.environment.key }})</td>
            <td>
                {% if push.status == 'Success' %}
                    <span class="circle-green">{{ push.status }}</span>
                {% elseif push.status == 'Error' %}
                    <span class="circle-red">{{ push.status }}</span>
                {% else %}
                    <span class="circle-orange">{{ push.status }}</span>
                {% endif %}
            </td>
            <td><a href="{{ urlFor('build', {'repo': push.build.repository.key, 'build': push.build.id}) }}">{{ push.build.id[:10] }}</a></td>
            {% if push.user %}
                <td><a href="{{ urlFor('user', {'id': push.user.id}) }}">{{ push.user.name[:20] }}</a></td>
            {% elseif push.consumer %}
                <td>{{ push.consumer.name[:20] }}</td>
            {% else %}
                <td>Unknown</td>
            {% endif %}
            <td>{{ push.end|date }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">
                No pushes found.
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
