{% extends 'base.html.twig' %}

{% set page_title = 'Credential : ' ~ credential.name %}

{% set isSuper = isUserSuper(currentUser) %}

{% block content %}
    <h1>Credentials - <strong>{{ credential.name }}</strong></h1>

    <h3>Name</h3>
    <p>{{ credential.name }}</p>

    <h3>Type</h3>
    <p>
        {% if credential.type == 'aws' %}
            AWS
        {% elseif credential.type == 'privatekey' %}
            Private Key
        {% endif %}
    </p>

    {% if credential.type == 'aws' %}

        <h3>AWS Access Key</h3>
        <p>{{ credential.aws.key }}</p>

        <h3>AWS Secret</h3>
        <p><code>secret</code></p>

    {% elseif credential.type == 'privatekey' %}

        <h3>Username</h3>
        <p>{{ credential.privatekey.username }}</p>

        <h3>Private Key path</h3>
        <p>{{ credential.privatekey.path }}</p>

        <h3>Private Key file</h3>
        <p><code>secret</code></p>

    {% endif %}

    <h3>Application Deployments</h3>
    {% if deployments %}
        <table class="table--spacing-medium table--striped" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Application</th>
                    <th>Environment</th>
                    <th>Deployment</th>
                    <th class="t10"></th>
                </tr>
            </thead>
            <tbody>
            {% for deployment in deployments %}

                <tr>
                    <td>
                        <a href="{{ urlFor('application', {application: deployment.application.id}) }}">{{ deployment.application.name }}</a>
                    </td>
                    <td>
                        {{ deployment.server.environment.name }}
                    </td>
                    <td>
                        {{ deployment.formatPretty(true) }}
                    </td>
                    <td class="tr">
                        <a class="btn btn--tiny" href="{{ urlFor('deployment', {application: deployment.application.id, deployment: deployment.id}) }}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no deployments associated with these credentials.</p>
    {% endif %}

    <ul class="button-list button-list--half">
        <li><a class="btn" href="{{ urlFor('admin.credentials') }}">All Credentials</a></li>

        {% if isSuper %}
                <li class="button-list__fixed"><a class="btn btn--destructive" href="{{ urlFor('admin.credential.remove', {credential: credential.id}) }}">Remove Credentials</a></li>
        {% endif %}
    </ul>

{% endblock %}
