{% extends 'base.twig' %}
{% import 'macros.form.twig' as form_macros %}

{% set page_title = 'Add Encrypted Configuration' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('applications') }}">Applications</a></li>
    <li><a href="{{ uriFor('application', {'application': application.id}) }}">{{ application.name }}</a></li>
    <li><a href="{{ uriFor('encrypted.configuration', {'application': application.id}) }}">Encrypted Configuration</a></li>
{% endblock %}

{% block content %}
    {{ form_macros.form_errors(errors, is_csrf_error) }}

    <form method="post">
        {{ form_macros.csrf_input('encrypted.add') }}

        <ul class="form-fields form-wrapper">
            <li>
                <label for="name">Property Name</label>
                <input class="text-input" name="name" id="name" maxlength="64" value="{{ form.name }}" required>
                <small>
                    This will be uppercased and prefixed with <code>ENCRYPTED_</code> at runtime.
                </small>
            </li>

            <li>
                <label for="decrypted">Value</label>
                <input class="text-input" name="decrypted" id="decrypted" maxlength="200" value="{{ form.decrypted }}" autocomplete="off" required>
                <small>
                    This will be encrypted once saved, and only unencrypted during project build.
                </small>
            </li>

            <li>
                <label>Environment</label>

                {% if environments %}
                    <ul>
                        {% for environment in environments %}
                            {% set is_selected = form.environment == environment.id ? ' checked' : '' %}

                            <li>
                                <label for="env-{{ environment.id }}">
                                    <input type="radio" id="env-{{ environment.id }}" name="environment" value="{{ environment.id }}"{{ is_selected }}>
                                    {{ environment.name }}
                                </label>
                            </li>
                        {% endfor %}

                        {% set is_selected = form.organization == 'all' ? ' checked' : '' %}
                        <li>
                            <label for="env-noop">
                                <input type="radio" id="env-noop" name="environment" value="global"{{ is_selected }}>
                                Global (Available in all environments)
                            </label>
                        </li>
                    </ul>
                {% else %}
                    <p>There are no environments.</p>
                {% endif %}

            </li>
        </ul>

        <p>
            <button type="submit" class="btn btn--action">Add Encrypted Configuration</button>
            <a href="{{ uriFor('encrypted.configuration', {'application': application.id}) }}">Cancel</a>
        </p>

    </form>

{% endblock %}
