{% extends 'base.twig' %}
{% import 'macros.form.twig' as form_macros %}

{% set page_title = 'Add Encrypted Property' %}

{% block content %}
    <h1>{{ page_title }} - <b>{{ application.name }}</b></h1>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form method="post">
            <ul class="form-fields">
                <li>
                    <label for="name">
                        Property Name
                        <small class="additional">
                            This will be uppercased and prefixed with <code>ENCRYPTED_</code> at runtime.
                        </small>
                    </label>
                    <input name="name" id="name" maxlength="64" required value="{{ form.name }}" class="text-input">
                </li>

                <li>
                    <label for="decrypted">
                        Value
                        <small class="additional">This will be encrypted once saved, and only unencrypted during project build.</small>
                    </label>
                    <input name="decrypted" id="decrypted" maxlength="200" required value="{{ form.decrypted }}" class="text-input" autocomplete="off">
                </li>

                <li>
                    <label>Environment</label>
                    <ul class="radio-grid radio-grid--tri">
                        {% for environment in environments %}
                            {% set checked = '' %}
                            {% if form.environment == environment.id %}
                                {% set checked = ' checked' %}
                            {% endif %}

                            <li>
                                <input id="environment-{{ environment.id }}" type="radio" name="environment" value="{{ environment.id }}"{{ checked }}>
                                <label for="environment-{{ environment.id }}">{{ environment.name }}</label>
                            </li>
                        {% endfor %}

                        {% set checked = '' %}
                        {% if form.environment == 'all' %}
                            {% set checked = ' checked' %}
                        {% endif %}
                        <li>
                            <input id="environment-global" type="radio" name="environment" value="global"{{ checked }}>
                            <label for="environment-global">Global (Available in all environments)</label>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul>
                <li><input class="btn btn--action" type="submit" value="Add Encrypted Property"></li>
                <li><a class="btn" href="{{ uriFor('encrypted.configuration', {'application': application.id}) }}">Cancel</a></li>
            </ul>
        </form>
    </div>

{% endblock %}
