{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = 'Encrypted Properties : ' ~ application.name %}

{% set isAdmin = isUserAdminOrSuper(current_user) %}
{% set canEdit = isAdmin or isUserLeadOf(current_user, application) %}

{% block content %}
    <h1>Encrypted Properties - <strong>{{ application.name }}</strong></h1>

    {% if encrypteds %}
        <table class="table--spacing-medium table--striped" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Property Name</th>
                    <th>Environment</th>
                    {% if isAdmin %}
                        <th></th>
                    {% endif %}
                    {% if canEdit %}
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for property in encrypteds %}
                <tr>
                    <td>
                        <code class="code_clear">{{ property.name|upper }}</code>
                    </td>
                    <td>
                        {% if property.environment %}
                            {{ property.environment.name }}
                        {% else %}
                            Global (Available in all environments)
                        {% endif %}
                    </td>
                    {% if isAdmin %}
                        <td>
                            <a href="{{ uriFor('encrypted', {'application': application.id, 'encrypted': property.id}) }}">{{ macros.icon('unlocked') }} View unencrypted</a>
                        </td>
                    {% endif %}

                    {% if canEdit %}
                        <td class="tr">
                            <a class="btn btn--tiny btn--destructive" href="{{ uriFor('encrypted.remove', {'application': application.id, 'encrypted': property.id}) }}">Remove</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            Encrypted properties are immutable. To change the value of a property: Remove it then add it again.
            Only administrators can view encrypted values. If you need to know a previously set property, contact an administrator.<br><br>

            If a property is set for both <strong>Global</strong> and a specific environment, the environment-specific
            property will override the <strong>Global</strong> property.
        </p>
        <p>
            When decrypted and set as environment variables -  properties will be uppercased and prefixed with <code>ENCRYPTED_</code> at runtime.
        </p>
    {% else %}
        <p>There are no encrypted properties for this application.</p>
    {% endif %}

    <ul class="button-list button-list--half">
        {% if canEdit %}
            <li><a class="btn btn--action" href="{{ uriFor('encrypted.add', {'application': application.id}) }}">Add Encrypted Property</a></li>
        {% endif %}
        <li><a class="btn" href="{{ uriFor('application', {'application': application.id}) }}">Application</a></li>
    </ul>

{% endblock %}
