{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = 'Encrypted Configuration : ' ~ application.name %}

{% block content %}

    {% if decryption_error %}
        {{ macros.alert('error', 'Unable to decrypt value! Encryption may be misconfigured.') }}
    {% endif %}

    <div class="nav--page">
        <h1>Encrypted Property - <b>{{ application.name }}</b></h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('application', {'application': application.id}) }}">Back to Application</a>
        </p>
    </div>

    <div class="details-box">
        <ul class="mbn">
            <li>
                <h6>Application</h6>
                {{ application.name }}
            </li>

            <li>
                <h6>Environment</h6>
                {% if encrypted.environment %}
                    {{ encrypted.environment.name }}
                {% else %}
                    Global (Available in all environments)
                {% endif %}
            </li>
        </ul>
    </div>

    <section>

        <h4>Property Name</h4>
        <p><code>{{ encrypted.name }}</code></p>

        <h4>Current value</h4>
        {% if decryption_error %}
            <p>Unable to decrypt value. Encryption may be misconfigured.</p>

        {% else %}
            <p>
                <code>{{ decrypted }}</code>
                <br><small>This value is only visible to application owners and administrators.</small>
            </p>
        {% endif %}

    </section>

    <ul>
        <li><a class="btn" href="{{ uriFor('encrypted.configuration', {'application': application.id}) }}">View all encrypted configuration</a></li>
        <li><a class="btn btn--destructive" href="{{ uriFor('encrypted.remove', {'application': application.id, 'encrypted': encrypted.id}) }}">Remove Property</a></li>
    </ul>

{% endblock %}
