{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = 'Encrypted Properties : ' ~ application.name %}

{% block content %}

    {% if decryption_error %}
        {{ macros.alert('error', 'Unable to decrypt value! Encryption may be misconfigured.') }}
    {% endif %}

    <h1>Encrypted Property - <strong>{{ application.name }}</strong></h1>

    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Application</dt>
            <dd>
                <a href="{{ uriFor('application', {'application': application.id}) }}">{{ application.name }}</a>
            </dd>

            <dt class="split__title">Environment</dt>
            <dd>
                {% if encrypted.environment %}
                    {{ encrypted.environment.name }}
                {% else %}
                    Global (Available in all environments)
                {% endif %}
            </dd>
        </dl>
    </div>

    <section>

        <h4>Property Name</h4>
        <p><code>{{ encrypted.name }}</code></p>

        <h4>Current value</h4>
        {% if decryption_error %}
            <p>Unable to decrypt value. Encryption may be misconfigured.</p>

        {% else %}
            <p>
                <code>{{ decrypted }}</code>
                <br><small>This value is only visible to application owners and administrators.</small>
            </p>
        {% endif %}

    </section>

    <ul class="button-list button-list--half">
        <li><a class="btn" href="{{ uriFor('encrypted.configuration', {'application': application.id}) }}">View all encrypted properties</a></li>
        <li><a class="btn btn--secondary" href="{{ uriFor('application', {'application': application.id}) }}">Applicaton</a></li>
    </ul>

{% endblock %}
