{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Encrypted Configuration : ' ~ application.name %}

{% set isAdmin = current_authorizations.isSuper() %}
{% set canEdit = isAdmin or current_authorizations.isAdminOf(application) %}

{% block content %}
    <div class="nav--page">
        <h1>Encrypted Configuration - <b>{{ application.name }}</b></h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('application', {'application': application.id}) }}">Back to Application</a>
        </p>
    </div>

    <p>
        Encrypted configuration is used to inject secrets and sensitive information into your build process.
        Hal encrypts secrets at rest. This is secure. Do not store secrets in your version control!
    </p>

    {% if encrypteds %}
        <table class="table--spacing-medium table--striped">
            <thead>
                <tr>
                    <th>Property Name</th>
                    <th>Environment</th>
                    {% if isAdmin %}
                        <th></th>
                    {% endif %}
                    {% if canEdit %}
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for property in encrypteds %}
                <tr>
                    <td>
                        <code class="code_clear">{{ property.name|upper }}</code>
                    </td>
                    <td>
                        {% if property.environment %}
                            {{ property.environment.name }}
                        {% else %}
                            Global (Available in all environments)
                        {% endif %}
                    </td>
                    {% if isAdmin %}
                        <td>
                            <a href="{{ uriFor('encrypted', {'application': application.id, 'encrypted': property.id}) }}">{{ macros.icon('unlocked') }} View unencrypted</a>
                        </td>
                    {% endif %}

                    {% if canEdit %}
                        <td class="tr">
                            <a class="btn btn--tiny btn--destructive" href="{{ uriFor('encrypted.remove', {'application': application.id, 'encrypted': property.id}) }}">Remove</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p>
            Encrypted configuration is immutable. To change the value of a property: Remove it then add it again.
            Only administrators can view encrypted values. If you need to know a previously set property, contact an administrator.<br><br>

            If a property is set for both <b>Global</b> and a specific environment, the environment-specific
            property will override the <b>Global</b> property.
        </p>
        <p>
            When decrypted and set as environment variables -  properties will be uppercased and prefixed with <code>ENCRYPTED_</code> at runtime.
        </p>
    {% else %}
        <p>There are no encrypted configuration for this application.</p>

    {% endif %}

    {% if canEdit %}
        <ul>
            <li><a class="btn btn--action" href="{{ uriFor('encrypted.add', {'application': application.id}) }}">Add Encrypted Property</a></li>
        </ul>
    {% endif %}

{% endblock %}
