{#
Needs the following parameters:
- servers_by_env
- form.server
- form.path
- form.url
- repository
- rsync_only

#}
<form method="post" action="{{ urlFor('repository.deployments.add', {repository: repository.id}) }}">
    <ul class="form-fields">
        <li>
            <label for="server">
                Server
            </label>
            <select class="select-input" name="server" id="server" required>
                <option></option>
                {% for environment, servers in servers_by_env %}
                    <optgroup label="{{ environment }}">
                        {% for server in servers if not rsync_only or server.type == 'rsync' %}
                            {% set isSelected = (server.id == form.server) %}

                            {% set servername = server.name %}
                            {% if server.type == 'elasticbeanstalk' %}
                                {% set servername = 'Elastic Beanstalk' %}
                            {% elseif server.type == 'ec2' %}
                                {% set servername = 'EC2' %}
                            {% endif %}

                            <option value="{{ server.id }}"{{ isSelected ? ' selected' : '' }}>{{ servername }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
            <small class="additional">
                Server not listed? <a href="{{ urlFor('server.admin.add') }}">Add a new server</a>
            </small>
        </li>
        <li>
            <label for="path">
                File path
                <small class="additional">
                    {% if not rsync_only %}
                        <strong>Rsync and EC2 Servers Only</strong><br>
                    {% endif %}
                    The absolute path to the file directory on the server.
                    <br>Paths must begin with a forward slash (/).
                </small>
            </label>
            <input class="text-input" type="text" name="path" id="path" maxlength="255" value="{{ form.path }}" pattern="^\/[^\n\t]+">
        </li>

        {% if not rsync_only %}
            <li>
                <label for="eb_environment">
                    Elastic Beanstalk Environment ID
                    <small class="additional">
                        <strong>EB Servers Only</strong>
                    </small>
                </label>
                <input class="text-input" type="text" name="eb_environment" id="eb_environment" maxlength="100" value="{{ form.eb_environment }}" pattern="^[^\n\t]+">
            </li>

            <li>
                <label for="ec2_pool">
                    EC2 Pool
                    <small class="additional">
                        <strong>EC2 Servers Only</strong>
                    </small>
                </label>
                <input class="text-input" type="text" name="ec2_pool" id="ec2_pool" maxlength="100" value="{{ form.ec2_pool }}" pattern="^[^\n\t]+">
            </li>
        {% endif %}

        <li>
            <label for="url">
                URL
                <small class="additional">
                    A URL is required to help users find where the code is deployed.
                    <br>Must be the full URL and begin with <code>http://</code> or <code>https://</code>.
                </small>
            </label>
            <input class="text-input" type="url" name="url" id="url" maxlength="255" value="{{ form.url }}" required>
        </li>
    </ul>

    <div>
        {# primary action #}
        <input class="btn" type="submit" value="Add Deployment">

        {# secondary actions #}
        <a class="secondary-action" href="{{ urlFor('repository.deployments', {repository: repository.id}) }}">Cancel</a>
    </div>
</form>
