{% extends 'base.html.twig' %}

{% set page_title = "Reorder Environments" %}

{% block content %}
    <h2>Reorder Environments</h2>
    <p>Drag environments into the desired order, or manually assign orders with the text input.</p>

    <form action="{{ urlFor('environment.admin.reorder.handle') }}" method="post">
        <table id="env-reorder">
            <thead>
            <tr>
                <th class="t5"></th>
                <th class="t15">Order</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for env in envs %}
                <tr class="env-row-{{ env.key }}">
                    <td>
                        <svg class="icon"><use xlink:href="#menu-2"></use></svg>
                    </td>
                    <td><input type="text" maxlength="2" required name="env{{ env.id }}" value="{{ env.order }}" class="text-input"></td>
                    <td>{{ env.key }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">There are no environments.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div>
            {# primary action #}
            <input class="btn" type="submit" value="Save Order">

            {# secondary actions #}
            <a class="secondary-action" href="{{ urlFor('environments') }}">Cancel</a>
        </div>
    </form>
{% endblock %}
