{% extends 'base.html.twig' %}

{% set page_title = 'Edit '~env.key~' environment' %}

{% block content %}
    <h2>{{ env.key }} environment</h2>

    <div class="form-wrapper">
        {% if errors %}
            <ul class="error-list">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="{{ urlFor('environment.admin.edit.handle') }}" method="post">
            <ul class="form-fields">
                <li>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="envname" maxlength="24" required value="{{ form.name }}" class="text-input">
                </li>
            </ul>

            {# primary action #}
            <input class="btn" type="submit" value="Save">

            {# secondary actions #}
            <p>
                <a href="{{ urlFor('environment', {id: env.id}) }}">Cancel</a>
            </p>
        </form>
    </div>
{% endblock %}
