{% extends 'base.html.twig' %}

{% set page_title = 'Environment: '~env.key %}

{% block content %}
    <h2><strong>{{ env.key }}</strong> environment</h2>

    <h3>Servers</h3>
    <ul>
        {% for server in servers %}
            <li><a href="{{ urlFor('server', {'id': server.id}) }}">{{ server.name }}</a></li>
        {% else %}
            <li>There are no servers associated with this environment.</li>
        {% endfor %}
    </ul>

    {% if isUserAdmin(currentUser) and servers %}
        <p><strong>Note:</strong> All associated servers must be removed or transferred to remove this environment.</p>
    {% endif %}

    <div>
        {% if isUserAdmin(currentUser) %}
            <a class="btn--action" href="{{ urlFor('environment.admin.edit', {id: env.id}) }}">Edit</a>
            {% if not servers and canUserDelete(currentUser) %}
                <a class="btn--destructive secondary-action" href="{{ urlFor('environment.admin.remove.handle', {id: env.id}) }}">Remove Environment</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
