{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = "GitHub Authorization Error" %}

{% block content %}
    <h2>{{ page_title }}</h2>

    {{ macros.alert('error', 'Shits all fucked up', block('error_details'), true) }}

    <a class="btn" href="{{ uriFor('settings') }}">Return to user settings</a>

{% endblock %}

{% block error_details %}
    <p>
        An error occured while obtaining an access token from GitHub Enterprise.<br>
    </p>

    {% if error_code %}
        <p>
            Error Code:<br>
            <code>{{ error_code }}</code>
        </p>
    {% endif %}

    {% if error_description %}
        <p>
            Error Description:<br>
            <code>{{ error_description }}</code>
        </p>
    {% endif %}
{% endblock %}
