{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.form.twig' as form_macros %}

{% set page_title = 'Settings' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('user', {'user': user.id}) }}">{{ user.name }}</a></li>
{% endblock %}

{% block content %}
    <h2>Hal Preferences</h2>
    {{ block('navigation_pref') }}

    <h2>Personal Access Tokens</h2>
    <small>Personal Access Tokens can be used to access the <a href="{{ uriFor('api.index') }}">Hal API</a>.</small>

    {% include 'user/partial.tokens.twig' with { 'user': user, 'is_owner': is_token_owner } only %}
    {{ block('add_token_form') }}

{% endblock %}

{% block navigation_pref %}
    <form method="post">

        {% set is_selected = is_serious_business_mode ? ' checked' : '' %}
        <label class="checkbox-toggle">
            <input type="checkbox" name="seriousbusiness" value="1" {{ is_selected }}>
            <b class="checkbox-toggle--pill"></b>Use <b>Serious Business&trade;</b> mode
        </label>

        <p>
            <small>
                Flavor text such as <b>Hello, Dave</b> and <b>I'm afraid I can't do that</b> will be reduced across the application.
            </small>
        </p>

        <p>
            <button type="submit" class="btn btn--action">Save Preferences</button>
        </p>
    </form>
{% endblock %}

{% block add_token_form %}
    <h3>Add new personal access token</h3>

    <form action="{{ uriFor('user_token.add', {'user': user.id}) }}" method="post">
        {{ form_macros.csrf_input('user_token.add') }}
        <ul class="form-wrapper">
            <li>
                <label for="token-name">Token Name</label>
                <input type="text" class="text-input" name="name" id="token-name" maxlength="50" required>
            </li>
        </ul>

        <p>
            <button type="submit" class="btn btn--action">Generate Token</button>
        </p>
    </form>
{% endblock %}
