{% extends 'base.twig' %}
{% import "macros.twig" as macros %}

{% set page_title = 'Settings' %}

{% block content %}

    <div class="nav--page">
        <h1>User Settings</h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('user', {'user': user.id}) }}">User Profile</a>
        </p>
    </div>

    <section class="leader--andre">
        <h2 class="mbs">Hal Preferences</h2>
        {{ block('navigation_pref') }}
    </section>

    <section class="leader--andre">
        <h2 class="mbn">Personal Access Tokens</h2>
        {{ block('access_tokens') }}
    </section>
{% endblock %}

{% block navigation_pref %}
    <form method="post">

        <label class="checkbox--switch">
            <input type="checkbox" name="seriousbusiness" value="1" {{ is_serious_business_mode ? ' checked' : '' }}>
            <b class="checkbox--switch__pill"></b>Use <strong>Serious Business&trade;</strong> mode
        </label>

        <p>
            <small>
                Flavor text such as <strong>Hello, Dave</strong> and <strong>I'm afraid I can't do that</strong> will be reduced across the application.
            </small>
        </p>

        <p class="leader">
            <input class="btn btn--action btn--small" type="submit" value="Save Preferences">
        </p>
    </form>
{% endblock %}

{% block access_tokens %}
    <small>Personal Access Tokens can be used to access the <a href="{{ uriFor('api.index') }}">Hal API</a>.</small>

    {% if tokens %}
        <table class="table--spacing-medium" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Token</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for token in tokens %}
                    <tr>
                        <td>{{ token.label }}</td>
                        <td><code>{{ token.value }}</code></td>
                        <td class="tr">
                            <a class="btn btn--tiny btn--destructive" href="{{ uriFor('user.token.remove', {'user': user.id, 'token': token.id}) }}">
                                Revoke <span class="tablesaw-collapse">Access Token</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no personal access tokens saved.</p>
    {% endif %}

    <form action="{{ uriFor('user.token.add', {'user': user.id}) }}" method="post">
        <h3>Add new personal access token</h3>

        <div class="form-wrapper">
            <label for="token-label">Token Name</label>
            <input type="text" name="label" id="token-label" maxlength="50" class="text-input" required>

            <p class="leader">
                <input class="btn btn--action btn--small" type="submit" value="Generate Token">
            </p>

        </div>
    </form>

{% endblock %}
