{% extends 'base.html.twig' %}
{% import "partials/macros.twig" as macros %}

{% set page_title = 'Settings' %}

{% block content %}

    <h2>Settings</h2>

    <form action="{{ urlFor('settings.handler', {id: user.id}) }}" method="post">

        <h3>HAL Preferences</h3>
        <p class="mbn">Customize the items on the navigation menu</p>

        <ul class="nav--main nav--preferences">
            {% for item, description in navItems %}
                <li>
                    <label>
                        <input type="checkbox" name="navpreferences[]" value="{{ item }}" {{ isNavOn(item) ? ' checked' : '' }}>

                        {{ macros.icon('tick', 'pref-on') }}
                        {{ macros.icon('cross', 'pref-off') }}

                        {{ description }}
                    </label>
                </li>
            {% endfor %}
        </ul>

        <div class="checkbox--pretty">
            <label>
                <input type="checkbox" name="seriousbusiness" value="1" {{ isSeriousBusinessMode() ? ' checked' : '' }}>

                {{ macros.icon('tick', 'checkbox__on') }}
                {{ macros.icon('cross', 'checkbox__off') }}

                Use <strong>Serious Business&#8482;</strong> mode
            </label>

            <p class="flavor mbn">Flavor text such as <strong>Hello, Dave</strong> and <strong>I'm afraid I can't do that</strong> will be reduced across the application.</p>
        </div>

        <p class="leader">
            <input class="btn btn--action" type="submit" value="Save Preferences">
        </p>
    </form>

    {{ block('github_token') }}

    {# {{ block('access_tokens') }}#}
{% endblock %}

{% block github_token %}
    <h2 class="mbn">Github Deployment Updates</h2>
    <small>Allow HAL to update github repositories you have access to when you build or push.</small>

    <h5 class="leader mbn">Current status:</h5>
    <p>
        {% if hasGithubToken %}
            <strong>ENABLED</strong>
            <br><a class="btn btn--small btn--destructive" href="{{ urlFor('github.authorization.remove') }}">Disable GitHub updates</a>
        {% else %}
            <strong>NOT ENABLED</strong>
            <br><a class="btn btn--small" href="{{ urlFor('github.authorization') }}">Authorize HAL 9000</a>
        {% endif %}
    </p>
{% endblock %}

{% block access_tokens %}
    <h2 class="mbn">Personal Access Tokens</h2>
    <small>Tokens you have created that can be used to access the <a href="{{ urlFor('api.index') }}">HAL API</a>.</small>

    <form action="{{ urlFor('user.token.add', {id: user.id}) }}" method="post">
        <table data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Token</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for token in user.tokens %}
                <tr>
                    <td>{{ token.label }}</td>
                    <td>{{ token.value }}</td>
                    <td><a class="btn--destructive" href="{{ urlFor('user.token.remove', {id: user.id, token: token.value}) }}">Revoke</a></td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="2">
                        <input type="text" name="label" maxlength="50" class="text-input t50" placeholder="Token name or label..." required>
                    </td>
                    <td><input class="btn" type="submit" value="Generate"></td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}
