{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.pagination.twig' as pagination %}

{% set page_title = 'Users' %}

{% block content %}
    <h1>{{ page_title }}</h1>

    {{ pagination.pagination(page, last, 'users', {}, {}, 'previous', 'next') }}

    {{ block('user_table') }}

    {{ pagination.pagination(page, last, 'users', {}, {}, 'previous', 'next') }}

{% endblock %}

{% block user_table %}

    {% if users %}
        <table class="table--spacing-medium">
            <thead>
                <tr>
                    <th class="t15">User ID</th>
                    <th class="t15">Provider</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            <a href="{{ uriFor('user', {'user': user.id}) }}">{{ user|short_guid }}</a>
                            {% if user.isDisabled %}
                                {{ macros.status('Disabled', 'error') }}
                            {% endif %}
                        </td>
                        <td>
                            {{ user.provider|idp_type }}
                        </td>
                        <td>
                            {{ user.name }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There are no users.</p>
    {% endif %}
{% endblock %}
