{% extends 'base.html.twig' %}
{% import _self as page_macros %}

{% set page_title = "Users" %}

{% block content %}
    <h1>{{ page_title }}</h1>

    {{ page_macros.userTable(users, true) }}

    {% if isUserAdmin(currentUser) and inactiveUsers %}
        <h2>Inactive Users</h2>
        {{ page_macros.userTable(inactiveUsers, false) }}
    {% endif %}
{% endblock %}

{% macro userTable(users, showtypes) %}
    {% import "_partial/macros.twig" as macros %}

    <table class="table--spacing-medium table--striped" data-tablesaw-mode="stack">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Display Name</th>
                <th>E-mail</th>
                {% if showtypes %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% set user_types = user.type %}
            {% set user = user.user %}

            <tr>
                <td><a href="{{ urlFor('user', {'id': user.id}) }}">{{ user.id }}</a></td>
                <td>{{ user.handle }}</td>
                <td>
                    {% if isSeriousBusinessMode() %}
                        {{ user.name }}
                    {% else %}
                        {{ getUsersActualName(user) }}
                    {% endif %}
                </td>
                <td>{{ user.email }}</td>

                {% if showtypes %}
                    <td class="tr">
                        {% if user_types.hasType %}
                            <ul class="inline-list--space">
                                {% if user_types.isLead %}
                                    <li>{{ macros.status('Lead', 'info') }}</li>
                                {% endif %}
                                {% if user_types.isButtonPusher %}
                                    <li>{{ macros.status('Admin', 'warning') }}</li>
                                {% endif %}
                                {% if user_types.isSuper %}
                                    <li>{{ macros.status('Super', 'error') }}</li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="4">There are no users.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
