{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.pagination.twig' as pagination %}

{% set page_title = 'Users' %}

{% set is_super = current_authorizations.isSuper() %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
{% endblock %}

{% block content %}
    {{ pagination.pagination(page, last, 'users', {}, {}, 'previous', 'next') }}

    {{ block('user_table') }}

    {{ pagination.pagination(page, last, 'users', {}, {}, 'previous', 'next') }}

    <p>
        {% if is_super %}
            <a class="btn" href="{{ uriFor('user.add') }}">Add User</a>
            <a class="btn" href="{{ uriFor('admin.permissions') }}">Manage Permissions</a>
        {% else %}
            {{ macros.disabled_button('Add User') }}
            {{ macros.disabled_button('Manage Permissions') }}
        {% endif %}
    </p>

{% endblock %}

{% block user_table %}
    <table class="table--spacing-medium">
        <thead>
            <tr>
                <th class="t15">User ID</th>
                <th class="t15">Provider</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% if users %}
                {% for user in users %}
                    <tr>
                        <td>
                            <a href="{{ uriFor('user', {'user': user.id}) }}">{{ user|short_guid }}</a>
                            {% if user.isDisabled %}
                                {{ macros.status('Disabled', 'error') }}
                            {% endif %}
                        </td>
                        <td>
                            {{ user.provider.formatType() }}
                        </td>
                        <td>
                            {{ user.name }}

                            {% if is_super %}
                                <a style="float: right" href="{{ uriFor('user_permissions.add', {'user': user.id}) }}">Add Permissions</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No users available.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
