{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.form.twig' as form_macros %}

{% set page_title = user.name %}

{% set is_super = current_authorizations.isSuper() %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('admin') }}">Administrators</a></li>
    <li><a href="{{ uriFor('users') }}">Users</a></li>
{% endblock %}

{% block content %}
    <div style="display:flex">
        <div style="flex: 0 1 auto; margin-right:1em;">
            <img src="{{ get_gravatar_link(user.email) }}">
        </div>
        <div style="flex: 0 1 auto">

            <h2>
                {% if is_serious_business_mode %}
                    {{ user.name }}
                {% else %}
                    {{ random(['Dave', 'Frank']) }}
                {% endif %}
            </h2>

            <h4>
                Astronaut
                <br><small>Discovery One</small>
            </h4>
        </div>
    </div>

    {{ block('meta') }}

    {% if is_super %}
        <h2>Administrator Actions</h2>
        {{ block('user_actions') }}
    {% endif %}

    <h2>Contact</h2>
    <ul class="meta-box">
        <li>
            <h6>Name</h6>
            {{ user.name }}
        </li>

        <li>
            <h6>Email</h6>
            {{ user.parameter('email') ? user.parameter('email') : 'None' }}
        </li>
    </ul>

    <h2>Access and Authorizations</h2>
    {% include 'partial.user_permissions.twig' with {
        user: user,
        authorizations: user_authorizations,
        permissions: user_permissions
    } only %}

    {% if is_super %}
        <h2>Personal Access Tokens</h2>
        <small>Personal Access Tokens can be used to access the <a href="{{ uriFor('api.index') }}">Hal API</a>.</small>

        {% include 'user/partial.tokens.twig' with { 'user': user, 'is_owner': false } only %}
    {% endif %}

{% endblock %}

{% block meta %}
    <ul class="meta-box">
        <li>
            <h6>User ID</h6>
            {{ user.id|short_guid }}
        </li>

        <li>
            <h6>ID Provider</h6>
            {{ user.provider.formatType() }}
            {% if is_super %}
                <ul class="mts">
                    <li>
                        <b>Provider User ID: </b> {{ user.providerUniqueID }}
                    </li>
                    <li>
                        <b>Sign-In Status:</b>
                        {% if user.parameter('internal.setup_token') %}
                            {% if is_setup_token_expired %}
                                {{ macros.status('Setup token is expired.', 'error') }}
                            {% else %}
                                {{ macros.status('Pending user set up of their password', 'notice') }}
                            {% endif %}
                        {% else %}
                            {{ macros.status('Valid', 'success') }}
                        {% endif %}
                    </li>
                </ul>
            {% endif %}
        </li>

        <li>
            <h6>Date Added</h6>
            {{ user.created|html5date }}
        </li>
    </ul>
{% endblock %}

{% block user_actions %}
    <div class="meta-box">
        {% if is_super %}
            <a class="btn" href="{{ uriFor('user_permissions.add', {'user': user.id}) }}">Add System Permissions</a>
        {% else %}
            {{ macros.disabled_button('Add Permissions') }}
        {% endif %}

        {% if can_disable %}
            {% if user.isDisabled %}
                <form method="post" action="{{ uriFor('user.enable', {'user': user.id}) }}" class="form--inline">
                    {{ form_macros.csrf_input('user.enable') }}
                    <button type="submit" class="btn btn--action">Enable User</a>
                </form>
            {% else %}
                <form method="post" action="{{ uriFor('user.disable', {'user': user.id}) }}" class="form--inline">
                    {{ form_macros.csrf_input('user.disable') }}
                    <button type="submit" class="btn btn--destructive">Disable User</a>
                </form>
            {% endif %}
        {% else %}
            {{ macros.disabled_button('Disable User') }}
        {% endif %}

        {% if is_super %}
            <form method="post" action="{{ uriFor('user.regenerate_setup', {'user': user.id}) }}" class="form--inline">
                {{ form_macros.csrf_input('user.regenerate_setup') }}
                <button type="submit" class="btn btn--action">Regenerate user setup token</button>
            </form>
        {% else %}
            {{ macros.disabled_button('Regenerate user setup token') }}
        {% endif %}
    </div>
{% endblock %}
