{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}
{% import 'macros.pagination.twig' as pagination %}

{% set page_title = 'Users' %}

{% block content %}
    <h1>{{ page_title }}</h1>

    {{ pagination.pagination(page, last, 'users', {}, {}, 'previous', 'next') }}

    {{ block('user_table') }}

    {{ pagination.pagination(page, last, 'users', {}, {}, 'previous', 'next') }}

{% endblock %}

{% block user_table %}

    {% if users %}
        <table class="table--spacing-medium table--striped">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            <a href="{{ uriFor('user', {'user': user.id}) }}">{{ user|shortGUID }}</a>
                            {% if user.isDisabled %}
                                {{ macros.status('Disabled', 'error') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if is_serious_business_mode %}
                                {{ user.name }}
                            {% else %}
                                {{ random(['Dave', 'Frank']) }}
                            {% endif %}
                        </td>
                        <td>{{ user.username }}</td>

                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There are no users.</p>
    {% endif %}
{% endblock %}
