{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set isSelf = (currentHalUser.id == user.id) %}
{% set name = getUsersName(user) %}
{% set displayName = isSeriousBusinessMode() ? name : getUsersActualName(user) %}

{% set page_title = name %}

{% block content %}

    <h1>
        {% if isSeriousBusinessMode() %}
            {{ displayName }}
        {% else %}
            <span
                data-initial="{{ getUsersActualName(currentUser) }}"
                data-nofunzone="{{ name }}"
            >{{ displayName }}</span>
        {% endif %}
    </h1>

    {% if ldapUser %}
        <h4>{{ ldapUser.teamName }}</h4>
        <p>{{ ldapUser.title }}</p>
    {% endif %}

    <p>
        {% if ldapUser %}
            {% set profilePicture = user.pictureUrl.host ~ user.pictureUrl.path %}
            <img src="{{ ishttpsOn ? 'https' : 'http' }}://{{ profilePicture }}" width="150">
        {% else %}
            <img src="/img/noprofile.jpg" width="150">
        {% endif %}
    </p>

    <h2>Contact</h2>
    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Email</dt>
            <dd><a href="mailto:{{ user.Email }}">{{ user.Email }}</a></dd>

            <dt class="split__title">Phone</dt>
            <dd>{{ ldapUser.workPhone }} (x{{ ldapUser.workExt }})</dd>

            <dt class="split__title">Mobile</dt>
            <dd>{{ ldapUser.mobilePhone }}</dd>

            <dt class="split__title">Rockworld Profile</dt>
            <dd><a href="http://quniverse/profiles/Person.aspx?accountname=MI%5c{{ user.handle }}">Rockword Profile</a></dd>
        </dl>
    </div>

    <h2>Status</h2>
    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">HAL</dt>
            <dd>
                {% if user.isActive %}
                    {{ macros.status('Active', 'success', 'tick') }}
                {% else %}
                    {{ macros.status('Inactive', 'error', 'nope') }}
                {% endif %}
            </dd>

            <dt class="split__title">Active Directory</dt>
            <dd>
                {% if ldapUser %}
                    {{ macros.status('Active', 'success', 'tick') }}
                {% else %}
                    {{ macros.status('Inactive', 'error', 'nope') }}
                {% endif %}
            </dd>

            <dt class="split__title">User Types</dt>
            <dd>
                {% if types.hasType %}
                    <ul class="inline-list--space">
                        {% if types.isLead %}
                            <li>{{ macros.status('Lead', 'notice') }}</li>
                        {% endif %}
                        {% if types.isButtonPusher %}
                            <li>{{ macros.status('Admin', 'warning') }}</li>
                        {% endif %}
                        {% if types.isSuper %}
                            <li>{{ macros.status('Super', 'error') }}</li>
                        {% endif %}
                    </ul>
                {% else %}
                    Standard
                {% endif %}
            </dd>

            {% if types.isLead and types.applications %}
                <dt class="split__title">Lead Applications</dt>
                <dd>
                    <ul class="inline-list--comma">
                        {% for app in types.applications %}
                            <li><a href="{{ urlFor('repository', {repository: app.id}) }}">{{ app.name }}</a></li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endif %}
        </dl>
    </div>

    <h2>Activity</h2>
    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Total Builds</dt>
            <dd>{{ builds }}</dd>

            <dt class="split__title">Total Pushes</dt>
            <dd>{{ pushes }}</dd>

            <dt class="split__title">Github Profile</dt>
            <dd><a href="http://git/{{ user.handle }}">http://git/{{ user.handle }}</a> {{ macros.icon('github') }}</dd>
        </dl>
    </div>

    <h2>Deployment Permissions</h2>
    {% if permissions %}
        <table class="table--spacing-medium table--top-aligned" data-tablesaw-mode="stack">
            <thead>
            <tr>
                <th>Environment</th>
                <th>Repositories</th>
            </tr>
            </thead>
            <tbody>
                {% for env, permission in permissions %}
                    <tr>
                        <td>{{ env }}</td>
                        <td>
                            <ul class="col-list">
                                {% for rule in permission %}
                                    <li><a href="{{ urlFor('repository', {'id': rule.repository.id}) }}">{{ rule.repository.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><strong>{{ name }}</strong> has no deployment permissions.</p>
    {% endif %}

{% endblock %}
