{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set isSelf = (currentHalUser.id == user.id) %}
{% set name = getUsersName(user) %}
{% set displayName = isSeriousBusinessMode() ? name : getUsersActualName(user) %}

{% set page_title = 'User : ' ~ name %}

{% set isAdmin = isUserAdminOrSuper(currentUser) %}
{% set isSuper = isUserSuper(currentUser) %}

{% block content %}

    <div class="flag">
        <div class="flag__figure">
            {% if ldapUser %}
                <img src="{{ ishttpsOn ? 'https' : 'http' }}://rockworldapps/badgephotos/{{ ldapUser.commonId }}.jpg" width="100">
            {% else %}
                <img src="/img/noprofile.jpg" width="100">
            {% endif %}
        </div>
        <div class="flag__body">

            <h1 class="mbs">
                {% if isSeriousBusinessMode() %}
                    {{ displayName }}
                {% else %}
                    <span data-initial="{{ getUsersActualName(currentUser) }}" data-nofunzone="{{ name }}">{{ displayName }}</span>
                {% endif %}
            </h1>
            {% if ldapUser %}
                <h4>{{ ldapUser.title }}</h4>
                <p>{{ ldapUser.teamName }}</p>
            {% else %}
                <h4>Astronaut</h4>
                <p>Discovery One</p>
            {% endif %}
        </div>
    </div>

    <h2 class="leader">Contact</h2>
    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Email</dt>
            <dd><a href="mailto:{{ user.Email }}">{{ user.Email }}</a></dd>

            {% if ldapUser %}
                <dt class="split__title">Phone</dt>
                <dd>{{ ldapUser.workPhone }} (x{{ ldapUser.workExt }})</dd>

                <dt class="split__title">Mobile</dt>
                <dd>{{ ldapUser.mobilePhone }}</dd>

                <dt class="split__title">QUniverse Profile</dt>
                <dd><a href="http://quniverse/profiles/Person.aspx?accountname=MI%5c{{ user.handle }}">Rockword Profile</a></dd>
            {% endif %}
        </dl>
    </div>

    <h2>Status</h2>
    {% include '_partial/user.status.twig' with {showHalStatus: true} %}

    <h2>Activity</h2>
    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Total Builds</dt>
            <dd>{{ builds }}</dd>

            <dt class="split__title">Total Pushes</dt>
            <dd>{{ pushes }}</dd>

            <dt class="split__title">GitHub Profile</dt>
            <dd><a href="http://git/{{ user.handle }}">http://git/{{ user.handle }}</a> {{ macros.icon('github') }}</dd>
        </dl>
    </div>

{% endblock %}
