{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set isSelf = (currentHalUser.id == user.id) %}
{% set name = getUsersName(user) %}
{% set displayName = isSeriousBusinessMode() ? name : getUsersActualName(user) %}

{% set page_title = 'User : ' ~ name %}

{% set isAdmin = isUserAdminOrSuper(getCurrentUser()) %}
{% set isSuper = isUserSuper(getCurrentUser()) %}

{% block content %}

    <div class="flag">
        <div class="flag__figure">
            <img src="{{ getAvatarLink(user.Email) }}">
        </div>
        <div class="flag__body">

            <h1 class="mbn">
                {% if isSeriousBusinessMode() %}
                    {{ displayName }}
                {% else %}
                    <span data-initial="{{ getUsersActualName(getCurrentUser()) }}" data-nofunzone="{{ name }}">{{ displayName }}</span>
                {% endif %}
            </h1>
            {% if ldapUser %}
                <h4 class="mtn">{{ ldapUser.title }}</h4>
                <p>{{ ldapUser.teamName }}</p>
            {% else %}
                <h4 class="mtn">Astronaut</h4>
                <p>Discovery One</p>
            {% endif %}
        </div>
    </div>

    <h2 class="leader">Contact</h2>
    <div class="details-box">
        <ul class="list--bare mbn">
            <li>
                <span class="split__title">Email</span>
                <a href="mailto:{{ user.Email }}">{{ user.Email }}</a>
            </li>
            {% if ldapUser %}
                <li>
                    <span class="split__title">Phone</span>
                    {{ ldapUser.workPhone }} (x{{ ldapUser.workExt }})
                </li>

                <li>
                    <span class="split__title">Mobile</span>
                    {{ ldapUser.mobilePhone }}
                </li>

                <li>
                    <span class="split__title">QUniverse Profile</span>
                    <a href="http://quniverse/profiles/Person.aspx?accountname=MI%5c{{ user.handle }}">QUniverse Profile</a>
                </li>
            {% endif %}

            <li>
                <span class="split__title">GitHub Profile</span>
                <a href="http://git/{{ user.handle }}">http://git/{{ user.handle }}</a> {{ macros.icon('github') }}
            </li>
        </dl>
    </div>

    <h2>Status</h2>
    {% include '_partial/user.status.twig' with {showHalStatus: true} %}

    <h2>Activity</h2>
    <div class="details-box">
        <dl class="split mbn">
            <dt class="split__title">Total Builds</dt>
            <dd>{{ builds }}</dd>

            <dt class="split__title">Total Pushes</dt>
            <dd>{{ pushes }}</dd>
        </dl>
    </div>

{% endblock %}
