{% extends 'base.html.twig' %}

{% set page_title = "Dashboard" %}

{% block content %}
    <p><a href="/a" class="btn--small btn--back">Back to Repository Groups</a></p>
    <h2>{{ arrangement.Name }} Repositories</h2>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Github Location</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for repository in repositories %}
            <tr>
                <td>{{ repository.ShortName }}</a></td>
                <td><a href="http://git/{{ repository.GithubUser }}/{{ repository.GithubRepo }}">http://git/{{ repository.GithubUser }}/{{ repository.GithubRepo }}</a></td>
                <td><a href="/r/{{ repository.ShortName }}">View Deployments</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
