{% extends 'base.html.twig' %}

{% set page_title = "Audit Log History" %}

{% block content %}

    <h2>Audit Log History</h2>

    <p>Changes to database entities will be logged on this page.</p>

    <table class="tablesaw tablesaw-stack" data-mode="stack">
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col class="t50">
        </colgroup>
        <thead>
            <th>Date</th>
            <th>User</th>
            <th>Action</th>
            <th>Object</th>
            <th>Changeset</th>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.recorded|timepoint('M j, Y g:i A') }}</td>
                <td><a href="{{ urlFor('user', {'id': log.user.id}) }}">{{ log.user.name }}</a></td>
                <td><b>{{ log.action }}</b></td>
                <td>{{ log.entity }}</td>
                <td><pre>{{ log.data|jsonPretty|raw }}</pre></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">
                    No logs found.
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ol class="nav--pagination">
        <li class="nav--pagination__prev">
            {% if page > 1 %}
                <a href="{{ urlFor('logs.page', {'page': page-1}) }}">
                    <svg class="icon"><use xlink:href="#caret-left"></use></svg>newer
                </a>
            {% else %}
                <span class="disabled">
                    <svg class="icon"><use xlink:href="#caret-left"></use></svg>newer
                </span>
            {% endif %}
        </li>
        <li>
            {% if last > 1 %}
                <span class="pages">page {{ page }} of {{ last }}</span>
            {% endif %}
        </li>
        <li class="nav--pagination__next">
            {% if page < last %}
                <a href="{{ urlFor('logs.page', {'page': page+1}) }}">
                    older <svg class="icon mls"><use xlink:href="#caret-right"></use></svg>
                </a>
            {% else %}
                <span class="disabled">
                    older <svg class="icon mls"><use xlink:href="#caret-right"></use></svg>
                </span>
            {% endif %}
        </li>
    </ol>

{% endblock %}
