{% extends 'layout.html.twig' %}

{% block head %}
    <title>
        {% if page_title %}{{page_title}} - {% endif %}HAL 9000
    </title>
    {% block icon %}
        <link type="image/x-icon" rel="shortcut icon" href="/hal.ico"> <!-- for ie -->
        <link type="image/png" rel="apple-touch-icon-precomposed" sizes="57x57" href="/hal-57px.png"> <!-- for apple -->
        <link type="image/png" rel="apple-touch-icon-precomposed" sizes="72x72" href="/hal-72px.png"> <!-- for apple -->
        <link type="image/png" rel="apple-touch-icon-precomposed" sizes="114x114" href="/hal-114px.png"> <!-- for apple -->
        <link type="image/png" rel="apple-touch-icon-precomposed" sizes="144x144" href="/hal-144px.png"> <!-- for apple -->
        <link type="image/png" rel="icon" href="/hal.png"> <!-- for the rest of the world -->
    {% endblock %}
    {% block meta %}
        <meta name="format-detection" content="telephone=no">
        <meta name="author" content="Matt Colf &lt;matthewcolf@quickenloans.com&gt;">
        <meta name="author" content="Matthew Nagi &lt;mattnagi@quickenloans.com&gt;">
        <meta name="author" content="Bridget Schiefer &lt;bridgetschiefer@quickenloans.com&gt;">
        <meta name="author" content="Dave Gillhespy &lt;davegillhespy@quickenloans.com&gt;">
        <meta name="description" content="A push tool for code being deployed on Linux/UNIX boxes.">
    {% endblock %}
    {% block style %}
        <link rel="stylesheet" href="/css/style.css">
    {% endblock %}
{% endblock %}

{% block body %}

    {% include 'partials/icons.twig' %}

    <!-- BEGIN HEADER -->
    {% block header %}
        <header role="banner">
            <div class="branding-container">
                <a class="logo" href="/">
                    <img src="/img/logo.svg" alt="Hal9000">
                    <h1>HAL 9000</h1>
                </a>
                <h2 class="zeta sub-heading">Child of Codepushinator, QBERT and Github Enterprise</h2>
            </div>
            {% block navigation %}
                {% if account %}
                <nav role="navigation">
                    <ul class="nav--main mbn">
                        <li><a href="{{ urlFor('groups') }}" title="groups">Repository Groups</a></li>
                        <li><a href="{{ urlFor('servers') }}" title="servers">Servers</a></li>
                        <li><a href="{{ urlFor('profile') }}" title="profile">Profile</a></li>
                        {% if isUserAdmin(account) %}
                            <li><a href="{{ urlFor('admin.repos') }}" title="admin dashboard">Admin</a></li>
                        {% endif %}
                        <li><a href="{{ urlFor('logout') }}" title="logout">Logout</a></li>
                    </ul>
                </nav>
                {% endif %}
            {% endblock %}
            {% block subnav %}{% endblock %}
        </header>
    {% endblock %}
    <!-- END HEADER -->

    <main role="main">
        {% block flash %}
            {% if session.hasFlash() %}
                <div class="alert-bar">
                    {% for message in session.getFlash() %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
        <!-- BEGIN CONTENT -->
        {% block content %}{% endblock %}
        <!-- END CONTENT -->
    </main>

    <!-- BEGIN FOOTER -->
    {% block footer %}
        <footer role="contentinfo">
            <p>&copy; {{ "now"|date('Y', 'America/New_York') }} Quicken Loans</p>
        </footer>
    {% endblock %}
    <!-- END FOOTER -->

{% endblock %}

{% block script %}
<script data-main="/js/main" src="/js/vendor/require-2.1.11.min.js"></script>
    {% block pageScript %}{% endblock %}
{% endblock %}
