{% set html_id_display = html_id ? ' id="' ~ html_id ~ '"' : '' %}
{% set buster = applicationSha[:4] ?: 'dev' ~ 'now'|date('U') %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"{{ html_id_display|raw }}> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"{{ html_id_display|raw }}> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"{{ html_id_display|raw }}> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"{{ html_id_display|raw }}> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        {% block head %}
            <title>
                {% if page_title %}{{ page_title }} - {% endif %}{{ applicationTitle }}
            </title>
            {% block icon %}
                <link type="image/x-icon" rel="shortcut icon" href="/hal.ico"> <!-- for ie -->
                <link type="image/png" rel="apple-touch-icon-precomposed" sizes="57x57" href="/hal-57px.png"> <!-- for apple -->
                <link type="image/png" rel="apple-touch-icon-precomposed" sizes="72x72" href="/hal-72px.png"> <!-- for apple -->
                <link type="image/png" rel="apple-touch-icon-precomposed" sizes="114x114" href="/hal-114px.png"> <!-- for apple -->
                <link type="image/png" rel="apple-touch-icon-precomposed" sizes="144x144" href="/hal-144px.png"> <!-- for apple -->
                <link type="image/png" rel="icon" href="/hal.png"> <!-- for the rest of the world -->
            {% endblock %}
            {% block meta %}
                <meta name="format-detection" content="telephone=no">
            {% endblock %}
            {% block style %}
                <link rel="stylesheet" href="/css/style.css?v={{ buster }}">
            {% endblock %}
        {% endblock %}
    </head>

    <body>
        {% block body %}

            {% include 'partials/layout.icons.twig' %}

            {% block header %}
                {% if showNavigation is not defined %}
                    {% set showNavigation = true %}
                {% endif %}
                {% include 'partials/layout.header.twig' with {showNavigation: showNavigation}%}
            {% endblock %}

            {% block main %}
            <main role="main">
                {% include 'partials/layout.messages.twig' %}

                {# main page content #}
                {% block content %}{% endblock %}
            </main>
            {% endblock %}

            {% block footer %}{% endblock %}

        {% endblock %}

        {% block script %}
            <script data-main="/js/main.js?v={{ buster }}" src="/js/vendor/require-2.1.11.min.js"></script>
            {% block pageScript %}{% endblock %}
            {% if showAnalytics(currentUser) %}
                <script>
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                    ga('create', 'UA-8298397-8', 'auto');
                    ga('send', 'pageview');
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>
