{% extends 'layout.html.twig' %}

{% block head %}
    <title>
        {% if page_title %}{{ page_title }} - {% endif %}{{ app_title }}
    </title>
    {% block icon %}
        <link type="image/x-icon" rel="shortcut icon" href="/hal.ico"> <!-- for ie -->
        <link type="image/png" rel="apple-touch-icon-precomposed" sizes="57x57" href="/hal-57px.png"> <!-- for apple -->
        <link type="image/png" rel="apple-touch-icon-precomposed" sizes="72x72" href="/hal-72px.png"> <!-- for apple -->
        <link type="image/png" rel="apple-touch-icon-precomposed" sizes="114x114" href="/hal-114px.png"> <!-- for apple -->
        <link type="image/png" rel="apple-touch-icon-precomposed" sizes="144x144" href="/hal-144px.png"> <!-- for apple -->
        <link type="image/png" rel="icon" href="/hal.png"> <!-- for the rest of the world -->
    {% endblock %}
    {% block meta %}
        <meta name="format-detection" content="telephone=no">
        <meta name="author" content="Matt Colf &lt;matthewcolf@quickenloans.com&gt;">
        <meta name="author" content="Matthew Nagi &lt;mattnagi@quickenloans.com&gt;">
        <meta name="author" content="Bridget Schiefer &lt;bridgetschiefer@quickenloans.com&gt;">
        <meta name="author" content="Dave Gillhespy &lt;davegillhespy@quickenloans.com&gt;">
        <meta name="description" content="A push tool for code being deployed on Linux/UNIX boxes.">
    {% endblock %}
    {% block style %}
        <link rel="stylesheet" href="/css/style.css?{{ "now"|date(false, "Y-m-d") }}">
    {% endblock %}
{% endblock %}

{% block body %}

    {% include 'partials/icons.twig' %}

    <!-- BEGIN HEADER -->
    {% block header %}
        <header role="banner">
            <div class="hal">
                <a href="/" class="wrapper">

                    <h1 class="hal-label">
                        <span class="hal-label__name">HAL</span>
                        <span class="hal-label__version">9000</span>
                    </h1>

                    <div class="hal-eye circular">
                        <div class="ring circular"></div>
                        <div class="oculus circular">
                            <div class="iris circular narrow"></div>
                            <div class="iris circular wide"></div>
                            <div class="highlight alpha"></div>
                            <div class="highlight"></div>
                            <div class="highlight beta"></div>
                        </div>
                    </div>

                </a>
            </div>
            {% block navigation %}
                <nav role="navigation">
                    <ul class="nav--main mbn">
                        {% if account %}
                            <li>
                                <a href="{{ urlFor('dashboard') }}" title="Dashboard">
                                    <svg class="icon" viewBox="-3 0 32 32">
                                        <use xlink:href="#dashboard"></use>
                                    </svg>
                                    Dashboard
                                </a>
                            </li>
                            <li>
                                <a href="{{ urlFor('groups') }}" title="groups">
                                    <svg class="icon" viewBox="0 0 32 32">
                                        <use xlink:href="#list"></use>
                                    </svg>
                                    Groups
                                </a>
                            </li>

                            {% if isUserAdmin(account) %}
                                <li>
                                    <a href="{{ urlFor('servers') }}" title="servers">
                                        <svg class="icon" viewBox="-4 0 32 32">
                                            <use xlink:href="#server"></use>
                                        </svg>
                                        Servers
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ urlFor('repositories') }}" title="repositories">
                                        <svg class="icon" viewBox="-3 0 32 32">
                                            <use xlink:href="#repo"></use>
                                        </svg>
                                        Repositories
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ urlFor('environments') }}" title="environments">
                                        <svg class="icon" viewBox="-1 0 32 32">
                                            <use xlink:href="#leaf"></use>
                                        </svg>
                                        Environments
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ urlFor('users') }}" title="users">
                                        <svg class="icon" viewBox="0 0 32 32">
                                            <use xlink:href="#users"></use>
                                        </svg>
                                        Users
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ urlFor('logs', {'page': '1'}) }}">
                                        <svg class="icon" viewBox="0 0 32 32">
                                            <use xlink:href="#paper-roll"></use>
                                        </svg>
                                        Logs
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ urlFor('user.current') }}" title="profile">
                                    <svg class="icon" viewBox="0 0 32 32">
                                        <use xlink:href="#user-card"></use>
                                    </svg>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="{{ urlFor('help') }}" title="help">
                                    <svg class="icon" viewBox="-6 0 32 32">
                                        <use xlink:href="#question"></use>
                                    </svg>
                                    Help
                                </a>
                            </li>
                            <li>
                                <a href="{{ urlFor('logout') }}" title="logout">
                                    <svg class="icon" viewBox="0 0 32 32">
                                        <use xlink:href="#sign-out"></use>
                                    </svg>
                                    Logout
                                </a>
                            </li>
                        {% else %}
                            <li class="signed-out">
                                <a href="{{ urlFor('login') }}" title="login">
                                    <svg class="icon" viewBox="0 0 32 32">
                                        <use xlink:href="#sign-in"></use>
                                    </svg>
                                    Login
                                </a>
                            </li>
                            <li class="signed-out">
                                <a href="{{ urlFor('help') }}" title="help">
                                    <svg class="icon" viewBox="-6 0 32 32">
                                        <use xlink:href="#question"></use>
                                    </svg>
                                Help
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
            {% block subnav %}{% endblock %}
        </header>
    {% endblock %}
    <!-- END HEADER -->

    <main role="main">
        {% block flash %}
            {% if session.hasFlash() %}
                <div class="alert-bar">
                    {% for message in session.getFlash() %}
                        <p>{{ message|raw }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
        {% block messages %}
            {# GLOBAL NOTICE #}
            {% if notice %}
                <div class="alert-bar">
                    <p>{{ notice|raw }}</p>
                </div>
            {% endif %}
            {# GLOBAL ERROR #}
            {% if error %}
                <div class="alert-bar">
                    <p>{{ error|raw }}</p>
                </div>
            {% endif %}
        {% endblock %}
        <!-- BEGIN CONTENT -->
        {% block content %}{% endblock %}
        <!-- END CONTENT -->
    </main>

    <!-- BEGIN FOOTER -->
    {% block footer %}
    {% endblock %}
    <!-- END FOOTER -->

{% endblock %}

{% block script %}
    <script data-main="/js/main" src="/js/vendor/require-2.1.11.min.js"></script>
    {% block pageScript %}{% endblock %}
    {% if (not user or (user and showAnalytics(user))) %}
        <!-- BEGIN ANLYTICS -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-8298397-8', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- END ANLYTICS -->
    {% endif %}
{% endblock %}
