{% extends 'base.html.twig' %}

{% set page_title = "Push Build "~build.id %}

{% block content %}

    <h2>Push Build {{ build.id }}</h2>

    <p>This build of {{ build.repository.key }} can be pushed to the following servers.</p>

    <form action="{{ urlFor('push.handle', {'repo': build.repository.key, 'build': build.id}) }}" method="post">
    <div class="overflow-container">
        <table class="tablesaw tablesaw-stack" data-mode="stack">
            <thead>
            <tr>
                <th>Server</th>
                <th>Build</th>
                <th>Reference</th>
                <th>Commit</th>
                <th>Pushed</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% set allowSubmit = false %}
            {% for status in statuses %}
                <tr>
                    <td><a href="{{ urlFor('server', {'id': status.deployment.server.id}) }}">{{ status.deployment.server.name }} ({{ status.deployment.server.environment.key }})</a></td>
                    {% if status.success %}
                        <td><a href="{{ urlFor('build', {'repo': status.deployment.repository.id, 'build': status.success.build.id}) }}">{{ status.success.build.id[:10] }}</a></td>
                        <td>
                            <span {% if githubCommitIsCurrent(build.repository.githubUser, build.repository.githubRepo, status.success.build.branch, status.success.build.commit) %}
                                class="status-before--success"
                            {% else %}
                                class="status-before--other"
                            {% endif %}>
                                <a href="{{ githubReference(status.success.build.repository.githubUser, status.success.build.repository.githubRepo, status.success.build.branch) }}">{{ status.success.build.branch|gitref }}</a>
                                <svg viewBox="0 0 32 32" class="icon">
                                    <use xlink:href="#fork"></use>
                                </svg>
                            </span>
                        </td>
                        <td>
                            <a href="{{ githubCommit(build.repository.githubUser, build.repository.githubRepo, status.success.build.commit) }}">{{ status.success.build.commit|commit }}</a>
                            <span class="icon">
                                <svg viewBox="0 0 32 32">
                                    <use xlink:href="#github"></use>
                                </svg>
                            </span>
                        </td>
                        <td>{{ status.success.end|reldate }}</td>
                    {% else %}
                        <td colspan="4"></td>
                    {% endif %}
                    <td>
                        {% if canUserPush(user, status.deployment.repository.key, status.deployment.server.environment.key) %}
                            {% if status.deployment.id in selected %}
                                <label>Push Now <input type="checkbox" name="deployments[]" id="sel-{{ status.deployment.id }}" value="{{ status.deployment.id }}" checked></label>
                            {% else %}
                                <label>Push Now <input type="checkbox" name="deployments[]" id="sel-{{ status.deployment.id }}" value="{{ status.deployment.id }}"></label>
                            {% endif %}
                            {% set allowSubmit = true %}
                        {% else %}
                            No Access
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if allowSubmit %}
        <input class="btn--alt" type="submit" value="Push To Selected Servers" name="submit">
    {% endif %}
    </form>

{% endblock %}
