{% extends 'base.html.twig' %}

{% set page_title = group.name %}

{% block content %}

    <h2>{{ group.name }} Repository Group</h2>

    <div class="overflow-container">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Github Location</th>
                <th>Contact Email</th>
            </tr>
            </thead>
            <tbody>
            {% for repo in repos %}
                <tr>
                    <td><a href="{{ urlFor('repo', {'repo': repo.key}) }}">{{ repo.key }}</a></td>
                    <td>
                        <a href="{{ githubRepo(repo.githubUser, repo.githubRepo) }}">{{ repo.githubUser }}/{{ repo.githubRepo }}</a>
                        <span class="icon">
                            <svg viewBox="0 0 32 32">
                                <use xlink:href="#github"></use>
                            </svg>
                        </span>
                    </td>
                    <td>{{ repo.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
