{% extends 'base.html.twig' %}

{% set page_title = "Push Details" %}

{% block content %}

    <p><a class="btn--small btn--back" href="{{ urlFor('repo', {'repo': push.deployment.repository.key}) }}">Back to Repository</a></p>

    <h2>Push Details</h2>

    <div class="overflow-container">
        <table>
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>{{ push.id }}</td>
                </tr>
                <tr>
                    <td>Server</td>
                    <td><a href="{{ urlFor('server', {'server': push.deployment.server.id}) }}">{{ push.deployment.server.name }}</a> ({{ push.deployment.server.environment.key }})</td>
                </tr>
                <tr>
                    <td>Directory</td>
                    <td>{{ push.deployment.path }}</td>
                </tr>
                <tr>
                    <td>Repository</td>
                    <td><a href="{{ urlFor('repo', {'repo': push.deployment.repository.key}) }}">{{ push.deployment.repository.key }}</a></td>
                </tr>
                <tr>
                    <td>Build</td>
                    <td>
                        <a href="{{ urlFor('build', {'build': push.build.id}) }}">{{ push.build.id }}</a>
                        {% if (push.build.status == 'Removed') %}
                            (Removed)
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Branch</td>
                    <td>{{ push.build.branch }}</td>
                </tr>
                <tr>
                    <td>Commit</td>
                    <td><a href="{{ githubCommit(push.build.repository.githubUser, push.build.repository.githubRepo, push.build.commit) }}">{{ push.build.commit[:7] }}</a></td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        {% if push.status == 'Success' %}
                            <span class="circle-green">{{ push.status }}</span>
                        {% elseif push.status == 'Error' %}
                            <span class="circle-red">{{ push.status }}</span>
                        {% else %}
                            <span class="circle-orange">{{ push.status }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Start</td>
                    <td>{{ push.start|date }}</td>
                </tr>
                <tr>
                    <td>End</td>
                    <td>{{ push.end|date }}</td>
                </tr>
                <tr>
                    <td>Initiator</td>
                    <td>
                        {% if push.user %}
                            <a href="{{ urlFor('profile', {'id': push.user.id}) }}">{{ push.user.name }}</a>
                        {% elseif push.consumer %}
                            {{ push.consumer.name[:20] }}
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Push Log</h3>
    <p>Push log is not available.</p>

{% endblock %}
