{% extends 'base.html.twig' %}

{% set page_title = repo.key~" Push History" %}

{% block content %}
    <p><a class="btn--small btn--back" href="{{ urlFor('repository', {'id': repo.id}) }}">Back to Repository</a></p>

    <h2>{{ repo.key }} Push History</h2>

    {% include 'partials/push-table.twig' with {'pushes': pushes} %}

    <ol class="nav--pagination">
        <li class="nav--pagination__prev">
            {% if page > 1 %}
                <a href="{{ urlFor('push.history', {'id': repo.id, 'page': page-1}) }}">
                    <svg viewBox="0 0 32 32" class="icon">
                        <use xlink:href="#caret-left"></use>
                    </svg>newer
                </a>
            {% else %}
                <span class="disabled">
                    <svg viewBox="0 0 32 32" class="icon">
                        <use xlink:href="#caret-left"></use>
                    </svg>newer
                </span>
            {% endif %}
        </li>
        <li>
            {% if last > 1 %}
                <span class="pages">page {{ page }} of {{ last }}</span>
            {% endif %}
        </li>
        <li class="nav--pagination__next">
            {% if page < last %}
                <a href="{{ urlFor('push.history', {'id': repo.id, 'page': page+1}) }}">
                    older <svg viewBox="0 0 32 32" class="icon mls">
                        <use xlink:href="#caret-right"></use>
                    </svg>
                </a>
            {% else %}
                <span class="disabled">
                    older <svg viewBox="0 0 32 32" class="icon mls">
                        <use xlink:href="#caret-right"></use>
                    </svg>
                </span>
            {% endif %}
        </li>
    </ol>

{% endblock %}
