{% extends 'base.html.twig' %}

{% set page_title = "Create New "~repo.key~" Build" %}

{% block content %}

    <p><a class="btn--small btn--back" href="{{ urlFor('repository', {'id': repo.id}) }}">Back to Repository</a></p>

    <h2>Create New {{ repo.key }} Build</h2>

    <form method="post" action="{{ urlFor('build.handle', {'repo': repo.key}) }}">

    <h3>Choose what to build:</h3>

    <h4>Branches</h4>
    <ul class="check-list">
    {% for branch in branches %}
        <li>
            <input id="{{ branch.object.sha }}-{{ branch.name }}" type="radio" name="reference" value="{{ branch.name }}">
            <label for="{{ branch.object.sha }}-{{ branch.name }}">
                {{ branch.name }} (<a href="{{ githubTreeish(repo.GithubUser, repo.GithubRepo, branch.name) }}">{{ branch.object.sha[:7] }}</a>
                    <span class="icon">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#github"></use>
                        </svg>
                    </span>)
            </label>
        </li>
    {% else %}
        <li>There are no branches.</li>
    {% endfor %}
    </ul>

    <h4>Tags</h4>
    <ul class="check-list">
    {% for tag in tags %}
        <li>
            <input id="{{ tag.object.sha }}-{{ tag.name }}" type="radio" name="reference" value="tag/{{ tag.name }}">
            <label for="{{ tag.object.sha }}-{{ tag.name }}">
                {{ tag.name }} (<a href="{{ githubTreeish(repo.GithubUser, repo.GithubRepo, tag.name) }}">{{ tag.object.sha[:7] }}</a>
                    <span class="icon">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#github"></use>
                        </svg>
                    </span>)
            </label>
        </li>
    {% else %}
        <li>There are no tags.</li>
    {% endfor %}
    </ul>

    <h4>Pull Requests</h4>
    <ul class="check-list">
        {% for pull in pulls %}
            <li class="pr-selection">
                <input id="pr{{ pull.number }}" type="radio" name="reference" value="pull/{{ pull.number }}">
                <label for="pr{{ pull.number }}">{{ pull.title }}
                    (<a href="{{ githubPullRequest(repo.githubUser, repo.githubRepo, pull.number) }}">PR #{{ pull.number }}</a>
                    <span class="icon">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#github"></use>
                        </svg>
                    </span>)
                </label>
                <p>
                    <span class="{{ pull.state }}">[{{ pull.state }}]</span>
                    <code>{{ pull.base.ref }} <-- {{ pull.head.user.login }}/{{ pull.head.ref }}</code>
                </p>
            </li>
        {% else %}
            <li>There are no pull requests.</li>
        {% endfor %}
    </ul>

    <h4>Commit</h4>
    <ul class="check-list form-wrapper">
        <li>
            <input id="push-commit" type="radio" name="reference" value="commit">
            <label for="push-commit">Specific Commit ID:</label>
            <input class="text-input" type="text" name="commit">
        </li>
    </ul>

    <h3>Choose what environment to build for:</h3>
    <ul class="check-list">
    {% for env in environments %}
        <li>
            <input id="env-{{ env.key }}" type="radio" name="environment" value="{{ env.key }}">
            <label for="env-{{ env.key }}">{{ env.key }}</label>
        </li>
    {% endfor %}
    </ul>

    <input class="btn" type="submit" value="Start Build" name="submit">

    </form>

{% endblock %}
