{% extends 'base.html.twig' %}

{% set page_title = "/r/" ~ repo.ShortName %}

{% block content %}
    <p><a class="btn--small btn--back" href="/a/{{ repo.Arrangement }}">Back to Repositories</a></p>

    <h2>{{ repo.ShortName }} Deployments</h2>
    <p>The {{ repo.ShortName }} application can be deployed to any of the following servers.</p>

    <form class="deployment-form" action="/r/{{ repo.ShortName }}/sync" method="get">
        <table>
            <thead>
                <tr>
                    <th>Server</th>
                    <th>Environment</th>
                    <th>Status</th>
                    <th>Branch</th>
                    <th>Current Commit</th>
                    <th>Last Synced</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% set allowSubmit = false %}
            {% for deployment in deployments %}
                <tr>
                    <td>{{ deployment.HostName }}</td>
                    <td>{{ deployment.Environment }}</td>
                    <td>{{ deployment.CurStatus }}</td>
                    <td>{{ deployment.CurBranch }}</td>
                    <td>{{ deployment.CurCommit[:7] }}</td>
                    <td>
                        {% if deployment.LastPushed == '0000-00-00 00:00:00' %}
                            Never
                        {% else %}
                            {{ deployment.LastPushed|date("Y-n-d G:m:s","America/Detroit") }}
                        {% endif %}
                    </td>
                    <td>
                        {% if canUserPush(user, deployment.Repository, deployment.Environment) %}
                            Push Now <input type="checkbox" name="deps[]" value="{{deployment.DeploymentId}}">
                            {% set allowSubmit = true %}
                        {% else %}
                            No Access
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if allowSubmit %}
            <input class="btn--alt" type="submit" value="Push To Selected Servers" name="submit">
        {% else %}
            <p>Looks like you don't have permission to push this repository. Request access by contacting <a href="mailto:ITTeamKeymasters@quickenloans.com">IT Team Keymasters</a>.</p>
        {% endif %}
    </form>

    <h3>Deployment Log</h3>
    <p>Deployment logs for {{ repo.ShortName }} are shown below.</p>

    {% if totalLogPages > 1 %}
    Total Pages #: {{ totalLogPages }}
    <div>
        {% if totalLogPages > 1 %}
            {% set prev = currentPage - 1 %}
            {% if currentPage > 1 %}
                <a href="/r/hal?page={{ prev }}"> prev </a>
            {% endif %}

            {% set maxshow = 5 %}

            {% if currentPage %}
                {% set startshow = currentPage %}
            {% else %}
                {% set startshow = 1 %}
            {% endif %}

            {% set endshow = startshow + maxshow - 1 %}
            {% if endshow > totalLogPages %}
                {% set endshow = totalLogPages %}
            {% endif %}
            {% for page in startshow..endshow %}
                <a href="/r/hal?page={{ page }}">{{ page }}</a>
            {% endfor %}
            {% if currentPage <= totalLogPages - maxshow %}
                ...  <a href="/r/hal?page={{ totalLogPages }}">{{ totalLogPages }}</a>
            {% endif %}

            {% set next = currentPage + 1 %}
            {% if currentPage < totalLogPages %}
                <a href="/r/hal?page={{ next }}"> next </a>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
                <th>Branch</th>
                <th>Environment</th>
                <th>Server</th>
                <th>Person</th>
            </tr>
        </thead>
        {% for log in logs %}
        <tbody>
            <tr>
                <td> {{ log.PushStart }} </td>
                <td> {{ log.PushEnd }} </td>
                <td> {{ log.PushStatus }} </td>
                <td> {{ log.PushBranch }} </td>
                <td> {{ log.Environment }} </td>
                <td> {{ log.TargetServer }} </td>
                <td> {{ log.PushUserName }} </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

{% endblock %}
