{% extends 'base.html.twig' %}

{% set page_title = repo.key~" Push History" %}

{% block content %}
    <p><a class="btn--small btn--back" href="{{ urlFor('repository', {'id': repo.id}) }}">Back to Repository</a></p>

    <h2>{{ repo.key }} Push History</h2>

    {% include 'partials/push-table.twig' with {'pushes': pushes} %}

    <ol class="nav--pagination">
        <li class="nav--pagination__prev">
            {% if page > 1 %}
                <a href="{{ urlFor('push.history', {'repository': repo.key, 'page': page-1}) }}"><i class="fa fa-arrow-circle-left"></i> newer</a>
            {% else %}
                <span class="disabled"><i class="fa fa-arrow-circle-left"></i> newer</span>
            {% endif %}
        </li>
        <li>
            {% if last > 1 %}
                <span class="pages">page {{ page }} of {{ last }}</span>
            {% endif %}
        </li>
        <li class="nav--pagination__next">
            {% if page < last %}
                <a href="{{ urlFor('push.history', {'repository': repo.key, 'page': page+1}) }}">older <i class="fa fa-arrow-circle-right"></i></a>
            {% else %}
                <span class="disabled">older <i class="fa fa-arrow-circle-right"></i></span>
            {% endif %}
        </li>
    </ol>

{% endblock %}
