{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = "Latest Configuration" %}
{% set canDeploy = canUserReleaseTheKraken(currentUser, application, environment) %}

{% set isBusinessTime = isSeriousBusinessMode() %}

{% block content %}

    <h1>{{ page_title }} - <strong>{{ environment.name }}</strong></h1>

    <h4>Application</h4>
    <p>{{ application.name }}</p>

    <h4>Environment</h4>
    <p>{{ environment.name }}</p>

    <h2>Configuration Properties</h2>
    {% include 'kraken/_partial/configuration.twig' with {'properties': configuration, canDeploy: canDeploy} %}

    <ul class="button-list button-list--half">
        {% if is_missing_properties and canDeploy %}
            <li><a class="btn btn--action" href="{{ urlFor('kraken.property.add', {application: application.id, environment: environment.id}) }}">Add Property</a></li>
        {% endif %}

        {% if canDeploy %}
            {% set deploy_label = isBusinessTime ? 'Deploy Configuration' : 'Release the kraken' %}
            <li><a class="btn btn--action" href="{{ urlFor('kraken.deploy', {target: target.id})}}">{{ deploy_label }}</a></li>
        {% endif %}
    </ul>

    <ul class="leader button-list">

        <li><a class="btn" href="{{ urlFor('kraken.status', {application: application.id}) }}">Application Configuration</a></li>
        <li><a class="btn btn--secondary" href="{{ urlFor('kraken.application', {application: application.id}) }}">Configuration Schema</a></li>

        {% if deployed %}
            <li><a class="btn btn--secondary" href="{{ urlFor('kraken.configuration.compare', {configuration: deployed.id}) }}">Compare to deployed configuration</a></li>
        {% endif %}

    </ul>

{% endblock %}
