{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}
{% import "kraken/_partial/macros.twig" as kraken_macros %}

{% set page_title = "Property" %}

{% block content %}
    <h1>{{ page_title }} - <strong>{{ application.name }}</strong></h1>

    <div class="details-box">
        <dl class="split">
            <dt class="split__title">Application</dt>
            <dd>
                <a href="{{ urlFor('kraken.application', {application: application.id}) }}">{{ application.name }}</a>
            </dd>

            <dt class="split__title">Environment</dt>
            <dd>
                {{ environment.name }}
            </dd>
        </dl>
    </div>

    <section class="leader--andre">
        <h2>Schema</h2>

        <h4>Type</h4>
        <p>{{ property.schema|formatSchemaType }}</p>

        <h4>Description</h4>
        <p>{{ property.schema.description ?: 'None' }}</p>
    </section>

    <section class="leader--andre">
        <h2>Property</h2>

        <h4>Key</h4>
        <p><code>{{ property.schema.key }}</code></p>

        <h4>Current Value</h4>
        {{ kraken_macros.renderProperty(property) }}
    </section>

    <section class="leader--andre">
        <h2 class="mbn">All Environments</h2>
        {{ block('other_environments') }}
    </section>

    <section class="leader--andre">
        <h2 class="mbn">Deployment History</h2>
        {{ block('property_history') }}
    </section>

    <ul class="button-list">
        {% if canUserReleaseTheKraken(currentUser, application, environment) %}
            <li><a class="btn btn--action" href="{{ urlFor('kraken.property.edit', {property: property.id}) }}">Edit Property</a></li>
        {% endif %}
        <li><a class="btn" href="{{ urlFor('kraken.configuration.latest', {application: application.id, environment: environment.id}) }}">Latest Configuration</a></li>
        <li><a class="btn btn--secondary" href="{{ urlFor('kraken.application', {application: application.id}) }}">Application</a></li>
    </ul>
{% endblock %}

{% block property_history %}

    {% if history %}
        <p class="additional">Most recent values deployed to this environment.</p>
        <table class="table--spacing-medium table--striped table--top-aligned" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th class="t15">Configuration</th>
                    <th class="t10">Status</th>
                    <th class="t15">Time</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for previous_property in history %}
                    <tr>
                        <td>
                            <a href="{{ urlFor('kraken.configuration', {configuration: previous_property.configuration.id}) }}">
                                {{ macros.icon('list') }} {{ previous_property.configuration.id[:7] }}
                            </a>
                        </td>
                        <td>
                            {% if previous_property.configuration.isSuccess %}
                                {{ macros.status_icon('Success', 'success') }}
                            {% else %}
                                {{ macros.status_icon('Failed', 'error') }}
                            {% endif %}
                        </td>
                        <td>{{ previous_property.created|html5date }}</td>
                        <td>{{ kraken_macros.renderProperty(previous_property) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no previous values for this property.</p>
    {% endif %}

{% endblock %}

{% block other_environments %}
    {% if otherEnvironments %}
        <p class="additional">Current value for this property in all environments.</p>
        <table class="table--spacing-medium table--striped table--top-aligned" data-tablesaw-mode="stack">
            <thead>
                <tr>
                    <th class="t15">Environment</th>
                    <th class="t10"></th>
                    <th class="t15"></th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for other_property in otherEnvironments %}
                    <tr>
                        <td>
                            {% if other_property.environment.isProduction %}
                                {{ macros.status(other_property.environment.name, 'info', 'key') }}
                            {% else %}
                                {{ other_property.environment.name }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ urlFor('kraken.configuration.latest', {application: application.id, environment: other_property.environment.id}) }}">
                                {{ macros.icon('list') }} Latest
                            </a>
                        </td>
                        <td>
                            <a href="{{ urlFor('kraken.property', {property: other_property.id}) }}">
                                {{ macros.icon('compose-3') }} Property
                            </a>
                        </td>
                        <td>{{ kraken_macros.renderProperty(other_property) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no other values for this property.</p>
    {% endif %}
{% endblock %}
