{% import _self as nav_macros %}
{% import "_partial/macros.twig" as macros %}

<header role="banner">
    {% block banner %}
        <div class="hal">
            <div class="wrapper">
                <a href="/">
                    <div class="hal-eye circular">
                        <div class="ring circular"></div>
                        <div class="oculus circular">
                            <div class="iris circular narrow"></div>
                            <div class="iris circular wide"></div>
                            <div class="highlight alpha"></div>
                            <div class="highlight"></div>
                            <div class="highlight beta"></div>
                        </div>
                    </div>
                </a>

                <h1 class="hal-label">
                    <span class="hal-label__name">Hal</span>
                    <span class="hal-label__version">2.9.0 {% if isUpdateTickOn() %}
                        <a class="hal-stamp" href="{{ urlFor('latest.release') }}" title="Hal was recently updated!">{{ macros.icon('star') }}</a>
                    {% endif %}</span>
                </h1>
            </div>
        </div>
    {% endblock %}

    {% block navigation %}
        {% if showNavigation %}
            <nav role="navigation">
                {% if getCurrentUser() %}
                    <ul class="nav--main">
                        {% if isUserAdminOrSuper(getCurrentUser()) %}
                            <li><a href="{{ urlFor('admin') }}">{{ macros.icon('watch') }} Admin</a></li>
                        {% else %}
                            <li><a href="{{ urlFor('dashboard') }}">{{ macros.icon('dashboard') }} Dashboard</a></li>
                        {% endif %}

                        <li><a href="{{ urlFor('queue') }}">{{ macros.icon('in') }} Queue</a></li>
                        <li><a href="{{ urlFor('applications') }}">{{ macros.icon('list') }} Applications</a></li>
                        <li><a href="{{ urlFor('settings') }}">{{ macros.icon('settings') }} Settings</a></li>

                        <li><a href="{{ urlFor('kraken') }}">{{ macros.icon('squid') }} Kraken</a></li>
                        <li><a href="{{ urlFor('help') }}">{{ macros.icon('question') }} Help</a></li>
                        <li><a href="{{ urlFor('logout') }}">{{ macros.icon('sign-out') }} Sign out</a></li>
                    </ul>

                {% else %}
                    <ul class="nav--main-signed-out">
                        <li class="signed-out"><a href="{{ urlFor('help') }}">{{ macros.icon('question') }} Help</a></li>
                        <li class="signed-out"><a href="{{ urlFor('login') }}">{{ macros.icon('sign-in') }} Sign in</a></li>
                    </ul>
                {% endif %}
            </nav>
        {% endif %}
    {% endblock %}
</header>
