{% import "_partial/macros.twig" as macros %}

<table class="table--spacing-medium" data-tablesaw-mode="stack">
    <thead>
        <tr>
            <th class="t20">Event</th>
            <th>Time</th>
            <th>Message</th>
            <th class="t10"></th>
        </tr>
    </thead>

    {% for log in logs %}
        <tbody>
            <tr class="{{ log.status == 'failure' ? 'event-log--error' : '' }}">
                <td>
                    {% if log.status == 'success' %}
                        {{ macros.status(log.event|formatEvent, 'success', 'tick') }}

                    {% elseif log.status == 'failure' %}
                        {{ macros.status(log.event|formatEvent, 'error', 'spam') }}

                    {% else %}
                        {{ macros.status(log.event|formatEvent, 'info', 'paragraph-justify-2') }}
                    {% endif %}
                </td>
                <td>{{ log.created|html5date }}</td>
                <td>{{ log.message }}</td>
                <td class="tr">
                    {% if log.data %}
                        <a class="btn btn--tiny" data-expand-btn="{{ log.id }}">
                            {{ macros.icon('menu-pull-down') }}
                        </a>
                    {% endif %}
                </td>
            </tr>

            {% if log.data %}
                <tr data-expand-target="{{ log.id }}">
                    <td colspan="4" class="tl">
                        {% for key, data in log.data %}
                            <h4>{{ key }}</h4>
                            <div class="pre-wrapper pre-ansi">
                                <pre>{{ data|sanitizeToString|ansi_to_html }}</pre>
                            </div>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    {% else %}
        <tbody>
            <tr class="js-empty-row">
                <td colspan="4">No logs found.</td>
            </tr>
        </tbody>
    {% endfor %}
</table>

