{% macro alert(type, title, details, isRaw) %}
    {% set isRaw = isRaw|default(false) %}

    {% set typeClass = 'alert-bar' %}
    {% if (type == 'error') %}{% set typeClass = 'alert-bar--error' %}{% endif %}
    {% if (type == 'success') %}{% set typeClass = 'alert-bar--success' %}{% endif %}
    {% if (type == 'warning') %}{% set typeClass = 'alert-bar--warning' %}{% endif %}

    <div class="{{ typeClass }}">
        <h4>{{ title|raw }}</h4>
        {% if details %}
            {% if isRaw %}
                {{ details|raw }}
            {% else %}
                <p>{{ details|raw }}</p>
            {% endif %}
        {% endif %}
    </div>

{% endmacro %}

{% macro gitref(build, sliced) %}
    {% import _self as self_macros %}

    {% set sliced = sliced|default(false) %}

    {% set resolved = build.branch|gitref %}
    {% if resolved %}
        {% set type = resolved|first %}
        {% set ref = resolved|last %}

        {% set icontype = 'branch' %}
        {% if (type == 'pull') %}{% set icontype = 'pull' %}{% endif %}
        {% if (type == 'tag') %}{% set icontype = 'tag' %}{% endif %}
        {% if (type == 'commit') %}{% set icontype = 'commit' %}{% endif %}

        {% if type in ['branch', 'tag'] and sliced and ref.length > 20 %}
            {% set ref = ref[0:20] %}
        {% endif %}

        <a href="{{ githubReference(build.application.githubUser, build.application.githubRepo, build.branch) }}">
            {% if type == 'pull' %}
                Pull Request {{ ref }}
            {% elseif type == 'tag' %}
                Release {{ ref }}
            {% elseif type == 'commit' %}
                Commit {{ ref|commit }}
            {% elseif type == 'branch' %}
                {{ ref }}
            {% endif %}
        </a>
        {{ self_macros.icon(icontype) }}

    {% endif %}

{% endmacro %}

{% macro gitcommit(build) %}
    {% import _self as self_macros %}

    {% set resolved = build.commit|gitref %}
    {% if resolved %}
        {% set ref = resolved|last %}

        <a href="{{ githubCommit(build.application.githubUser, build.application.githubRepo, build.commit) }}">
            {{ ref|commit }}
        </a>
        {{ self_macros.icon('commit') }}

    {% endif %}

{% endmacro %}

{# Icon #}
{% macro icon(icon, class, title) %}
    {% set class = class|default('') %}
    {% set title = title|default('') %}

    {% if title %}
        <svg class="icon{{ class ? ' ' ~ class : ''}}" title="{{ title }}"><use xlink:href="/icons.svg#{{ icon }}"></use></svg>
    {% else %}
        <svg class="icon{{ class ? ' ' ~ class : ''}}"><use xlink:href="/icons.svg#{{ icon }}"></use></svg>
    {% endif %}

{% endmacro %}

{# Status Block - Colorize message with icon #}
{% macro status(msg, type, icon) %}
    {% import _self as self_macros %}

    {% set icon = icon|default('') %}
    {% set typeClass = 'status-block--info' %}

    {% if type in ['info', 'success', 'error', 'notice', 'warning'] %}
        {% set typeClass = 'status-block--' ~ type %}
    {% endif %}

    {% if icon %}
        <span class="{{ typeClass }}">{{ icon ? self_macros.icon(icon) : '' }} {{ msg }}</span>
    {% else %}
        <span class="{{ typeClass }}">{{ msg }}</span>
    {% endif %}

{% endmacro %}

{# Status Icon - icon prefix for a message #}
{% macro status_icon(contents, type, extra_attributes) %}
    {% set type = type|default('warning') %}
    {% set extra = extra_attributes|default({}) %}
    {% set typeClass = 'status-icon--info' %}

    {% if type in ['info', 'success', 'error', 'notice', 'warning', 'thinking'] %}
        {% set typeClass = 'status-icon--' ~ type %}
    {% endif %}

    <span class="{{ typeClass }}"{% for attr, val in extra %} {{ attr }}="{{ val }}"{% endfor %}>{{ contents|raw }}</span>

{% endmacro %}

{% macro job_status(job, allowUpdates) %}
    {% import _self as self_macros %}
    {% set allowUpdates = allowUpdates|default(false) %}

    {% if job.status == 'Success' %}
        {{ self_macros.status_icon(job.status, 'success') }}

    {% elseif job.status in ['Error', 'Removed'] %}
        {{ self_macros.status_icon(job.status, 'error') }}

    {% elseif allowUpdates %}
        {% if job is push %}
            {{ self_macros.status_icon(job.status, 'thinking', {'data-push': job.id}) }}
        {% else %}
            {{ self_macros.status_icon(job.status, 'thinking', {'data-build': job.id}) }}
        {% endif %}

    {% else %}
        {{ self_macros.status_icon(job.status, 'other') }}
    {% endif %}

{% endmacro %}
