{% macro alert(type, title, details, isRaw) %}
    {% set isRaw = isRaw|default(false) %}

    {% set typeClass = 'alert-bar' %}
    {% if (type == 'error') %}{% set typeClass = 'alert-bar--error' %}{% endif %}
    {% if (type == 'success') %}{% set typeClass = 'alert-bar--success' %}{% endif %}
    {% if (type == 'warning') %}{% set typeClass = 'alert-bar--warning' %}{% endif %}

    {% set iconType = 'info' %}
    {% if (type == 'error') %}{% set iconType = 'cross-2' %}{% endif %}
    {% if (type == 'success') %}{% set iconType = 'tick-2' %}{% endif %}
    {% if (type == 'warning') %}{% set iconType = 'warning' %}{% endif %}

    <div class="{{ typeClass }}">
        <div class="alert-bar-icon">
            <svg class="icon"><use xlink:href="/icons.svg#{{ iconType }}"></use></svg>
        </div>
        <div class="alert-bar-contents">
            <h4>{{ title|raw }}</h4>
            {% if details %}
                {% if isRaw %}
                    {{ details|raw }}
                {% else %}
                    <p>{{ details|raw }}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro gitref(build, sliced, isCurrent, hideTooltip) %}
    {% import _self as self_macros %}

    {% set sliced = sliced|default(false) %}
    {% set hideTooltip = hideTooltip|default(false) %}

    {% set resolved = build.branch|gitref %}
    {% if resolved %}
        {% set type = resolved|first %}
        {% set ref = resolved|last %}

        {% set icontype = 'branch' %}
        {% if (type == 'pull') %}{% set icontype = 'pull' %}{% endif %}
        {% if (type == 'tag') %}{% set icontype = 'tag' %}{% endif %}
        {% if (type == 'commit') %}{% set icontype = 'commit' %}{% endif %}

        {% if type in ['branch', 'tag'] and sliced and ref.length > 20 %}
            {% set ref = ref[0:20] %}
        {% endif %}

        <a href="{{ githubReferenceUrl(build.application.githubOwner, build.application.githubRepo, build.branch) }}">
            {% if type == 'pull' %}
                Pull Request {{ ref }}
            {% elseif type == 'tag' %}
                Release {{ ref }}
            {% elseif type == 'commit' %}
                Commit {{ ref|commit }}
            {% elseif type == 'branch' %}
                {{ ref }}
            {% endif %}
        </a>

        {% set iconcolor = '' %}
        {% if (isCurrent is same as(true)) %}{% set iconcolor = 'icon--success' %}{% endif %}
        {% if (isCurrent is same as(false)) %}{% set iconcolor = 'icon--warning' %}{% endif %}

        {% if not hideTooltip and isCurrent is not same as(null) %}
            {% if isCurrent is same as(true) %}

                <span class="hint--top" aria-label="This commit is update to date with HEAD">
                    {{ self_macros.icon(icontype, iconcolor) }}
                </span>
            {% elseif isCurrent is same as(false) %}
                <span class="hint--top" aria-label="This commit is behind HEAD">
                    {{ self_macros.icon(icontype, iconcolor) }}
                </span>
            {% endif %}
        {% else %}
            {{ self_macros.icon(icontype, iconcolor) }}
        {% endif %}

    {% endif %}

{% endmacro %}

{% macro gitsource(application) %}
    {% import _self as self_macros %}
    <a href="{{ githubRepoUrl(application.githubOwner, application.githubRepo) }}">{{ application.githubOwner }}/{{ application.githubRepo }}</a> {{ self_macros.icon('github') }}
{% endmacro %}

{% macro gitcommit(build) %}
    {% import _self as self_macros %}

    {% set resolved = build.commit|gitref %}
    {% if resolved %}
        {% set ref = resolved|last %}

        <a href="{{ githubCommitUrl(build.application.githubOwner, build.application.githubRepo, build.commit) }}">
            {{ ref|commit }}
        </a>
        {{ self_macros.icon('commit') }}

    {% endif %}

{% endmacro %}

{# Icon #}
{% macro icon(icon, class, title) %}
    {% set class = class|default('') %}
    {% set title = title|default('') %}

    {% if title %}
        <svg class="icon{{ class ? ' ' ~ class : '' }}" title="{{ title }}"><use xlink:href="/icons.svg#{{ icon }}"></use></svg>
    {% else %}
        <svg class="icon{{ class ? ' ' ~ class : '' }}"><use xlink:href="/icons.svg#{{ icon }}"></use></svg>
    {% endif %}

{% endmacro %}

{# Status Block - Colorize message with icon #}
{% macro status(msg, type, icon) %}
    {% import _self as self_macros %}

    {% set icon = icon|default('') %}
    {% set typeClass = 'status-block--info' %}

    {% if type in ['info', 'success', 'error', 'notice', 'warning'] %}
        {% set typeClass = 'status-block--' ~ type %}
    {% endif %}

    {% if icon %}
        <span class="{{ typeClass }}">{{ icon ? self_macros.icon(icon) : '' }} {{ msg }}</span>
    {% else %}
        <span class="{{ typeClass }}">{{ msg }}</span>
    {% endif %}

{% endmacro %}

{# Status Icon - icon prefix for a message #}
{% macro status_icon(contents, type, extra_attributes) %}
    {% set type = type|default('info') %}
    {% set extra = extra_attributes|default({}) %}
    {% set typeClass = 'status-icon--info' %}

    {% if type in ['info', 'success', 'error', 'notice', 'warning', 'thinking'] %}
        {% set typeClass = 'status-icon--' ~ type %}
    {% endif %}

    <span class="{{ typeClass }}"{% for attr, val in extra %} {{ attr }}="{{ val }}"{% endfor %}>{{ contents|raw }}</span>

{% endmacro %}

{% macro job_status(job, allowUpdates) %}
    {% import _self as self_macros %}
    {% set allowUpdates = allowUpdates|default(false) %}

    {% if job.status == 'Success' %}
        {{ self_macros.status_icon(job.status, 'success') }}

    {% elseif job.status in ['Error'] %}
        {{ self_macros.status_icon(job.status, 'error') }}

    {% elseif job.status in ['Removed'] %}
        {{ self_macros.status_icon(job.status, 'info') }}

    {% elseif allowUpdates %}
        {% if job is push %}
            {{ self_macros.status_icon(job.status, 'thinking', {'data-push': job.id, 'data-status': job.status}) }}
        {% else %}
            {{ self_macros.status_icon(job.status, 'thinking', {'data-build': job.id, 'data-status': job.status}) }}
        {% endif %}

    {% else %}
        {{ self_macros.status_icon(job.status, 'other') }}
    {% endif %}

{% endmacro %}

{% macro job_status_prefix(job, withoutPrefix, allowThinking) %}
    {% import _self as self_macros %}

    {# we dont use |default(value) because it doesnt work with falsey values #}
    {% if withoutPrefix is same as(null) %}
        {% set withoutPrefix = false %}
    {% endif %}

    {% if allowThinking is same as(null) %}
        {% set allowThinking = true %}
    {% endif %}

    {% if job is push %}

        {% set prefix = withoutPrefix ? '' : 'Push ' %}
        {% set push_link = self_macros.job_status_prefix_link(job, prefix) %}

        {% if job.status == 'Success' %}
            {{ self_macros.status_icon(push_link, 'success') }}
        {% elseif job.status in ['Error'] %}
            {{ self_macros.status_icon(push_link, 'error') }}
        {% elseif job.status in ['Removed'] %}
            {{ self_macros.status_icon(push_link, 'info') }}
        {% elseif allowThinking %}
            {{ self_macros.status_icon(push_link, 'thinking', {'data-push': job.id, 'data-status': job.status}) }}
        {% else %}
            {{ self_macros.status_icon(push_link, 'info') }}
        {% endif %}

    {% else %}

        {% set prefix = withoutPrefix ? '' : 'Build ' %}
        {% set build_link = self_macros.job_status_prefix_link(job, prefix) %}

        {% if job.status == 'Success' %}
            {{ self_macros.status_icon(build_link, 'success') }}
        {% elseif job.status in ['Error'] %}
            {{ self_macros.status_icon(build_link, 'error') }}
        {% elseif job.status in ['Removed'] %}
            {{ self_macros.status_icon(build_link, 'info') }}
        {% elseif allowThinking %}
            {{ self_macros.status_icon(build_link, 'thinking', {'data-build': job.id, 'data-status': job.status}) }}
        {% else %}
            {{ self_macros.status_icon(build_link, 'info') }}
        {% endif %}

    {% endif %}

{% endmacro %}

{% macro job_status_prefix_link(job, prefix) %}
    {% if job is push %}
        {{ prefix }}<a href="{{ urlFor('push', {'push': job.id}) }}">{{ job.id|formatPushId }}</a>
    {% else %}
        {{ prefix }}<a href="{{ urlFor('build', {'build': job.id}) }}">{{ job.id|formatBuildId }}</a>
    {% endif %}
{% endmacro %}
